Repository apache/arrow-rs, pull requests merged in 2021-05, with the labels that each got.

#240 Improve docs for NullArray, new_null_array and new_empty_array
  arrow/src/array/array.rs
  arrow/src/array/null.rs
Labels: arrow, documentation

#258 support full u32 and u64 roundtrip through parquet
  arrow/src/compute/mod.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/column/writer.rs
Labels: parquet

#318 Mutablebuffer::shrink_to_fit
  arrow/src/buffer/mutable.rs
Labels: arrow, enhancement

#296 fix invalid null handling in filter
  arrow/src/compute/kernels/filter.rs
Labels: arrow, bug

#312 feature gate csv functionality
  .github/workflows/rust.yml
  arrow/Cargo.toml
  arrow/benches/csv_writer.rs
  arrow/examples/read_csv.rs
  arrow/examples/read_csv_infer_schema.rs
  arrow/src/csv/reader.rs
  arrow/src/csv/writer.rs
  arrow/src/error.rs
  arrow/src/lib.rs
  arrow/src/util/string_writer.rs
Labels: enhancement

#314 return reference from DictionaryArray::values() (#313)
  arrow/src/array/array_dictionary.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
Labels: api-change, arrow

#333 Fix comparison of dictionaries with different values arrays (#332)
  arrow/src/array/ord.rs
Labels: arrow, bug

#325 parquet: Speed up `BitReader`/`DeltaBitPackDecoder`
  parquet/src/encodings/decoding.rs
  parquet/src/util/bit_util.rs
Labels: enhancement, parquet

#335 respect offset in utf8 and list casts
  arrow/src/compute/kernels/cast.rs
Labels: arrow, bug

#299 Document and automate new release process
  arrow/README.md
  dev/release/README.md
  dev/release/check-rat-report.py
  dev/release/create-tarball.sh
  dev/release/release-tarball.sh
  dev/release/update_change_log.sh
Labels: development-process

#326 allow to read non-standard CSV
  arrow/src/csv/reader.rs
Labels: arrow, enhancement

#307 ensure null-counts are written for all-null columns
  parquet/src/arrow/arrow_writer.rs
  parquet/src/column/writer.rs
Labels: bug, parquet
