Repository apache/arrow-rs, pull requests merged in 2021-11, with the labels that each got.

#591 use rust edition 2021
  .github/workflows/rust.yml
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/src/array/transform/mod.rs
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/src/lib.rs
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
  rustfmt.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#884 Fix 876, allow null array to be cast from and to other types
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#893 fix ffi warning on failed to drop
  arrow/src/ffi.rs
Labels: arrow

#894 fix some warning about unused variables in panic tests
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/array_struct.rs
Labels: arrow

#883 casting kernel can combine multi-match patterns
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#895 refactor `regexp_is_match_utf8_scalar` to try to mitigate miri failures
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#878 Fix instances of UB that cause tests to not pass under miri
  parquet/src/util/bit_packing.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/hash_util.rs
Labels: parquet

#899 Disable cargo / build caching for MIRI runs
  .github/workflows/miri.yaml
Labels: development-process

#900 Fix clippy
  parquet/src/util/hash_util.rs
Labels: parquet

#896 fix some clippy warnings
  arrow/src/error.rs
  arrow/src/util/test_util.rs
  parquet/src/data_type.rs
  parquet/src/record/reader.rs
  parquet/src/schema/parser.rs
  parquet_derive/src/lib.rs
Labels: parquet, arrow, parquet-derive

#864 Bump deps
  .github/workflows/rust.yml
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  integration-testing/Cargo.toml
  integration-testing/src/flight_server_scenarios/auth_basic_proto.rs
Labels: arrow-flight, api-change

#909 Update parquet module documentation to reflect correct SerializedFileReader location
  parquet/src/file/mod.rs
Labels: documentation, parquet

#904 csv writer doc example mistype
  arrow/src/csv/writer.rs
Labels: documentation, arrow

#913 Mark boolean comparison kernels public
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#915 Cherry pick feat(ipc): Support writing dictionaries nested in structs and unions to active_release
  arrow/src/array/cast.rs
  arrow/src/array/mod.rs
  arrow/src/ipc/writer.rs
Labels: arrow, release-cherry-pick

#916 Cherry pick Fix instances of UB that cause tests to not pass under miri to active_release
  parquet/src/util/bit_packing.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/hash_util.rs
Labels: parquet, release-cherry-pick

#917 Cherry pick Fix 876, allow null array to be cast from and to other types to active_release
  arrow/src/compute/kernels/cast.rs
Labels: arrow, release-cherry-pick

#918 Cherry pick csv writer doc example mistype to active_release
  arrow/src/csv/writer.rs
Labels: arrow, release-cherry-pick

#920 Cherry pick Mark boolean comparison kernels public to active_release
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, release-cherry-pick

#919 Cherry pick Update parquet module documentation to reflect correct SerializedFileReader location to active_release
  parquet/src/file/mod.rs
Labels: parquet, release-cherry-pick

#810 Validate arguments to ArrayData::new and null bit buffer and buffers
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_map.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_union.rs
  arrow/src/array/data.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/util.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/ipc/reader.rs
Labels: arrow, arrow-flight, security

#923 feat(ipc): add support for deserializing messages with nested dictionary fields
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/schema.rs
  arrow/src/ipc/reader.rs
Labels: arrow

#934 Cherry pick Automatically retry failed MIRI runs to work around intermittent failures
  .github/workflows/miri.sh
  .github/workflows/miri.yaml
Labels: release-cherry-pick

#932 Cherry pick refactor `regexp_is_match_utf8_scalar` to try to mitigate miri failures to active_release
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, release-cherry-pick

#931 Cherry pick feat(ipc): add support for deserializing messages with nested dictionary fields to active_release
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/schema.rs
  arrow/src/ipc/reader.rs
Labels: arrow, release-cherry-pick

#930 Cherry pick fix some clippy warnings to active_release
  arrow/src/error.rs
  arrow/src/util/test_util.rs
  parquet/src/data_type.rs
  parquet/src/record/reader.rs
  parquet/src/schema/parser.rs
  parquet_derive/src/lib.rs
Labels: parquet, arrow, release-cherry-pick, parquet-derive

#933 Cherry pick fix some warning about unused variables in panic tests to active_release
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/array_struct.rs
Labels: arrow, release-cherry-pick

#874 add ilike comparitor
  arrow/benches/comparison_kernels.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#936 Cherry pick Validate arguments to ArrayData::new and null bit buffer and buffers to active_release
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_map.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_union.rs
  arrow/src/array/data.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/util.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/ipc/reader.rs
Labels: arrow, release-cherry-pick

#831 Adding ability to parse float from number with leading decimal
  arrow/src/csv/reader.rs
Labels: arrow

#928 add checker for appending i128 to decimal builder
  arrow/src/array/array_binary.rs
  arrow/src/array/builder.rs
Labels: arrow

#939 implement take kernel for null arrays
  arrow/src/compute/kernels/take.rs
Labels: arrow

#942 Fix validation for offsets of StructArrays
  arrow/src/array/data.rs
Labels: arrow

#943 Cherry pick add checker for appending i128 to decimal builder to active_release
  arrow/src/array/array_binary.rs
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#944 Cherry pick implement take kernel for null arrays to active_release
  arrow/src/compute/kernels/take.rs
Labels: arrow, release-cherry-pick

#946 Cherry pick Fix validation for offsets of StructArrays to active_release
  arrow/src/array/data.rs
Labels: arrow, release-cherry-pick

#947 Prepare for 6.2.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#950 CSV Parser: Infer numbers like `2.` as Float64
  arrow/src/csv/reader.rs
Labels: arrow

#949 Cherry pick Remove unpassable cargo publish check from verify-release-candidate.sh to active_release
  dev/release/verify-release-candidate.sh
Labels: release-cherry-pick

#849 Fix csv writing of timestamps to show timezone.
  arrow/src/compute/kernels/temporal.rs
  arrow/src/csv/writer.rs
Labels: arrow

#941 Support read decimal data from csv reader if user provide the schema with decimal data type
  arrow/src/array/builder.rs
  arrow/src/array/mod.rs
  arrow/src/csv/reader.rs
  arrow/test/data/decimal_test.csv
Labels: arrow

#952 add more error test case and change the code style
  arrow/src/csv/reader.rs
Labels: arrow

#957 Update comfy-table to 5.0
  arrow/Cargo.toml
Labels: arrow

#954 Fix primitive sort when input contains more nulls than the given sort limit
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#955 Fix bug in temporal utilities due to DST being ignored.
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#958 Adding Pretty Print Support For Fixed Size List
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow

#961 Cherry pick add ilike comparitor to active_release
  arrow/benches/comparison_kernels.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, release-cherry-pick

#962 Cherry pick Adding ability to parse float from number with leading decimal to active_release
  arrow/src/csv/reader.rs
Labels: arrow, release-cherry-pick

#963 Cherry pick Fix csv writing of timestamps to show timezone. to active_release
  arrow/src/compute/kernels/temporal.rs
  arrow/src/csv/writer.rs
Labels: arrow, release-cherry-pick

#964 Cherry pick Update comfy-table to 5.0 to active_release
  arrow/Cargo.toml
Labels: arrow, release-cherry-pick

#965 Cherry pick Fix primitive sort when input contains more nulls than the given sort limit to active_release
  arrow/src/compute/kernels/sort.rs
Labels: arrow, release-cherry-pick

#970 Fix CI for latest nightly
  arrow/src/array/mod.rs
  arrow/src/datatypes/schema.rs
Labels: arrow

#973 Cherry pick Fix CI for latest nightly to active_release
  arrow/src/array/mod.rs
  arrow/src/datatypes/schema.rs
Labels: arrow, release-cherry-pick

#966 Cherry pick CSV Parser: Infer numbers like `2.` as Float64 to active_release
  arrow/src/csv/reader.rs
Labels: arrow, release-cherry-pick

#967 Cherry pick Fix bug in temporal utilities due to DST being ignored. to active_release
  arrow/src/compute/kernels/temporal.rs
Labels: arrow, release-cherry-pick

#968 Cherry pick Adding Pretty Print Support For Fixed Size List to active_release
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow, release-cherry-pick

#974 Cherry pick Support read decimal data from csv reader if user provide the schema with decimal data type to active_release
  arrow/src/array/builder.rs
  arrow/src/array/mod.rs
  arrow/src/csv/reader.rs
  arrow/test/data/decimal_test.csv
Labels: arrow, release-cherry-pick

#976 Cherry pick add more error test case and change the code style to active_release
  arrow/src/csv/reader.rs
Labels: arrow, release-cherry-pick

#981 Prepare for 6.3.0 release: Version updated + CHANGELOG
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#977 Add boolean comparison to scalar kernels for less then, greater than
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#888 add support for f16
  arrow/Cargo.toml
  arrow/src/alloc/types.rs
  arrow/src/array/array.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/mod.rs
  arrow/src/array/transform/mod.rs
  arrow/src/datatypes/native.rs
  arrow/src/datatypes/types.rs
Labels: arrow

#979 Upgrading parquet-format to 4.0.0
  parquet/Cargo.toml
  parquet/src/basic.rs
  parquet/src/file/metadata.rs
  parquet/src/file/writer.rs
Labels: parquet

#985 fix some typos in code and comments
  arrow/src/buffer/immutable.rs
  arrow/src/buffer/mutable.rs
  arrow/src/bytes.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/cast_utils.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/csv/reader.rs
  arrow/src/datatypes/schema.rs
Labels: arrow
