Repository apache/arrow-rs, pull requests merged in 2021-08, with the labels that each got.

#652 Fix data corruption in json decoder f64-to-i64 cast
  arrow/src/json/reader.rs
  arrow/test/data/arrays.json
Labels: arrow, bug

#648 Update readme of release candidate verifying script.
  dev/README.md
Labels: documentation

#647 Doctests for from_iter for BooleanArray & for BooleanBuilder.
  arrow/src/array/array_boolean.rs
  arrow/src/array/builder.rs
Labels: arrow

#644 Remove undefined behavior in `value` method of boolean and primitive arrays
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#665 Cherry pick Fix data corruption in json decoder f64-to-i64 cast to active_release
  arrow/src/json/reader.rs
  arrow/test/data/arrays.json
Labels: arrow, release-cherry-pick

#667 Cherry pick Add human readable Format for parquet ByteArray to active_release
  parquet/src/data_type.rs
Labels: parquet, release-cherry-pick

#669 Cherry pick Doctests for from_iter for BooleanArray & for BooleanBuilder. to active_release
  arrow/src/array/array_boolean.rs
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#628 Add a note about arrow crate security / safety
  arrow/README.md
Labels: documentation, arrow

#643 Fix parquet string statistics generation
  parquet/src/column/writer.rs
  parquet/src/data_type.rs
Labels: parquet

#658 allocate enough bytes when writing booleans
  parquet/src/arrow/arrow_writer.rs
  parquet/src/data_type.rs
Labels: parquet

#666 Cherry pick Speed up filter_record_batch with one array to active_release
  arrow/benches/filter_kernels.rs
  arrow/src/compute/kernels/filter.rs
Labels: arrow, release-cherry-pick

#668 Cherry pick Remove undefined behavior in `value` method of boolean and primitive arrays to active_release
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, release-cherry-pick

#663 Add some doc comments to parquet bit_util
  parquet/src/util/bit_util.rs
Labels: parquet

#673 Doctests for DictionaryArray::from_iter, PrimitiveDictionaryBuilder and DecimalBuilder.
  arrow/src/array/array_dictionary.rs
  arrow/src/array/builder.rs
Labels: arrow

#661 Write boolean stats for boolean columns (not i32 stats)
  parquet/src/column/writer.rs
Labels: parquet

#676 Cherry pick Fix parquet string statistics generation to active_release
  parquet/src/column/writer.rs
  parquet/src/data_type.rs
Labels: parquet, release-cherry-pick

#677 Cherry pick allocate enough bytes when writing booleans in parquet writer to active_release
  parquet/src/arrow/arrow_writer.rs
  parquet/src/data_type.rs
Labels: parquet, release-cherry-pick

#678 Cherry pick Add some doc comments to parquet bit_util to active_release
  parquet/src/util/bit_util.rs
Labels: parquet, release-cherry-pick

#679 Cherry pick Doctests for DictionaryArray::from_iter, PrimitiveDictionaryBuilder and DecimalBuilder. to active_release
  arrow/src/array/array_dictionary.rs
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#674 Make rand an optional dependency
  .github/workflows/rust.yml
  arrow/Cargo.toml
  arrow/README.md
Labels: arrow

#662 Write FixedLenByteArray stats for FixedLenByteArray columns (not ByteArray stats)
  parquet/src/column/writer.rs
Labels: parquet

#680 Allow creation of String arrays from &Option<&str> iterators
  arrow/src/array/array_string.rs
Labels: arrow

#686 Cherry pick Allow creation of String arrays from &Option<&str> iterators to active_release
  arrow/src/array/array_string.rs
Labels: arrow, release-cherry-pick

#683 Cherry pick Write FixedLenByteArray stats for FixedLenByteArray columns (not ByteArray stats) to active_release
  parquet/src/column/writer.rs
Labels: parquet, release-cherry-pick

#682 Cherry pick Write boolean stats for boolean columns (not i32 stats) to active_release
  parquet/src/column/writer.rs
Labels: parquet, release-cherry-pick

#689 Cherry pick Add note about changelog generation to README to active_release
  dev/release/README.md
  dev/release/create-tarball.sh
Labels: release-cherry-pick

#693 Add get_bit to BooleanBufferBuilder
  arrow/src/array/builder.rs
Labels: arrow

#664 Allow casting Timestamp arrays into String
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#656 Change to comfy-table from prettytable-rs
  arrow/Cargo.toml
  arrow/src/util/pretty.rs
Labels: arrow

#694 Doctest for PrimitiveArray using from_iter_values.
  arrow/src/array/array_primitive.rs
Labels: documentation, arrow

#698 Cherry pick Allow casting Timestamp arrays into String to active_release
  arrow/src/compute/kernels/cast.rs
Labels: arrow, release-cherry-pick

#699 Cherry pick Add get_bit to BooleanBufferBuilder to active_release
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#700 Cherry pick Doctest for PrimitiveArray using from_iter_values. to active_release
  arrow/src/array/array_primitive.rs
Labels: arrow, release-cherry-pick

#702 Support binary data type in `build_struct_array`.
  arrow/src/array/array.rs
  arrow/src/json/reader.rs
Labels: arrow

#705 Cherry pick of Support binary data type in build_struct_array
  arrow/src/json/reader.rs
Labels: arrow

#712 Parquet Derive: remove obscure feature flags, make chrono time emit converted type
  parquet_derive/Cargo.toml
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/Cargo.toml
  parquet_derive_test/src/lib.rs
Labels: parquet-derive

#726 Add a note on rust compiler testing and compatibility
  arrow/README.md
  parquet/README.md
Labels: parquet, arrow

#722 Fix decimal value_as_string
  arrow/src/array/array_binary.rs
Labels: arrow

#721 Fix decimal repr in parquet schema printer
  parquet/src/schema/printer.rs
Labels: parquet
