Repository apache/arrow-rs, pull requests merged in 2021-09, with the labels that each got.

#691 PyO3 bridge for pyarrow interoperability
  .github/workflows/integration.yml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/Cargo.toml
  arrow/src/array/array.rs
  arrow/src/array/equal/list.rs
  arrow/src/lib.rs
  arrow/src/pyarrow.rs
Labels: arrow

#737 Remove optional prettytable-rs dependency
  arrow/Cargo.toml
Labels: arrow

#739 fix: Handle slices in unary kernel
  arrow/src/buffer/immutable.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#741 fix: Comparisons against scalar slices
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#748 Upgrade lexical-core to 0.8
  arrow/Cargo.toml
  arrow/src/compute/kernels/boolean.rs
Labels: arrow

#728 Add `append_nulls` and `append_trusted_len_iter` to `PrimitiveBuilder`
  arrow/src/array/builder.rs
Labels: arrow

#736 fix: new_null_array for structs
  arrow/src/array/array.rs
Labels: arrow

#743 fix: Scalar math operations on slices
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#752 Cherry pick Fix decimal repr in parquet schema printer to active_release
  parquet/src/schema/printer.rs
Labels: parquet, release-cherry-pick

#753 Cherry pick Fix decimal value_as_string to active_release
  arrow/src/array/array_binary.rs
Labels: arrow, release-cherry-pick

#754 Cherry pick 6ee9bc03 - Add a note on rust compiler testing and compatibility #726
  arrow/README.md
  parquet/README.md
Labels: parquet, arrow, release-cherry-pick

#755 Cherry pick fix: Handle slices in unary kernel to active_release
  arrow/src/buffer/immutable.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow, release-cherry-pick

#756 Cherry pick fix: Comparisons against scalar slices to active_release
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, release-cherry-pick

#757 Cherry pick 0e7c4c5f: make chrono time emit converted type
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/Cargo.toml
  parquet_derive_test/src/lib.rs
Labels: parquet, arrow, arrow-flight, release-cherry-pick, parquet-derive

#716 Optimize array::transform::utils::set_bits
  arrow/src/array/transform/utils.rs
Labels: arrow

#749 Update Bitmap::len to return bits rather than bytes
  arrow/src/bitmap.rs
Labels: arrow, bug, api-change

#758 Cherry pick fix: Scalar math operations on slices to active_release
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow, release-cherry-pick

#759 Cherry pick Add `append_nulls` and `append_trusted_len_iter` to `PrimitiveBuilder` to active_release
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#760 Manual Cherrypick: fix: new_null_array for structs (#736)
  arrow/src/array/array.rs
Labels: arrow, release-cherry-pick

#761 Cherry pick Optimize array::transform::utils::set_bits to active_release
  arrow/src/array/transform/utils.rs
Labels: arrow, release-cherry-pick

#764 Update versions and readme for 5.4.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#768 Cherry pick Use latest nightly in CI to Fix CI for SIMD to active_release
  .github/workflows/rust.yml
Labels: release-cherry-pick

#763 Export `RowColumnIter` to fix doc
  parquet/src/record/api.rs
  parquet/src/record/mod.rs
Labels: parquet

#750 Added PartialEq to RecordBatch
  arrow/src/record_batch.rs
Labels: parquet, arrow

#745 fix: Support length on slices with null
  arrow/src/compute/kernels/length.rs
Labels: arrow

#715 chore: Reduce the amount of code generated by monomorphization
  arrow/src/buffer/mutable.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
Labels: arrow

#769 Add support for riscv64
  arrow/src/alloc/alignment.rs
  parquet/src/util/hash_util.rs
Labels: parquet, arrow

#781 fix: nanosecond timestamp scaling during string conversion (#780)
  arrow/src/compute/kernels/cast_utils.rs
Labels: arrow

#784 Make BooleanBufferBuilder get_bit not require mutable reference
  arrow/src/array/builder.rs
Labels: arrow

#787 add wasm32 to hash, fix wasm32 build
  parquet/src/util/hash_util.rs
Labels: parquet

#789 Cherry pick Added PartialEq to RecordBatch to active_release
  arrow/src/record_batch.rs
Labels: arrow, release-cherry-pick

#790 Cherry pick Add support for riscv64 to active_release
  arrow/src/alloc/alignment.rs
  parquet/src/util/hash_util.rs
Labels: parquet, arrow, release-cherry-pick

#791 Cherry pick fix: nanosecond timestamp scaling during string conversion (#780) to active_release
  arrow/src/compute/kernels/cast_utils.rs
Labels: arrow, release-cherry-pick

#792 Cherry pick Make BooleanBufferBuilder get_bit not require mutable reference to active_release
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#794 Cherry pick Export `RowColumnIter` to fix doc to active_release
  parquet/src/record/api.rs
  parquet/src/record/mod.rs
Labels: parquet, release-cherry-pick

#796 Cherry pick add wasm32 to hash, fix wasm32 build to active_release
  parquet/src/util/hash_util.rs
Labels: parquet, release-cherry-pick

#795 cherry-pick chore: Reduce the amount of code generated by monomorphization (#715)
  arrow/src/buffer/mutable.rs
  arrow/src/compute/kernels/take.rs
Labels: arrow, release-cherry-pick

#801 Make parquet's optional arrow dependency skip the default features
  parquet/Cargo.toml
Labels: parquet

#803 Prepare for 5.5.0 Release: Update version + changelog
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#805 Doctests for DictionaryArrays.
  arrow/src/array/mod.rs
Labels: arrow

#798 parquet: Avoid NaN check for non-floats
  parquet/src/column/writer.rs
Labels: parquet

#809 Make buffer::ops `pub`
  arrow/src/buffer/mod.rs
Labels: arrow

#797 Add Parquet writer example to docs
  parquet/src/arrow/mod.rs
Labels: parquet
