Repository apache/arrow-rs, pull requests merged in 2021-10, with the labels that each got.

#818 Separate parquet writer benchmarks
  parquet/benches/arrow_writer.rs
Labels: parquet

#828 Update version to 6.0.0
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, development-process, parquet-derive

#834 Update README.md and fix invalid syntax
  arrow/README.md
Labels: arrow

#892 Use different caching for MIRI runs
  .github/workflows/miri.yaml
Labels: development-process
