Repository apache/arrow-rs, pull requests merged in 2021-04, with the labels that each got.

#14 Update repository and homepage urls
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: arrow, arrow-flight, parquet

#15 ARROW-12426: [Rust] Fix concatentation of arrow dictionaries
  arrow/src/array/transform/mod.rs
  arrow/src/array/transform/primitive.rs
  arrow/src/compute/kernels/concat.rs
Labels: arrow

#16 ARROW-12493: Add support for writing dictionary arrays to CSV and JSON
  arrow/src/csv/writer.rs
  arrow/src/json/writer.rs
Labels: arrow

#18 ARROW-12504: Buffer::from_slice_ref set correct capacity
  arrow/src/buffer/immutable.rs
Labels: arrow

#9 ARROW-12343: [Rust] Support auto-vectorization for min/max
  arrow/Cargo.toml
  arrow/src/compute/kernels/aggregate.rs
Labels: arrow

#26 support LargeUtf8 in sort kernel
  .gitignore
  arrow/src/compute/kernels/sort.rs
Labels: enchancement

#7 ARROW-12411: [Rust] Create RecordBatches from Iterators
  arrow/src/record_batch.rs
Labels: arrow

#234 Read list field correctly
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_writer.rs
Labels: parquet
