Repository apache/arrow-rs, pull requests merged in 2021-07, with the labels that each got.

#515 Cherry pick Correct array memory usage calculation for dictionary arrays to active_release
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/array_struct.rs
  arrow/src/array/array_union.rs
  arrow/src/array/data.rs
  arrow/src/array/null.rs
Labels: release-cherry-pick

#516 Cherry pick Fix for primitive and boolean take kernel for nullable indices with an offset to active_release
  arrow/src/compute/kernels/take.rs
Labels: release-cherry-pick

#439 Python FFI bridge for Schema, Field and DataType
  .github/workflows/integration.yml
  .github/workflows/rust.yml
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/Cargo.toml
  arrow/src/datatypes/ffi.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ffi.rs
Labels: arrow, python

#511 Fix parquet definition levels
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
Labels: parquet

#377 simplify interactions with arrow flight APIs
  arrow-flight/Cargo.toml
  arrow-flight/src/lib.rs
  arrow-flight/src/utils.rs
  integration-testing/src/flight_client_scenarios/integration_test.rs
  integration-testing/src/flight_server_scenarios/integration_test.rs
Labels: api-change, arrow-flight

#525 CI: update rust nightly and packed_simd
  .github/workflows/miri.yaml
  .github/workflows/rust.yml
  arrow/Cargo.toml
Labels: arrow

#488 Update rand, proc-macro and zstd dependencies
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/benches/mutable_array.rs
  arrow/benches/take_kernels.rs
  arrow/src/util/bench_util.rs
  arrow/src/util/bit_util.rs
  arrow/src/util/data_gen.rs
  arrow/src/util/test_util.rs
  parquet/Cargo.toml
Labels: arrow, arrow-flight, parquet

#522 Support `StringArray` creation from String Vec
  arrow/src/array/array_string.rs
Labels: arrow

#528 Remove unused futures dependency from arrow-flight
  arrow-flight/Cargo.toml
Labels: arrow-flight

#531 fix take kernel null handling on structs
  arrow/src/compute/kernels/take.rs
Labels: arrow

#532 Add tests for building applications using arrow with different feature flags
  .github/workflows/rust.yml
  arrow/test/dependency/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/default-features/src/main.rs
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/no-default-features/src/main.rs
  dev/release/rat_exclude_files.txt
Labels: arrow

#535 Proposed 5.0.0 Release Notes
  .github_changelog_generator
  CHANGELOG.md
  dev/release/update_change_log.sh
Labels: development-process

#536 Clean up README.md in advance of the 5.0 release
  CONTRIBUTING.md
  README.md
  arrow-flight/README.md
  arrow/CONTRIBUTING.md
  arrow/README.md
  parquet/CONTRIBUTING.md
  parquet/README.md
Labels: arrow, arrow-flight, parquet

#545 Fix build, Make the js package a feature that can be enabled for wasm, rather than always on
  .github/workflows/rust.yml
  arrow/Cargo.toml
  arrow/README.md
Labels: arrow, development-process

#542 refactor: remove lifetime from DynComparator
  arrow/src/array/ord.rs
  arrow/src/compute/kernels/sort.rs
Labels: api-change, arrow

#537 Implement `RecordBatch::concat`
  arrow/src/record_batch.rs
Labels: arrow

#539 generate parquet schema from rust struct
  parquet/src/record/record_writer.rs
  parquet_derive/src/lib.rs
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/src/lib.rs
Labels: parquet, parquet_derive

#546 Touch up release notes for 5.0
  CHANGELOG.md
  arrow/README.md
Labels: arrow, development-process

#549 Set version to 5.0.0 on active_release
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: arrow, arrow-flight, development-process, parquet, parquet-derive

#389 make slice work for nested types
  arrow/src/array/array_struct.rs
  arrow/src/array/data.rs
  arrow/src/array/transform/structure.rs
Labels: arrow

#560 Bump prost and tonic
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow/src/compute/kernels/filter.rs
  integration-testing/Cargo.toml
Labels: arrow, arrow-flight

#559 make `has_min_max_set` as pub fn
  parquet/src/file/statistics.rs
Labels: parquet

#562 Doctest for StructArray.
  arrow/src/array/array_struct.rs
Labels: arrow

#548 Improve release documentation
  dev/release/README.md
  dev/release/update_change_log.sh
Labels: development-process

#556 Update triplet.rs to support REPEATED field with null value at one place
  parquet/src/record/triplet.rs
Labels: parquet

#565 Cherry pick Bump prost and tonic to active_release
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow/src/compute/kernels/filter.rs
  integration-testing/Cargo.toml
Labels: arrow, arrow-flight, release-cherry-pick

#566 Cherry pick make `has_min_max_set` as pub fn to active_release
  parquet/src/file/statistics.rs
Labels: parquet, release-cherry-pick

#567 Cherry pick Doctest for StructArray. to active_release
  arrow/src/array/array_struct.rs
Labels: arrow, release-cherry-pick

#564 Add len() to InMemoryWriteableCursor
  parquet/src/util/cursor.rs
Labels: parquet

#571 Fix array equal check
  arrow/src/array/array_list.rs
  arrow/src/array/equal/utils.rs
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#552 use sort_unstable_by in primitive sorting
  arrow/src/compute/kernels/sort.rs
Labels: api-change, arrow

#547 Update master version to 6.0.0-SNAPSHOT
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/README.md
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: arrow, arrow-flight, development-process, parquet, parquet-derive

#572 Update sort kernel docs to note it is unstable
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#582 fix: undefined behavior in schema ffi
  arrow/src/ffi.rs
Labels: arrow

#575 Cherry pick Add len() to InMemoryWriteableCursor to active_release
  parquet/src/util/cursor.rs
Labels: parquet, release-cherry-pick

#576 Cherry pick Fix array equal check to active_release
  arrow/src/array/array_list.rs
  arrow/src/array/equal/utils.rs
  arrow/src/compute/kernels/sort.rs
Labels: arrow, release-cherry-pick

#574 Cherry pick Update triplet.rs to support REPEATED field with null value at one place to active_release
  parquet/src/record/triplet.rs
Labels: parquet, release-cherry-pick

#578 Validate output of MIRI is successful on CI
  .github/workflows/miri.yaml
Labels: arrow, development-process

#590 Remove Git SHA from created_by Parquet file metadata
  parquet/build.rs
Labels: parquet

#579 support struct array in pretty display
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow

#583 Cherry pick fix: undefined behavior in schema ffi to active_release
  arrow/src/ffi.rs
Labels: arrow, release-cherry-pick

#584 Cherry pick Update readme link to point at the right codecoverage location to active_release
  README.md
Labels: release-cherry-pick

#585 use exponential search to speed up lexico partition
  arrow/src/compute/kernels/partition.rs
Labels: arrow

#604 Fix typo
  arrow/README.md
Labels: arrow

#592 fix dyn syntax for trait objects
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/array_struct.rs
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
  arrow/src/array/null.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/concat.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/length.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/kernels/window.rs
  arrow/src/record_batch.rs
Labels: arrow

#601 Implement `StringBuilder::append_option`
  arrow/src/array/builder.rs
Labels: arrow

#603 Doctests for UnionBuilder and UnionArray.
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
Labels: arrow

#569 Sort binary
  arrow/src/array/cast.rs
  arrow/src/array/mod.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
Labels: arrow

#607 Cherry pick Remove Git SHA from created_by Parquet file metadata to active_release
  parquet/build.rs
Labels: parquet, release-cherry-pick

#608 Cherry pick use exponential search to speed up lexico partition to active_release
  arrow/src/compute/kernels/partition.rs
Labels: arrow, release-cherry-pick

#609 Cherry pick support struct array in pretty display to active_release
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow, release-cherry-pick

#610 Cherry pick Validate output of MIRI is successful on CI to active_release
  .github/workflows/miri.yaml
Labels: release-cherry-pick

#611 Cherry pick Implement `StringBuilder::append_option` to active_release
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#606 Cherry pick Fix typo to active_release
  arrow/README.md
Labels: arrow, release-cherry-pick

#615 disallow bare trait objects
  arrow/src/array/array_struct.rs
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/lib.rs
Labels: arrow

#612 make FFI_ArrowArray::empty() public
  arrow/src/ffi.rs
Labels: arrow

#613 resolve unnecessary borrow clippy lints
  arrow-flight/src/utils.rs
  arrow/benches/aggregate_kernels.rs
  arrow/benches/arithmetic_kernels.rs
  arrow/benches/array_from_vec.rs
  arrow/benches/boolean_kernels.rs
  arrow/benches/filter_kernels.rs
  arrow/benches/take_kernels.rs
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/ord.rs
  arrow/src/buffer/immutable.rs
  arrow/src/buffer/mod.rs
  arrow/src/buffer/ops.rs
  arrow/src/compute/kernels/aggregate.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/util.rs
  arrow/src/csv/reader.rs
  arrow/src/csv/writer.rs
  arrow/src/datatypes/field.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  arrow/src/json/writer.rs
  arrow/src/tensor.rs
  arrow/src/util/display.rs
  arrow/src/util/integration_util.rs
  parquet/src/arrow/arrow_array_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/schema.rs
  parquet/src/column/page.rs
  parquet/src/column/writer.rs
  parquet/src/encodings/encoding.rs
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/schema/printer.rs
  parquet/src/schema/types.rs
Labels: arrow, arrow-flight, parquet

#624 Fix compile error in cherry pick 2113e2b1
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#616 Cherry pick Fix newline in changelog to active_release
  CHANGELOG.md
Labels: release-cherry-pick

#617 Cherry pick fix dyn syntax for trait objects to active_release
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/array_struct.rs
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
  arrow/src/array/null.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/concat.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/length.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/kernels/window.rs
  arrow/src/record_batch.rs
Labels: arrow, release-cherry-pick

#618 Cherry pick Doctests for UnionBuilder and UnionArray. to active_release
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#619 Cherry pick make FFI_ArrowArray::empty() public to active_release
  arrow/src/ffi.rs
Labels: arrow, release-cherry-pick

#622 Cherry pick resolve unnecessary borrow clippy lints to active_release
  arrow-flight/src/utils.rs
  arrow/benches/aggregate_kernels.rs
  arrow/benches/arithmetic_kernels.rs
  arrow/benches/array_from_vec.rs
  arrow/benches/boolean_kernels.rs
  arrow/benches/filter_kernels.rs
  arrow/benches/take_kernels.rs
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/ord.rs
  arrow/src/buffer/immutable.rs
  arrow/src/buffer/mod.rs
  arrow/src/buffer/ops.rs
  arrow/src/compute/kernels/aggregate.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/util.rs
  arrow/src/csv/reader.rs
  arrow/src/csv/writer.rs
  arrow/src/datatypes/field.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  arrow/src/json/writer.rs
  arrow/src/tensor.rs
  arrow/src/util/display.rs
  arrow/src/util/integration_util.rs
  parquet/src/arrow/arrow_array_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/schema.rs
  parquet/src/column/page.rs
  parquet/src/column/writer.rs
  parquet/src/encodings/encoding.rs
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/schema/printer.rs
  parquet/src/schema/types.rs
Labels: arrow, arrow-flight, parquet, release-cherry-pick

#625 Doctests for BinaryArray and LargeBinaryArray.
  arrow/src/array/array_binary.rs
Labels: arrow, documentation

#621 Cherry pick Sort binary to active_release
  arrow/src/array/cast.rs
  arrow/src/array/mod.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
Labels: arrow, release-cherry-pick

#630 Cherry pick Doctests for BinaryArray and LargeBinaryArray. to active_release
  arrow/src/array/array_binary.rs
Labels: arrow, release-cherry-pick

#605 Add links in docstrings
  arrow/src/array/array_binary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_string.rs
Labels: arrow, documentation

#631 Fix clippy lints for Rust 1.54
  arrow/src/array/equal/mod.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/cast_utils.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ffi.rs
  integration-testing/src/flight_client_scenarios/integration_test.rs
  integration-testing/src/flight_server_scenarios/integration_test.rs
  integration-testing/src/lib.rs
  parquet/benches/arrow_writer.rs
  parquet/src/encodings/levels.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/record/reader.rs
  parquet/src/record/triplet.rs
  parquet/src/schema/visitor.rs
Labels: arrow, parquet

#634 Cherry pick Fix clippy lints for Rust 1.54 to active_release
  arrow/src/array/equal/mod.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/cast_utils.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ffi.rs
  integration-testing/src/flight_client_scenarios/integration_test.rs
  integration-testing/src/flight_server_scenarios/integration_test.rs
  integration-testing/src/lib.rs
  parquet/benches/arrow_writer.rs
  parquet/src/encodings/levels.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/record/reader.rs
  parquet/src/record/triplet.rs
  parquet/src/schema/visitor.rs
Labels: arrow, parquet, release-cherry-pick

#633 Cherry pick Add links in docstrings to active_release
  arrow/src/array/array_binary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_string.rs
Labels: arrow, release-cherry-pick

#632 Update versions and CHANGELOG for 5.1.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: arrow, arrow-flight, parquet, parquet-derive

#639 Add note about changelog generation to README
  dev/release/README.md
  dev/release/create-tarball.sh
Labels: development-process

#637 Speed up filter_record_batch with one array
  arrow/benches/filter_kernels.rs
  arrow/src/compute/kernels/filter.rs
Labels: arrow

#491 Minimal MapArray support
  arrow/src/array/array.rs
  arrow/src/array/array_map.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal/utils.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/mod.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ipc/convert.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  arrow/src/json/reader.rs
  arrow/src/util/integration_util.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
  parquet/src/arrow/schema.rs
Labels: api-change, arrow, parquet

#642 Add human readable Format for parquet ByteArray
  parquet/src/data_type.rs
Labels: parquet
