Repository apache/arrow-rs, pull requests merged in 2021-12, with the labels that each got.

#975 Change `pretty_format_batches` to return `Result<impl Display>`
  arrow/src/util/pretty.rs
Labels: arrow, api-change

#992 Fix warnings introduced by Rust/Clippy 1.57.0
  arrow/src/array/equal/utils.rs
  arrow/src/array/transform/boolean.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/util.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/schema.rs
  arrow/src/ipc/writer.rs
  integration-testing/src/flight_server_scenarios/auth_basic_proto.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/record/reader.rs
  parquet/src/util/bit_util.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet, arrow, parquet-derive

#990 Remove unneeded `rc` feature of serde
  arrow/Cargo.toml
Labels: arrow

#921 Add full data validation for ArrayData::try_new()
  arrow/src/array/array_binary.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_string.rs
  arrow/src/array/data.rs
Labels: arrow

#1003 Update rust version to 1.57
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
  rustfmt.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#988 Docstrings for Timestamp*Array.
  arrow/src/array/mod.rs
Labels: arrow

#1000 Minimize features of indexmap and chrono
  arrow/Cargo.toml
  parquet/Cargo.toml
Labels: parquet, arrow

#1004 Cherry pick Fix warnings introduced by Rust/Clippy 1.57.0 to active_release
  arrow/src/array/equal/utils.rs
  arrow/src/array/transform/boolean.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/util.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/schema.rs
  arrow/src/ffi.rs
  arrow/src/ipc/writer.rs
  integration-testing/src/flight_server_scenarios/auth_basic_proto.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/record/reader.rs
  parquet/src/util/bit_util.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet, arrow, release-cherry-pick, parquet-derive

#1006 Cherry pick fix some typos in code and comments to active_release
  arrow/src/buffer/immutable.rs
  arrow/src/buffer/mutable.rs
  arrow/src/bytes.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/cast_utils.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/csv/reader.rs
  arrow/src/datatypes/schema.rs
Labels: arrow, release-cherry-pick

#1008 Remove out of date comment
  arrow/src/buffer/immutable.rs
Labels: arrow

#1007 Cherry pick Add full data validation for ArrayData::try_new()
  arrow/src/array/array_binary.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_string.rs
  arrow/src/array/data.rs
Labels: parquet, arrow, arrow-flight, release-cherry-pick, parquet-derive

#1013 Fix: fixes a broken link and some missing styling in the main docs
  arrow/src/lib.rs
Labels: arrow

#1015 Cherry pick Docstrings for Timestamp*Array. to active_release
  arrow/src/array/mod.rs
Labels: arrow, release-cherry-pick

#1016 Cherry pick Remove unneeded `rc` feature of serde to active_release
  arrow/Cargo.toml
Labels: arrow, release-cherry-pick

#1024 Cherry pick Force new cargo and target caching to fix CI to active_release
  .github/workflows/rust.yml
Labels: release-cherry-pick

#1025 Prepare for the 6.4.0: release notes and version update
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1030 Clarify governance of arrow crate
  arrow/README.md
Labels: documentation, arrow

#1021 Simplify parquet arror `RecordReader`
  parquet/src/arrow/record_reader.rs
Labels: parquet

#1031 Extract method to drive PageIterator -> RecordReader
  parquet/src/arrow/array_reader.rs
Labels: parquet

#1029 Mark `MutableBuffer::typed_data_mut` unsafe
  arrow/src/buffer/mutable.rs
  arrow/src/buffer/ops.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  parquet/src/arrow/array_reader.rs
Labels: parquet, arrow, api-change

#998 Avoid allocating vector of indices in lexicographical_partition_ranges
  arrow/src/compute/kernels/partition.rs
Labels: arrow

#1046 Use existing array type in `take` kernel
  arrow/src/compute/kernels/take.rs
Labels: arrow

#1050 Remove outdated safety example from readme
  arrow/README.md
Labels: documentation, arrow

#1001 Address benchmarks that aren't compiling
  .github/workflows/rust.yml
  parquet/Cargo.toml
Labels: parquet

#1052 BooleanBufferBuilder correct buffer length (#1051)
  arrow/src/array/builder.rs
Labels: arrow

#1055 Cherry pick Clarify governance of arrow crate to active_release
  arrow/README.md
Labels: arrow, release-cherry-pick

#1056 Cherry pick Extract method to drive PageIterator -> RecordReader to active_release
  parquet/src/arrow/array_reader.rs
Labels: parquet, release-cherry-pick

#1057 Cherry pick Use existing array type in `take` kernel to active_release
  arrow/src/compute/kernels/take.rs
Labels: arrow, release-cherry-pick

#1058 Cherry pick Remove outdated safety example from readme to active_release
  arrow/README.md
Labels: arrow, release-cherry-pick

#779 Add MONTH_DAY_NANO interval type, impl `ArrowNativeType` for `i128`
  arrow/Cargo.toml
  arrow/src/array/array.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/mod.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/mod.rs
  arrow/src/datatypes/native.rs
  arrow/src/datatypes/numeric.rs
  arrow/src/datatypes/types.rs
  arrow/src/ipc/convert.rs
  arrow/src/ipc/gen/Schema.rs
  arrow/src/ipc/reader.rs
  arrow/src/util/display.rs
  arrow/src/util/integration_util.rs
  format/Schema.fbs
  integration-testing/src/lib.rs
  parquet/src/arrow/arrow_writer.rs
Labels: parquet, arrow, api-change

#1042 fix(compute): LIKE/ILIKE/NLIKE escape parenthesis
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1044 support cast signed numeric to decimal
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#1062 Box RleDecoder index buffer (#1061)
  parquet/src/encodings/rle.rs
Labels: parquet

#1033 Add Schema::project and RecordBatch::project functions
  arrow/src/datatypes/schema.rs
  arrow/src/record_batch.rs
Labels: arrow, enhancement

#1070 parquet: Use constant for RLE decoder buffer size
  parquet/src/encodings/rle.rs
Labels: parquet

#1077 Cherry pick Add Schema::project and RecordBatch::project functions to active_release
  arrow/src/datatypes/schema.rs
  arrow/src/record_batch.rs
Labels: arrow, release-cherry-pick

#1078 Cherry pick fix(compute): LIKE/ILIKE/NLIKE escape parenthesis to active_release
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, release-cherry-pick

#1079 Cherry pick support cast signed numeric to decimal to active_release
  arrow/src/compute/kernels/cast.rs
Labels: arrow, release-cherry-pick

#1080 Cherry pick BooleanBufferBuilder correct buffer length (#1051) to active_release
  arrow/src/array/builder.rs
Labels: arrow, release-cherry-pick

#1081 Cherry pick Box RleDecoder index buffer (#1061) to active_release
  parquet/src/encodings/rle.rs
Labels: parquet, release-cherry-pick

#1076 Update pyo3 to 0.15
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
Labels: arrow

#1073 support cast decimal to signed numeric
  arrow/src/compute/kernels/cast.rs
Labels: arrow, enhancement

#1085 Fix like regex escaping
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1088 Cherry pick parquet: Use constant for RLE decoder buffer size to active_release
  parquet/src/encodings/rle.rs
Labels: parquet, release-cherry-pick

#1089 Cherry pick support cast decimal to signed numeric to active_release
  arrow/src/compute/kernels/cast.rs
Labels: arrow, release-cherry-pick

#1090 Cherry pick Fix like regex escaping to active_release
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, release-cherry-pick

#1084 support cast decimal to decimal
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#1093 Cherry pick support cast decimal to decimal to active_release
  arrow/src/compute/kernels/cast.rs
Labels: arrow, release-cherry-pick

#1094 Update for 6.5.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1102 Allow proc-macro2 dependency to be flexible in arrow-flight
  arrow-flight/Cargo.toml
Labels: arrow-flight

#1095 implement eq_dyn, neq_dyn, lt_dyn, lt_eq_dyn, gt_dyn, gt_eq_dyn for timestamp types
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1097 Print the 'FixedSizeBinaryArray' like a normal 'BinaryArray'
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow

#1100 MutableArrayData support extend decimal data type
  arrow/src/array/data.rs
  arrow/src/array/transform/mod.rs
Labels: arrow
