Repository apache/arrow-rs, pull requests merged in 2022-06, with the labels that each got.

#1776 csv::infer_file_schema remove redundant ref
  arrow/src/csv/reader.rs
Labels: arrow

#1767 Optionally disable `validate_decimal_precision` check in `DecimalBuilder.append_value` for interop test
  arrow/src/array/array_binary.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/transform/mod.rs
  arrow/src/csv/reader.rs
  arrow/src/ffi.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  integration-testing/src/lib.rs
Labels: arrow

#1775 Implement ChunkReader for Bytes
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/file/footer.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/util/cursor.rs
Labels: parquet

#1782 Add `ParquetFileArrowReader::try_new`
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema.rs
Labels: parquet

#1781 Arbitrary size combine option bitmap
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/concat_elements.rs
  arrow/src/compute/util.rs
Labels: arrow

#1774 Access metadata of flushed row groups on write (#1691)
  parquet/src/arrow/arrow_writer.rs
  parquet/src/file/metadata.rs
  parquet/src/file/writer.rs
  parquet/src/schema/types.rs
Labels: parquet

#1794 Write validity buffer for UnionArray in V4 IPC message
  arrow/src/ipc/writer.rs
Labels: arrow

#1796 Use IPC row count info in IPC reader
  arrow/src/ipc/reader.rs
Labels: arrow

#1805 Rename `arrow/benches/string_kernels.rs` to `arrow/benches/substring_kernels.rs`
  arrow/Cargo.toml
  arrow/benches/substring_kernels.rs
Labels: arrow

#1803 Add AsyncFileReader trait
  parquet/src/arrow/async_reader.rs
  parquet/src/util/memory.rs
Labels: parquet

#1804 Add public API for decoding parquet footer
  parquet/src/arrow/async_reader.rs
  parquet/src/file/footer.rs
  parquet/src/file/mod.rs
Labels: parquet

#1816 Fix Decimal and List ArrayData Validation (#1813) (#1814)
  arrow/src/array/data.rs
Labels: arrow

#1807 Don't overwrite existing data on snappy decompress (#1806)
  parquet/src/compression.rs
Labels: parquet

#1819 Seal ArrowNativeType and OffsetSizeTrait (#1028)
  arrow/src/datatypes/native.rs
Labels: arrow, api-change

#1820 Add ScalarBuffer abstraction (#1811)
  arrow/src/buffer/mod.rs
  arrow/src/buffer/scalar.rs
Labels: arrow

#1818 Fix list equal for empty offset list array
  arrow/src/array/equal/list.rs
  arrow/src/array/equal/mod.rs
Labels: arrow

#1822 Change to use `resolver v2`, test more feature flag combinations in CI, fix errors (#1630)
  .github/actions/setup-builder/action.yaml
  .github/workflows/miri.yaml
  .github/workflows/rust.yml
  Cargo.toml
  arrow/Cargo.toml
  arrow/examples/read_csv.rs
  arrow/examples/read_csv_infer_schema.rs
  arrow/test/dependency/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/default-features/src/main.rs
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/no-default-features/src/main.rs
  arrow/test/dependency/simd/Cargo.toml
  arrow/test/dependency/simd/src/main.rs
  parquet/Cargo.toml
  parquet/README.md
  parquet/src/errors.rs
  parquet/src/record/api.rs
  parquet_derive/test/dependency/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive/test/dependency/default-features/src/main.rs
Labels: parquet, arrow, parquet-derive

#1831 [Minor] Clarify PageIterator Documentation
  parquet/src/column/page.rs
Labels: parquet

#1798 add parquet-fromcsv (#1)
  dev/release/rat_exclude_files.txt
  parquet/Cargo.toml
  parquet/src/bin/parquet-fromcsv-help.txt
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet

#1837 Update safety disclaimer
  arrow/README.md
Labels: arrow

#1838 Make equals_datatype method public, enabling other modules
  arrow/src/datatypes/datatype.rs
Labels: arrow

#1840 Update arrow module docs
  arrow/src/array/mod.rs
  arrow/src/lib.rs
Labels: arrow

#1826 Update versions and CHANGELOG for `16.0.0`
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1844 MINOR: Remove version check from `test_command_help`
  parquet/src/bin/parquet-fromcsv-help.txt
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet

#1836 Add `quarter` support in `temporal`
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#1832 speed up `substring_by_char` by about 2.5x
  arrow/src/compute/kernels/substring.rs
Labels: arrow

#1827 Refactor parquet::arrow module
  parquet/benches/arrow_reader.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/bit_util.rs
  parquet/src/arrow/buffer/converter.rs
  parquet/src/arrow/buffer/dictionary_buffer.rs
  parquet/src/arrow/buffer/mod.rs
  parquet/src/arrow/buffer/offset_buffer.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/arrow/record_reader/mod.rs
Labels: parquet

#1854 Add two `from` methods for `FixedSizeBinaryArray`
  arrow/src/array/array_binary.rs
Labels: arrow

#1810 Separate Page IO from Page Decode
  parquet/src/arrow/async_reader.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#1863 Exclude some long-running tests when running under miri
  .github/workflows/miri.sh
  arrow/src/array/array_union.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/util/bit_chunk_iterator.rs
Labels: arrow

#1869 Update vendored gRPC
  arrow-flight/src/arrow.flight.protocol.rs
Labels: arrow-flight

#1848 Add PyArrow integration test for C Stream Interface
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/ffi_stream.rs
  arrow/src/pyarrow.rs
Labels: arrow

#1878 Fix memory leak in ffi test
  arrow/src/array/ffi.rs
  arrow/src/ffi.rs
  arrow/src/ffi_stream.rs
Labels: arrow

#1875 Fixes #1874 - Upgrade `regex` dependency to 1.5.6
  arrow/Cargo.toml
Labels: arrow

#1877 Issue #1876 - Explicitly declare the used features for each dependency
  arrow/Cargo.toml
  arrow/src/csv/writer.rs
Labels: arrow

#1846 Add `nilike` support in `comparison`
  arrow/benches/comparison_kernels.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1860 Add vec-inspired APIs to BufferBuilder (#1850)
  arrow/src/array/builder.rs
  arrow/src/buffer/mutable.rs
Labels: arrow

#1871 Add Decimal128 API and use it in DecimalArray and DecimalBuilder
  arrow/src/array/array_binary.rs
  arrow/src/array/builder.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/iterator.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/util/decimal.rs
  arrow/src/util/mod.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#1821 docs: remove experimental marker on C Stream Interface
  arrow/src/ffi_stream.rs
Labels: arrow

#1865 Expose `BitSliceIterator` and `BitIndexIterator` (#1864)
  arrow/src/compute/kernels/filter.rs
  arrow/src/util/bit_chunk_iterator.rs
  arrow/src/util/bit_iterator.rs
  arrow/src/util/mod.rs
Labels: arrow

#1885 Support specifying list capacities for MutableArrayData
  arrow/src/array/transform/mod.rs
Labels: arrow

#1889 Rename `ArrayData::validate_dict_offsets` to `ArrayData::validate_values`
  arrow/src/array/array_dictionary.rs
  arrow/src/array/data.rs
Labels: arrow, api-change

#1880 Issue #1876: Explicitly declare the used features for each dependency in arrow-flight
  arrow-flight/Cargo.toml
Labels: arrow-flight

#1881 Issue #1876: Explicitly declare the used features for each dependency in parquet
  parquet/Cargo.toml
Labels: parquet

#1842 Implement UnionArray FieldData using Type Erasure
  arrow/src/array/builder.rs
  arrow/src/buffer/mutable.rs
Labels: arrow

#1853 Clean up the test code of `substring` kernel.
  arrow/src/compute/kernels/substring.rs
Labels: arrow

#1891 Feature add weekday temporal kernel
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#1894 Minor: Add examples to docstring for `weekday`
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#1903 Closes #1902: Print the original and projected RecordBatch in dynamic_types example
  arrow/examples/dynamic_types.rs
Labels: arrow

#1879 Split up arrow::array::builder module (#1843)
  arrow/src/array/builder.rs
  arrow/src/array/builder/boolean_buffer_builder.rs
  arrow/src/array/builder/boolean_builder.rs
  arrow/src/array/builder/buffer_builder.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/fixed_size_list_builder.rs
  arrow/src/array/builder/generic_list_builder.rs
  arrow/src/array/builder/map_builder.rs
  arrow/src/array/builder/mod.rs
  arrow/src/array/builder/primitive_builder.rs
  arrow/src/array/builder/primitive_dictionary_builder.rs
  arrow/src/array/builder/string_dictionary_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/builder/union_builder.rs
  arrow/src/array/mod.rs
Labels: arrow

#1893 Correct nullable in read_dictionary
  arrow/src/ipc/reader.rs
Labels: arrow

#1900 Use bit_slice in combine_option_bitmap
  arrow/src/compute/util.rs
Labels: arrow

#1890 Add validation to `RecordBatch` for non-nullable fields containing null values
  arrow/src/array/array_binary.rs
  arrow/src/csv/reader.rs
  arrow/src/ipc/writer.rs
  arrow/src/json/reader.rs
  arrow/src/json/writer.rs
  arrow/src/record_batch.rs
Labels: arrow

#1905 Refine the `bit_util` of Parquet.
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/encodings/encoding.rs
  parquet/src/encodings/levels.rs
  parquet/src/encodings/rle.rs
  parquet/src/util/bit_util.rs
Labels: parquet

#1896 Issue #1876: Explicitly declare the used features for each dependency in parquet_derive
  parquet_derive/Cargo.toml
Labels: parquet-derive

#1906 Fix misaligned reference and logic error in crc32
  parquet/src/util/hash_util.rs
Labels: parquet

#1897 Issue #1876: Explicitly declare the used features for each dependency in parquet_derive_test
  parquet_derive_test/Cargo.toml
Labels: parquet

#1895 Issue #1876: Explicitly declare the used features for each dependency in parquet
  parquet/Cargo.toml
Labels: parquet

#1912 Add `DictionaryArray::key` function
  arrow/src/array/array_dictionary.rs
Labels: arrow

#1917 Fix max and min decimal for max precision
  arrow/src/datatypes/datatype.rs
Labels: arrow

#1910 minor: clarify docstring on `DictionaryArray::lookup_key`
  arrow/src/array/array_dictionary.rs
Labels: documentation, arrow

#1909 minor: add a diagram to docstring for DictionaryArray
  arrow/src/array/array_dictionary.rs
Labels: documentation, arrow

#1924 MINOR: Replace `checked_add/sub().unwrap()` with `+/-`
  arrow/src/array/array_binary.rs
  arrow/src/array/data.rs
Labels: arrow

#1928 Complete and fixup split of `arrow::array::builder` module (#1843)
  arrow/src/array/builder/buffer_builder.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/fixed_size_binary_builder.rs
  arrow/src/array/builder/generic_binary_builder.rs
  arrow/src/array/builder/generic_string_builder.rs
  arrow/src/array/builder/mod.rs
  arrow/src/array/builder/union_builder.rs
Labels: arrow

#1914 Add Decimal256 API
  arrow/src/array/array_binary.rs
  arrow/src/util/decimal.rs
Labels: arrow

#1933 Split up parquet::arrow::array_reader (#1483)
  parquet/src/arrow/array_reader/complex_object_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
Labels: parquet

#1922 Support casting `NULL` to/from `Decimal`
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#1937 Set adjusted to UTC if UTC timezone (#1932)
  parquet/src/arrow/schema.rs
Labels: parquet

#1940 Add README for the compute module.
  arrow/src/compute/README.md
Labels: arrow

#1926 Update version and changelog for version 17.0.0
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1945 Require Send+Sync bounds for Allocation trait
  arrow/src/alloc/mod.rs
  arrow/src/buffer/immutable.rs
  arrow/src/bytes.rs
  arrow/src/ffi.rs
Labels: arrow

#1942 Disallow cast from other datatypes to NullType
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#1947 write columnmetadata to the behind of the column chunk data, not the ColumnChunk
  parquet/src/file/metadata.rs
  parquet/src/file/writer.rs
Labels: parquet

#1954 Unpin clap (#1867)
  integration-testing/Cargo.toml
  parquet/Cargo.toml
Labels: parquet

#1951 Add add_dyn for DictionaryArray support
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#1956 Use InMemoryColumnChunkReader (~20% faster)
  parquet/src/arrow/async_reader.rs
Labels: parquet

#1953 Set is_adjusted_to_utc if any timezone set (#1932)
  arrow/src/datatypes/datatype.rs
  parquet/src/arrow/schema.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet, arrow

#1964 Fix the behavior of `from_fixed_size_list` when offset > 0
  arrow/src/array/array_binary.rs
Labels: arrow

#1861 Faster StringDictionaryBuilder (~60% faster) (#1851)
  arrow/Cargo.toml
  arrow/benches/string_dictionary_builder.rs
  arrow/src/array/builder/generic_list_builder.rs
  arrow/src/array/builder/generic_string_builder.rs
  arrow/src/array/builder/primitive_builder.rs
  arrow/src/array/builder/string_dictionary_builder.rs
Labels: arrow

#1787 Arbitrary size concat elements utf8
  arrow/src/compute/kernels/concat_elements.rs
Labels: arrow

#1960 Calculate n_buffers in FFI_ArrowArray by data layout
  arrow/src/array/data.rs
  arrow/src/array/mod.rs
  arrow/src/ffi.rs
Labels: arrow

#1935 add column index writer for parquet
  parquet/src/column/writer.rs
  parquet/src/file/metadata.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change

#1968 Declare the value_length of decimal array as a `const`
  arrow/src/array/array_binary.rs
Labels: arrow
