Repository apache/arrow-rs, pull requests merged in 2022-03, with the labels that each got.

#1361 Refactor `RecordBatch::validate_new_batch`
  arrow/src/record_batch.rs
Labels: arrow

#1382 Derive `Clone` for `IpcWriteOptions`
  arrow/src/ipc/writer.rs
Labels: arrow

#1372 Improve performance if dictionary kernels, add benchmark and add `take_iter_unchecked`
  arrow/benches/comparison_kernels.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1367 Allow primitive array creation from iterators of PrimitiveTypes (as well as `Option`)
  arrow/src/array/array_primitive.rs
Labels: arrow

#1374 Speed up the function `min_max_string`
  arrow/src/compute/kernels/aggregate.rs
Labels: arrow

#1383 Add write method to Json Writer
  arrow/src/json/writer.rs
Labels: arrow

#1379 feat: support maps in MutableArrayData
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/filter.rs
Labels: arrow

#1370 Clarify release instructions about when to merge CHANGELOG update
  dev/release/README.md
Labels: development-process

#1388 Add extract month and day in temporal.rs
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#1395 Prepare for the 10.0.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1402 fix: Fix grpc schema hack in flight integration test
  integration-testing/src/flight_client_scenarios/integration_test.rs
Labels: development-process

#1396 Add note in contributing guideline about types of contributions
  CONTRIBUTING.md
  README.md
Labels: documentation, development-process

#1389 Introduce `ReadOptions` with builder API, for parquet filter row groups that satisfy all filters, and enable filter row groups by range.
  parquet/src/file/serialized_reader.rs
Labels: parquet, api-change

#1385 Move csv Parser trait and its implementations to utils module
  arrow/src/csv/reader.rs
  arrow/src/util/mod.rs
  arrow/src/util/reader_parser.rs
Labels: arrow

#1403 Improve integration testing docs
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/README.md
  integration-testing/README.md
  integration-testing/src/bin/flight-test-integration-client.rs
Labels: arrow-flight, development-process

#1405 Add unit test to check `FixedSizeBinaryArray` input all none
  arrow/src/array/array_binary.rs
Labels: arrow

#1406 Fix a small spelling mistake in docs.
  arrow/src/compute/kernels/window.rs
Labels: arrow

#1407 Add dictionary support for C data interface
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/array/ffi.rs
  arrow/src/datatypes/ffi.rs
  arrow/src/ffi.rs
Labels: arrow

#1339 Implement projection for arrow file / streams
  arrow-flight/src/utils.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  integration-testing/src/bin/arrow-file-to-stream.rs
  integration-testing/src/bin/arrow-json-integration-test.rs
  integration-testing/src/bin/arrow-stream-to-file.rs
  integration-testing/src/flight_server_scenarios/integration_test.rs
Labels: arrow, arrow-flight, api-change

#1423 Directly write to MutableBuffer in substring
  arrow/Cargo.toml
  arrow/benches/string_kernels.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#1409 Remove duplicate bound check in the function `shift`
  arrow/src/compute/kernels/window.rs
Labels: arrow

#1386 Implement basic FlightSQL Server
  .github/workflows/rust.yml
  arrow-flight/Cargo.toml
  arrow-flight/build.rs
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  dev/release/rat_exclude_files.txt
  format/FlightSql.proto
Labels: arrow-flight

#1420 Add value_unchecked() and unit test
  arrow/src/array/array_binary.rs
  arrow/src/array/equal/mod.rs
Labels: arrow

#1421 Fix possibly unaligned writes in MutableBuffer
  arrow/src/buffer/mutable.rs
Labels: arrow

#1430 Support nullable keys in DictionaryArray::try_new
  arrow/src/array/array_dictionary.rs
Labels: arrow

#1426 Add doc example for creating `FixedSizeListArray`
  arrow/src/array/array_list.rs
Labels: arrow

#1418 Fix DeltaBitPack MiniBlock Bit Width Padding
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding.rs
Labels: parquet

#1438 Fix integration doc about build.ninja location
  integration-testing/README.md
Labels: documentation

#1447 Rewrite doc example of `ListArray` and `LargeListArray`
  arrow/src/array/array_list.rs
Labels: arrow

#1412 Add support for `UnionArray` in`filter` kernel
  arrow/src/array/data.rs
  arrow/src/array/transform/mod.rs
  arrow/src/array/transform/union.rs
  arrow/src/compute/kernels/filter.rs
Labels: arrow

#1414 Set `default-features = false` for `zstd` in the parquet crate to support `wasm32-unknown-unknown`
  parquet/Cargo.toml
Labels: parquet

#1428 remove redundant if/clamp_min/abs
  arrow/src/compute/kernels/window.rs
Labels: arrow

#1450 Rewrite doc of `GenericListArray`
  arrow/src/array/array_list.rs
Labels: documentation, arrow

#1446 Fix generate_interval_case in integration test
  arrow/src/compute/kernels/cast.rs
  integration-testing/src/lib.rs
Labels: arrow

#1461 Prepare for 11.0.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1449 Remove Clone and copy source structs internally
  arrow/src/array/array.rs
  arrow/src/array/mod.rs
  arrow/src/ffi.rs
Labels: arrow

#1435 Improve performance of DictionaryArray::try_new() 
  arrow/src/array/array_dictionary.rs
  arrow/src/array/data.rs
Labels: arrow

#1457 Fix generate_map_case
  integration-testing/src/lib.rs
Labels: development-process

#1463 Update arrow-pyarrow-integration-testing doc
  arrow-pyarrow-integration-testing/README.md
Labels: development-process

#1471 Update the doc of `BinaryArray` and `LargeBinaryArray`
  arrow/src/array/array_binary.rs
Labels: arrow

#1485 Split ArrayReaderBuilder into its own module (#1483)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/builder.rs
Labels: parquet

#1481 Fix reading/writing nested null arrays (#1480) (#1036) (#1399)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
Labels: parquet

#1476 Fix generate_non_canonical_map_case, fix `MapArray` equality
  arrow/src/array/equal/list.rs
  arrow/src/array/equal/utils.rs
  integration-testing/src/bin/arrow-json-integration-test.rs
Labels: arrow

#1488 Add `length` kernel support for List Array
  arrow/src/compute/kernels/length.rs
Labels: arrow

#1497 Workaround nightly miri error in `try_from_trusted_len_iter`
  arrow/src/buffer/mutable.rs
Labels: arrow

#1490 Use Arrow take kernel within ListArrayReader
  parquet/src/arrow/array_reader.rs
Labels: parquet

#1491 update doc of array_binary and array_string
  arrow/src/array/array_binary.rs
  arrow/src/array/array_string.rs
Labels: arrow

#1506 Implement `size_hint` and `ExactSizedIterator` for `DecimalArray`
  arrow/src/array/array_binary.rs
  arrow/src/array/iterator.rs
Labels: arrow

#1503 Support calculating number of chars for `StringArray`
  arrow/src/array/array_string.rs
Labels: arrow

#1467 Update release scripts to automatically clean up old release versions
  dev/release/release-tarball.sh
  dev/release/remove-old-releases.sh
Labels: development-process

#1504 Clarify docs that SlicesIterator ignores null values
  arrow/src/compute/kernels/filter.rs
Labels: documentation, arrow

#1384 Add FFI for Arrow C Stream Interface
  arrow/src/ffi.rs
  arrow/src/ffi_stream.rs
  arrow/src/lib.rs
Labels: arrow

#1469 Implement ArrayEqual for UnionArray
  arrow/src/array/builder.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal/union.rs
  arrow/src/array/equal/utils.rs
Labels: arrow
