Repository apache/arrow-rs, pull requests merged in 2022-07, with the labels that each got.

#1984 MINOR: Fix clippy error after updating rust toolchain
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/util/display.rs
  parquet/src/encodings/decoding.rs
Labels: parquet, arrow, arrow-flight

#1980 Remove PrimitiveBuilder::finish_dict (#1978)
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/builder/primitive_builder.rs
  arrow/src/array/builder/primitive_dictionary_builder.rs
  arrow/src/array/builder/string_dictionary_builder.rs
  arrow/src/array/data.rs
Labels: arrow, api-change

#1986 Move `DecimalArray` to array_decimal.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/mod.rs
Labels: arrow

#1992 Implements Into<ArrayData> for T: Array
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_map.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/array_struct.rs
  arrow/src/array/array_union.rs
  arrow/src/array/builder/map_builder.rs
  arrow/src/array/builder/primitive_dictionary_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/null.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/util.rs
  arrow/src/ffi.rs
  arrow/src/ipc/reader.rs
  arrow/src/json/reader.rs
  arrow/src/json/writer.rs
  arrow/src/record_batch.rs
  arrow/src/util/integration_util.rs
  integration-testing/src/lib.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/dictionary_buffer.rs
Labels: parquet, arrow

#1991 Add unary_cmp
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1988 Refine `FixedSizeListBuilder`
  arrow/src/array/builder/fixed_size_binary_builder.rs
  arrow/src/array/builder/fixed_size_list_builder.rs
Labels: arrow

#2013 Refine the `FixedSizeBinaryBuilder`
  arrow/src/array/builder/fixed_size_binary_builder.rs
Labels: arrow

#1990 Support DictionaryArray in unary kernel
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2020 Add dictionary support to subtract_scalar, multiply_scalar, divide_scalar
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#1998 Stub out Skip Records API (#1792)
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/complex_object_array.rs
  parquet/src/arrow/array_reader/empty_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/column/page.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet, arrow-flight

#1983 Support dictionary array for divide kernel
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#2024 Add builder style APIs For `Field`: `with_name`, `with_data_type` and `with_nullable`
  arrow/src/datatypes/field.rs
Labels: arrow

#2022 Fix several bugs in parquet writer statistics generation, add `EnabledStatistics` to control level of statistics generated
  parquet/src/arrow/schema.rs
  parquet/src/column/writer.rs
  parquet/src/file/properties.rs
Labels: parquet, api-change

#2003 Fix parquet test_common feature flags
  .github/workflows/rust.yml
  parquet/Cargo.toml
Labels: parquet

#2000 Add Decimal256Builder and Decimal256Array
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/mod.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/iterator.rs
  arrow/src/array/mod.rs
  arrow/src/array/ord.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/csv/reader.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/util/decimal.rs
  arrow/src/util/display.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#2027 Fix record delimiting on row group boundaries (#2025)
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/column/reader.rs
Labels: parquet

#2023 Prepare for 18.0.0 release: Update CHANGELOG and versions
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2034 Refine the List builder
  arrow/src/array/builder/generic_binary_builder.rs
  arrow/src/array/builder/generic_list_builder.rs
  arrow/src/array/builder/generic_string_builder.rs
Labels: arrow

#2047 Remove null count from write_batch_with_statistics
  parquet/src/column/writer.rs
Labels: parquet, api-change

#2063 Improve performance of filter_dict
  arrow/src/array/array_dictionary.rs
  arrow/src/compute/kernels/filter.rs
Labels: arrow

#2052 feat(compute): Support week0 (PostgreSQL behaviour) for temporal
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#2066 Rename `weekday` and `weekday0` kernels to to `num_days_from_monday` and `days_since_sunday`
  arrow/src/compute/kernels/temporal.rs
Labels: arrow, development-process, api-change

#2044 Support peek_next_page() and skip_next_page in serialized_reader.
  parquet/src/arrow/async_reader.rs
  parquet/src/column/page.rs
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/util/mod.rs
  parquet/src/util/page_util.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet

#2040 Truncate IPC record batch
  arrow/src/array/mod.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/ipc/writer.rs
Labels: arrow

#2073 Lazily materialize the null buffer builder of boolean builder
  arrow/src/array/builder/boolean_builder.rs
  arrow/src/array/builder/primitive_builder.rs
Labels: arrow

#2041 Add support of converting `FixedSizeBinaryArray` to `DecimalArray`
  arrow/src/array/array_decimal.rs
Labels: arrow

#2031 Add support for adding intervals to dates
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/datatypes/delta.rs
  arrow/src/datatypes/mod.rs
  arrow/src/datatypes/types.rs
Labels: arrow

#2032 Add more tests of RecordReader Batch Size Edge Cases (#2025)
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/record_reader/mod.rs
Labels: parquet

#2083 Add IPC truncation test case for StructArray
  arrow/src/ipc/writer.rs
Labels: arrow

#2076 Support skip_values in ByteArrayColumnValueDecoder
  parquet/src/arrow/array_reader/byte_array.rs
Labels: parquet

#2064 Support nullable indices in boolean take kernel and some optimizations
  arrow/src/compute/kernels/take.rs
Labels: arrow

#2087 type_id and value_offset are incorrect for sliced UnionArray
  arrow/src/array/array_union.rs
Labels: arrow

#2090 Remove doc hidden from GenericColumnReader
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/column/reader.rs
Labels: parquet

#2089 Support skip_values in ColumnValueDecoderImpl
  parquet/src/column/reader/decoder.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/rle.rs
  parquet/src/util/bit_util.rs
Labels: parquet

#2045 Generify parquet write path (#1764)
  parquet/src/basic.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/file/statistics.rs
Labels: parquet

#2092 `DecimalBuilder` should use `FixedSizeBinaryBuilder`
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
Labels: arrow

#2099 Return reference from UnionArray::child (#2035)
  arrow/src/array/array_union.rs
  arrow/src/ipc/writer.rs
  arrow/src/util/display.rs
Labels: arrow, api-change

#2102 Define Decimal128Builder and Decimal128Array
  arrow/src/array/array.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/mod.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/cast.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/iterator.rs
  arrow/src/array/mod.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/csv/reader.rs
  arrow/src/ffi.rs
  arrow/src/util/display.rs
  arrow/src/util/integration_util.rs
  arrow/src/util/pretty.rs
  integration-testing/src/lib.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet, arrow

#2056 Ignore null buffer when creating ArrayData if null count is zero
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/data.rs
Labels: arrow

#2103 Make builder append methods infallible where possible
  arrow/benches/builder.rs
  arrow/benches/cast_kernels.rs
  arrow/benches/take_kernels.rs
  arrow/examples/builders.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/builder/boolean_builder.rs
  arrow/src/array/builder/buffer_builder.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/fixed_size_binary_builder.rs
  arrow/src/array/builder/fixed_size_list_builder.rs
  arrow/src/array/builder/generic_binary_builder.rs
  arrow/src/array/builder/generic_list_builder.rs
  arrow/src/array/builder/generic_string_builder.rs
  arrow/src/array/builder/map_builder.rs
  arrow/src/array/builder/mod.rs
  arrow/src/array/builder/primitive_builder.rs
  arrow/src/array/builder/primitive_dictionary_builder.rs
  arrow/src/array/builder/string_dictionary_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/list.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/mod.rs
  arrow/src/array/transform/mod.rs
  arrow/src/buffer/mutable.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/regexp.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/kernels/temporal.rs
  arrow/src/csv/reader.rs
  arrow/src/json/reader.rs
  arrow/src/util/pretty.rs
  integration-testing/src/lib.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet, arrow, api-change

#2105 add test for skip_values in DictionaryDecoder and fix it
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
Labels: parquet

#2115 Add get_byte_ranges method to AsyncFileReader trait
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2091 Array writer indirection
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#2094 Pass generate_decimal256_case integration test, add `DataType::Decimal256`
  arrow/src/array/array.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/decimal.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/transform/fixed_binary.rs
  arrow/src/array/transform/mod.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/ipc/convert.rs
  arrow/src/ipc/reader.rs
  integration-testing/Cargo.toml
  integration-testing/src/lib.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema.rs
Labels: parquet, arrow

#2117 Update `GenericBinaryBuilder` to use buffer builders directly.
  arrow/src/array/builder/generic_binary_builder.rs
Labels: arrow

#2114 Improve docstrings + examples for `as_primitive_array` cast functions
  arrow/src/array/cast.rs
  arrow/src/array/mod.rs
Labels: documentation, arrow

#2116 Simplify null mask preservation in parquet reader
  parquet/benches/arrow_reader.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
Labels: parquet

#2131 Use `total_cmp` from std
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#2120 Update version to `19.0.0` and add CHANGELOG
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2113 Add validation for Decimal256
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/data.rs
  arrow/src/datatypes/datatype.rs
Labels: arrow

#2134 Make MapFieldNames public (#2118)
  arrow/src/array/builder/mod.rs
Labels: arrow

#2133 Add ArrayAccessor trait, remove duplication in array iterators (#1948)
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/iterator.rs
  arrow/src/array/mod.rs
Labels: arrow

#2144 Update rust version to 1.62
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  integration-testing/Cargo.toml
  object_store/src/throttle.rs
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2146 Add object-store labels to PRs
  .github/workflows/dev_pr/labeler.yml
Labels: development-process, object-store

#2111 Support skip_def_levels (only max_def_levels=1) for ColumnLevelDecoder
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/column/reader/decoder.rs
Labels: parquet

#2140 Add Decimal128Iter and Decimal256Iter and do maximum precision/scale check
  arrow/src/array/array_binary.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/iterator.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/util/decimal.rs
Labels: arrow, api-change

#2154 Avoid decoding unneeded values in ByteArrayDecoderDictionary
  parquet/src/arrow/array_reader/byte_array.rs
Labels: parquet

#2161 [minor] use type aliases refine code.
  parquet/src/file/metadata.rs
Labels: parquet

#2157 Use ArrayAccessor in Comparison Kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2160 parquet reader: Support reading decimals from parquet `BYTE_ARRAY` type
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/buffer/converter.rs
  parquet/src/arrow/schema.rs
  parquet/src/arrow/schema/primitive.rs
  parquet/src/basic.rs
Labels: parquet

#2155 Implement `peek_next_page` and `skip_next_page` for `InMemoryColumnCh…
  parquet/src/arrow/async_reader.rs
  parquet/src/column/page.rs
Labels: parquet

#2147 Port Add stream upload (multi-part upload)
  object_store/Cargo.toml
  object_store/src/aws.rs
  object_store/src/azure.rs
  object_store/src/gcp.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/multipart.rs
  object_store/src/throttle.rs
Labels: object-store

#2127 Lazily materialize the null buffer builder for all array builders.
  arrow/src/array/builder/boolean_builder.rs
  arrow/src/array/builder/fixed_size_binary_builder.rs
  arrow/src/array/builder/fixed_size_list_builder.rs
  arrow/src/array/builder/generic_binary_builder.rs
  arrow/src/array/builder/generic_list_builder.rs
  arrow/src/array/builder/map_builder.rs
  arrow/src/array/builder/mod.rs
  arrow/src/array/builder/null_buffer_builder.rs
  arrow/src/array/builder/primitive_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/builder/union_builder.rs
Labels: arrow

#2158 Add integration test for scan rows with selection
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/complex_object_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/column/reader.rs
Labels: parquet

#2187 Fix offset handling in boolean_equal (#2184)
  arrow/src/array/equal/boolean.rs
Labels: arrow

#2196 Comment out help text in issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Labels: development-process

#2200 Simplify experimental macro
  parquet/src/arrow/mod.rs
  parquet/src/encodings/mod.rs
  parquet/src/lib.rs
Labels: parquet, development-process

#2169 Use ArrayAccessor and FromIterator in Cast Kernels
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2191 Fix disabling parquet statistics (#2185)
  parquet/src/arrow/arrow_reader.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
Labels: parquet

#2181 Let the `StringBuilder` use `BinaryBuilder`
  arrow/src/array/array_string.rs
  arrow/src/array/builder/generic_binary_builder.rs
  arrow/src/array/builder/generic_string_builder.rs
Labels: arrow

#2199 Cleanup record skipping logic and tests (#2158)
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader.rs
Labels: parquet

#2195 Ignore broken symlinks for LocalFileSystem object store
  object_store/src/local.rs
Labels: object-store

#2183 Implement `Hash` for `Schema`
  arrow/src/datatypes/schema.rs
Labels: arrow

#2194 Use BitChunks in equal_bits
  arrow/src/array/data.rs
  arrow/src/array/equal/boolean.rs
  arrow/src/array/equal/utils.rs
Labels: arrow

#2190 Break parquet CI into its own workflow, standardize step names
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/parquet.yml
  .github/workflows/parquet_derive.yml
  .github/workflows/rust.yml
  parquet/src/encodings/rle.rs
Labels: parquet, development-process

#2208 Run parquet CI jobs on push to master
  .github/workflows/parquet.yml
Labels: development-process

#2213 Deliberately trigger CI workflows based on what files were changed
  .github/workflows/README.md
  .github/workflows/arrow_flight.yml
  .github/workflows/cancel.yml
  .github/workflows/dev.yml
  .github/workflows/dev_pr.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/object_store.yml
  .github/workflows/parquet.yml
  .github/workflows/parquet_derive.yml
  .github/workflows/rust.yml
Labels: development-process

#2212 remove redundant CI benchmark check, cleanups
  .github/workflows/parquet.yml
  .github/workflows/rust.yml
Labels: parquet

#2211 Update `FlightSqlService` trait to proxy handshake
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/server.rs
Labels: arrow-flight

#2216 Avoid boxing in PrimitiveDictionaryBuilder
  arrow/src/array/builder/primitive_dictionary_builder.rs
Labels: arrow

#2123 Faster parquet DictEncoder (~20%)
  parquet/Cargo.toml
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/util/hash_util.rs
  parquet/src/util/interner.rs
  parquet/src/util/mod.rs
Labels: parquet

#2220 Increase test coverage of ArrowWriter
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#2209 parquet: export json api with `serde_json` feature name
  parquet/Cargo.toml
  parquet/src/record/api.rs
Labels: parquet

#2204 Add Builder style config objects for object_store
  object_store/src/aws.rs
  object_store/src/azure.rs
  object_store/src/gcp.rs
Labels: object-store

#2225 Add append_option support to decimal builders
  arrow/src/array/builder/decimal_builder.rs
Labels: arrow

#2229 Rename DataType::Decimal to DataType::Decimal128
  arrow/src/array/array.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/decimal.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/csv/reader.rs
  arrow/src/csv/writer.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/ffi.rs
  arrow/src/datatypes/field.rs
  arrow/src/ffi.rs
  arrow/src/ipc/convert.rs
  arrow/src/ipc/reader.rs
  arrow/src/util/display.rs
  arrow/src/util/integration_util.rs
  integration-testing/src/lib.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet, arrow, api-change

#2218 Move `FixedSizeBinaryArray` to `array_fixed_size_binary.rs`
  arrow/src/array/array_binary.rs
  arrow/src/array/array_fixed_size_binary.rs
  arrow/src/array/mod.rs
Labels: arrow

#2245 Fix max and min value for decimal precision greater than 38
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/data.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/datatypes/datatype.rs
Labels: arrow

#2242 Add LimitStore (#2175)
  object_store/src/aws.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
Labels: object-store

#2231 Automatically grow parquet BitWriter (#2226) (~10% faster)
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/encodings/levels.rs
  parquet/src/encodings/rle.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet
