Repository apache/arrow-rs, pull requests merged in 2022-11, with the labels that each got.

#2975 Specialize interleave for byte arrays (#2864)
  arrow-select/src/interleave.rs
Labels: arrow

#2994 Add `RowSelection::from_selectors_and_combine` to merge RowSelectors
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#2996 `arrow::compute::kernels::temporal` should support nanoseconds
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#3007 Add macro downcast_temporal_array
  arrow-array/src/cast.rs
Labels: arrow

#3000 Round instead of Truncate while casting float to decimal
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#3010 Fix some clippy errors after updating rust toolchain
  arrow-array/src/array/binary_array.rs
  arrow-schema/src/field.rs
  arrow/benches/lexsort.rs
  arrow/src/compute/kernels/partition.rs
  arrow/src/csv/reader.rs
  arrow/src/ffi.rs
  arrow/src/ipc/convert.rs
  arrow/src/json/reader.rs
  arrow/src/tensor.rs
  arrow/src/util/pretty.rs
  arrow/tests/array_equal.rs
  parquet/src/bin/parquet-read.rs
  parquet/src/bin/parquet-schema.rs
  parquet/src/record/api.rs
  parquet/src/schema/types.rs
  parquet/tests/boolean_writer.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet, arrow, parquet-derive

#3002 Parquet Writer: Make column descriptor public on the writer
  parquet/src/column/writer/mod.rs
Labels: parquet

#3012 Add arrow-select to list of crates to publish
  dev/release/README.md
Labels: development-process

#3015 Fix more clippy lints after updating rust toolchain
  object_store/src/local.rs
Labels: development-process, object-store

#3006 Replace hour_generic with hour_dyn
  arrow/src/compute/kernels/temporal.rs
Labels: arrow, api-change

#3009 Check overflow when casting integer to decimal
  arrow-array/src/types.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/datatypes/native.rs
Labels: arrow

#3014 Add filter example
  arrow/src/lib.rs
Labels: arrow

#3018 Move ArrowNativeTypeOp to arrow-array (#2594)
  arrow-array/Cargo.toml
  arrow-array/src/arithmetic.rs
  arrow-array/src/lib.rs
  arrow/src/datatypes/mod.rs
Labels: arrow

#2998 Split out arrow-cast (#2594)
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/dev_pr/labeler.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/parquet.yml
  Cargo.toml
  arrow-cast/Cargo.toml
  arrow-cast/src/cast.rs
  arrow-cast/src/display.rs
  arrow-cast/src/lib.rs
  arrow-cast/src/parse.rs
  arrow/Cargo.toml
  arrow/src/compute/kernels/mod.rs
  arrow/src/csv/writer.rs
  arrow/src/lib.rs
  arrow/src/util/mod.rs
  arrow/src/util/reader_parser.rs
Labels: arrow

#3019 Update arrow-flight
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
Labels: arrow-flight

#2999 Support Predicate Pushdown for Parquet Lists (#2108)
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/encodings/rle.rs
Labels: parquet

#3026 Make various i256 methods const
  arrow-buffer/src/bigint.rs
Labels: arrow

#3025 Validate decimal256 with i256 directly
  arrow-array/src/types.rs
  arrow-data/src/decimal.rs
Labels: arrow, api-change

#3013 Hadoop LZ4 Support for LZ4 Codec
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/compression.rs
  parquet/src/file/properties.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet

#3021 Check overflow while casting floating point value to decimal128
  arrow-cast/src/cast.rs
Labels: arrow

#3022 Split out arrow-ipc
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/dev_pr/labeler.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/parquet.yml
  Cargo.toml
  arrow-array/src/lib.rs
  arrow-array/src/record_batch.rs
  arrow-ipc/CONTRIBUTING.md
  arrow-ipc/Cargo.toml
  arrow-ipc/regen.sh
  arrow-ipc/src/compression.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/gen/File.rs
  arrow-ipc/src/gen/Message.rs
  arrow-ipc/src/gen/Schema.rs
  arrow-ipc/src/gen/SparseTensor.rs
  arrow-ipc/src/gen/Tensor.rs
  arrow-ipc/src/gen/mod.rs
  arrow-ipc/src/lib.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow/CONTRIBUTING.md
  arrow/Cargo.toml
  arrow/src/ipc/compression/mod.rs
  arrow/src/ipc/compression/stub.rs
  arrow/src/lib.rs
  arrow/tests/ipc_integration.rs
  dev/release/README.md
Labels: arrow

#3034 Fix nullif when existing array has no nulls
  arrow/src/compute/kernels/boolean.rs
Labels: arrow

#3033 Check overflow when casting floating point value to decimal256
  arrow-buffer/src/bigint.rs
  arrow-cast/src/cast.rs
Labels: arrow

#3041 Replace year_generic with year_dyn
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#3038 Enable casting from Date64 to Timestamp
  arrow-cast/src/cast.rs
Labels: arrow

#3043 Move reader_parser to arrow-cast (#3022)
  arrow-cast/src/parse.rs
  arrow/src/csv/reader.rs
  arrow/src/json/reader.rs
  arrow/src/util/mod.rs
  arrow/src/util/reader_parser.rs
Labels: arrow

#3036 Fix decoding long and/or padded RLE data (#3029) (#3035)
  parquet/src/encodings/rle.rs
Labels: parquet

#3040 Cast decimal256 to signed integer
  arrow-buffer/src/bigint.rs
  arrow-cast/src/cast.rs
Labels: arrow

#3044 Split out arrow-csv (#2594)
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/dev_pr/labeler.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/parquet.yml
  Cargo.toml
  arrow-csv/Cargo.toml
  arrow-csv/src/lib.rs
  arrow-csv/src/reader.rs
  arrow-csv/src/writer.rs
  arrow/Cargo.toml
  arrow/src/lib.rs
  arrow/tests/csv.rs
  arrow/tests/ipc.rs
Labels: arrow

#3049 Split out arrow-json (#3044)
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/dev_pr/labeler.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/parquet.yml
  Cargo.toml
  arrow-json/Cargo.toml
  arrow-json/src/lib.rs
  arrow-json/src/reader.rs
  arrow-json/src/writer.rs
  arrow-json/test/data/arrays.json
  arrow-json/test/data/basic.json
  arrow-json/test/data/basic_nulls.json
  arrow-json/test/data/list_string_dict_nested.json
  arrow-json/test/data/list_string_dict_nested_nulls.json
  arrow-json/test/data/mixed_arrays.json
  arrow-json/test/data/mixed_arrays.json.gz
  arrow-json/test/data/nested_structs.json
  arrow/Cargo.toml
  arrow/benches/json_reader.rs
  arrow/src/lib.rs
  dev/release/rat_exclude_files.txt
Labels: arrow

#3060 Faster f64 equality
  arrow-array/src/arithmetic.rs
Labels: arrow

#3046 Replace remaining _generic temporal kernels with _dyn kernels
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#3065 Faster f64 inequality
  arrow-array/src/arithmetic.rs
Labels: arrow

#3068 Minor: Improve docstrings on WriterPropertiesBuilder
  parquet/src/file/properties.rs
Labels: parquet

#3016 Support cast timestamp to time
  arrow-array/src/temporal_conversions.rs
  arrow-cast/src/cast.rs
Labels: arrow

#3073 Add missing inline to ArrowNativeTypeOp
  arrow-array/src/arithmetic.rs
Labels: arrow

#3071 Deprecate Buffer::count_set_bits (#3067)
  arrow-buffer/src/buffer/immutable.rs
  arrow-select/src/filter.rs
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#3050 Minor: Remove cloning ArrayData in with_precision_and_scale
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#3070 Add compare to ArrowNativeTypeOp
  arrow-array/src/arithmetic.rs
Labels: arrow

#3075 Use ArrowNativeTypeOp on non-scalar comparison kernels
  arrow/benches/comparison_kernels.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#3083 Recurse into Dictionary value type in DataType::is_nested
  arrow-schema/src/datatype.rs
Labels: arrow, api-change

#3080 early type checks in `RowConverter`
  arrow/benches/lexsort.rs
  arrow/benches/row_format.rs
  arrow/src/row/dictionary.rs
  arrow/src/row/mod.rs
Labels: arrow, api-change

#3052 Update arrow-flight subcrates (#3044)
  .github/workflows/arrow_flight.yml
  arrow-flight/Cargo.toml
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/src/utils.rs
Labels: arrow-flight

#3028 Update parquet to depend on arrow subcrates
  parquet/Cargo.toml
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/empty_array.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/arrow_reader/filter.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/arrow/buffer/bit_util.rs
  parquet/src/arrow/buffer/dictionary_buffer.rs
  parquet/src/arrow/buffer/offset_buffer.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/arrow/schema.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/primitive.rs
  parquet/src/bin/parquet-fromcsv.rs
  parquet/src/column/reader.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/compression.rs
  parquet/src/errors.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/lib.rs
  parquet/src/util/interner.rs
  parquet_derive/Cargo.toml
Labels: parquet, parquet-derive

#3047 Move `intersect_row_selections` from datafusion to arrow-rs.
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#3079 feat: add `OwnedRow`
  arrow/src/row/mod.rs
Labels: arrow

#3084 Make intersect_row_selections a member function
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#3085 Remove unused range module
  parquet/src/file/page_index/mod.rs
  parquet/src/file/page_index/range.rs
Labels: parquet

#3051 Move CSV test data (#3044)
  arrow-csv/src/reader.rs
  arrow-csv/test/data/decimal_test.csv
  arrow-csv/test/data/null_test.csv
  arrow-csv/test/data/uk_cities.csv
  arrow-csv/test/data/uk_cities_with_headers.csv
  arrow-csv/test/data/various_types.csv
  arrow-csv/test/data/various_types_invalid.csv
  arrow/Cargo.toml
  arrow/examples/read_csv.rs
  arrow/examples/read_csv_infer_schema.rs
  arrow/tests/csv.rs
  dev/release/rat_exclude_files.txt
Labels: arrow, development-process

#3088 Improved UX of creating `TimestampNanosecondArray` with timezones
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#3089 Update version to 27.0.0 and add changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3096 Fix clippy by avoiding deprecated functions in chrono
  arrow-array/src/delta.rs
  arrow-array/src/temporal_conversions.rs
  arrow-array/src/timezone.rs
  arrow-array/src/types.rs
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
  arrow-csv/src/reader.rs
  arrow/benches/cast_kernels.rs
  arrow/src/compute/kernels/arithmetic.rs
  parquet/src/record/api.rs
Labels: parquet, arrow

#3093 Fix prettyprint for Interval second fractions
  arrow-cast/src/display.rs
  arrow/src/util/pretty.rs
Labels: arrow, api-change

#3094 Minor: Add diagrams and documentation to row format
  arrow/src/row/mod.rs
Labels: arrow

#3087 Minor: Use ArrowNativeTypeOp instead of total_cmp directly
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#3057 add bloom filter implementation based on split block (sbbf) spec
  parquet/Cargo.toml
  parquet/src/bloom_filter/mod.rs
  parquet/src/lib.rs
Labels: parquet

#3054 Add FixedSizeBinaryArray::try_from_sparse_iter_with_size
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-select/src/take.rs
  arrow/src/array/ffi.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/ffi.rs
  arrow/src/util/bench_util.rs
  arrow/tests/array_transform.rs
Labels: arrow

#3099 Cleanup temporal _internal functions
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#3098 Improve schema mismatch error message
  arrow-schema/src/field.rs
Labels: arrow

#3104 Upgrade to thrift 0.17 and fix issues
  arrow/src/row/dictionary.rs
  parquet/Cargo.toml
  parquet/src/arrow/async_reader.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/file/footer.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/format.rs
Labels: parquet, arrow, api-change

#3107 Implements more temporal kernels using time_fraction_dyn
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#3106 cast: support unsigned numeric type to decimal128
  arrow-cast/src/cast.rs
Labels: arrow

#3111 Updates release instructions for new crates
  dev/release/README.md
Labels: development-process

#3110 Add PrimitiveArray::unary_opt
  arrow-array/src/array/primitive_array.rs
  arrow-cast/src/cast.rs
Labels: arrow

#3117 Add downcast_array (#2901)
  arrow-array/src/cast.rs
Labels: arrow

#3076 Check overflow while casting between decimal types
  arrow-cast/src/cast.rs
Labels: arrow

#3091 Remove Option from `Field::metadata`
  arrow-array/src/builder/struct_builder.rs
  arrow-integration-test/src/field.rs
  arrow-integration-test/src/lib.rs
  arrow-ipc/src/convert.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
  arrow-schema/src/schema.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/schema/complex.rs
Labels: parquet, arrow, api-change

#3103 Expose `SortingColumn` in parquet files
  parquet/src/file/metadata.rs
  parquet/src/file/properties.rs
  parquet/src/file/writer.rs
Labels: parquet

#3113 Include field name in merge error message
  arrow-schema/src/field.rs
Labels: arrow

#3101 Parse Time32/Time64 from formatted string
  arrow-cast/src/parse.rs
  arrow-csv/src/reader.rs
Labels: arrow

#3102 parquet bloom filter part II: read sbbf bitset from row group reader, update API, and add cli demo
  parquet/Cargo.toml
  parquet/README.md
  parquet/src/bin/parquet-read.rs
  parquet/src/bin/parquet-rowcount.rs
  parquet/src/bin/parquet-schema.rs
  parquet/src/bin/parquet-show-bloom-filter.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/file/reader.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#3124 Clippy parquet fixes
  arrow-json/src/reader.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/record/api.rs
Labels: parquet, arrow

#3115 Add COW conversion for Buffer and PrimitiveArray and unary_mut
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/boolean_buffer_builder.rs
  arrow-array/src/builder/buffer_builder.rs
  arrow-array/src/builder/null_buffer_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/bytes.rs
Labels: arrow

#3141 comparison op: decimal128 array with scalar
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#3132 use chrono add/sub months
  arrow-array/Cargo.toml
  arrow-array/src/delta.rs
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-json/Cargo.toml
  arrow/Cargo.toml
  object_store/Cargo.toml
  parquet/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, object-store

#3130 Fix Panic on Reading Corrupt Parquet Schema (#2855)
  parquet/src/arrow/schema.rs
Labels: parquet

#3148 refactor: convert `Field::metadata` to `HashMap`
  arrow-integration-test/src/field.rs
  arrow-ipc/src/convert.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
  arrow-schema/src/schema.rs
  parquet/src/arrow/schema/complex.rs
Labels: parquet, arrow, api-change

#3151 Implement Neg for i256
  arrow-buffer/src/bigint.rs
Labels: arrow

#3122 Add GenericByteBuilder (#2969)
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/generic_string_builder.rs
  arrow-array/src/builder/mod.rs
Labels: arrow

#3153 Add collect.rs example
  arrow/examples/README.md
  arrow/examples/collect.rs
Labels: arrow

#3146 Add like_utf8_scalar_dyn kernel
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#3116 Cleanup parquet tests
  parquet/src/file/writer.rs
  parquet/tests/boolean_writer.rs
Labels: parquet, development-process

#3119 parquet bloom filter part III: add sbbf writer, remove `bloom` default feature, add reader properties
  parquet/Cargo.toml
  parquet/src/bin/parquet-show-bloom-filter.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/properties.rs
  parquet/src/file/reader.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/lib.rs
Labels: parquet

#3157 Check overflow in MutableArrayData extend offsets (#3123)
  arrow-data/src/transform/list.rs
  arrow-data/src/transform/utils.rs
  arrow-data/src/transform/variable_size.rs
Labels: arrow

#3162 Prevent precision=0 for decimal type
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#3164 Fix parquet decimal precision
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/schema.rs
Labels: parquet

#3156 Extend Decimal256 as Primitive
  arrow-data/src/transform/fixed_binary.rs
  arrow-data/src/transform/mod.rs
Labels: arrow

#3121 Add Decimal128, Decimal256, Float16 to DataType::is_numeric
  arrow-schema/src/datatype.rs
Labels: arrow, api-change

#3161 Remove unnecessary Buffer::from_slice_ref reference
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-cast/src/cast.rs
  arrow-data/src/data.rs
  arrow-integration-test/src/lib.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/reader.rs
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/limit.rs
  arrow/src/ffi.rs
  arrow/src/util/pretty.rs
  arrow/tests/array_transform.rs
  arrow/tests/array_validation.rs
Labels: arrow

#3166 Remove unnecessary downcasts in builders
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/map_builder.rs
Labels: arrow

#3158 Add finish_cloned to ArrayBuilder
  arrow-array/src/builder/boolean_builder.rs
  arrow-array/src/builder/fixed_size_binary_builder.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/null_buffer_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
  arrow-array/src/builder/string_dictionary_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#3152 Support decimal negative scale
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
  arrow-cast/src/cast.rs
  arrow-csv/src/reader.rs
  arrow-data/src/decimal.rs
  arrow-schema/src/datatype.rs
  arrow-select/src/take.rs
  arrow/benches/cast_kernels.rs
  arrow/src/datatypes/ffi.rs
  arrow/tests/array_transform.rs
Labels: arrow, api-change

#3173 Add `RowSelection::iter()`, `Into<Vec<RowSelector>>` and example
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#3174 Add RowParser
  arrow/src/row/mod.rs
  arrow/src/row/variable.rs
Labels: arrow

#3168 Faster BinaryArray to StringArray conversion
  arrow-array/src/array/string_array.rs
  arrow/benches/array_data_validate.rs
  arrow/src/row/mod.rs
Labels: arrow

#3165 bloom filter part IV: adjust writer properties, bloom filter properties, and incorporate into column encoder
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/bin/parquet-fromcsv-help.txt
  parquet/src/bin/parquet-fromcsv.rs
  parquet/src/bin/parquet-show-bloom-filter.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/properties.rs
Labels: parquet

#3170 Add read parquet examples
  parquet/Cargo.toml
  parquet/examples/async_read_parquet.rs
  parquet/examples/read_parquet.rs
Labels: parquet

#3177 Move decimal constants from `arrow-data` to `arrow-schema` crate
  arrow-array/src/types.rs
  arrow-data/src/decimal.rs
  arrow-schema/src/datatype.rs
Labels: arrow

#3176 bloom filter part V: add an integration with pytest against pyspark
  .github/workflows/parquet.yml
  .gitignore
  parquet/README.md
  parquet/pytest/pyspark_integration_test.py
  parquet/pytest/requirements.in
  parquet/pytest/requirements.txt
  parquet/src/bin/parquet-show-bloom-filter.rs
Labels: parquet

#3155 Doc improvements
  arrow-array/src/arithmetic.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/boolean_buffer_builder.rs
  arrow-array/src/builder/buffer_builder.rs
  arrow-array/src/builder/fixed_size_binary_builder.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
  arrow-array/src/builder/string_dictionary_builder.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-array/src/iterator.rs
  arrow-array/src/lib.rs
  arrow-array/src/record_batch.rs
  arrow-array/src/types.rs
  arrow-json/src/lib.rs
  arrow-json/src/reader.rs
Labels: arrow

#3184 Derive clone for arrays
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/null_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/raw_pointer.rs
Labels: arrow

#3139 Cast: should get the round result for decimal to a decimal with smaller scale
  arrow-cast/src/cast.rs
Labels: arrow

#3180 Row decode cleanups
  arrow/src/row/fixed.rs
  arrow/src/row/mod.rs
Labels: arrow

#3186 StructArray::columns return slice
  arrow-array/src/array/struct_array.rs
  arrow-cast/src/display.rs
  arrow-ipc/src/writer.rs
  parquet/src/arrow/arrow_writer/levels.rs
Labels: parquet, arrow, api-change

#3189 Add sleep to object_store CI
  .github/workflows/object_store.yml
Labels: development-process

#3191 Tweak row format docs
  arrow/src/row/mod.rs
Labels: arrow, development-process

#3181 Update version to 28.0.0 and add changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  object_store/CONTRIBUTING.md
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive, object-store

#3190 Use self capture in DataType
  arrow-schema/src/datatype.rs
Labels: arrow

#3196 Include integration tests in arrow crate
  arrow/Cargo.toml
Labels: arrow

#3188 To pyarrow with schema
  .github/workflows/integration.yml
  arrow/Cargo.toml
  arrow/src/pyarrow.rs
  arrow/tests/pyarrow.rs
Labels: arrow

#3183 Support Duration in array_value_to_string
  arrow-cast/src/display.rs
Labels: arrow

#3195 Adding scalar nlike_dyn, ilike_dyn, nilike_dyn kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#3201 Move zip and shift kernels to arrow-select
  arrow-select/src/lib.rs
  arrow-select/src/window.rs
  arrow-select/src/zip.rs
  arrow/src/compute/kernels/mod.rs
Labels: arrow

#3200 Deprecate limit kernel
  arrow/src/compute/kernels/limit.rs
Labels: arrow

#3202 Hide _dict_scalar kernels behind _dyn kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, api-change

#3204 Remove special case ArrayData equality for decimals
  arrow-data/src/equal/decimal.rs
  arrow-data/src/equal/mod.rs
Labels: arrow

#3203 Add a cast test case for decimal negative scale
  arrow-cast/src/cast.rs
Labels: arrow

#3198 Use SlicesIterator for ArrayData Equality
  arrow-data/src/equal/fixed_binary.rs
  arrow-data/src/equal/primitive.rs
  arrow-select/src/filter.rs
  arrow/benches/equal.rs
Labels: arrow

#3197 Add _dyn kernels of like, ilike, nlike, nilike kernels for dictionary support
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#3208 fix bug: cast decimal256 to other decimal with no-safe
  arrow-cast/src/cast.rs
Labels: arrow

#3134 Add try_unary_mut
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/boolean_buffer_builder.rs
  arrow-array/src/builder/null_buffer_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#3209 Infer timestamps from CSV files
  arrow-csv/src/reader.rs
Labels: arrow

#3214 Update tonic-build to 0.8.3
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
Labels: arrow-flight

#3218 add test cases for extracing week with/without timezone
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#3205 Ensure StructArrays check nullability of fields
  arrow-array/src/array/mod.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/builder/map_builder.rs
  arrow-cast/src/cast.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/writer.rs
  arrow/src/util/pretty.rs
Labels: arrow

#3109 object_store: add support for using proxy_url for connection testing
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#3212 Support StructArray in Row Format (#3159)
  arrow/src/row/fixed.rs
  arrow/src/row/mod.rs
Labels: arrow

#3182 Support `FixedSizeBinary` in Row format
  arrow/src/row/fixed.rs
  arrow/src/row/mod.rs
Labels: arrow

#3231 Fix CI build by upgrading tonic-build to 0.8.4
  arrow-flight/Cargo.toml
Labels: arrow-flight

#3217 User RegexSet for matching DataType
  arrow-csv/src/reader.rs
Labels: arrow

#3232 Remove unwraps from 'create_primitive_array'
  arrow-ipc/src/reader.rs
Labels: arrow

#3242 Add new API to validate the precision for decimal array
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#3241 Move nullif to arrow-select (#2594)
  arrow-select/src/lib.rs
  arrow-select/src/nullif.rs
  arrow/src/compute/kernels/boolean.rs
Labels: arrow

#3246 Fix MapBuilder example
  arrow-array/src/builder/map_builder.rs
Labels: arrow

#3247 Validate dictionaries read over IPC
  arrow-ipc/src/reader.rs
Labels: arrow

#3222 Move tests which require chrono-tz feature from `arrow-cast` to `arrow`
  arrow-cast/src/cast.rs
  arrow/Cargo.toml
  arrow/tests/array_cast.rs
Labels: arrow

#3230 Remove negative scale check
  arrow-array/src/array/primitive_array.rs
  arrow-schema/src/datatype.rs
Labels: arrow

#3144 Add binary_mut and try_binary_mut
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow
