Repository apache/arrow-rs, pull requests merged in 2022-01, with the labels that each got.

#1074 Define eq_dyn_scalar API
  arrow/src/compute/kernels/comparison.rs
Labels: parquet, arrow, arrow-flight

#1104 fix bug: error type for BufferBuilder
  arrow/src/array/mod.rs
Labels: arrow

#1114 Add lt dyn scalar kernel
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1124 Add gt_eq_dyn_utf8_scalar kernel and tests
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1121 Add lt_dyn_utf8_scalar kernel and tests
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1115 Add lt eq dyn scalar kernel
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1116 Add gt dyn scalar kernel
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1117 Add gt eq dyn scalar kernel
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1118 Add neq dyn scalar kernel
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1122 Add lt_eq_dyn_utf8_scalar kernel and tests
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1123 Add gt_dyn_utf8_scalar kernel and tests
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1125 Add neq_dyn_utf8_scalar kernel and tests
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#885 Update Union Array to add `UnionMode`, match latest Arrow Spec, and rename `new` -> `unsafe new_unchecked()`
  arrow/src/array/array.rs
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal/utils.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ipc/writer.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
  parquet/src/arrow/schema.rs
Labels: parquet, arrow, arrow-flight, api-change

#1112 allow using custom datetime format for inference and parsing csv file
  arrow/examples/read_csv.rs
  arrow/src/csv/reader.rs
  arrow/src/csv/writer.rs
Labels: arrow, api-change

#1126 Replace ambiguous Any with All in comments
  parquet/src/file/properties.rs
Labels: parquet

#1092 Add Schema::with_metadata and Field::with_metadata
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  arrow/src/datatypes/schema.rs
  arrow/src/ipc/convert.rs
  arrow/src/util/integration_util.rs
Labels: arrow

#1129 Implement Array for ArrayRef, Improve as_* kernels to take `&dyn Array`
  arrow/src/array/array.rs
  arrow/src/array/cast.rs
  arrow/src/array/equal_json.rs
  arrow/src/pyarrow.rs
Labels: arrow

#1133 Make parquet::arrow::array_reader experimental (#1032)
  parquet/Cargo.toml
  parquet/src/arrow/mod.rs
  parquet/src/lib.rs
Labels: parquet

#1130 Fix reading of dictionary encoded pages with null values (#1111)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_array_reader.rs
Labels: parquet

#1131 Add dyn boolean kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1138 update document sections regarding SIMD package
  arrow/CONTRIBUTING.md
  arrow/README.md
Labels: arrow

#1127 *_dyn_scalar kernels: Support Float32Array and Float64Array,
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1135 feat: union schema serialization/deserialization for ipc
  arrow/src/ipc/convert.rs
Labels: arrow

#1107 Dyn comparison of interval arrays (#1106)
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1140 feat(ipc): support for reading union arrays through IPC
  arrow/src/ipc/reader.rs
Labels: arrow

#1141 Update version to 7.0.0 and update CHANGELOG
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1142 Update readme to clarify versioning
  arrow/README.md
Labels: arrow

#1145 Fix undefined behavor in GenericStringArray::from_iter_values
  arrow/src/array/array_string.rs
  arrow/src/util/test_util.rs
Labels: arrow

#1146 Implement SIMD comparison operations for types with less than 4 lanes (i128)
  arrow/benches/comparison_kernels.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/datatypes/numeric.rs
Labels: arrow

#1134 Move more parquet functionality behind experimental feature flag (#1032)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_array_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/mod.rs
  parquet/src/compression.rs
  parquet/src/encodings/encoding.rs
  parquet/src/lib.rs
Labels: parquet, api-change

#1110 Extends parquet fuzz tests to also tests nulls, dictionaries and row groups with multiple pages (#1053)
  parquet/src/arrow/arrow_reader.rs
  parquet/src/util/test_common/rand_gen.rs
Labels: parquet

#1155 Restrict RecordReader and friends to scalar types (#1132)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/record_reader.rs
  parquet/src/data_type.rs
Labels: parquet, api-change

#1035 Improve parquet performance: Skip levels computation for required struct arrays in parquet
  parquet/src/arrow/array_reader.rs
Labels: parquet

#1039 BooleanBufferBuilder::append_packed (#1038)
  arrow/Cargo.toml
  arrow/benches/boolean_append_packed.rs
  arrow/src/array/builder.rs
  arrow/src/array/transform/boolean.rs
  arrow/src/array/transform/mod.rs
  arrow/src/array/transform/utils.rs
  arrow/src/util/bit_mask.rs
  arrow/src/util/mod.rs
Labels: arrow

#1147 Internal Remove `GenericStringArray::from_vec` and `GenericStringArray::from_opt_vec`
  arrow/src/array/array_string.rs
  arrow/src/array/equal/mod.rs
Labels: arrow

#1041 Generify ColumnReaderImpl and RecordReader (#1040)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/record_reader.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/data_type.rs
  parquet/src/util/memory.rs
Labels: parquet

#1150 Move simd right out of for_each loop
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#1148 Document safety justification of some uses of `from_trusted_len_iter`
  arrow/src/array/array_primitive.rs
  arrow/src/buffer/ops.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/length.rs
Labels: documentation, arrow

#1151 Add add_scalar kernel
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#1149 feat(json): support for map arrays in json writer
  arrow/src/array/cast.rs
  arrow/src/array/mod.rs
  arrow/src/json/writer.rs
Labels: arrow

#1159 Add multiply_scalar kernel
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#1152 Add subtract_scalar kernel
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#1156 Fuzz test different parquet encodings
  parquet/src/arrow/arrow_reader.rs
Labels: parquet

#1054 Improve parquet reading performance for columns with nulls by preserving bitmask when possible (#1037)
  arrow/src/array/builder.rs
  parquet/benches/arrow_array_reader.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/record_reader.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/column/reader/decoder.rs
Labels: parquet, arrow

#1143 Update dev/release/README for master releases, remove supporting scripts
  dev/release/README.md
  dev/release/cherry-pick-pr.py
Labels: documentation

#1161 Simplify and reduce code duplication in arithmetic kernels
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/datatypes/numeric.rs
Labels: arrow, api-change

#1169 Fix compilation error with simd feature
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#1166 Bugfix in parquet writing empty lists of structs
  parquet/src/arrow/levels.rs
Labels: parquet, bug

#1178 Fix record formatting in 1.58
  parquet/src/record/api.rs
Labels: parquet

#1181 Add ticket reference for false positive in clippy
  arrow/src/buffer/immutable.rs
Labels: arrow

#1175 Serialize i128 as JSON string
  arrow/Cargo.toml
  arrow/src/datatypes/mod.rs
  arrow/src/datatypes/native.rs
Labels: arrow

#1165 Use tempfile for parquet tests
  parquet/Cargo.toml
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/schema.rs
  parquet/src/column/writer.rs
  parquet/src/file/footer.rs
  parquet/src/file/writer.rs
  parquet/src/util/io.rs
  parquet/src/util/test_common/file_util.rs
  parquet/src/util/test_common/mod.rs
Labels: parquet

#1172 Support DecimalType in `sort` and `take` kernels
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
Labels: arrow

#1185 fix: Fix a bug in how filter indices are calculated
  parquet/src/arrow/levels.rs
Labels: parquet

#1183 Truncate bitmask on split
  arrow/src/array/builder.rs
  parquet/src/arrow/record_reader/definition_levels.rs
Labels: parquet, arrow

#1187 feat(parquet): support for reading structs nested within lists
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_writer.rs
Labels: parquet

#1082 parquet: Optimized ByteArrayReader, Add UTF-8 Validation (#1040)
  parquet/benches/arrow_array_reader.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/offset_buffer.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/record_reader.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
Labels: parquet, arrow

#1194 Fix in display of `Float16Array`
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow

#1196 feat: add support for casting Duration/Interval to Int64Array
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#1195 Add comparison support for fully qualified BinaryArray
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1192 Update parquet crate readme
  parquet/README.md
Labels: documentation, parquet

#1209 fix a bug in variable sized equality
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal/variable_size.rs
Labels: arrow

#1205 Return error from JSON writer rather than panic
  arrow/src/json/writer.rs
Labels: arrow, api-change

#1210 Improve changelog generator script settings
  .github_changelog_generator
  .gitignore
  dev/release/update_change_log.sh
Labels: development-process

#1212 Prepare for 8.0.0 release: Update CHANGELOG and versions
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/README.md
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1216 Update DECIMAL_RE to allow scientific notation in auto inferred schemas
  arrow/src/csv/reader.rs
  arrow/test/data/various_types.csv
Labels: arrow

#1220 Add non utf8 values into the test cases of BinaryArray comparison
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1180 Preserve dictionary encoding when decoding parquet into Arrow arrays, 60x perf improvement (#171)
  parquet/benches/arrow_array_reader.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/dictionary_buffer.rs
  parquet/src/arrow/array_reader/offset_buffer.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/bit_util.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/record_reader.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/column/writer.rs
Labels: parquet, performance

#1234 Remove arrow array reader (#1197)
  parquet/Cargo.toml
  parquet/benches/arrow_reader.rs
  parquet/src/arrow/arrow_array_reader.rs
  parquet/src/arrow/mod.rs
Labels: parquet

#1219 Do not concatenate identical dictionaries
  arrow/src/array/data.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/concat.rs
Labels: arrow

#1236 [Minor]`into_inner` for IPC `FileWriter`
  arrow/src/ipc/writer.rs
Labels: arrow

#1235 [Minor]Re-export `array::builder::make_builder` to make it available for downstream
  arrow/src/array/mod.rs
Labels: arrow, enhancement

#1222 Remove memory-check feature
  arrow/CONTRIBUTING.md
  arrow/Cargo.toml
  arrow/src/alloc/mod.rs
  arrow/src/lib.rs
  arrow/src/zz_memory_check.rs
Labels: arrow, api-change

#1221 Remove explicit simd arithmetic kernels except for division/modulo
  arrow/benches/arithmetic_kernels.rs
  arrow/src/buffer/immutable.rs
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow, performance

#1232 Fix null bitmap length validation (#1231)
  arrow/src/array/data.rs
Labels: arrow

#1237 Improve documentation for Bitmap
  arrow/src/bitmap.rs
Labels: documentation, arrow

#1238 dyn compare for binary array
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1243 Remove Copy trait from dyn scalar kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow, enhancement

#1241 Add Rust Docs examples for UnionArray
  arrow/src/array/array_union.rs
Labels: documentation, arrow

#1242 Rename the function `len` to `bit_len` for `Bitmap`
  arrow/src/bitmap.rs
  parquet/src/arrow/record_reader/definition_levels.rs
Labels: parquet, arrow, api-change

#1244 Revert making parquet::data_type and parquet::arrow::schema experimental
  parquet/src/arrow/mod.rs
  parquet/src/lib.rs
Labels: parquet

#1246 Fix NullArrayReader (#1245)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_reader.rs
Labels: parquet

#1250 Add docs examples for dynamically compare functions
  arrow/src/compute/kernels/comparison.rs
Labels: documentation, arrow
