Repository apache/arrow-rs, pull requests merged in 2022-04, with the labels that each got.

#1514 Prepare for release version `11.1.0`
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1524 Add a diagram to `take` kernel documentation
  arrow/src/compute/kernels/take.rs
Labels: documentation, arrow

#1525 Fix for missing documentation of `GenericListBuilder`
  arrow/src/array/mod.rs
Labels: arrow

#1510 chore: Update `prost`, `prost-derive` and `prost-types` to 0.10, `tonic`, and `tonic-build` to `0.7`
  .github/actions/setup-builder/action.yaml
  .github/workflows/rust.yml
  arrow-flight/Cargo.toml
  arrow-flight/build.rs
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  integration-testing/Cargo.toml
Labels: arrow-flight

#1512 Speed up the `substring` kernel by about 2x
  arrow/src/compute/kernels/substring.rs
Labels: arrow

#1494 Decouple buffer deallocation from ffi and allow creating buffers from rust vec
  arrow/src/alloc/mod.rs
  arrow/src/array/data.rs
  arrow/src/buffer/immutable.rs
  arrow/src/buffer/mutable.rs
  arrow/src/bytes.rs
  arrow/src/ffi.rs
Labels: arrow

#1517 Fix reading nested lists from parquet files
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/builder.rs
Labels: parquet

#1507 Add `new_from_strings` to create `MapArrays`
  arrow/src/array/array_map.rs
Labels: arrow

#1527 fix clippy errors in 1.60
  arrow/src/ffi.rs
  parquet/src/arrow/schema.rs
Labels: parquet, arrow

#1529 update the doc of `substring`
  arrow/src/compute/kernels/substring.rs
Labels: documentation, arrow

#1451 Allow json reader/decoder to work with format_strings for each field
  arrow/src/json/reader.rs
  arrow/src/util/reader_parser.rs
  arrow/test/data/basic.json
Labels: arrow, api-change

#1552 Create RecordBatch With Non-Zero Row Count But No Columns (#1536)
  arrow/src/record_batch.rs
  arrow/src/util/data_gen.rs
Labels: arrow, api-change

#1550 Fix reading dictionaries from nested structs in ipc `StreamReader`
  arrow/src/ipc/reader.rs
Labels: arrow

#1539 Consolidate JSON reader options
  arrow/src/json/reader.rs
Labels: arrow, api-change

#1558 Add option to skip decoding arrow metadata from parquet (#1459)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/schema.rs
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet, api-change

#1546 Add CI check for full validation mode
  .github/workflows/rust.yml
  arrow/Cargo.toml
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/data.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/ipc/reader.rs
Labels: arrow

#1567 Fix incorrect `into_buffers` for UnionArray
  arrow/src/array/data.rs
  arrow/src/compute/kernels/filter.rs
Labels: arrow

#1560 Support empty projection in ParquetRecordBatchReader
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/empty_array.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/async_reader.rs
Labels: parquet

#1562 Split out MapArray into separate module (#1483)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/map_array.rs
Labels: parquet

#1564 Support FixedSizeBinary and FixedSizeList for the C data interface
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/array/ffi.rs
  arrow/src/datatypes/ffi.rs
  arrow/src/ffi.rs
Labels: arrow

#1566 Read/write nested dictionary in ipc stream reader/writer
  arrow/src/datatypes/field.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
Labels: arrow

#1551 Add test for creating FixedSizeBinaryArray::try_from_sparse_iter failed when given all Nones
  arrow/src/array/array_binary.rs
Labels: arrow

#1555 fix infinite loop in not fully packed bit-packed runs
  parquet/src/encodings/rle.rs
Labels: parquet

#1563 Split out ListArrayReader into separate module (#1483)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/test_util.rs
Labels: parquet

#1569 Prepare for 12.0.0 release: Update version and CHANGELOG
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1573 Use littleendian arrow files for `projection_should_work`
  arrow/src/ipc/reader.rs
Labels: arrow

#1571 Replace &Option<T> with Option<&T>
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow/benches/string_kernels.rs
  arrow/src/array/array_struct.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/utils.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/csv/reader.rs
  arrow/src/csv/writer.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  parquet/src/column/writer.rs
  parquet/src/file/metadata.rs
  parquet/src/file/properties.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/schema/printer.rs
Labels: parquet, arrow, api-change

#1576 Use `Option<T>` rather than `Option<&T>` for copy types in substring kernel
  arrow/benches/string_kernels.rs
  arrow/src/compute/kernels/substring.rs
Labels: arrow, api-change

#1572 Support casting to/from `DataType::Null` in `cast` kernel
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#1581 Derive `Clone` and `PartialEq` for json `DecoderOptions`
  arrow/src/json/reader.rs
Labels: arrow

#1577 Add utf-8 validation checking for `substring`
  arrow/benches/string_kernels.rs
  arrow/src/compute/kernels/substring.rs
Labels: arrow

#1585 Read/write nested dictionary under large list in ipc stream reader/writer
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
Labels: arrow

#1583 Read/write nested dictionary under map in ipc stream reader/writer
  arrow/src/datatypes/field.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
Labels: arrow

#1592 Fix map nullable flag in `ParquetTypeConverter`
  parquet/src/arrow/schema.rs
Labels: parquet

#1607 Parquet: schema validation should allow scale == precision for decimal type
  parquet/src/schema/types.rs
Labels: parquet, bug

#1612 Update datatypes in parquet::basic::LogicalType
  parquet/src/arrow/schema.rs
  parquet/src/basic.rs
  parquet/src/column/writer.rs
  parquet/src/file/writer.rs
  parquet/src/schema/parser.rs
  parquet/src/schema/printer.rs
  parquet/src/schema/types.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet, parquet-derive

#1610 Read/Write nested dictionaries under FixedSizeList in IPC
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
Labels: arrow

#1614 Improve docs and examples links on main readme
  arrow/README.md
Labels: arrow

#1615 Add example readme
  arrow/examples/README.md
Labels: arrow

#1602 Don't access and validate offset buffer in ListArray::from(ArrayData)
  arrow/src/array/array_list.rs
Labels: arrow

#1608 Add `substring` support for binary
  arrow/src/compute/kernels/substring.rs
Labels: arrow

#1589 Fix Null Mask Handling in ArrayData And UnionArray
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/boolean.rs
  arrow/src/array/equal/decimal.rs
  arrow/src/array/equal/dictionary.rs
  arrow/src/array/equal/fixed_binary.rs
  arrow/src/array/equal/fixed_list.rs
  arrow/src/array/equal/list.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal/primitive.rs
  arrow/src/array/equal/structure.rs
  arrow/src/array/equal/union.rs
  arrow/src/array/equal/utils.rs
  arrow/src/array/equal/variable_size.rs
  arrow/src/array/transform/union.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
Labels: arrow, api-change

#1628 Minor: Clarify docs on `UnionBuilder::append_null`
  arrow/src/array/builder.rs
Labels: documentation, arrow

#1629 Nit: use the standard function `div_ceil`
  arrow/src/util/bit_util.rs
Labels: arrow

#1621 Fix decimals min max statistics
  parquet/src/column/writer.rs
Labels: parquet

#1624 Prepare for arrow-rs 13.0.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, development-process, parquet-derive
