Repository apache/arrow-rs, pull requests merged in 2022-09, with the labels that each got.

#2608 Cast timestamp array to string array with timezone
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#2602 Use required-features for CSV benchmarks/examples
  arrow/Cargo.toml
  arrow/benches/csv_writer.rs
  arrow/examples/read_csv.rs
  arrow/examples/read_csv_infer_schema.rs
Labels: arrow, development-process

#2601 Make JSON support optional via a feature flag (#2300)
  .github/workflows/arrow.yml
  arrow/Cargo.toml
  arrow/README.md
  arrow/src/array/mod.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  arrow/src/datatypes/schema.rs
  arrow/src/error.rs
  arrow/src/lib.rs
  integration-testing/Cargo.toml
  parquet/Cargo.toml
Labels: parquet, arrow

#2625 Update quick-xml 0.24
  object_store/Cargo.toml
  object_store/src/azure/client.rs
Labels: object-store

#2624 Document dyn_cmp_dict
  arrow/README.md
Labels: arrow

#2634 Document all arrow features in docs.rs (#2633)
  arrow/Cargo.toml
  arrow/src/pyarrow.rs
Labels: arrow

#2632 Use http:// in GCS integration test instead of insecure TLS
  .github/workflows/object_store.yml
  object_store/src/gcp/mod.rs
Labels: development-process, object-store

#2636 Add downcast macros (#2635)
  arrow/src/array/cast.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/take.rs
Labels: arrow

#2630 Add Linux, Mac and Windows .gitignore
  .gitignore
Labels: development-process

#2612 Update version to `22.0.0` and update `CHANGELOG`
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2586 Update flight definitions including backwards-incompatible change to GetSchema
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/src/utils.rs
  arrow/src/ipc/convert.rs
  format/Flight.proto
  format/FlightSql.proto
  format/Message.fbs
  format/Schema.fbs
Labels: arrow, arrow-flight, api-change

#2643 Add overflow-checking variant for primitive arithmetic kernels and explicitly define overflow behavior
  arrow/benches/arithmetic_kernels.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/datatypes/native.rs
Labels: arrow, api-change

#2646 Help LLVM vectorize comparison kernel ~50-80% faster
  arrow/src/buffer/mutable.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2640 Use `downcast_primitive_array` in arithmetic kernels
  arrow/src/array/cast.rs
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#2552 Fix bug in page skipping
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/column/reader.rs
Labels: parquet

#2652 MutableBuffer::typed_data - shared ref access to the typed slice
  arrow/src/buffer/immutable.rs
  arrow/src/buffer/mutable.rs
Labels: arrow

#2653 update doc for object_store copy_if_not_exists
  object_store/src/lib.rs
Labels: object-store

#2655 MINOR: Ignore flaky test test_fuzz_async_reader_selection
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2649 support `CastOption` for casting numeric
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2660 ffi feature also requires layout
  arrow/src/array/mod.rs
Labels: arrow

#2638 Fully qualifying parquet items
  parquet_derive/src/lib.rs
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/src/lib.rs
Labels: parquet-derive

#2656 Fix flaky test `test_fuzz_async_reader_selection`
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2668 json feature always requires base64 feature
  parquet/Cargo.toml
Labels: parquet

#2658 Change max/min string macro to generic helper function min_max_helper
  arrow/src/compute/kernels/aggregate.rs
Labels: arrow

#2663 Use downcast_dictionary_array in unary_dyn
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2645 Support comparison between dictionary array and binary array
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2623 Support DictionaryArray in temporal kernels
  arrow/src/array/array_primitive.rs
  arrow/src/array/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#2675 Use BitIndexIterator in min_max_helper
  arrow/src/compute/kernels/aggregate.rs
Labels: arrow

#2676 Faster Null Path Selection in ArrayData Equality
  arrow/src/array/equal/decimal.rs
  arrow/src/array/equal/dictionary.rs
  arrow/src/array/equal/fixed_binary.rs
  arrow/src/array/equal/fixed_list.rs
  arrow/src/array/equal/primitive.rs
  arrow/src/array/equal/structure.rs
Labels: arrow

#2673 Support building comparator for dictionaries of primitive integer values
  arrow/src/array/ord.rs
Labels: arrow

#2678 Skip RowSelectors with zero rows
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2681 Fix multiple part uploads at once making vector size inconsistent
  object_store/src/multipart.rs
Labels: object-store

#2682 Prepare object_store 0.5 release
  object_store/.github_changelog_generator
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#2692 Fix master
  arrow/src/compute/kernels/concat.rs
Labels: arrow, development-process

#2685 Simplify DictionaryBuilder constructors (#2684) (#2054)
  arrow/benches/string_dictionary_builder.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/builder/primitive_dictionary_builder.rs
  arrow/src/array/builder/string_dictionary_builder.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/json/reader.rs
  arrow/src/util/pretty.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#2691 Add support for empty projection in RecordBatch::project
  arrow/src/record_batch.rs
Labels: arrow

#2680 Support sorting dictionary encoded primitive integer arrays
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#2695 Update quick-xml to 0.25
  object_store/Cargo.toml
Labels: development-process, object-store

#2593 Comparable Row Format
  arrow/Cargo.toml
  arrow/benches/row_format.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/lib.rs
  arrow/src/row/fixed.rs
  arrow/src/row/interner.rs
  arrow/src/row/mod.rs
  arrow/src/row/variable.rs
Labels: arrow

#2698 Sort indices of dictionary string values
  arrow/benches/comparison_kernels.rs
  arrow/benches/filter_kernels.rs
  arrow/benches/sort_kernel.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#2626 Update thrift v0.16 and vendor parquet-format (#2502)
  .gitattributes
  parquet/CONTRIBUTING.md
  parquet/Cargo.toml
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/basic.rs
  parquet/src/column/page.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/footer.rs
  parquet/src/file/metadata.rs
  parquet/src/file/page_encoding_stats.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/range.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/statistics.rs
  parquet/src/file/writer.rs
  parquet/src/format.rs
  parquet/src/lib.rs
  parquet/src/schema/types.rs
Labels: parquet, api-change

#2666 Add try_unary, binary, try_binary kernels ~90% faster
  arrow/benches/arithmetic_kernels.rs
  arrow/src/array/iterator.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/util/bit_iterator.rs
Labels: arrow

#2686 Verify valid UTF-8 when converting byte array (#2205)
  arrow/src/array/array_string.rs
  arrow/src/array/builder/generic_string_builder.rs
Labels: arrow

#2699 Clarify docs of binary and string builders
  arrow/src/array/builder/generic_binary_builder.rs
  arrow/src/array/builder/generic_string_builder.rs
Labels: arrow

#2650 Overflow-checking variant of arithmetic scalar kernels
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#2707 Add DataType::is_nested()
  arrow/src/datatypes/datatype.rs
Labels: arrow

#2703 Support bitwise and operation in the kernel
  arrow/src/compute/kernels/bitwise.rs
  arrow/src/compute/kernels/mod.rs
Labels: arrow

#2661 optimize the `numeric_cast_with_error`
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2716 Support bitwise op in kernel: or,xor,not
  arrow/src/compute/kernels/bitwise.rs
Labels: arrow

#2710 Add divide_opt kernel which produce null values on division by zero error
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2724 Move JSON Test Format To integration-testing
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  arrow/src/datatypes/schema.rs
  integration-testing/src/lib.rs
  integration-testing/src/util/datatype.rs
  integration-testing/src/util/field.rs
  integration-testing/src/util/mod.rs
  integration-testing/src/util/schema.rs
Labels: arrow, api-change

#2701 Add support of sorting dictionary of other primitive arrays
  arrow/src/compute/kernels/sort.rs
  arrow/src/datatypes/datatype.rs
Labels: arrow

#2713 Add overflow-checking variants of arithmetic scalar dyn kernels
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2731 Fix object_store multipart uploads on S3 Compatible Stores
  object_store/src/aws/client.rs
Labels: object-store

#2730 Update read parquet example in parquet/arrow home
  parquet/src/arrow/mod.rs
Labels: parquet

#2718 benchmark: bitwise operation
  arrow/Cargo.toml
  arrow/benches/bitwise_kernel.rs
Labels: arrow

#2737 Partially flatten arrow-buffer
  arrow-buffer/src/lib.rs
  arrow/src/bitmap.rs
  arrow/src/datatypes/native.rs
  arrow/src/util/mod.rs
Labels: arrow

#2729 Better construction of RecordBatchOptions
  arrow/src/ipc/reader.rs
  arrow/src/record_batch.rs
Labels: arrow

#2717 Update `try_binary` and `checked_ops`, and remove `math_checked_op`
  arrow/Cargo.toml
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/datatypes/native.rs
Labels: arrow

#2743 Speedup string equal/not equal to empty string, cleanup like/ilike kernels, fix escape bug
  arrow/benches/equal.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2749 Speed up checked kernels for non-null data (~1.4-5x faster)
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2755 Add value type check in try_unary_dict
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2750 Fix: Issue 2721 : binary function should not panic but return error w…
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/compute/kernels/bitwise.rs
Labels: arrow

#2740 Add overflow-checking variants of arithmetic dyn kernels
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2758 MINOR: tweak arrow release instructions
  dev/release/README.md
Labels: development-process

#2760 Add dyn_arith_dict feature flag
  .github/workflows/arrow.yml
  arrow/Cargo.toml
  arrow/README.md
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow, api-change

#2764 Add divide dyn kernel which produces null for division by zero
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2768 Add divide scalar dyn kernel which produces null for division by zero
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#2772 MINOR: Fix clippy for rust 1.64.0
  arrow/src/ffi.rs
  parquet/src/column/writer/mod.rs
Labels: parquet, arrow

#2773 Re-enable golang integration tests (#2688)
  .github/workflows/integration.yml
Labels: development-process

#2705 Trim parquet row selection
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#2775 Remove ArrowNativeType: FromStr
  arrow-buffer/src/native.rs
  arrow/src/lib.rs
  arrow/src/util/reader_parser.rs
Labels: arrow, api-change

#2774 Fix Backwards Compatible Parquet List Encodings (#1915)
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/arrow/schema.rs
  sample.parquet
Labels: parquet

#2776 Remove sample.parquet
  sample.parquet
Labels: development-process

#2780 Fix min/max computation for sliced arrays (#2779)
  arrow/src/compute/kernels/aggregate.rs
Labels: arrow

#2778 Update arrow CI for split crates (#2594)
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/parquet.yml
Labels: development-process

#2789 Move unary kernels to arrow-array (#2787)
  arrow-array/src/array/primitive_array.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2788 Disable test harness for string_dictionary_builder benchmark
  arrow/Cargo.toml
Labels: arrow

#2791 Add struct equality test case (#514)
  arrow/tests/array_equal.rs
Labels: arrow

#2793 Cleanup ArrowNativeType (#1918)
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/builder/string_dictionary_builder.rs
  arrow-buffer/Cargo.toml
  arrow-buffer/src/native.rs
  arrow-buffer/src/util/bit_util.rs
  arrow-data/src/equal/variable_size.rs
  arrow-data/src/transform/list.rs
  arrow/src/array/ord.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/concat_elements.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/util/reader_parser.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/buffer/offset_buffer.rs
Labels: parquet, arrow, api-change

#2796 Handle incomplete HTTP redirects missing LOCATION (#2795)
  object_store/src/client/retry.rs
Labels: object-store

#2801 Fix S3 query canonicalization (#2800)
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/lib.rs
  object_store/src/path/mod.rs
Labels: object-store

#2805 add field name to parquet PrimitiveTypeBuilder error messages
  parquet/src/schema/types.rs
Labels: parquet

#2808 Prepare for `24.0.0`
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive
