Repository apache/arrow-rs, pull requests merged in 2022-10, with the labels that each got.

#2811 Support for overriding instance metadata endpoint
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
Labels: object-store

#2782 Handle S3 virtual host request type
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
Labels: object-store

#2798 Add DictionaryArray::with_values to make it easier to operate on dictionary values
  arrow-array/src/array/dictionary_array.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#2814 fix timestamp parsing while no explicit timezone given
  arrow/src/compute/kernels/cast_utils.rs
  arrow/src/csv/reader.rs
Labels: arrow, api-change

#2815 Add OrderPreservingInterner::lookup (#2677)
  arrow/src/row/interner.rs
Labels: arrow

#2812 Simplify FixedLengthEncoding
  arrow/src/row/fixed.rs
Labels: arrow

#2816 Add string_dictionary benches for row format (#2677)
  arrow/benches/row_format.rs
Labels: arrow

#2756 Add modulus ops into `ArrowNativeTypeOp`
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/datatypes/native.rs
Labels: arrow

#2588 feat: cast List / LargeList to Utf8 / LargeUtf8
  arrow/src/compute/kernels/cast.rs
  arrow/src/util/display.rs
Labels: arrow

#2823 Update labeller for split crates
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#2824 Prepare object_store 0.5.1
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#2819 Update Clap dependency to version 4
  integration-testing/Cargo.toml
  integration-testing/src/bin/arrow-json-integration-test.rs
  integration-testing/src/bin/flight-test-integration-client.rs
  integration-testing/src/bin/flight-test-integration-server.rs
  parquet/Cargo.toml
  parquet/src/bin/parquet-fromcsv-help.txt
  parquet/src/bin/parquet-fromcsv.rs
  parquet/src/bin/parquet-rowcount.rs
Labels: parquet

#2828 Update release readme
  dev/release/README.md
Labels: development-process

#2818 Fix i256 checked multiplication
  arrow-buffer/src/bigint.rs
Labels: arrow

#2830 Add NaN handling in dyn scalar comparison kernels
  arrow/benches/comparison_kernels.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/datatypes/native.rs
Labels: arrow

#2833 Derive ArrowPrimitiveType for Decimal128Type and Decimal256Type (#2637)
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
Labels: arrow

#2843 Update actions/labeler to v4.0.2
  .github/workflows/dev_pr.yml
Labels: development-process

#2844 Add labeller permissions block
  .github/workflows/dev_pr.yml
Labels: development-process

#2847 parquet: Add `snap` option to README
  parquet/README.md
Labels: parquet

#2846 Cleanup cast kernel
  arrow-array/src/array/primitive_array.rs
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2831 Simplify filter_dict
  arrow/src/compute/kernels/filter.rs
Labels: arrow, development-process

#2841 Simplify ArrowNativeType
  arrow/src/compute/kernels/aggregate.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/datatypes/native.rs
Labels: arrow

#2809 Support Arbitrary Number of Arrays in downcast_primitive_array
  arrow-array/src/cast.rs
Labels: api-change

#2854 Fix page size on dictionary fallback
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#2862 Fix various invalid_html_tags clippy errors
  arrow-array/src/array/primitive_array.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-flight/src/lib.rs
  arrow/src/csv/writer.rs
  arrow/src/lib.rs
  arrow/src/pyarrow.rs
  arrow/src/util/test_util.rs
  integration-testing/src/util/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/encodings/rle.rs
  parquet/src/format.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet, arrow, arrow-flight, parquet-derive

#2850 Replace complicated temporal macro with generic functions
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#2836 Handle empty offsets buffer (#1824)
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/string_array.rs
Labels: arrow

#2827 Simplify OrderPreservingInterner allocation strategy ~97% faster (#2677)
  arrow/src/row/interner.rs
Labels: arrow

#2835 Validate ArrayData type when converting to Array (#2834)
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/decimal_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/take.rs
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet, arrow

#2838 Add `interleave` kernel (#1523)
  arrow/src/compute/kernels/interleave.rs
  arrow/src/compute/kernels/mod.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/mod.rs
Labels: arrow

#2857 Make DecimalArray as PrimitiveArray
  arrow-array/src/array/decimal_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/decimal_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-array/src/decimal.rs
  arrow-array/src/iterator.rs
  arrow-array/src/types.rs
  arrow-buffer/src/bigint.rs
  arrow/benches/array_from_vec.rs
  arrow/benches/builder.rs
  arrow/benches/cast_kernels.rs
  arrow/benches/decimal_validate.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/csv/reader.rs
  arrow/src/row/fixed.rs
  arrow/src/row/mod.rs
  arrow/src/util/display.rs
  arrow/tests/array_validation.rs
  integration-testing/Cargo.toml
  integration-testing/src/util/mod.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#2867 Update test_parse_arg_compression_format_fail
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet, development-process

#2869 Take decimal as primitive (#2637)
  arrow/src/compute/kernels/take.rs
Labels: arrow

#2865 Decimal cleanup (#2637)
  .github/workflows/arrow.yml
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/decimal.rs
  arrow-array/src/lib.rs
  arrow-array/src/types.rs
  arrow/src/csv/reader.rs
  arrow/src/util/display.rs
  arrow/src/util/mod.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#2877 Update version to `25.0.0` and update Changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2873 Don't validate decimal precision in ArrayData (#2637)
  arrow-data/src/data.rs
  arrow/tests/array_validation.rs
Labels: arrow

#2879 Fix compilation error under `chrono-tz` feature
  .github/workflows/arrow.yml
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2880 Validate decimal IPC read (#2387)
  arrow/src/ipc/reader.rs
Labels: arrow

#2870 Filter DecimalArray as PrimitiveArray ~80% Faster (#2637)
  arrow/benches/filter_kernels.rs
  arrow/src/compute/kernels/filter.rs
Labels: arrow

#2884 Increase default IPC alignment to 64 (#2883)
  arrow/src/ipc/writer.rs
Labels: arrow

#2888 Improve row format docs
  arrow/src/row/mod.rs
Labels: arrow

#2872 Add downcast_integer and downcast_primitive
  arrow-array/src/cast.rs
  arrow/src/row/dictionary.rs
  arrow/src/row/mod.rs
Labels: arrow

#2886 Simplify ListArray::from_iter_primitive
  arrow-array/src/array/list_array.rs
Labels: arrow

#2887 Add FixedSizeList::from_iter_primitive
  arrow-array/src/array/fixed_size_list_array.rs
Labels: arrow

#2866 Treat DecimalArray as PrimitiveArray in row format
  arrow-buffer/src/bigint.rs
  arrow/src/row/dictionary.rs
  arrow/src/row/fixed.rs
  arrow/src/row/mod.rs
Labels: arrow

#2893 Support overflow-checking variant of negate kernel
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/datatypes/native.rs
Labels: arrow

#2895 Update flatbuffers
  arrow/Cargo.toml
  arrow/src/ipc/gen/File.rs
  arrow/src/ipc/gen/Message.rs
  arrow/src/ipc/gen/Schema.rs
  arrow/src/ipc/gen/SparseTensor.rs
  arrow/src/ipc/gen/Tensor.rs
  arrow/src/ipc/reader.rs
Labels: arrow, api-change

#2899 Parquet record api support timestamp before epoch
  parquet/src/record/api.rs
Labels: parquet

#2894 replace from_timestamp by from_timestamp_opt
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/temporal_conversions.rs
Labels: arrow, api-change

#2908 Cleanup decimal sort function
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#2905 Implement ord for FixedSizeBinary types
  arrow/src/array/ord.rs
Labels: arrow

#2898 Specialize interleave integer
  arrow-select/src/interleave.rs
  arrow/Cargo.toml
  arrow/benches/interleave_kernels.rs
Labels: arrow

#2912 Support decimal256 array in sort kernels
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#2890 Respect Page Size Limits in ArrowWriter (#2853)
  parquet/Cargo.toml
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/encodings/levels.rs
  parquet/src/encodings/rle.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet

#2909 Add timezone abstraction
  arrow-array/Cargo.toml
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/lib.rs
  arrow-array/src/temporal_conversions.rs
  arrow-array/src/timezone.rs
  arrow/Cargo.toml
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/temporal.rs
  arrow/src/csv/writer.rs
Labels: arrow

#2906 Simplify TimestampArray from_vec with timezone
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#2919 Deprecate TimestampArray from_vec and from_opt_vec
  arrow-array/src/array/primitive_array.rs
  arrow-integration-test/src/lib.rs
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/temporal.rs
  arrow/src/csv/writer.rs
  arrow/src/json/writer.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#2913 Document crate topology (#2594)
  arrow-array/src/lib.rs
  arrow-data/src/lib.rs
  arrow/src/array/mod.rs
  arrow/src/lib.rs
Labels: documentation, arrow

#2927 Update required half from 2.0 --> 2.1
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-data/Cargo.toml
  arrow/Cargo.toml
Labels: arrow

#2891 Add experimental AWS_PROFILE support (#2178)
  .github/workflows/object_store.yml
  object_store/Cargo.toml
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
Labels: object-store

#2921 Cleanup generated proto code
  .gitattributes
  .github/workflows/arrow_flight.yml
  arrow-flight/build.rs
Labels: arrow-flight

#2896 Support building `object_store` and `parquet` on wasm32-unknown-unknown target
  .github/actions/setup-builder/action.yaml
  .github/workflows/parquet.yml
  object_store/Cargo.toml
  object_store/README.md
  object_store/src/lib.rs
  object_store/src/path/mod.rs
  object_store/src/util.rs
  parquet/Cargo.toml
  parquet/README.md
Labels: parquet, object-store

#2932 fix testcases while chrono-tz enabled
  .github/workflows/arrow.yml
  arrow/src/compute/kernels/cast.rs
  arrow/src/csv/writer.rs
Labels: arrow, development-process

#2928 Improve panic messages for RowSelection::and_then (#2925)
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#2929 Add lexsort benchmark (#2871)
  arrow/Cargo.toml
  arrow/benches/lexsort.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/row/mod.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#2936 support more fixedoffset tz format
  arrow-array/src/timezone.rs
  arrow/src/compute/kernels/temporal.rs
Labels: arrow

#2938 Cleanup orphaned doc comments (#2935)
  parquet/src/file/writer.rs
Labels: parquet

#2930 Benchmark with prepared row converter
  arrow/benches/row_format.rs
Labels: arrow

#2945 Remove Unused NativeDecimalType
  arrow-array/src/types.rs
Labels: arrow

#2948 fix datatype for timestamptz debug fmt
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#2949 Fix chrono-rs clippy
  .github/workflows/arrow.yml
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/temporal.rs
  arrow/src/csv/writer.rs
Labels: arrow

#2944 Specialize interleave string ~2-3x faster
  arrow-array/src/array/string_array.rs
  arrow-select/src/interleave.rs
  arrow/benches/interleave_kernels.rs
Labels: arrow

#2943 Added support for LZ4_RAW compression. (#1604)
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/basic.rs
  parquet/src/compression.rs
Labels: parquet

#2955 Add pow to i256
  arrow-buffer/src/bigint.rs
Labels: arrow

#2933 Cleanup CI
  .github/actions/setup-builder/action.yaml
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/docs.yml
  .github/workflows/miri.yaml
  .github/workflows/object_store.yml
  .github/workflows/parquet.yml
  .github/workflows/parquet_derive.yml
  .github/workflows/rust.yml
Labels: development-process

#2923 Cast numeric to decimal256
  arrow-buffer/src/bigint.rs
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2947 Add GenericByteArray (#2946)
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/types.rs
Labels: arrow

#2961 Fix GenericListArray::try_new_from_array_data error message (#526)
  arrow-array/src/array/list_array.rs
Labels: arrow

#2960 Fix take string on sliced indices
  arrow-select/src/take.rs
Labels: arrow

#2957 Add BooleanArray::true_count and BooleanArray::false_count
  arrow-array/src/array/boolean_array.rs
Labels: arrow

#2939 Format Timestamps as RFC3339
  arrow-array/src/array/primitive_array.rs
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow, api-change

#2962 Update version to 26.0.0 and add Changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2970 Combine take_utf8 and take_binary (#2969)
  arrow-select/src/take.rs
Labels: arrow

#2968 Faster Scalar Dictionary Comparison ~10%
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2959 Pass decompressed size to parquet Codec::decompress (#2956)
  parquet/src/compression.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#2965 Move `byte_size` from datafusion::physical_expr
  arrow-array/src/record_batch.rs
Labels: arrow

#2973 Use unary function for numeric to decimal cast
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2881 Add Decimal Arithmetic
  arrow-buffer/src/bigint.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/datatypes/native.rs
  arrow/src/datatypes/numeric.rs
Labels: arrow

#2974 Update AWS SDK
  object_store/Cargo.toml
Labels: object-store

#2976 Move concat kernel to arrow-select (#2594)
  arrow-select/src/concat.rs
  arrow-select/src/lib.rs
  arrow/src/compute/kernels/mod.rs
Labels: arrow

#2978 Add decimal comparison kernel support
  arrow-array/src/cast.rs
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2980 Compare dictionary and non-dictionary decimal arrays
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2985 Add clone and equal functions for CastOptions
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2982 Compare dictionary decimal arrays
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2940 Accept any &dyn Array in nullif kernel
  arrow-buffer/src/buffer/ops.rs
  arrow/src/compute/kernels/boolean.rs
Labels: arrow, api-change

#2983 minor: remove redundant prefix
  arrow-buffer/src/alloc/alignment.rs
  arrow-data/src/data.rs
  arrow-flight/build.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-schema/src/error.rs
Labels: arrow, arrow-flight

#2991 Fix ignored limit on `lexsort_to_indices`
  arrow/src/compute/kernels/sort.rs
Labels: arrow

#2993 Simplify Single-Column Dictionary Sort
  arrow/src/compute/kernels/sort.rs
Labels: arrow
