Repository apache/arrow-rs, pull requests merged in 2022-05, with the labels that each got.

#1634 expose row-group flush in public api
  parquet/src/arrow/arrow_writer.rs
Labels: parquet

#1632 Fix UnionArray is_null
  arrow/src/array/array_union.rs
Labels: arrow

#1641 Minor correct arrow-flight readme version
  arrow-flight/README.md
Labels: documentation, arrow-flight

#1633 Add `substring` support for `FixedSizeBinaryArray`
  arrow/benches/string_kernels.rs
  arrow/src/compute/kernels/substring.rs
Labels: arrow

#1650 Minor: simplify the function `GenericListArray::get_type`
  arrow/src/array/array_list.rs
Labels: arrow

#1648 Pretty Print `UnionArray`s
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
Labels: arrow

#1645 Remove `StringOffsetTrait` and `BinaryOffsetTrait`
  arrow/src/array/array_binary.rs
  arrow/src/array/array_string.rs
  arrow/src/array/builder.rs
  arrow/src/array/cast.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/iterator.rs
  arrow/src/array/mod.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/aggregate.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/concat.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/length.rs
  arrow/src/compute/kernels/regexp.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/ffi.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#1662 Remove parquet dictionary converters (#1661)
  parquet/src/arrow/converter.rs
Labels: parquet, api-change

#1659 Add `DecimalType` support in `new_null_array `
  arrow/src/array/array.rs
Labels: arrow, enhancement

#1636 Fix generate_nested_dictionary_case integration test failure for Rust cases
  arrow-flight/src/utils.rs
  arrow/src/ipc/reader.rs
  integration-testing/src/flight_client_scenarios/integration_test.rs
  integration-testing/src/flight_server_scenarios/integration_test.rs
  integration-testing/src/lib.rs
Labels: arrow, arrow-flight, api-change

#1647 Exclude `dict_id` and `dict_is_ordered` from equality comparison of `Field`
  arrow/src/datatypes/field.rs
Labels: arrow

#1668 unpin flatbuffers dependency version
  arrow/Cargo.toml
Labels: arrow

#1664 Replace `fn is_large` with `const IS_LARGE`
  arrow/src/array/array_binary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_string.rs
  arrow/src/array/builder.rs
  arrow/src/array/transform/mod.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
Labels: parquet, arrow, api-change

#1588 Add support for nested list arrays from parquet to arrow arrays (#993)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/schema/visitor.rs
Labels: parquet

#1678 Fix logical merge conflict in #1588
  parquet/src/arrow/array_reader/list_array.rs
Labels: parquet

#1665 Add dictionary array support for substring function
  arrow/src/compute/kernels/substring.rs
Labels: arrow, enhancement

#1674 Support dictionary arrays in length and bit_length
  arrow/src/compute/kernels/length.rs
Labels: arrow, enhancement

#1677 Fix generate_unions_case for Rust case
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  arrow/src/util/integration_util.rs
  integration-testing/src/lib.rs
Labels: arrow

#1683 Use bytes in parquet rather than custom Buffer implementation (#1474)
  parquet/Cargo.toml
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/column/reader.rs
  parquet/src/column/writer.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding.rs
  parquet/src/encodings/levels.rs
  parquet/src/util/memory.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet, api-change

#1689 support duration in ffi
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/datatypes/ffi.rs
  arrow/src/ffi.rs
Labels: arrow

#1685 fix bench command line options
  arrow/Cargo.toml
  parquet/Cargo.toml
Labels: parquet, arrow

#1349 Add `async` into doc features
  parquet/Cargo.toml
  parquet/src/arrow/mod.rs
Labels: parquet

#1696 Fix docs.rs build
  parquet/Cargo.toml
  parquet/src/arrow/mod.rs
Labels: parquet

#1682 Fix Parquet Arrow Schema Inference
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/schema.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/primitive.rs
  parquet/src/errors.rs
Labels: parquet, arrow, api-change

#1684 Speed up the offsets checking
  arrow/Cargo.toml
  arrow/benches/array_data_validate.rs
  arrow/src/array/data.rs
Labels: arrow

#1704 Fix: Null buffer accounts for `offset` in `substring` kernel.
  arrow/src/compute/kernels/substring.rs
Labels: arrow

#1702 Minor: Refine `OffsetSizeTrait` to extend `num::Integer`
  arrow/src/array/array_list.rs
Labels: arrow

#1703 Add type ids in Union datatype
  arrow/src/array/array.rs
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal/union.rs
  arrow/src/array/equal/utils.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ipc/convert.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  arrow/src/util/display.rs
  arrow/src/util/pretty.rs
  integration-testing/src/lib.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
  parquet/src/arrow/schema.rs
Labels: parquet, arrow, api-change

#1700 Fix StructArrayReader handling nested lists (#1651)
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/map_array.rs
Labels: parquet

#1714 Check the length of `null_bit_buffer` in `ArrayData::try_new()`
  arrow/src/array/data.rs
Labels: arrow

#1713 Fix incorrect null_count in `generate_unions_case` integration test
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
Labels: arrow

#1721 Remove `null_count` from `ArrayData::try_new()`
  arrow/benches/array_data_validate.rs
  arrow/src/array/data.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/util.rs
Labels: arrow, api-change

#1722 Fix BitReader::get_batch zero extension (#1708)
  parquet/src/util/bit_util.rs
Labels: parquet

#1732 `cargo install` installs not globally
  parquet/src/bin/parquet-read.rs
  parquet/src/bin/parquet-rowcount.rs
  parquet/src/bin/parquet-schema.rs
Labels: parquet

#1723 Fix parquet benchmarks
  .github/workflows/rust.yml
  parquet/benches/arrow_reader.rs
Labels: parquet

#1719 Change parquet writers to use standard `std:io::Write` rather custom `ParquetWriter` trait (#1717) (#1163)
  parquet/benches/arrow_writer.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/schema.rs
  parquet/src/column/mod.rs
  parquet/src/column/writer.rs
  parquet/src/data_type.rs
  parquet/src/file/mod.rs
  parquet/src/file/writer.rs
  parquet/src/record/record_writer.rs
  parquet/src/util/cursor.rs
  parquet/src/util/io.rs
  parquet/tests/boolean_writer.rs
  parquet/tests/custom_writer.rs
  parquet_derive/src/lib.rs
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/src/lib.rs
Labels: parquet, api-change, parquet-derive

#1720 Implementation string concat
  arrow/src/compute/kernels/mod.rs
  arrow/src/compute/kernels/string.rs
Labels: arrow

#1736 Fix projection in IPC reader
  arrow/src/ipc/reader.rs
Labels: arrow

#1752 Rename the `string` kernel to `concat_elements`.
  arrow/src/compute/kernels/concat_elements.rs
  arrow/src/compute/kernels/mod.rs
Labels: arrow

#1725 Add `min_binary` and `max_binary` aggregate kernels
  arrow/src/compute/kernels/aggregate.rs
Labels: arrow

#1756 Test for list array equality with different offsets
  arrow/src/array/equal/list.rs
Labels: arrow

#1754 Rename `string_concat` to `concat_elements_utf8`
  arrow/src/compute/kernels/concat_elements.rs
Labels: arrow

#1739 Rewrite `ArrayDataBuilder::null_bit_buffer`
  arrow/examples/builders.rs
  arrow/src/array/array.rs
  arrow/src/array/array_binary.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_map.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
  arrow/src/array/array_struct.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/ffi.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/concat_elements.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/limit.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/util.rs
  arrow/src/ffi.rs
  arrow/src/ipc/reader.rs
  arrow/src/json/reader.rs
  arrow/src/json/writer.rs
  integration-testing/src/lib.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/array_reader/dictionary_buffer.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/array_reader/offset_buffer.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
Labels: parquet, arrow, api-change

#1746 Support writing nested lists to parquet
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
Labels: parquet

#1751 Prepare for arrow 15.0.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1763 Minor: Clean up the code of MutableArrayData
  arrow/src/array/transform/mod.rs
Labels: arrow

#1762 Support reading PageIndex from parquet metadata, prepare for skipping pages at reading
  parquet/src/basic.rs
  parquet/src/data_type.rs
  parquet/src/file/metadata.rs
  parquet/src/file/mod.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/mod.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/util/bit_util.rs
Labels: parquet
