Repository apache/arrow-rs, pull requests merged in 2022-08, with the labels that each got.

#2250 move `FixedSizeList` to `array_fixed_size_list.rs`
  arrow/src/array/array_fixed_size_list.rs
  arrow/src/array/array_list.rs
  arrow/src/array/mod.rs
Labels: arrow

#2254 Add tests for reading nested decimal arrays from parquet
  parquet/src/arrow/arrow_reader.rs
Labels: parquet

#2221 Optimized writing of byte array to parquet (#1764) (2x faster)
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/util/interner.rs
Labels: parquet

#2272 Use initial capacity for interner hashmap
  parquet/src/util/interner.rs
Labels: parquet

#2268 Update prost and tonic related crates
  .github/workflows/rust.yml
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  integration-testing/Cargo.toml
Labels: arrow-flight

#2247 Impl FromIterator for Decimal256Array
  arrow/src/array/array_decimal.rs
Labels: arrow

#2277 Fix bugs in the `from_list` function.
  arrow/src/array/array_binary.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/array_fixed_size_binary.rs
  arrow/src/array/array_string.rs
Labels: arrow

#2275 fix: use signed comparator to compare decimal128 and decimal256
  arrow/src/util/decimal.rs
Labels: arrow

#2251 feat: Implement string cast operations for Time32 and Time64
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2269 Handle symlinks in LocalFileSystem (#2206)
  object_store/src/local.rs
  object_store/src/path/mod.rs
Labels: object-store

#2283 [Minor] Add tests for temporal cast error paths
  arrow/src/compute/kernels/cast.rs
  arrow/src/util/decimal.rs
Labels: arrow

#2260 Improve `object_store crate` documentation
  object_store/Cargo.toml
  object_store/README.md
  object_store/src/aws.rs
  object_store/src/azure.rs
  object_store/src/gcp.rs
  object_store/src/lib.rs
Labels: documentation, object-store

#2287 Fix fmt + Mac CI jobs
  .github/workflows/rust.yml
Labels: arrow, development-process

#2237 Separate ArrayReader::next_batch with read_records and consume_batch
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/complex_object_array.rs
  parquet/src/arrow/array_reader/empty_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#2284 Clean up string casts and improve performance
  arrow/src/compute/kernels/cast.rs
  arrow/src/temporal_conversions.rs
Labels: arrow

#2280 Fix Coverage/Mac/Windows CI
  .github/workflows/rust.yml
Labels: arrow, development-process

#2238 [Minor] Improve Schema metadata mismatch error
  arrow/src/datatypes/mod.rs
  arrow/src/datatypes/schema.rs
Labels: arrow

#2243 Retry GCP requests on server error
  object_store/Cargo.toml
  object_store/src/client/backoff.rs
  object_store/src/client/mod.rs
  object_store/src/client/oauth.rs
  object_store/src/client/retry.rs
  object_store/src/client/token.rs
  object_store/src/gcp.rs
  object_store/src/lib.rs
Labels: object-store

#2289 Replace the `fn get_data_type` by `const DATA_TYPE` in BinaryArray and StringArray
  arrow/src/array/array_binary.rs
  arrow/src/array/array_string.rs
  arrow/src/array/builder/generic_binary_builder.rs
  arrow/src/compute/kernels/concat_elements.rs
  arrow/src/compute/kernels/substring.rs
  arrow/src/compute/kernels/take.rs
Labels: arrow

#2295 [Minor] Improve types shown in cast error messages
  arrow/src/compute/kernels/cast.rs
Labels: arrow

#2258 Fix escaped like wildcards in `like_utf8` / `nlike_utf8` kernels
  arrow/Cargo.toml
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2305 Add Target Feature Recommendations to Arrow Crate Docs
  arrow/src/lib.rs
Labels: arrow, development-process

#2278 Add unpack8, unpack16, unpack64 (#2276) ~10-50% faster
  parquet/Cargo.toml
  parquet/src/util/bit_pack.rs
  parquet/src/util/bit_packing.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/mod.rs
Labels: parquet

#2299 Remove test_utils from default features (#2298)
  arrow/Cargo.toml
  arrow/examples/dynamic_types.rs
  arrow/src/csv/writer.rs
  arrow/src/util/mod.rs
Labels: arrow, api-change

#2292 Move `with_precision_and_scale` to `BasicDecimalArray` trait
  arrow/src/array/array_decimal.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/transform/mod.rs
  arrow/src/ffi.rs
  arrow/src/util/pretty.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet, arrow

#2314 fix: IPC writer should truncate string array with all empty string
  arrow/src/ipc/writer.rs
Labels: arrow

#2307 Speedup take_boolean / take_bits for non-null indices (~4 - 5x speedup)
  arrow/src/compute/kernels/take.rs
Labels: arrow

#2303 Make FFI support optional, change APIs to be `safe` (#2302)
  .github/workflows/arrow.yml
  arrow/Cargo.toml
  arrow/src/array/array.rs
  arrow/src/array/ffi.rs
  arrow/src/array/mod.rs
  arrow/src/buffer/immutable.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ffi.rs
  arrow/src/lib.rs
Labels: arrow, api-change

#2214 CI: Only run coverage jobs on master
  .github/workflows/coverage.yml
  .github/workflows/rust.yml
Labels: development-process

#2317 Remove JsonEqual
  arrow/src/array/array.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/mod.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  arrow/src/temporal_conversions.rs
  arrow/src/util/integration_util.rs
  integration-testing/src/bin/arrow-json-integration-test.rs
  integration-testing/src/lib.rs
  parquet/src/arrow/arrow_reader.rs
Labels: parquet, arrow

#2309 Pass pull `Request<FlightDescriptor>` to `FlightSqlService` `impl`s
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/server.rs
Labels: parquet, arrow-flight, parquet-derive

#2319 Increase DeltaBitPackEncoder miniblock size to 64 for 64-bit integers (#2282)
  parquet/src/encodings/encoding/mod.rs
Labels: parquet

#2324 [Minor] Improve arrow and parquet READMEs, document parquet feature flags
  arrow/README.md
  arrow/src/compute/README.md
  arrow/src/lib.rs
  parquet/README.md
  parquet/src/lib.rs
Labels: documentation, parquet, arrow

#2329 fix: Fix skip error in calculate_row_count.
  parquet/src/file/serialized_reader.rs
  parquet/src/util/page_util.rs
Labels: parquet

#2297 Add typed dictionary (#2136)
  arrow/src/array/array_dictionary.rs
  arrow/src/array/mod.rs
Labels: arrow

#2330 [Minor] Misc cleanup docs and uneeded test `use
  arrow/README.md
  parquet/src/util/bit_pack.rs
Labels: parquet, arrow, development-process

#2322 Improve speed of writing string dictionaries to parquet by skipping a copy(#1764)
  arrow/src/array/array_dictionary.rs
  arrow/src/util/data_gen.rs
  parquet/benches/arrow_writer.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, performance

#2334 MINOR: remove unused comment_bot.yml from CI scripts
  .github/workflows/comment_bot.yml
Labels: development-process

#2333 MINOR: make capitalization of CI job names consistent
  .github/workflows/cancel.yml
  .github/workflows/coverage.yml
  .github/workflows/dev.yml
  .github/workflows/dev_pr.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/rust.yml
Labels: development-process

#2326 temporal conversion functions should work on negative input properly
  arrow/src/temporal_conversions.rs
Labels: arrow

#2327 Add more const evaluation for `GenericBinaryArray` and `GenericListArray`: add `PREFIX` and data type constructor
  arrow/src/array/array_binary.rs
  arrow/src/array/array_list.rs
  arrow/src/array/array_string.rs
  arrow/src/array/builder/generic_list_builder.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/util.rs
  arrow/src/ffi.rs
  parquet/src/arrow/array_reader/list_array.rs
Labels: parquet, arrow, api-change

#2323 Update version to `20.0.0` and update `CHANGELOG`
  .github_changelog_generator
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2340 Fix cargo publish ( can't find `dynamic_types` example at `examples/dynamic_types.rs` or `examples/dynamic_types/main.rs`)
  arrow/Cargo.toml
Labels: arrow

#2332 Make skip_records in complex_object_array can skip cross row groups
  parquet/src/arrow/array_reader/complex_object_array.rs
Labels: parquet

#2315 Integrate Record Skipping into Column Reader Fuzz Test
  parquet/src/arrow/arrow_reader.rs
Labels: parquet

#2354 Fix Copy from percent-encoded path (#2353)
  object_store/src/aws.rs
  object_store/src/azure.rs
  object_store/src/lib.rs
Labels: object-store

#2347 Add API to change timezone for timestamp array
  arrow/src/array/array_primitive.rs
Labels: arrow

#2344 Make ring optional and cleanup tests
  object_store/Cargo.toml
  object_store/src/aws.rs
  object_store/src/azure.rs
  object_store/src/gcp.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/throttle.rs
Labels: development-process, object-store

#2359 Combine multiple selections into the same batch size in skip_records
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/record_reader/mod.rs
Labels: parquet

#2356 Relax path validation (#2355)
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/path/mod.rs
  object_store/src/path/parts.rs
Labels: object-store

#2336 Add ObjectStore::get_ranges (#2293)
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/throttle.rs
  object_store/src/util.rs
Labels: object-store

#2363 refactor: Group metrics into page and column metrics structs
  parquet/src/column/writer/mod.rs
Labels: parquet

#2366 Remove get_byte_ranges where bound
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2367 Fix object_store lint
  .github/workflows/object_store.yml
  object_store/src/util.rs
Labels: object-store

#2380 Remove deprecated ParquetWriter
  parquet/src/file/writer.rs
  parquet/src/util/io.rs
Labels: parquet

#2378 Remove deprecated SliceableCursor and InMemoryWriteableCursor
  parquet/src/file/serialized_reader.rs
  parquet/src/util/cursor.rs
  parquet/src/util/mod.rs
Labels: parquet

#2377 Fix parquet clippy lints (#1254)
  .github/workflows/parquet.yml
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/buffer/converter.rs
  parquet/src/arrow/buffer/dictionary_buffer.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/arrow/schema.rs
  parquet/src/basic.rs
  parquet/src/bin/parquet-fromcsv.rs
  parquet/src/bin/parquet-read.rs
  parquet/src/bin/parquet-schema.rs
  parquet/src/column/page.rs
  parquet/src/column/reader.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/compression.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/encodings/levels.rs
  parquet/src/encodings/rle.rs
  parquet/src/errors.rs
  parquet/src/file/metadata.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/mod.rs
  parquet/src/file/page_index/range.rs
  parquet/src/file/properties.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/lib.rs
  parquet/src/record/reader.rs
  parquet/src/record/triplet.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/io.rs
  parquet/src/util/test_common/mod.rs
  parquet/src/util/test_common/page_util.rs
  parquet/src/util/test_common/rand_gen.rs
Labels: parquet

#2364 refactor: Make read_num_bytes a function instead of a macro
  parquet/src/column/reader.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/levels.rs
  parquet/src/util/bit_util.rs
Labels: parquet

#2383 Rewrite `Decimal` and `DecimalArray` using `const_generic`
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/iterator.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/csv/reader.rs
  arrow/src/ffi.rs
  arrow/src/util/decimal.rs
  arrow/src/util/display.rs
  arrow/src/util/integration_util.rs
  arrow/src/util/pretty.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet, arrow

#2371 Canonicalize filesystem paths in user-facing APIs (#2370)
  object_store/src/local.rs
  object_store/src/path/mod.rs
Labels: object-store

#2389 MINOR: Remove unused trait and some cleanup
  arrow/src/array/array_decimal.rs
  arrow/src/util/decimal.rs
Labels: arrow

#2376 Cast between `Decimal128` and `Decimal256` arrays
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/data.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/util/decimal.rs
Labels: arrow

#2392 object_store: Update version to `0.4.0`, initial release scripts, CHANGELOG for `0.4.0` release
  dev/release/README.md
  object_store/.github_changelog_generator
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/README.md
  object_store/dev/release/create-tarball.sh
  object_store/dev/release/release-tarball.sh
  object_store/dev/release/update_change_log.sh
  object_store/dev/release/verify-release-candidate.sh
Labels: development-process, object-store

#2345 Clean the code in `field.rs` and add more tests
  arrow/src/datatypes/field.rs
Labels: arrow

#2368 Implement AsyncFileReader for `Box<dyn AsyncFileReader>`
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2398 Minor: Remove dead code in `verify_release_candidate.sh`
  dev/release/verify-release-candidate.sh
Labels: development-process

#2404 Fix DoPutUpdateResult
  arrow-flight/src/sql/server.rs
Labels: arrow-flight

#2400 Tweak object_store changelog
  object_store/CHANGELOG.md
Labels: object-store

#2391 fix: Don't instantiate the scalar composition code quadratically for dictionaries
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2401 Use correct tags when generating changelogs, fix release tarball typo
  dev/release/update_change_log.sh
  object_store/dev/release/README.md
  object_store/dev/release/release-tarball.sh
  object_store/dev/release/update_change_log.sh
Labels: development-process, object-store

#2386 Decouple parquet fuzz tests from converter (#1661)
  parquet/src/arrow/arrow_reader.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet

#2411 test: add test for reading decimal value from primitive array reader
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet

#2415 Fix clippy lints (#2414)
  arrow-flight/src/lib.rs
  arrow/src/compute/kernels/zip.rs
  arrow/src/json/reader.rs
  object_store/src/lib.rs
  parquet/src/basic.rs
  parquet/src/errors.rs
  parquet/src/file/page_encoding_stats.rs
  parquet/src/file/properties.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/schema/types.rs
Labels: parquet, arrow, arrow-flight, development-process, object-store

#2335 Add Parquet RowFilter API
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_reader/filter.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2399 Improve markdown format CI check to show diff
  .github/workflows/dev.yml
Labels: development-process

#2410 Upgrade ahash to 0.8
  arrow/Cargo.toml
  arrow/src/array/builder/string_dictionary_builder.rs
  parquet/Cargo.toml
  parquet/src/util/interner.rs
Labels: parquet, arrow

#2360 Speed up `Decimal256` validation based on bytes comparison and add benchmark test
  arrow/Cargo.toml
  arrow/benches/decimal_validate.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/data.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/util/decimal.rs
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet, arrow

#2393 Implement Skip for DeltaBitPackDecoder
  parquet/benches/arrow_reader.rs
  parquet/src/encodings/decoding.rs
Labels: parquet

#2407 Support peek_next_page and skip_next_page in InMemoryPageReader
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet

#2428 refactor: refine validation for decimal128 array
  arrow/benches/decimal_validate.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/data.rs
  arrow/src/csv/reader.rs
  arrow/src/datatypes/datatype.rs
Labels: arrow

#2405 Make the API of `fn Decimal:new` be consistent with `fn Decimal:try_new_bytes` and add length bound for `Decimal::raw_value`
  arrow/src/array/array_decimal.rs
  arrow/src/util/decimal.rs
Labels: arrow, api-change

#2432 Fix the compiling failure caused by the logical merge conflict
  arrow/src/datatypes/datatype.rs
Labels: arrow, development-process

#2422 Test non-annotated repeated fields (#2394)
  parquet/src/arrow/schema.rs
Labels: parquet

#2413 Add validation logic for StructBuilder::finish
  arrow/src/array/builder/struct_builder.rs
Labels: arrow

#2374 feat: add token provider authorization to azure store
  .gitignore
  object_store/Cargo.toml
  object_store/src/azure.rs
Labels: object-store

#2438 decimal benchmark: arrow reader decimal from parquet int32 and int64
  parquet/benches/arrow_reader.rs
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet

#2424 Benchmark of casting decimal arrays
  arrow/benches/cast_kernels.rs
Labels: arrow

#2443 Minor: Move From trait for Decimal256 impl to decimal.rs
  arrow/src/array/array_decimal.rs
  arrow/src/util/decimal.rs
Labels: arrow

#2436 MINOR: Simplify `split_second` function
  arrow/src/temporal_conversions.rs
Labels: arrow

#2381 Simplify BitReader (~5-10% faster)
  parquet/src/util/bit_util.rs
Labels: parquet

#2352 Replace rusoto with custom implementation for AWS (#2176)
  .github/workflows/object_store.yml
  object_store/Cargo.toml
  object_store/src/aws.rs
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
  object_store/src/azure.rs
  object_store/src/client/mod.rs
  object_store/src/client/pagination.rs
  object_store/src/client/token.rs
  object_store/src/gcp.rs
  object_store/src/lib.rs
  object_store/src/multipart.rs
Labels: object-store

#2452 Support RowFilter within ParquetRecordBatchReader (#2431)
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2456 Utf8array casting
  arrow/src/compute/kernels/cast.rs
  arrow/src/datatypes/datatype.rs
Labels: arrow

#2461 MINOR: Clean the `Schema`
  arrow/src/datatypes/schema.rs
Labels: arrow

#2458 support time32/time64 comparison
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2450 benchmark: decimal builder and vec to decimal array
  arrow/benches/array_from_vec.rs
  arrow/benches/builder.rs
Labels: arrow

#2464 Push ChunkReader into SerializedPageReader (#2463)
  parquet/src/column/writer/mod.rs
  parquet/src/file/reader.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/util/mod.rs
  parquet/src/util/page_util.rs
Labels: parquet, api-change

#2468 remove len field from StructBuilder
  arrow/src/array/builder/struct_builder.rs
Labels: arrow

#2473 Use OffsetIndex to prune IO with RowSelection
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/column/page.rs
  parquet/src/file/page_index/index_reader.rs
Labels: parquet

#2446 Collocate Decimal Array Validation Logic
  arrow/src/array/array_decimal.rs
Labels: arrow

#2467 Make Parquet reader filter APIs public (#1792)
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#2478 Add ChunkReader::get_bytes
  parquet/src/arrow/async_reader.rs
  parquet/src/file/footer.rs
  parquet/src/file/reader.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#2479 Remove Position trait (#1163)
  parquet/src/util/io.rs
Labels: parquet

#2471 Remove unnecessary Option from Int96
  parquet/src/data_type.rs
  parquet/src/encodings/encoding/mod.rs
Labels: parquet

#2442 Revise FromIterator for Decimal128Array to use Into instead of Borrow
  arrow/src/array/array_decimal.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/ord.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet, arrow, api-change

#2486 remove byteorder dependency from parquet
  parquet/Cargo.toml
  parquet/src/data_type.rs
  parquet/src/file/footer.rs
  parquet/src/file/statistics.rs
  parquet/src/file/writer.rs
Labels: parquet

#2460 Support skip_page missing OffsetIndex Fallback in SerializedPageReader
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#2494 Fix master
  arrow/benches/array_from_vec.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet, arrow, development-process

#2497 Fix master
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet, development-process

#2466 Return structured ColumnCloseResult (#2465)
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change

#2495 Derive Copy,Clone for BasicDecimal
  arrow/benches/array_from_vec.rs
  arrow/src/util/decimal.rs
Labels: arrow

#2499 mention object-store in front page doc
  README.md
Labels: development-process

#2482 parquet-read: add support to read parquet data from stdin
  parquet/src/bin/parquet-read.rs
Labels: parquet

#2477 RFC: Simplify decimal (#2440)
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/iterator.rs
  arrow/src/array/mod.rs
  arrow/src/datatypes/types.rs
  arrow/src/util/decimal.rs
Labels: arrow

#2498 Add API to Retrieve Finished Writer from Parquet Writer
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#2500 Fix `MapArrayReader` (#2484) (#1699) (#1561)
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/map_array.rs
Labels: parquet

#2504 Fix bug in page skipping
  parquet/src/file/serialized_reader.rs
Labels: parquet

#2483 Prepare for release `21.0.0` -- update version and CHANGELOG.md
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#2506 Fix verify_release.sh script to run rustfmt in each crate individually
  dev/release/verify-release-candidate.sh
Labels: development-process

#2511 Avoid large over allocate buffer in sync reader
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#2520 remove len field from MapBuilder
  arrow/src/array/builder/map_builder.rs
Labels: arrow

#2510 Avoid useless memory copies in IPC reader.
  arrow/src/ipc/compression/codec.rs
  arrow/src/ipc/reader.rs
Labels: arrow

#2508 Refactor boolean kernels to use same codebase
  arrow/src/buffer/ops.rs
  arrow/src/compute/kernels/boolean.rs
Labels: arrow

#2488 refactoring union builder apis
  arrow/src/array/array_union.rs
  arrow/src/array/builder/union_builder.rs
  arrow/src/array/equal/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/ipc/reader.rs
  arrow/src/ipc/writer.rs
  arrow/src/util/pretty.rs
Labels: arrow

#2516 Refactor FixedSizeBinaryBuilder Constructors
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/fixed_size_binary_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/equal/mod.rs
  arrow/src/util/integration_util.rs
  arrow/src/util/pretty.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet, arrow, api-change

#2521 Improve performance of `%pat%` (>3x speedup)
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2515 Refactor BooleanBuilder Constructors
  arrow/benches/builder.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/builder/boolean_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/data.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/json/reader.rs
  arrow/src/util/integration_util.rs
Labels: arrow, api-change

#2514 Replace macro with TypedDictionaryArray in comparison kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2531 Add iterator for FixedSizeBinaryArray
  arrow/src/array/array_binary.rs
  arrow/src/array/array_fixed_size_binary.rs
  arrow/src/array/iterator.rs
Labels: arrow

#2526 Use offset index in ParquetRecordBatchStream
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/column/reader.rs
  parquet/src/file/page_index/index_reader.rs
Labels: parquet

#2537 [MINOR]Avoid large over allocate buffer in async reader
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader.rs
Labels: parquet

#2525 Clean the `create_array` in IPC reader.
  arrow/src/ipc/reader.rs
Labels: arrow

#2505 More record skipping fuzz tests
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet, development-process

#2527 Split out byte array decoders (#2318)
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/decoder/delta_byte_array.rs
  parquet/src/arrow/decoder/dictionary_index.rs
  parquet/src/arrow/decoder/mod.rs
  parquet/src/arrow/mod.rs
Labels: parquet

#2517 Refactoring DecimalBuilder constructors
  arrow/benches/builder.rs
  arrow/benches/cast_kernels.rs
  arrow/benches/decimal_validate.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/builder/fixed_size_binary_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/mod.rs
  arrow/src/csv/reader.rs
  arrow/src/util/integration_util.rs
Labels: arrow, api-change

#2536 Build AmazonS3builder from environment variables (#2361)
  object_store/src/aws/mod.rs
Labels: object-store

#2533 Compare dictionary with primitive array in `eq_dyn` and `neq_dyn`
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2532 Decimal precision scale datatype change
  arrow/benches/cast_kernels.rs
  arrow/src/array/array_decimal.rs
  arrow/src/array/builder/decimal_builder.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/csv/reader.rs
  arrow/src/datatypes/datatype.rs
  arrow/src/datatypes/ffi.rs
  arrow/src/datatypes/types.rs
  arrow/src/ipc/convert.rs
  arrow/src/util/decimal.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/buffer/converter.rs
  parquet/src/arrow/schema.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet, arrow, api-change

#2492 Add unsigned primitive parquet tests
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet, development-process

#2539 Compare dictionary array and primitive array in lt_dyn, lt_eq_dyn, gt_dyn, gt_eq_dyn kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2522 Remove DecimalByteArrayConvert (#2480)
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/buffer/bit_util.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet

#2546 MINOR: Fix test_row_type_validation test
  arrow/src/json/reader.rs
Labels: arrow

#2481 Remove Int96Converter (#2480)
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/buffer/converter.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/data_type.rs
  parquet/src/record/triplet.rs
Labels: parquet

#2555 Add test for float nan comparison
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2553 Update environment variable name for amazonS3builder in integration (#2550)
  .github/workflows/object_store.yml
  object_store/src/aws/mod.rs
Labels: object-store

#2554 Fix panic in `object_store::util::coalesce_ranges`
  object_store/src/util.rs
Labels: object-store

#2545 Fix ilike_utf8_scalar kernals
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#2518 Refactor PrimitiveBuilder Constructors
  arrow/benches/builder.rs
  arrow/benches/string_dictionary_builder.rs
  arrow/benches/take_kernels.rs
  arrow/examples/builders.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/builder/buffer_builder.rs
  arrow/src/array/builder/fixed_size_list_builder.rs
  arrow/src/array/builder/generic_list_builder.rs
  arrow/src/array/builder/map_builder.rs
  arrow/src/array/builder/mod.rs
  arrow/src/array/builder/primitive_builder.rs
  arrow/src/array/builder/primitive_dictionary_builder.rs
  arrow/src/array/builder/string_dictionary_builder.rs
  arrow/src/array/builder/struct_builder.rs
  arrow/src/array/data.rs
  arrow/src/array/equal/list.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/compute/kernels/temporal.rs
  arrow/src/json/reader.rs
  arrow/src/util/integration_util.rs
  arrow/src/util/pretty.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/converter.rs
Labels: parquet, arrow

#2547 Always validate the array data (except the `Decimal`) when creating array in IPC reader
  arrow/src/ipc/reader.rs
Labels: arrow

#2557 Add the `length` field for Buffer and use more `Buffer` in IPC reader to avoid memory copy.
  arrow-flight/src/utils.rs
  arrow/src/buffer/immutable.rs
  arrow/src/ipc/reader.rs
  integration-testing/src/flight_client_scenarios/integration_test.rs
  integration-testing/src/flight_server_scenarios/integration_test.rs
Labels: arrow, arrow-flight
