Repository apache/arrow-rs, pull requests merged in 2022-02, with the labels that each got.

#1214 Batch multiple records in ArrowWriter
  arrow/src/util/pretty.rs
  parquet/Cargo.toml
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/levels.rs
  parquet/src/file/properties.rs
Labels: parquet, arrow, api-change

#1256 Add dependabot
  .github/dependabot.yml
Labels: development-process

#1228 Faster bitmask iteration
  arrow/src/buffer/immutable.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/util/bit_chunk_iterator.rs
  parquet/src/arrow/bit_util.rs
Labels: parquet, arrow

#1253 Update parquet crate documentation and examples
  parquet/src/arrow/async_reader.rs
  parquet/src/arrow/mod.rs
  parquet/src/lib.rs
Labels: documentation, parquet, arrow

#1262 Remove unsupported flag in rustfmt.toml
  rustfmt.toml
Labels: development-process

#1261 Upgrade clap to 3.0.0
  integration-testing/Cargo.toml
  integration-testing/src/bin/arrow-file-to-stream.rs
  integration-testing/src/bin/arrow-json-integration-test.rs
  integration-testing/src/bin/flight-test-integration-client.rs
  integration-testing/src/bin/flight-test-integration-server.rs
  integration-testing/src/flight_client_scenarios/auth_basic_proto.rs
  integration-testing/src/flight_client_scenarios/integration_test.rs
  integration-testing/src/flight_client_scenarios/middleware.rs
  integration-testing/src/flight_server_scenarios.rs
  integration-testing/src/flight_server_scenarios/auth_basic_proto.rs
  integration-testing/src/flight_server_scenarios/integration_test.rs
  integration-testing/src/flight_server_scenarios/middleware.rs
  parquet/Cargo.toml
  parquet/src/bin/parquet-read.rs
  parquet/src/bin/parquet-rowcount.rs
  parquet/src/bin/parquet-schema.rs
Labels: parquet

#1265 Prepare for 9.0.0 release: Update version + CHANGELOG
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/README.md
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1271 Make rle decoder public
  parquet/src/encodings/mod.rs
  parquet/src/lib.rs
Labels: parquet

#1268 Fix warnings in `cargo doc`
  arrow/src/array/array_list.rs
  arrow/src/array/array_map.rs
  arrow/src/array/array_union.rs
  arrow/src/array/data.rs
  arrow/src/array/mod.rs
  arrow/src/array/raw_pointer.rs
  arrow/src/array/transform/mod.rs
  arrow/src/bytes.rs
  arrow/src/compute/kernels/partition.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/csv/reader.rs
  arrow/src/datatypes/ffi.rs
  arrow/src/ffi.rs
  parquet/src/arrow/levels.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/file/footer.rs
Labels: parquet, arrow

#1286 Fix simd comparison kernels
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1273 Fix some clippy lints in parquet crate, rename `LevelEncoder` variants to conform to Rust standards
  parquet/src/arrow/record_reader.rs
  parquet/src/arrow/schema.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding.rs
  parquet/src/encodings/levels.rs
  parquet/src/encodings/rle.rs
  parquet/src/file/writer.rs
  parquet/src/lib.rs
  parquet/src/record/api.rs
  parquet/src/record/reader.rs
  parquet/src/schema/printer.rs
  parquet/src/schema/types.rs
Labels: parquet, api-change

#1266 Run rustdoc in CI and error if warnings
  .github/workflows/rust.yml
Labels: development-process

#1280 Skip zero-ing primitive nulls
  parquet/src/arrow/record_reader.rs
  parquet/src/arrow/record_reader/buffer.rs
Labels: parquet

#1223 `DecimalArray` API ergonomics: add iter(), create from iter(), change precision / scale
  arrow/src/array/array_binary.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/csv/reader.rs
  arrow/src/datatypes/datatype.rs
Labels: arrow

#1290 Fix bitmask creation also for simd comparisons with scalar
  arrow/src/compute/kernels/comparison.rs
Labels: arrow

#1248 Specialized filter kernels
  arrow/benches/filter_kernels.rs
  arrow/src/compute/kernels/filter.rs
  arrow/src/util/bench_util.rs
Labels: parquet, arrow

#1293 Fix failing csv_writer bench
  arrow/benches/csv_writer.rs
Labels: arrow

#1297 Fix test_unaligned_bit_chunk_iterator
  arrow/src/util/bit_chunk_iterator.rs
Labels: arrow

#1303 arrow: enable clippy::vec_init_then_push lint
  arrow/src/array/array_struct.rs
  arrow/src/array/array_union.rs
  arrow/src/array/builder.rs
  arrow/src/compute/kernels/limit.rs
  arrow/src/lib.rs
Labels: arrow

#1247 Use new DecimalArray creation API in parquet crate
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/arrow_writer.rs
  parquet/src/arrow/converter.rs
Labels: parquet, arrow

#1305 Enable clippy::float_equality_without_abs lint
  arrow/src/array/array_union.rs
  arrow/src/compute/kernels/aggregate.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/csv/reader.rs
  arrow/src/json/reader.rs
  arrow/src/lib.rs
Labels: arrow

#1284 Vectorized DeltaBitPackDecoder (#1281)
  parquet/Cargo.toml
  parquet/benches/arrow_reader.rs
  parquet/src/encodings/decoding.rs
  parquet/src/util/bit_util.rs
Labels: parquet

#1310 Enable clippy::type_complexity
  arrow/src/array/equal/mod.rs
  arrow/src/compute/kernels/length.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/lib.rs
Labels: arrow

#1309 Expose has bloom offset
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/schema/printer.rs
Labels: parquet

#1249 Use new DecimalArray creation API in arrow crate
  arrow/src/array/array_binary.rs
  arrow/src/array/equal/mod.rs
  arrow/src/array/equal_json.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/kernels/sort.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/ffi.rs
  arrow/src/util/pretty.rs
Labels: arrow

#1296 Implement an iterator for DictionaryArray
  arrow/src/array/array_binary.rs
  arrow/src/array/array_boolean.rs
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/array_string.rs
Labels: arrow

#1320 fix test bug and ensure that bloom filter metadata is serialized in `to_thrift`
  parquet/src/file/metadata.rs
Labels: parquet

#1318 Expose column index and offset index
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/schema/printer.rs
Labels: parquet

#1324 Fix clippy lint `dead_code`
  arrow/src/array/array_dictionary.rs
  arrow/src/array/array_primitive.rs
  arrow/src/array/builder.rs
  arrow/src/array/data.rs
  arrow/src/array/transform/mod.rs
  arrow/src/compute/kernels/cast.rs
  arrow/src/compute/util.rs
  arrow/src/csv/reader.rs
  arrow/src/csv/writer.rs
  arrow/src/ffi.rs
  arrow/src/ipc/writer.rs
  arrow/src/lib.rs
Labels: arrow

#1331 Cleanup: remove some dead / test only code
  arrow/src/array/data.rs
  arrow/src/compute/util.rs
Labels: arrow, development-process

#1314 Clean up `DictionaryArray` construction in test
  arrow/src/array/array_dictionary.rs
Labels: arrow, development-process

#1336 Update the document of function `MutableArrayData::extend`
  arrow/src/array/transform/mod.rs
Labels: arrow

#1325 Update versions and CHANGELOG for 9.1.0 release
  CHANGELOG.md
  arrow-flight/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  arrow/test/dependency/default-features/Cargo.toml
  arrow/test/dependency/no-default-features/Cargo.toml
  arrow/test/dependency/simd/Cargo.toml
  dev/release/update_change_log.sh
  integration-testing/Cargo.toml
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive/test/dependency/default-features/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#1334 `ArrowArray::try_from_raw` should not assume the pointers are from Arc
  arrow/src/ffi.rs
Labels: arrow

#1343 Refactor `Bitmap::new`
  arrow/src/bitmap.rs
Labels: arrow

#1345 Remove redundant has_ methods for optional column metadata fields
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#1358 fix: add LargeUtf8 support in json writer
  arrow/src/json/writer.rs
Labels: arrow

#1347 Add with_datetime_format to csv WriterBuilder
  arrow/src/csv/writer.rs
Labels: arrow

#1360 Refactor `StructArray::from`
  arrow/src/array/array_struct.rs
Labels: arrow

#1341 Make bounds configurable in csv ReaderBuilder
  arrow/src/csv/reader.rs
Labels: arrow

#1355 Publicly export arrow::array::MapBuilder
  arrow/src/array/mod.rs
Labels: arrow

#1342 Remove delimiter from csv Writer
  arrow/src/csv/writer.rs
Labels: arrow

#1363 Fix clippy lints
  arrow/src/array/array_dictionary.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/take.rs
  arrow/src/datatypes/field.rs
  arrow/src/datatypes/schema.rs
  arrow/src/ipc/convert.rs
  arrow/src/json/reader.rs
  arrow/src/record_batch.rs
  parquet/src/arrow/array_reader.rs
  parquet/src/arrow/levels.rs
  parquet/src/util/cursor.rs
Labels: parquet, arrow

#1330 Use DictionaryArray's iterator in `compare_dict_op`
  arrow/src/compute/kernels/comparison.rs
Labels: arrow
