Repository apache/arrow-rs, pull requests merged in 2022-12, with the labels that each got.

#3248 Don't recurse to children in ArrayData::try_new
  arrow-data/src/data.rs
  arrow/tests/array_validation.rs
Labels: arrow

#3249 update `&Option<T>` to `Option<&T>`
  arrow-cast/src/cast.rs
  arrow-ipc/src/compression.rs
  arrow-ipc/src/writer.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/metadata.rs
  parquet/tests/arrow_writer_layout.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet, arrow, api-change, parquet-derive

#3234 fix(object_store,aws,gcp): multipart upload enforce size limit of 5 MiB not 5MB
  object_store/CONTRIBUTING.md
  object_store/src/lib.rs
  object_store/src/multipart.rs
Labels: object-store

#3243 Better document implications of offsets (#3228)
  arrow-schema/src/datatype.rs
Labels: arrow

#3252 Add ObjectStore ClientConfig
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/lib.rs
Labels: object-store

#3236 fix(object_store,gcp): test copy_if_not_exist
  object_store/CONTRIBUTING.md
  object_store/src/gcp/mod.rs
Labels: object-store

#3251 Support List and LargeList in Row format (#3159)
  arrow/src/row/list.rs
  arrow/src/row/mod.rs
  arrow/src/row/variable.rs
Labels: arrow

#3256 Add more ClientConfig Options for Object Store RequestBuilder (#3127)
  object_store/src/client/mod.rs
Labels: object-store

#3255 Make arithmetic kernels supports DictionaryArray of DecimalType
  arrow/src/compute/kernels/arithmetic.rs
Labels: arrow

#3258 Add BooleanArray::from_unary and BooleanArray::from_binary
  arrow-array/src/array/boolean_array.rs
  arrow-data/src/bit_mask.rs
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
  arrow/src/compute/kernels/boolean.rs
  arrow/src/compute/kernels/comparison.rs
  arrow/src/compute/kernels/concat_elements.rs
  arrow/src/compute/mod.rs
  arrow/src/compute/util.rs
Labels: arrow

#3253 Update object_store version to 0.5.2 and add CHANGELOG
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#3257 Minor: Remove parquet build script
  parquet/Cargo.toml
  parquet/build.rs
  parquet/src/file/properties.rs
Labels: parquet

#3262 Minor: skip aws integration test if TEST_INTEGRATION is not set
  object_store/src/aws/credential.rs
Labels: object-store

#3224 Get the round result for decimal to a decimal with smaller scale
  arrow-cast/src/cast.rs
Labels: arrow

#3263 Fix panic on nullif empty array (#3261)
  arrow-select/src/nullif.rs
Labels: arrow

#3238 Enable casting between Dictionary of DecimalArray and DecimalArray
  arrow-cast/src/cast.rs
  arrow/tests/array_cast.rs
Labels: arrow

#3264 Simplify decimal cast logic
  arrow-cast/src/cast.rs
Labels: arrow

#3270 Fix decimal cast typo
  arrow-cast/src/cast.rs
Labels: arrow, development-process

#3267 Support casting from Decimal256 to float types
  arrow-cast/src/cast.rs
Labels: arrow

#3244 Loosen nullability restrictions added in #3205 (#3226)
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-cast/src/cast.rs
  arrow-data/src/data.rs
  arrow-select/src/take.rs
  arrow/src/compute/kernels/limit.rs
  arrow/src/row/mod.rs
Labels: arrow

#3269 Add parquet-layout binary
  parquet/Cargo.toml
  parquet/src/bin/parquet-layout.rs
Labels: parquet

#3277 Disable const-random ahash feature on non-WASM (#3271)
  parquet/Cargo.toml
Labels: parquet

#3273 Support casting from unsigned numeric to Decimal256
  arrow-buffer/src/bigint.rs
  arrow-cast/src/cast.rs
Labels: arrow

#3278 Disable getrandom object_store
  object_store/Cargo.toml
Labels: object-store

#3276 fix(ffi): handle null data buffers from empty arrays
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/ffi.rs
Labels: arrow

#3298 Add more comparison benchmarks
  arrow/benches/comparison_kernels.rs
Labels: arrow, development-process

#3293 Skip null buffer when importing FFI ArrowArray struct if no null buffer in the spec
  arrow/src/ffi.rs
Labels: arrow

#3284 Set bloom filter on byte array
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/bloom_filter/mod.rs
Labels: parquet

#3289 Don't use dangling NonNull as sentinel
  arrow-buffer/src/alloc/mod.rs
Labels: arrow

#3303 refactor: Merge similar functions `ilike_scalar` and `nilike_scalar`
  arrow-string/src/like.rs
Labels: arrow

#3315 Update versions to 29.0.0 and update CHANGELOG
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/file_release_pr.sh
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3313 Use take for dictionary like comparisons
  arrow-string/Cargo.toml
  arrow-string/src/like.rs
  arrow/benches/comparison_kernels.rs
Labels: arrow

#3319 Use BufWriter when writing bloom filters and limit tests (#3318)
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/file/properties.rs
Labels: parquet

#3306 Add ASCII fast path for ILIKE scalar (90% faster)
  arrow-array/src/array/byte_array.rs
  arrow-string/src/like.rs
Labels: arrow

#3329 feat(object_store): add PrefixObjectStore
  object_store/src/lib.rs
  object_store/src/prefix.rs
Labels: object-store

#3327 feat(object_store): parse well-known storage urls
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#3335 Update base64 to 0.20
  arrow-flight/Cargo.toml
  object_store/Cargo.toml
  object_store/src/gcp/credential.rs
  parquet/Cargo.toml
Labels: parquet, arrow-flight, object-store

#3334 Update prost-build 0.11.4
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
Labels: arrow-flight

#3281 Support casting from String to Decimal
  arrow-buffer/src/bigint.rs
  arrow-cast/src/cast.rs
Labels: arrow

#3337 Minor: Update release instructions for new crates
  dev/release/README.md
Labels: development-process

#3340 Optimize bulk writing of all blocks of bloom filter
  parquet/src/bloom_filter/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#3339 Add MapArray to pretty print
  arrow-cast/src/display.rs
Labels: arrow

#3342 feat: configure null value in arrow csv writer
  arrow-csv/src/writer.rs
Labels: arrow

#3349 Update AWS SDK
  object_store/Cargo.toml
Labels: object-store

#3352 Fix clippy errors after upgrading rust toolchain
  arrow-array/src/builder/union_builder.rs
  arrow-array/src/types.rs
  arrow-cast/src/cast.rs
  arrow-data/src/data.rs
  arrow-ipc/src/convert.rs
  arrow/src/array/ffi.rs
  arrow/src/compute/kernels/temporal.rs
  arrow/src/util/data_gen.rs
  arrow/src/util/pretty.rs
  arrow/src/util/test_util.rs
  arrow/tests/array_validation.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/async_reader.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/rle.rs
  parquet/src/schema/types.rs
  parquet/src/util/bit_util.rs
Labels: parquet, arrow

#3341 Upstream newline_delimited_stream and ChunkedStore from DataFusion
  object_store/src/chunked.rs
  object_store/src/delimited.rs
  object_store/src/lib.rs
Labels: object-store

#3354 Use ArrayData::ptr_eq in DictionaryTracker
  arrow-ipc/src/writer.rs
Labels: arrow

#3353 Deprecate flight_data_from_arrow_batch
  arrow-flight/src/utils.rs
  arrow-ipc/src/writer.rs
Labels: arrow, arrow-flight

#3355 More clippy lint fixes
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/local.rs
Labels: development-process, object-store

#3357 Add CSV reader benchmark (#3338)
  arrow/Cargo.toml
  arrow/benches/csv_reader.rs
Labels: arrow

#3345 Fix unary_dyn for decimal scalar arithmetic computation
  arrow/src/compute/kernels/arithmetic.rs
  arrow/src/compute/kernels/arity.rs
Labels: arrow

#3365 Add csv-core based reader (#3338)
  arrow-csv/Cargo.toml
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/reader/records.rs
Labels: arrow

#3358 add support for content-type in `ClientOptions`
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/path/mod.rs
Labels: object-store

#3361 Put BufWriter into TrackedWrite
  parquet/benches/arrow_writer.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#3370 Add parquet ObjectStore integration
  object_store/src/lib.rs
  parquet/Cargo.toml
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_reader/store.rs
Labels: parquet, object-store

#3368 Add CSV build_buffered (#3338)
  arrow-csv/src/reader/mod.rs
  arrow/benches/csv_reader.rs
Labels: arrow

#3367 feat: add append_key_value_metadata
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#3359 Use bytes in arrow-flight
  .github/workflows/arrow_flight.yml
  arrow-flight/build.rs
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/src/utils.rs
  arrow-integration-testing/src/flight_client_scenarios/auth_basic_proto.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_client_scenarios/middleware.rs
  arrow-integration-testing/src/flight_server_scenarios.rs
  arrow-integration-testing/src/flight_server_scenarios/auth_basic_proto.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/middleware.rs
Labels: arrow-flight, api-change

#3374 Remove unnecessary flush calls on TrackedWrite
  parquet/src/file/writer.rs
Labels: parquet

#3377 Document all features on docs.rs
  arrow-flight/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
Labels: arrow, arrow-flight

#3376 Infer Parquet JSON Logical and Converted Type as UTF-8
  parquet/src/arrow/schema/mod.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet, api-change

#3372 minor: Improve arrow-flight docs
  arrow-flight/README.md
  arrow-flight/src/lib.rs
  arrow/README.md
Labels: documentation, arrow, arrow-flight

#3382 Add derive for Clone and Debug for `ParquetObjectReader`
  parquet/src/arrow/async_reader/store.rs
Labels: parquet

#3375 Split out arrow-row (#2594)
  .github/workflows/arrow.yml
  .github/workflows/integration.yml
  Cargo.toml
  arrow-ord/src/sort.rs
  arrow-row/Cargo.toml
  arrow-row/src/dictionary.rs
  arrow-row/src/fixed.rs
  arrow-row/src/interner.rs
  arrow-row/src/lib.rs
  arrow-row/src/list.rs
  arrow-row/src/variable.rs
  arrow-schema/src/lib.rs
  arrow/Cargo.toml
  arrow/src/lib.rs
  dev/release/README.md
Labels: arrow

#3385 Update prost-build
  arrow-flight/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
Labels: arrow-flight

#3380 Add HttpStore (#3294)
  .github/workflows/object_store.yml
  object_store/Cargo.toml
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/util.rs
Labels: object-store

#3387 Fix broken FlightSQL example
  .github/workflows/arrow_flight.yml
  arrow-flight/examples/flight_sql_server.rs
Labels: arrow-flight

#3378 Initial Mid-level `FlightClient`
  arrow-flight/src/client.rs
  arrow-flight/src/error.rs
  arrow-flight/src/lib.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/server.rs
Labels: arrow-flight

#3388 Make FlightSQL Support HTTPs
  .github/workflows/arrow_flight.yml
  arrow-flight/Cargo.toml
  arrow-flight/examples/data/ca.pem
  arrow-flight/examples/data/client1.key
  arrow-flight/examples/data/client1.pem
  arrow-flight/examples/data/client_ca.pem
  arrow-flight/examples/data/server.key
  arrow-flight/examples/data/server.pem
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/client.rs
  dev/release/rat_exclude_files.txt
Labels: arrow-flight

#3395 Update quick-xml to 0.27
  object_store/Cargo.toml
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#3403 object_store: update localstack instructions
  object_store/CONTRIBUTING.md
Labels: object-store

#3397 object_store: Flush buffered multipart only during poll_shutdown
  object_store/src/multipart.rs
Labels: object-store

#3404 Ends ParquetRecordBatchStream when polling on StreamState::Error
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#3210 add more integration test for parquet bloom filter round trip tests
  .github/workflows/parquet.yml
  parquet/pytest/pyspark_integration_test.py
  parquet/pytest/requirements.in
  parquet/pytest/requirements.txt
  parquet/pytest/test_parquet_integration.py
  parquet/src/bin/parquet-fromcsv.rs
  parquet/src/bin/parquet-show-bloom-filter.rs
Labels: parquet

#3406 Version 30.0.0 release notes and changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-row/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3391 Implement `RecordBatch` <--> `FlightData` encode/decode + tests
  arrow-flight/Cargo.toml
  arrow-flight/src/client.rs
  arrow-flight/src/decode.rs
  arrow-flight/src/encode.rs
  arrow-flight/src/error.rs
  arrow-flight/src/lib.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/server.rs
  arrow-flight/tests/encode_decode.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
Labels: arrow, arrow-flight

#3420 Add Put and Multipart Put doc examples
  object_store/src/lib.rs
Labels: object-store

#3326 Provide `into_builder` for bytearray
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/primitive_builder.rs
Labels: arrow
