Repository apache/arrow-rs, pull requests merged in 2023-10, with the labels that each got.

#4871 Support Encoding Parquet Columns in Parallel
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#4878 parquet: Read field IDs from Parquet Schema
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet

#4884 Replace lz4 with lz4_flex Allowing Compilation for WASM
  .github/workflows/parquet.yml
  arrow-integration-test/src/lib.rs
  arrow-ipc/Cargo.toml
  arrow-ipc/src/compression.rs
  parquet/Cargo.toml
  parquet/benches/compression.rs
  parquet/src/bin/parquet-fromcsv.rs
  parquet/src/compression.rs
Labels: parquet, arrow

#4885 Support parquet bloom filter length
  parquet/src/bloom_filter/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/writer.rs
  parquet/src/format.rs
  parquet/src/schema/printer.rs
Labels: parquet

#4883 Implement Take for UnionArray
  arrow-select/src/take.rs
Labels: arrow

#4893 Mark OnCloseRowGroup Send
  parquet/src/file/writer.rs
Labels: parquet, api-change

#4894 fix(arrow-json)!: include null fields in schema inference with a type of Null
  arrow-json/src/reader/schema.rs
Labels: arrow, api-change

#4899 Upgrade to Rust 1.73.0
  arrow-row/src/lib.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/buffer/bit_util.rs
  parquet/src/arrow/schema/primitive.rs
  parquet/src/file/properties.rs
Labels: parquet, arrow, object-store

#4904 chore: add csv example
  arrow-csv/examples/README.md
  arrow-csv/examples/csv_calculation.rs
  arrow-csv/test/data/example.csv
Labels: arrow

#4902 feat(schema): allow null fields to be merged with other datatypes
  arrow-schema/src/field.rs
Labels: arrow

#4898 feat: log headers/trailers in flight CLI (+ minor fixes)
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/sql/client.rs
Labels: arrow, arrow-flight, api-change

#4910 fix(csv)!: infer null for empty column.
  arrow-csv/src/reader/mod.rs
  arrow-csv/test/data/init_null_test.csv
Labels: arrow

#4892 Specialize Thrift Decoding (~40% Faster) (#4891)
  parquet/CONTRIBUTING.md
  parquet/Cargo.toml
  parquet/benches/metadata.rs
  parquet/regen.sh
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/bin/parquet-layout.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/file/footer.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/format.rs
  parquet/src/lib.rs
  parquet/src/thrift.rs
Labels: parquet, api-change

#4912 feat: document & streamline flight SQL CLI
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-flight/src/bin/flight_sql_client.rs
Labels: arrow, arrow-flight

#4916 Minor: Clarify rationale for `FlightDataEncoder` API, add examples
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#4915 Cleanup `object_store::retry` client error handling
  object_store/src/client/retry.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4909 Cleanup CSV WriterBuilder, Default to AutoSI Second Precision (#4735)
  arrow-csv/src/writer.rs
  arrow/tests/csv.rs
Labels: arrow

#4896 Add option to `FlightDataEncoder` to always resend batch dictionaries
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#4876 Add AWS presigned URL support
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
  object_store/src/lib.rs
  object_store/src/signer.rs
Labels: object-store

#4911 Support Arbitrary JSON values in JSON Reader (#4905)
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/writer.rs
Labels: arrow

#4931 Add GetOptions::head
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/client/get.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/local.rs
Labels: api-change, object-store

#4929 Allow opting out of request signing (#4927)
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
Labels: object-store

#4928 Default connection and request timeouts of 5 seconds
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4941 Update pyo3 requirement from 0.19 to 0.20
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/pyproject.toml
  arrow/Cargo.toml
Labels: arrow

#4926 Support service_account in ApplicationDefaultCredentials and Use SelfSignedJwt
  .github/workflows/object_store.yml
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4940 Add `FileWriter` schema getter
  arrow-ipc/src/writer.rs
Labels: arrow

#4942 Evaluate null_regex for string type in csv (now such values will be parsed as `Null` rather than `""`)
  arrow-csv/src/reader/mod.rs
Labels: arrow, api-change

#4922 Generate `ETag`s for `InMemory` and `LocalFileSystem` (#4879)
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
Labels: object-store

#4943 Assume Pages Delimit Records When Offset Index Loaded (#4921)
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/column/page.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#4930 Remove Nested async and Fallibility from ObjectStore::list
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/chunked.rs
  object_store/src/client/list.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/tests/get_range_file.rs
Labels: api-change, object-store

#4947 Fix object_store docs
  object_store/src/parse.rs
Labels: development-process, object-store

#4933 Export `SubstraitPlan` structure in arrow_flight::sql (#4932)
  arrow-flight/src/sql/mod.rs
Labels: arrow, arrow-flight

#4938 feat: support parsing for parquet writer option
  parquet/src/basic.rs
  parquet/src/file/properties.rs
Labels: parquet

#4950 Respect ARROW_TEST_DATA in apache-avro tests
  arrow-avro/src/lib.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/reader/mod.rs
Labels: arrow

#4953 Split aws Module
  object_store/src/aws/builder.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/resolve.rs
Labels: development-process, object-store

#4954 Split azure Module
  object_store/src/azure/builder.rs
  object_store/src/azure/mod.rs
Labels: development-process, object-store

#4955 Add module links in docs root
  object_store/src/lib.rs
Labels: object-store

#4957 Temporarily Disable Java Integration Tests
  .github/workflows/integration.yml
Labels: development-process

#4935 Add ObjectMeta::version and GetOptions::version (#4925)
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/client/get.rs
  object_store/src/client/header.rs
  object_store/src/client/list_response.rs
  object_store/src/gcp/client.rs
  object_store/src/http/client.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
Labels: api-change, object-store

#4964 Add SchemaBuilder::remove (#4952)
  arrow-schema/src/fields.rs
  arrow-schema/src/schema.rs
Labels: arrow

#4975 Add arrow_cast::base64 and document usage in arrow_json
  arrow-cast/Cargo.toml
  arrow-cast/src/base64.rs
  arrow-cast/src/lib.rs
  arrow-json/Cargo.toml
  arrow-json/src/lib.rs
Labels: arrow

#4977 Support ImdsManagedIdentityProvider in Azure Functions (#4976)
  object_store/src/azure/credential.rs
Labels: object-store

#4985 feat: support schema change by idx and reverse
  arrow-schema/src/schema.rs
Labels: arrow

#4989 Increase default timeout to 30 seconds
  object_store/src/client/mod.rs
Labels: object-store

#4971 Add MultiPartStore (#4961) (#4608)
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/mod.rs
  object_store/src/lib.rs
  object_store/src/multipart.rs
  object_store/src/signer.rs
Labels: object-store

#4992 Support bucket name with `.` when parsing GCS URL (#4991)
  object_store/src/gcp/builder.rs
  object_store/src/parse.rs
Labels: object-store

#4974 Don't panic on invalid Azure access key (#4972)
  object_store/src/azure/builder.rs
  object_store/src/azure/credential.rs
Labels: api-change, object-store

#4988 Use new integration scripts (#4963)
  .github/workflows/integration.yml
Labels: development-process

#4959 Add `Field::remove()`, `Schema::remove()`, and `RecordBatch::remove_column()` APIs
  arrow-array/src/record_batch.rs
  arrow-schema/src/fields.rs
  arrow-schema/src/schema.rs
Labels: arrow

#4984 Conditional Put (#4879)
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/precondition.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/chunked.rs
  object_store/src/client/header.rs
  object_store/src/client/mod.rs
  object_store/src/client/retry.rs
  object_store/src/client/s3.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/tests/get_range_file.rs
Labels: object-store

#4993 Pushdown list_with_offset for GCS
  object_store/src/gcp/client.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4999 Object tagging (#4754)
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/builder.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/lib.rs
  object_store/src/tags.rs
Labels: object-store

#4997 feat(flight-sql): Allow custom commands in get-flight-info
  arrow-flight/src/sql/server.rs
Labels: arrow, arrow-flight

#4978 Improve object_store docs
  object_store/src/lib.rs
Labels: development-process, object-store

#5006 Simplify datetime conversion
  parquet_derive/src/parquet_field.rs
Labels: development-process, parquet-derive

#5008 Return row count when inferring schema from JSON
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/schema.rs
  arrow-json/src/writer.rs
Labels: arrow, api-change
