Repository apache/arrow-rs, pull requests merged in 2023-04, with the labels that each got.

#3953 Panic instead of discarding nulls converting StructArray to RecordBatch - (#3951)
  arrow-array/src/array/struct_array.rs
  arrow-array/src/record_batch.rs
  arrow/src/ffi_stream.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet, arrow, api-change

#3996 Handle precision overflow when casting from integer to decimal
  arrow-cast/src/cast.rs
Labels: arrow

#3994 Support CAST from Decimal datatype to String
  arrow-cast/src/cast.rs
  arrow/tests/array_cast.rs
Labels: arrow

#4001 Remove js feature from README
  arrow/README.md
Labels: arrow

#3997 feat: add the implementation BitXor to BooleanBuffer
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/ops.rs
Labels: arrow

#4004 Minor: add tests for BooleanBuffer
  arrow-buffer/src/buffer/boolean.rs
Labels: arrow

#4005 Deprecate combine_option_bitmap
  arrow-data/src/bit_mask.rs
  arrow-string/src/concat_elements.rs
Labels: arrow

#4003 feat: support to read/write customized metadata in ipc files
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
Labels: arrow

#3937 feat: add etag for objectMeta
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/client.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
Labels: api-change, object-store

#4006 Cleanup Primitive take
  arrow-select/src/take.rs
Labels: arrow

#4011 Update tonic 0.9.1
  arrow-flight/Cargo.toml
  arrow-flight/gen/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-integration-testing/Cargo.toml
Labels: arrow, arrow-flight, api-change

#3887 feat: Add Commands enum to decode prost messages to strong type
  arrow-flight/Cargo.toml
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
Labels: arrow, arrow-flight

#4013 Minor: Float16Tensor
  arrow/src/tensor.rs
Labels: arrow

#4017 fix: f16::ZERO and f16::ONE are mixed up
  arrow-array/src/arithmetic.rs
Labels: arrow

#4012 Add FlightSQL module docs and links to `arrow-flight` crates
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
Labels: arrow, arrow-flight

#4019 Deprecate Array::data (#3880)
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-cast/src/cast.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-testing/src/bin/arrow-json-integration-test.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-ipc/src/writer.rs
  arrow-row/src/lib.rs
  arrow-select/src/concat.rs
  arrow-select/src/filter.rs
  arrow-select/src/interleave.rs
  arrow-select/src/take.rs
  arrow-select/src/zip.rs
  arrow-string/src/length.rs
  arrow/src/ffi_stream.rs
  arrow/src/pyarrow.rs
  arrow/tests/array_transform.rs
Labels: arrow

#3979 Support Rust structures --> `RecordBatch` by adding `Serde` support to `RawDecoder` (#3949)
  arrow-json/Cargo.toml
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/serializer.rs
  arrow-json/src/raw/tape.rs
  arrow/Cargo.toml
  arrow/src/lib.rs
Labels: arrow

#4026 Add Fields::contains
  arrow-schema/src/field.rs
  arrow-schema/src/fields.rs
  arrow-schema/src/schema.rs
Labels: arrow

#4027 Only require compatible batch schema in ArrowWriter
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#4024 Minor: add methods "is_positive" and "signum" to i256
  arrow-buffer/src/bigint.rs
Labels: arrow

#4028 Add RecordBatch::with_schema
  arrow-array/src/record_batch.rs
Labels: arrow

#4031 Prep for 37.0.0
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  arrow-flight/README.md
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet_derive/README.md
Labels: arrow, arrow-flight, parquet-derive

#4034 Fix timestamp handling in cast kernel (#1936) (#4033)
  arrow-array/src/types.rs
  arrow-cast/src/cast.rs
Labels: arrow, api-change

#4036 Split object_store into separate workspace
  Cargo.toml
  dev/release/create-tarball.sh
  dev/release/verify-release-candidate.sh
  parquet/Cargo.toml
Labels: parquet

#4039 Use reqwest build_split
  object_store/src/aws/credential.rs
  object_store/src/azure/credential.rs
Labels: object-store

#4041 Use BufRead for JSON Schema Inference
  arrow-json/src/reader.rs
Labels: arrow, api-change

#4035 Add get_config_value to AWS/Azure/GCP Builders
  object_store/src/aws/checksum.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4045 Fix sparse union array equality (#4044)
  arrow-data/src/equal/union.rs
  arrow/tests/array_equal.rs
Labels: arrow

#4046 Document Async decoder usage (#4043) (#78)
  arrow-csv/Cargo.toml
  arrow-csv/src/reader/mod.rs
  arrow-json/Cargo.toml
  arrow-json/src/raw/mod.rs
Labels: arrow

#4051 Fix precision loss in Raw JSON decoder (#4049)
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/primitive_array.rs
Labels: arrow

#4048 Add offsets accessors to variable length arrays (#3879)
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
Labels: arrow

#4057 feat: additional data type groups
  arrow-schema/src/datatype.rs
Labels: arrow

#4052 Remove old JSON Reader and Decoder (#3610)
  arrow-json/src/lib.rs
  arrow-json/src/reader.rs
  arrow-json/src/reader/boolean_array.rs
  arrow-json/src/reader/decimal_array.rs
  arrow-json/src/reader/list_array.rs
  arrow-json/src/reader/map_array.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/primitive_array.rs
  arrow-json/src/reader/schema.rs
  arrow-json/src/reader/serializer.rs
  arrow-json/src/reader/string_array.rs
  arrow-json/src/reader/struct_array.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/reader/timestamp_array.rs
  arrow-json/src/writer.rs
  arrow/benches/json_reader.rs
  arrow/src/lib.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#4042 feat: DataType::contains support nested type
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
Labels: arrow

#4055 Add CommandGetXdbcTypeInfo to Flight SQL Server
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight, api-change

#4061 Remove ArrayData from Array (#3880)
  arrow-arith/src/aggregate.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/null_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/record_batch.rs
  arrow-cast/src/cast.rs
  arrow-ipc/src/writer.rs
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-select/src/nullif.rs
  arrow/src/lib.rs
Labels: arrow, api-change

#4070 feat: Prevent UnionArray with Repeated Type IDs
  arrow-schema/src/datatype.rs
  arrow-schema/src/fields.rs
Labels: arrow

#4082 object_store: fix: Incorrect parsing of https Path Style S3 url
  object_store/src/aws/mod.rs
Labels: api-change, object-store

#4079 Improve JSON decoder errors (#4076)
  arrow-json/src/reader/boolean_array.rs
  arrow-json/src/reader/decimal_array.rs
  arrow-json/src/reader/list_array.rs
  arrow-json/src/reader/map_array.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/primitive_array.rs
  arrow-json/src/reader/string_array.rs
  arrow-json/src/reader/struct_array.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/reader/timestamp_array.rs
Labels: arrow

#4085 Store StructArray entries in MapArray
  arrow-array/src/array/map_array.rs
  parquet/src/arrow/arrow_writer/levels.rs
Labels: parquet, arrow, api-change

#4089 [Minor]: Add `Hash` trait to SortOptions.
  arrow-schema/src/lib.rs
Labels: arrow

#4074 Fix Timestamp Numeric Truncation in JSON Reader
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/timestamp_array.rs
Labels: arrow

#4086 Include byte offsets in parquet-layout
  parquet/src/bin/parquet-layout.rs
Labels: parquet

#4084 feat: Support dyn_compare_scalar for Decimal256
  arrow-ord/src/comparison.rs
Labels: arrow

#4063 Relax JSON schema inference generics
  arrow-json/src/reader/schema.rs
Labels: arrow, api-change

#4093 Increase minimum chrono version to 0.4.24
  arrow-array/Cargo.toml
Labels: arrow

#4020 feat: cast from/to interval and duration
  arrow-cast/src/cast.rs
Labels: arrow

#4065 Add ListArray Constructors (#3879)
  arrow-array/src/array/list_array.rs
  arrow-buffer/src/buffer/offset.rs
Labels: arrow

#4068 Add DictionaryArray Constructors (#3879)
  arrow-arith/src/aggregate.rs
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/arity.rs
  arrow-arith/src/temporal.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-flight/src/encode.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/ord.rs
  arrow-ord/src/sort.rs
  arrow-string/src/length.rs
  arrow-string/src/substring.rs
  arrow/src/array/ffi.rs
Labels: arrow, arrow-flight, api-change

#4067 Add PrimitiveArray::try_new (#3879)
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#4097 Use Into<Arc<str>> for PrimitiveArray::with_timezone
  arrow-array/src/array/primitive_array.rs
  arrow-json/src/writer.rs
Labels: arrow, api-change

#4073 Serialize numeric to tape (#4069)
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/serializer.rs
Labels: arrow

#4098 Remove DataType from PrimitiveArray constructors
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/arity.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/primitive_array.rs
Labels: arrow, api-change

#4081 Add ByteArray constructors (#3879)
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/types.rs
Labels: arrow

#4100 Fix Docs Typos
  parquet/src/file/writer.rs
Labels: parquet

#4104 chore: format the test
  arrow-string/src/like.rs
Labels: arrow

#4108 Prepare 38.0.0
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  dev/release/update_change_log.sh
Labels: development-process

#4109 Fix object_store tests with latest aho_corasick
  object_store/src/util.rs
Labels: development-process, object-store

#4088 optimize cast for same decimal type and same scale
  arrow-cast/src/cast.rs
  arrow/benches/cast_kernels.rs
Labels: arrow

#4111 Ignore Field Metadata in equals_datatype for Dictionary, RunEndEncoded, Map and Union
  arrow-schema/src/datatype.rs
Labels: arrow, api-change

#4123 Fix flaky unknown_length_append
  object_store/src/local.rs
Labels: development-process, object-store

#4114 Support NullArray in JSON Reader
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/null_array.rs
Labels: arrow

#4101 feat: set FlightDescriptor on FlightDataEncoderBuilder
  arrow-flight/src/encode.rs
  arrow-flight/tests/encode_decode.rs
Labels: arrow, arrow-flight

#4117 feat: support `Interval` + `Timestamp` and `Interval` + `Date`
  arrow-arith/src/arithmetic.rs
Labels: arrow

#4124 Display the file path in the error message when failed to open credentials file for GCS
  object_store/src/gcp/credential.rs
Labels: object-store

#4120 Retry on Connection Errors
  object_store/Cargo.toml
  object_store/src/client/retry.rs
Labels: object-store

#4116 refactor: construct `StructArray` w/ `FieldRef`
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/record_batch.rs
  arrow-cast/src/pretty.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/writer.rs
  arrow-row/src/lib.rs
  arrow-select/src/concat.rs
  arrow-select/src/take.rs
  arrow/examples/builders.rs
  arrow/examples/dynamic_types.rs
  arrow/src/array/ffi.rs
  arrow/src/ffi.rs
  arrow/tests/array_cast.rs
  arrow/tests/array_transform.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#4140 Return BooleanBuffer from BooleanBufferBuilder
  arrow-arith/src/arithmetic.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/boolean_buffer_builder.rs
  arrow-array/src/builder/boolean_builder.rs
  arrow-array/src/builder/null_buffer_builder.rs
  arrow-integration-test/Cargo.toml
  arrow-json/src/reader/list_array.rs
  arrow-json/src/reader/map_array.rs
  arrow-json/src/reader/struct_array.rs
  arrow-row/src/dictionary.rs
  arrow-select/src/filter.rs
  arrow-select/src/interleave.rs
  arrow-select/src/nullif.rs
  arrow-string/src/like.rs
  arrow-string/src/regexp.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/record_reader/definition_levels.rs
Labels: parquet, arrow, api-change

#4143 chore: clean the code by using `as_primitive`
  arrow-cast/src/cast.rs
Labels: arrow

#4142 Don't Duplicate Offset Index on RowGroupMetadata
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/bin/parquet-index.rs
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet, api-change

#4148 feat: support `bitwise` shift left/right
  arrow-arith/src/bitwise.rs
Labels: arrow

#4144 Better flight SQL example codes
  arrow-flight/examples/flight_sql_server.rs
Labels: arrow, arrow-flight

#4146 Remove Type from NativeIndex
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/index_reader.rs
Labels: parquet, api-change

#4153 InMemory append API
  object_store/src/memory.rs
Labels: object-store

#4151 Cleanup reading page index (#4149) (#4090)
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#4125 Remove deprecated parquet ArrowReader
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/mod.rs
Labels: parquet, api-change

#4128 Make arrow_json::ReaderBuilder method names consistent
  arrow-json/src/reader/mod.rs
Labels: arrow

#4136 Support fixed point multiplication for DictionaryArray of Decimals
  arrow-arith/src/arithmetic.rs
Labels: arrow
