Repository apache/arrow-rs, pull requests merged in 2023-03, with the labels that each got.

#3777 Creates PrimitiveDictionaryBuilder from provided keys and values builders
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#3756 Zero-copy Vec conversion (#3516) (#1176)
  arrow-array/src/array/list_array.rs
  arrow-buffer/src/alloc/mod.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/buffer/scalar.rs
  arrow-buffer/src/bytes.rs
Labels: arrow

#3769 ArrayData Enumeration for Remaining Layouts
  arrow-data/src/data/bytes.rs
  arrow-data/src/data/dictionary.rs
  arrow-data/src/data/list.rs
  arrow-data/src/data/mod.rs
  arrow-data/src/data/primitive.rs
  arrow-data/src/data/run.rs
  arrow-data/src/data/struct.rs
  arrow-data/src/data/types.rs
  arrow-data/src/data/union.rs
Labels: arrow

#3783 Return Buffers from ArrayData::buffers instead of slice (#1799)
  arrow-arith/src/boolean.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/union_array.rs
  arrow-csv/src/reader/mod.rs
  arrow-data/src/data/buffers.rs
  arrow-data/src/data/mod.rs
  arrow-json/src/reader.rs
  arrow-select/src/filter.rs
  arrow-select/src/nullif.rs
  arrow/src/ffi.rs
Labels: arrow, api-change

#3781 Make LocalFileSystem::put atomic (#3780)
  object_store/src/lib.rs
  object_store/src/local.rs
Labels: object-store

#3793 Preallocate buffers for FixedSizeBinary array creation
  arrow-array/src/array/fixed_size_binary_array.rs
Labels: arrow

#3788 refactor: assorted `FlightSqlServiceClient` improvements
  .github/workflows/arrow_flight.yml
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/client.rs
Labels: arrow, arrow-flight, api-change

#3786 minor: make Parquet CLI input args consistent
  parquet/pytest/test_parquet_integration.py
  parquet/src/bin/parquet-read.rs
  parquet/src/bin/parquet-rowcount.rs
  parquet/src/bin/parquet-schema.rs
  parquet/src/bin/parquet-show-bloom-filter.rs
Labels: parquet

#3715 Add `into_primitive_dict_builder` to `DictionaryArray`
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#3798 Add concat_elements_bytes
  arrow-string/src/concat_elements.rs
Labels: arrow

#3795 Timezone aware timestamp parsing (#3794)
  arrow-cast/src/parse.rs
Labels: arrow

#3796 Make InMemory object store track last modified time for each entry
  object_store/src/memory.rs
Labels: object-store

#3799 Cleanup ApplicationDefaultCredentials
  object_store/src/gcp/credential.rs
Labels: object-store

#3789 feat: simple flight sql CLI client
  arrow-flight/Cargo.toml
  arrow-flight/src/bin/flight_sql_client.rs
Labels: arrow, arrow-flight

#3805 Support reading decimal arrays from json
  arrow-cast/src/parse.rs
  arrow-csv/src/reader/mod.rs
  arrow-json/src/reader.rs
  arrow-json/test/data/basic.json
Labels: arrow

#3762 Support for casting `Utf8` and `LargeUtf8` --> `Interval`
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
Labels: arrow

#3807 fix: regexp_match skips first match
  arrow-string/src/regexp.rs
Labels: arrow

#3813 Restrict DictionaryArray to ArrowDictionaryKeyType
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/arity.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
  arrow-ord/src/comparison.rs
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
  arrow-string/src/like.rs
Labels: arrow, api-change

#3812 Add regexp_match docs
  arrow-string/src/regexp.rs
Labels: arrow

#3811 fix: Ensure Flight schema includes parent metadata
  arrow-flight/src/encode.rs
  arrow-flight/tests/encode_decode.rs
Labels: arrow, arrow-flight

#3817 Add RunEndBuffer (#1799)
  arrow-array/src/array/mod.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/builder/generic_byte_run_builder.rs
  arrow-array/src/builder/primitive_run_builder.rs
  arrow-array/src/run_iterator.rs
  arrow-buffer/src/buffer/mod.rs
  arrow-buffer/src/buffer/run.rs
  arrow-ipc/src/writer.rs
  arrow-ord/src/sort.rs
  arrow-select/src/take.rs
Labels: arrow, api-change

#3804 Add unary_dict_mut
  arrow-arith/src/arity.rs
  arrow-array/src/array/dictionary_array.rs
Labels: arrow

#3820 Support decoding decimals in raw decoder
  arrow-json/src/raw/decimal_array.rs
  arrow-json/src/raw/mod.rs
Labels: arrow

#3822 Minor: Fix error message for CSV formatting
  arrow-csv/src/writer.rs
Labels: arrow, development-process

#3816 test: add test for FlightSQL CLI client
  arrow-flight/Cargo.toml
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight

#3801 Faster timestamp parsing (~70-90% faster)
  arrow-array/src/timezone.rs
  arrow-cast/Cargo.toml
  arrow-cast/benches/parse_timestamp.rs
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
  arrow/Cargo.toml
  arrow/tests/timezone.rs
Labels: arrow

#3828 Move prettyprint to arrow-cast
  arrow-cast/Cargo.toml
  arrow-cast/src/lib.rs
  arrow-cast/src/pretty.rs
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/encode.rs
  arrow-flight/tests/encode_decode.rs
  arrow/Cargo.toml
  arrow/src/util/mod.rs
  arrow/tests/array_cast.rs
Labels: arrow, arrow-flight

#3825 RunEndBuffer review feedback
  arrow-buffer/src/buffer/run.rs
Labels: arrow, development-process

#3835 Support timestamp/time and date json decoding
  arrow-json/src/raw/mod.rs
Labels: arrow

#3831 Make dictionary preservation optional in row encoding
  arrow-row/src/dictionary.rs
  arrow-row/src/lib.rs
  arrow/benches/row_format.rs
Labels: arrow

#3840 refactor: timestamp overflow check
  arrow-cast/src/cast.rs
Labels: arrow

#3836 Prep for 35.0.0
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-row/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/file_release_pr.sh
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3824 [ObjectStore] Add `append` API impl for `LocalFileSystem`
  arrow-csv/src/writer.rs
  object_store/Cargo.toml
  object_store/src/local.rs
Labels: arrow, object-store

#3848 Add offset pushdown to parquet
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#3847 Support compression levels
  parquet/src/basic.rs
  parquet/src/bin/parquet-fromcsv.rs
  parquet/src/bin/parquet-layout.rs
  parquet/src/bin/parquet-rewrite.rs
  parquet/src/compression.rs
  parquet/src/file/properties.rs
Labels: parquet, api-change

#3858 Parse timestamps with arbitrary seconds fraction
  arrow-cast/src/parse.rs
Labels: arrow

#3862 Parse timestamps with leap seconds (#3861)
  arrow-cast/src/parse.rs
Labels: arrow

#3868 Supporting metadata fetch without open file read mode
  object_store/Cargo.toml
  object_store/src/local.rs
Labels: object-store

#3869 Implement append for LimitStore, PrefixObjectStore, ThrottledStore
  object_store/src/limit.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
Labels: object-store

#3690 Allow precision loss on multiplying decimal arrays
  arrow-arith/src/arithmetic.rs
Labels: arrow

#3860 Faster time parsing (~93% faster)
  arrow-cast/Cargo.toml
  arrow-cast/benches/parse_time.rs
  arrow-cast/src/parse.rs
Labels: arrow

#3845 Add timezone support to JSON reader
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
  arrow-cast/src/cast.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/timestamp_array.rs
Labels: arrow

#3856 Add BitIterator
  arrow-data/src/bit_iterator.rs
Labels: arrow

#3883 Flatten arrow_buffer
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/lib.rs
  arrow-buffer/src/lib.rs
Labels: arrow

#3882 Seal ArrowPrimitiveType
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
Labels: arrow, api-change

#3881 Add Array::to_data and Array::nulls (#3880)
  arrow-arith/src/aggregate.rs
  arrow-arith/src/arity.rs
  arrow-arith/src/boolean.rs
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/null_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/builder/boolean_builder.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/cast.rs
  arrow-array/src/record_batch.rs
  arrow-integration-test/src/lib.rs
  arrow-json/src/reader.rs
  arrow-ord/src/comparison.rs
  arrow-row/src/lib.rs
  arrow-select/src/concat.rs
  arrow-select/src/filter.rs
  arrow-string/src/length.rs
  arrow-string/src/regexp.rs
  arrow-string/src/substring.rs
  arrow/benches/array_data_validate.rs
  arrow/examples/dynamic_types.rs
  arrow/src/ffi.rs
  arrow/src/util/bench_util.rs
  arrow/src/util/data_gen.rs
Labels: arrow

#3884 Implement Bit Operations for i256
  arrow-buffer/src/bigint.rs
Labels: arrow

#3878 Added support for byte vectors and slices to parquet_derive (#3864)
  parquet/src/data_type.rs
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/src/lib.rs
Labels: parquet, parquet-derive

#3886 Use of `mul_checked` to avoid silent overflow in interval arithmetic
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
Labels: arrow

#3866 Impl ObjectStore for trait object
  object_store/src/lib.rs
Labels: object-store

#3854 Improve decimal parsing performance
  arrow-cast/Cargo.toml
  arrow-cast/benches/parse_decimal.rs
  arrow-cast/src/parse.rs
Labels: arrow

#3885 Flesh out NullBuffer abstraction (#3880)
  arrow-arith/src/arity.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/null.rs
  arrow-buffer/src/util/bit_iterator.rs
  arrow-buffer/src/util/mod.rs
  arrow-cast/src/cast.rs
  arrow-data/src/lib.rs
  arrow-ord/src/comparison.rs
  arrow-row/src/list.rs
  arrow-select/src/take.rs
  arrow-string/src/concat_elements.rs
  arrow-string/src/length.rs
  arrow-string/src/like.rs
  arrow-string/src/regexp.rs
  parquet/src/arrow/arrow_writer/levels.rs
Labels: parquet, arrow

#3892 Automatically Cleanup old Object Store Releases from SVN
  object_store/dev/release/release-tarball.sh
  object_store/dev/release/remove-old-releases.sh
Labels: development-process

#3893 Fix pyarrow memory leak (#3683)
  arrow-data/src/ffi.rs
  arrow/src/array/ffi.rs
  arrow/src/array/mod.rs
  arrow/src/ffi.rs
  arrow/src/pyarrow.rs
Labels: arrow

#3895 Use BooleanBuffer in BooleanArray (#3879)
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/builder/boolean_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/null.rs
  arrow-ord/src/comparison.rs
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
Labels: arrow, api-change

#3902 Fix parsing timestamps of exactly 32 characters
  arrow-cast/src/parse.rs
Labels: arrow

#3907 Improve ScalarBuffer debug output
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#3903 Re-export parquet compression level structs
  parquet/src/basic.rs
Labels: parquet

#3899 Array equality for &dyn Array (#3880)
  arrow-array/src/array/mod.rs
  arrow/tests/array_equal.rs
Labels: arrow

#3909 Add PrimitiveArray::new (#3879)
  arrow-arith/src/arity.rs
  arrow-array/src/array/primitive_array.rs
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#3912 Add AsArray trait for more ergonomic downcasting
  arrow-arith/src/aggregate.rs
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/arity.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/builder/generic_byte_run_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/primitive_run_builder.rs
  arrow-array/src/cast.rs
  arrow-array/src/lib.rs
  arrow-cast/src/cast.rs
  arrow-cast/src/display.rs
  arrow-csv/src/reader/mod.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/reader.rs
  arrow-json/src/writer.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/sort.rs
  arrow-row/src/dictionary.rs
  arrow-row/src/lib.rs
  arrow-select/src/filter.rs
  arrow-select/src/interleave.rs
  arrow-select/src/nullif.rs
  arrow-select/src/take.rs
  arrow-string/src/length.rs
  arrow-string/src/like.rs
  arrow/src/lib.rs
  arrow/src/util/data_gen.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet, arrow

#3921 fix: Specify content length for gcp copy request
  object_store/src/gcp/mod.rs
Labels: object-store

#3910 Add OffsetBuffer::new
  arrow-buffer/src/buffer/offset.rs
Labels: arrow

#3908 Support timezones in CSV reader (#3841)
  arrow-csv/src/reader/mod.rs
Labels: arrow

#3918 Cleanup uses of Array::data_ref (#3880)
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/boolean.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/null_array.rs
  arrow-ord/src/sort.rs
  arrow-select/src/filter.rs
  arrow/benches/mutable_array.rs
  arrow/tests/array_equal.rs
  parquet/src/arrow/array_reader/struct_array.rs
Labels: parquet, arrow

#3915 feat: add comparison/sort support for Float16
  arrow-array/src/array/primitive_array.rs
  arrow-ord/Cargo.toml
  arrow-ord/src/comparison.rs
  arrow-ord/src/ord.rs
  arrow-ord/src/sort.rs
Labels: arrow

#3927 Move protoc generation to binary crate, unpin prost/tonic build (#3876)
  .github/workflows/arrow_flight.yml
  Cargo.toml
  arrow-flight/CONTRIBUTING.md
  arrow-flight/Cargo.toml
  arrow-flight/build.rs
  arrow-flight/gen/Cargo.toml
  arrow-flight/gen/src/main.rs
  arrow-flight/regen.sh
Labels: arrow, arrow-flight

#3906 Enforce struct nullability in JSON raw reader (#3900) (#3904)
  arrow-array/src/array/boolean_array.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/util/bit_chunk_iterator.rs
  arrow-data/src/data/mod.rs
  arrow-data/src/equal/utils.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/struct_array.rs
Labels: arrow, api-change

#3932 Derive RunArray Clone
  arrow-array/src/array/run_array.rs
Labels: arrow

#3931 Use dyn Array in sort kernels
  arrow-ord/src/sort.rs
Labels: arrow, api-change

#3924 Fix JSON Temporal Encoding of Multiple Batches
  arrow-json/src/reader.rs
  arrow-json/src/writer.rs
  arrow-json/test/data/basic.json
Labels: arrow

#3913 Prep for 36.0.0
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-row/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3925 feat: add take for MapArray
  arrow-array/src/array/map_array.rs
  arrow-select/src/take.rs
Labels: arrow

#3920 Add Zero-Copy Conversion between Vec and MutableBuffer
  arrow-array/src/array/list_array.rs
  arrow-buffer/src/alloc/mod.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/bytes.rs
Labels: arrow, api-change

#3938 Fix: FlightSqlClient panic when execute_update.
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/server.rs
Labels: arrow, arrow-flight

#3940 Avoid memory copies in take_list
  arrow-select/src/take.rs
Labels: arrow

#3943 Fix checked i256 arithmetic (#3942) (#3941)
  arrow-buffer/src/bigint.rs
Labels: arrow

#3947 Remove incorrect validation logic on S3 bucket names
  object_store/src/aws/mod.rs
Labels: object-store

#3945 Add multiply_fixed_point
  arrow-arith/src/arithmetic.rs
  arrow-buffer/src/bigint.rs
Labels: arrow

#3917 Zero-copy conversion from Vec to PrimitiveArray
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/record_batch.rs
  arrow-string/src/substring.rs
Labels: arrow

#3957 feat: support async writer (#1269)
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/arrow/mod.rs
Labels: parquet

#3930 Add Strongly Typed Array Slice (#3929)
  arrow-arith/src/aggregate.rs
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/arity.rs
  arrow-arith/src/boolean.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/null_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/array/union_array.rs
  arrow-ipc/src/writer.rs
  arrow-ord/src/comparison.rs
  arrow-select/src/concat.rs
  arrow-select/src/filter.rs
  arrow-select/src/nullif.rs
  arrow-select/src/take.rs
  arrow-string/src/length.rs
  arrow/tests/array_validation.rs
  parquet/src/arrow/array_reader/list_array.rs
Labels: parquet, arrow, api-change

#3954 Add ListBuilder::append_value (#3949)
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/mod.rs
Labels: arrow

#3951 Improve array builder documentation (#3949)
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/mod.rs
Labels: arrow

#3972 PrimitiveDictionaryBuilder.finish should use actual value type
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#3944 feat: enable metadata import/export through C data interface
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow-schema/src/ffi.rs
  arrow/src/ffi.rs
Labels: arrow

#3961 feat: cast between `Binary`/`LargeBinary` and `FixedSizeBinary`
  arrow-cast/src/cast.rs
  arrow/tests/array_cast.rs
Labels: arrow

#3933 Add typed buffers to UnionArray (#3880)
  arrow-array/src/array/union_array.rs
  arrow-array/src/builder/union_builder.rs
  arrow-cast/src/display.rs
  arrow/src/ffi.rs
Labels: arrow

#3976 Store Timezone as Arc<str>
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-cast/src/cast.rs
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/writer.rs
  arrow-integration-test/src/datatype.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-test/src/schema.rs
  arrow-ipc/src/convert.rs
  arrow-json/src/raw/mod.rs
  arrow-row/src/lib.rs
  arrow-schema/Cargo.toml
  arrow-schema/src/datatype.rs
  arrow-schema/src/ffi.rs
  arrow-select/src/take.rs
  arrow/tests/array_cast.rs
  arrow/tests/csv.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet, arrow, api-change

#3965 Add Fields abstraction (#3955)
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-array/src/record_batch.rs
  arrow-cast/src/cast.rs
  arrow-cast/src/pretty.rs
  arrow-csv/src/reader/mod.rs
  arrow-data/src/data/mod.rs
  arrow-flight/src/encode.rs
  arrow-flight/tests/encode_decode.rs
  arrow-integration-test/src/datatype.rs
  arrow-integration-test/src/field.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-test/src/schema.rs
  arrow-integration-testing/src/bin/arrow-json-integration-test.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/struct_array.rs
  arrow-json/src/reader.rs
  arrow-json/src/writer.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/ffi.rs
  arrow-schema/src/field.rs
  arrow-schema/src/fields.rs
  arrow-schema/src/lib.rs
  arrow-schema/src/schema.rs
  arrow-select/src/nullif.rs
  arrow-select/src/take.rs
  arrow/examples/dynamic_types.rs
  arrow/src/compute/kernels/limit.rs
  arrow/src/datatypes/mod.rs
  arrow/src/util/data_gen.rs
  arrow/tests/array_cast.rs
  arrow/tests/array_equal.rs
  arrow/tests/array_transform.rs
  arrow/tests/array_validation.rs
  arrow/tests/schema.rs
  parquet/benches/arrow_writer.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/empty_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow, arrow-flight

#3981 Add UnionFields (#3955)
  arrow-array/src/array/mod.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/record_batch.rs
  arrow-cast/src/display.rs
  arrow-cast/src/pretty.rs
  arrow-data/src/data/mod.rs
  arrow-data/src/equal/mod.rs
  arrow-data/src/equal/union.rs
  arrow-data/src/equal/utils.rs
  arrow-data/src/transform/mod.rs
  arrow-integration-test/src/datatype.rs
  arrow-integration-test/src/field.rs
  arrow-integration-test/src/lib.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/ffi.rs
  arrow-schema/src/field.rs
  arrow-schema/src/fields.rs
  arrow-schema/src/schema.rs
  arrow/src/datatypes/mod.rs
  arrow/src/ffi.rs
  arrow/tests/array_cast.rs
  arrow/tests/array_validation.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow

#3967 Async writer tweaks
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet

#3983 Use FieldRef in DataType (#3955)
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-array/src/cast.rs
  arrow-array/src/record_batch.rs
  arrow-cast/src/cast.rs
  arrow-cast/src/pretty.rs
  arrow-data/src/transform/mod.rs
  arrow-integration-test/src/datatype.rs
  arrow-integration-test/src/field.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-test/src/schema.rs
  arrow-integration-testing/src/bin/arrow-json-integration-test.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/reader.rs
  arrow-json/src/writer.rs
  arrow-ord/src/comparison.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/ffi.rs
  arrow-schema/src/field.rs
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
  arrow/benches/json_reader.rs
  arrow/examples/builders.rs
  arrow/src/array/ffi.rs
  arrow/src/compute/kernels/limit.rs
  arrow/src/ffi.rs
  arrow/src/util/data_gen.rs
  arrow/tests/array_cast.rs
  arrow/tests/array_equal.rs
  arrow/tests/array_transform.rs
  arrow/tests/array_validation.rs
  parquet/benches/arrow_writer.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow, api-change

#3934 Cleanup row count handling in JSON writer
  arrow-json/src/writer.rs
Labels: arrow

#3980 Cleanup Fields Serde
  arrow-schema/src/fields.rs
Labels: arrow

#3978 Convert string_to_timestamp_nanos to doctest
  arrow-cast/src/parse.rs
Labels: arrow

#3985 Fix typos
  CHANGELOG-old.md
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/cast.rs
  arrow-array/src/types.rs
  arrow-csv/src/reader/mod.rs
  arrow-data/src/data/mod.rs
  arrow-data/src/transform/mod.rs
  arrow-flight/src/client.rs
  arrow-flight/src/error.rs
  arrow-flight/tests/encode_decode.rs
  arrow-integration-testing/tests/ipc_reader.rs
  arrow-ipc/src/compression.rs
  arrow-ipc/src/convert.rs
  arrow-json/src/reader.rs
  arrow-json/src/writer.rs
  arrow-ord/src/sort.rs
  arrow-select/src/take.rs
  arrow/examples/README.md
  arrow/src/util/bench_util.rs
  arrow/src/util/data_gen.rs
  dev/release/README.md
  object_store/CHANGELOG-old.md
  object_store/src/azure/client.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/basic.rs
  parquet/src/compression.rs
  parquet/src/data_type.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/record/api.rs
  parquet/src/record/reader.rs
  parquet/src/record/triplet.rs
Labels: parquet, arrow, arrow-flight, object-store

#3986 fix: remove unused type parameters.
  arrow-ord/src/ord.rs
  arrow-ord/src/sort.rs
Labels: arrow

#3984 Prepare object_store 0.5.6
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#3987 Revert workspace links for object_store
  object_store/Cargo.toml
Labels: object-store

#3993 Update AWS SDK
  object_store/Cargo.toml
Labels: object-store
