Repository apache/arrow-rs, pull requests merged in 2023-09, with the labels that each got.

#4751 Implement PyArrowType for `Box<dyn RecordBatchReader + Send>`
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/lib.rs
  arrow/src/pyarrow.rs
Labels: arrow, bug, python

#4759 Make ObjectStore::copy Atomic and Automatically Create Parent Directories (#4758) (#4760)
  object_store/src/http/client.rs
  object_store/src/lib.rs
  object_store/src/local.rs
Labels: object-store

#4766 Remove unused dyn_cmp_dict feature
  .github/workflows/arrow.yml
  arrow-string/Cargo.toml
  arrow-string/src/like.rs
  arrow/Cargo.toml
  arrow/README.md
Labels: arrow, api-change

#4761 fix: avoid panic if offset index not exists.
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#4747 Fix List Sorting, Revert Removal of Rank Kernels
  arrow-ord/src/lib.rs
  arrow-ord/src/rank.rs
  arrow-ord/src/sort.rs
  arrow/benches/sort_kernel.rs
  arrow/src/compute/kernels.rs
  arrow/src/compute/mod.rs
Labels: arrow

#3558 Re-encode dictionaries in selection kernels
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/offset.rs
  arrow-buffer/src/buffer/scalar.rs
  arrow-select/Cargo.toml
  arrow-select/src/concat.rs
  arrow-select/src/dictionary.rs
  arrow-select/src/interleave.rs
  arrow-select/src/lib.rs
  arrow/benches/concatenate_kernel.rs
  arrow/benches/interleave_kernels.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#4786 Update object_store chrono deprecations
  object_store/src/util.rs
Labels: object-store

#4784 Make coalesce_ranges and collect_bytes available for crate users
  object_store/src/lib.rs
Labels: object-store

#4789 Fix DictionaryArray::normalized_keys (#4788)
  arrow-array/src/array/dictionary_array.rs
  arrow-ord/src/cmp.rs
Labels: arrow

#4783 Allow custom tree builder for parquet::record::RowIter
  parquet/src/record/reader.rs
Labels: parquet

#4787 Relaxing type bounds on coalesce_ranges and collect_bytes
  object_store/src/util.rs
Labels: object-store

#4792 Best effort cleanup of staged upload files (#4778)
  object_store/src/local.rs
Labels: object-store

#4793 Expand docstring and add example to `Scalar`
  arrow-array/src/scalar.rs
Labels: arrow

#4803 Improve CSV Reader Benchmark Coverage of Small Primitives
  arrow/benches/csv_reader.rs
Labels: arrow

#4808 fix: entries field is non-nullable
  arrow-array/src/array/map_array.rs
  arrow-integration-testing/src/bin/arrow-json-integration-test.rs
  arrow-ipc/src/reader.rs
  arrow-json/src/writer.rs
  arrow-schema/src/ffi.rs
Labels: arrow, bug, api-change

#4795 csv: Add option to specify custom null values
  arrow-csv/src/reader/mod.rs
  arrow-csv/test/data/custom_null_test.csv
Labels: arrow

#4796 ObjectStore Wasm32 Fixes (#4775) (#4776)
  .github/workflows/object_store.yml
  object_store/README.md
  object_store/src/client/mod.rs
  object_store/src/lib.rs
  object_store/src/parse.rs
Labels: object-store

#4822 More chrono deprecations
  arrow-cast/src/parse.rs
  arrow-csv/src/reader/mod.rs
  arrow-json/src/reader/timestamp_array.rs
  arrow-json/src/writer.rs
Labels: arrow

#4815 Do not check schema for equality in concat_batches
  arrow-select/src/concat.rs
Labels: arrow

#4806 fix: export record batch through stream
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/pyarrow.rs
Labels: arrow

#4818 Adaptive Row Block Size (#4812)
  arrow-array/src/types.rs
  arrow-row/src/lib.rs
  arrow-row/src/variable.rs
Labels: arrow

#4819 Stateless Row Encoding / Don't Preserve Dictionaries in `RowConverter` (#4811)
  arrow-flight/src/sql/metadata/mod.rs
  arrow-row/src/dictionary.rs
  arrow-row/src/interner.rs
  arrow-row/src/lib.rs
  arrow/benches/lexsort.rs
  arrow/benches/row_format.rs
Labels: arrow, arrow-flight, api-change

#4824 Update chrono pin
  Cargo.toml
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-json/Cargo.toml
  arrow/Cargo.toml
  object_store/Cargo.toml
  parquet/Cargo.toml
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, object-store

#4825 Update prost to v0.12.1
  arrow-flight/Cargo.toml
  arrow-flight/gen/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-integration-testing/Cargo.toml
Labels: arrow, arrow-flight, api-change

#4821 feat: FixedSizeBinaryArray::value_data return reference
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-string/src/substring.rs
Labels: arrow, api-change

#4832 Fix like scalar null
  arrow-string/src/like.rs
Labels: arrow

#4797 Fix flight sql do put handling, add bind parameter support to FlightSQL cli client
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight

#4833 Fix merge_dictionary_values in selection kernels
  arrow-select/src/dictionary.rs
Labels: arrow

#4836 Respect FormatOption::nulls for NullArray
  arrow-cast/src/display.rs
Labels: arrow

#4834 fix: object store http header last modified
  object_store/src/client/get.rs
  object_store/src/client/header.rs
  object_store/src/http/mod.rs
Labels: object-store

#4841 Error if Remote Ignores HTTP Range Header
  object_store/src/http/client.rs
Labels: object-store

#4838 Refine documentation to `Array::is_null`
  arrow-array/src/array/mod.rs
Labels: arrow

#4852 fix: make_primitive_scalar bug
  arrow-ord/src/comparison.rs
Labels: arrow

#4837 Perform HEAD request for HttpStore::head
  object_store/src/client/get.rs
  object_store/src/client/header.rs
  object_store/src/client/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
Labels: object-store

#4849 Minor: Improve object_store docs.rs landing page
  object_store/src/http/mod.rs
  object_store/src/lib.rs
Labels: object-store

#4845 Allow Constructing Non-Empty StructArray with no Fields (#4842)
  arrow-array/src/array/struct_array.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#4854 Allow overriding azure endpoint
  object_store/src/azure/mod.rs
Labels: object-store

#4830 fix: add missing precision overflow checking for `cast_string_to_decimal`
  arrow-cast/src/cast.rs
Labels: arrow

#4857 Add ObjectStore BufReader (#4762)
  object_store/src/buffered.rs
  object_store/src/lib.rs
Labels: object-store

#4861 Faster Serde Integration (~80% faster)
  arrow-json/Cargo.toml
  arrow-json/benches/serde.rs
  arrow-json/src/reader/primitive_array.rs
  arrow-json/src/reader/serializer.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/reader/timestamp_array.rs
Labels: arrow

#4860 Prepare object_store 0.7.1
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#4863 Make align_buffers as public API
  arrow-data/src/data.rs
Labels: arrow

#4869 Flush in multiple_append test (#4868)
  object_store/src/local.rs
Labels: object-store

#4866 Check precision overflow for casting floating to decimal
  arrow-cast/src/cast.rs
Labels: arrow

#4873 feat: improve flight CLI error handling
  arrow-flight/Cargo.toml
  arrow-flight/src/bin/flight_sql_client.rs
Labels: arrow, arrow-flight

#4874 Flush in creates_dir_if_not_present_append (#4872)
  object_store/src/local.rs
Labels: object-store
