Repository apache/arrow-rs, pull requests merged in 2023-02, with the labels that each got.

#3640 Prepare object store 0.5.4 (#3636)
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#3514 Use array_value_to_string in arrow-csv
  arrow-cast/src/display.rs
  arrow-csv/src/writer.rs
  arrow-json/src/writer.rs
  arrow/tests/csv.rs
Labels: arrow, api-change

#3652 Return references from FixedSizeListArray and MapArray
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/builder/map_builder.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/writer.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#3654 Handle non-contiguous type_ids in UnionArray (#3653)
  arrow-array/src/array/union_array.rs
  arrow-ipc/src/writer.rs
Labels: arrow

#3603 Add ArrayAccessor, Iterator, Extend and benchmarks for RunArray
  arrow-array/src/array/run_array.rs
  arrow-array/src/builder/generic_byte_run_builder.rs
  arrow-array/src/builder/primitive_run_builder.rs
  arrow-array/src/lib.rs
  arrow-array/src/run_iterator.rs
  arrow/Cargo.toml
  arrow/benches/string_run_builder.rs
Labels: arrow

#3657 Include line and field number in CSV UTF-8 error (#3656)
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/reader/records.rs
Labels: arrow

#3649 Add modulus_dyn and modulus_scalar_dyn
  arrow-arith/src/arithmetic.rs
Labels: arrow

#3661 Patch git Safe Paths in CI (#3660)
  .github/actions/setup-builder/action.yaml
Labels: development-process

#3622 feat: take kernel for RunArray
  arrow-array/src/array/run_array.rs
  arrow-array/src/cast.rs
  arrow-array/src/run_iterator.rs
  arrow-select/src/take.rs
  arrow/Cargo.toml
  arrow/benches/primitive_run_accessor.rs
  arrow/benches/primitive_run_take.rs
  arrow/benches/string_run_builder.rs
  arrow/benches/string_run_iterator.rs
  arrow/benches/take_kernels.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#3663 object_store: add Path::from_url_path
  object_store/src/path/mod.rs
Labels: object-store

#3659 Implement std::fmt::Write for StringBuilder (#3638)
  arrow-array/src/builder/generic_bytes_builder.rs
Labels: arrow

#3666 Add timezone accessor for Timestamp*Array
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#3665 Faster timezone cast
  arrow-cast/src/cast.rs
Labels: arrow

#3670 Fix Date64Array docs
  arrow-array/src/types.rs
Labels: arrow

#3667 Use dyn Array in cast kernels
  arrow-cast/src/cast.rs
  arrow-cast/src/display.rs
  arrow/src/lib.rs
Labels: arrow, api-change

#3675 Fix FFI which fails to account for offsets
  arrow/src/ffi.rs
Labels: arrow

#3647 Lazy array display (#3638)
  arrow-cast/src/display.rs
  arrow-csv/src/writer.rs
  arrow-json/src/writer.rs
  arrow-schema/src/datatype.rs
  arrow/src/util/pretty.rs
  arrow/tests/csv.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet, arrow, api-change

#3668 Use ArrayFormatter in Cast Kernel
  arrow-cast/src/cast.rs
  arrow/tests/array_cast.rs
Labels: arrow, api-change

#3678 Minor: Add some examples to Date*Array and Time*Array
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#3676 Add ArrayData::new_null and DataType::primitive_width
  arrow-array/src/array/mod.rs
  arrow-data/src/data.rs
  arrow-schema/src/datatype.rs
  arrow/src/ffi.rs
Labels: arrow

#3679 fix: take_run benchmark parameter
  arrow/benches/primitive_run_take.rs
Labels: arrow

#3685 Cleanup FFI interface (#3684) (#3683)
  arrow/src/array/ffi.rs
  arrow/src/array/mod.rs
  arrow/src/ffi.rs
  arrow/src/pyarrow.rs
Labels: arrow

#3673 Support UTF8 cast to Timestamp with timezone
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
  arrow/tests/array_cast.rs
Labels: arrow

#3662 feat + fix: IPC support for run encoded array.
  arrow-array/src/array/run_array.rs
  arrow-data/src/data.rs
  arrow-data/src/equal/mod.rs
  arrow-data/src/equal/run.rs
  arrow-ipc/regen.sh
  arrow-ipc/src/convert.rs
  arrow-ipc/src/gen/Schema.rs
  arrow-ipc/src/gen/SparseTensor.rs
  arrow-ipc/src/gen/Tensor.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-select/src/take.rs
  format/Schema.fbs
Labels: arrow

#3677 Add CSV Decoder::capacity (#3674)
  arrow-csv/src/reader/mod.rs
Labels: arrow

#3686 Update to 33.0.0 and update changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-row/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3687 Move FFI to sub-crates
  arrow-data/Cargo.toml
  arrow-data/src/ffi.rs
  arrow-data/src/lib.rs
  arrow-schema/Cargo.toml
  arrow-schema/src/ffi.rs
  arrow-schema/src/lib.rs
  arrow/Cargo.toml
  arrow/src/datatypes/ffi.rs
  arrow/src/ffi.rs
  arrow/src/ffi_stream.rs
Labels: arrow

#3692 Fix Unsound Binary Casting in Unreleased Arrow (#3691)
  arrow-array/src/array/string_array.rs
  arrow-cast/src/cast.rs
  arrow-row/src/lib.rs
Labels: arrow, development-process

#3688 Final release tweaks for 33.0.0
  CHANGELOG.md
Labels: development-process

#3693 perf: Remove sorting to yield sorted_rank
  arrow-ord/src/sort.rs
Labels: arrow

#3707 Fix pyarrow integration test
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/pyproject.toml
Labels: development-process

#3698 object_store: azure cli authorization
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
Labels: object-store

#3705 perf: `take_run` improvements
  arrow-select/src/take.rs
Labels: arrow

#3681 fix: Handle sliced array in run array iterator
  arrow-array/src/array/run_array.rs
  arrow-array/src/run_iterator.rs
Labels: arrow

#3713 Filter exact list prefix matches for MemoryStore and HttpStore (#3712)
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/memory.rs
Labels: object-store

#3714 Filter exact list prefix matches for azure gen2 accounts
  object_store/src/azure/client.rs
Labels: object-store

#3703 Add raw MapArrayReader
  arrow-json/src/raw/list_array.rs
  arrow-json/src/raw/map_array.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/struct_array.rs
  arrow-json/src/raw/tape.rs
Labels: arrow

#3717 Add pretty format with options
  arrow/src/util/pretty.rs
Labels: arrow

#3716 Remove unreachable decimal take
  arrow-select/src/take.rs
Labels: arrow

#3720 Add From<Bytes> for ByteArray
  parquet/src/data_type.rs
Labels: parquet

#3723 feat: impl `Ord`/`PartialOrd` for `SortOptions`
  arrow-schema/src/lib.rs
Labels: arrow

#3727 Not operator overload for SortOptions
  arrow-schema/src/lib.rs
Labels: arrow

#3728 Using Borrow<Value> on infer_json_schema_from_iterator
  arrow-json/src/reader.rs
Labels: arrow

#3724 fix: encoding batch with no columns
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#3738 Make dictionary kernels optional for comparison benchmark
  arrow/Cargo.toml
  arrow/benches/comparison_kernels.rs
Labels: arrow

#3734 replace for loop by try_for_each
  arrow-csv/src/reader/mod.rs
Labels: arrow

#3736 Support String Coercion in Raw JSON Reader
  arrow-json/src/raw/list_array.rs
  arrow-json/src/raw/map_array.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/string_array.rs
  arrow-json/src/raw/struct_array.rs
Labels: arrow

#3739 Cleanup arithmetic kernel type constraints
  arrow-arith/src/arithmetic.rs
Labels: arrow

#3730 Add datetime/interval/duration into dyn scalar comparison
  arrow-ord/src/comparison.rs
Labels: arrow

#3718 Deprecate old JSON reader (#3610)
  arrow-json/src/lib.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/reader.rs
  arrow-json/src/writer.rs
  arrow/benches/json_reader.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#3746 Infer 2020-03-19 00:00:00 as timestamp not Date64 in CSV (#3744)
  arrow-csv/src/reader/mod.rs
Labels: arrow

#3695 feat: Sort kernel for `RunArray`
  arrow-array/src/array/run_array.rs
  arrow-array/src/run_iterator.rs
  arrow-ord/src/sort.rs
  arrow/benches/sort_kernel.rs
Labels: arrow

#3743 Use Typed Buffers in Arrays (#1811) (#1176)
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/lib.rs
  arrow-array/src/raw_pointer.rs
  arrow-array/src/record_batch.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mod.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/buffer/offset.rs
  arrow-buffer/src/buffer/scalar.rs
  arrow-buffer/src/bytes.rs
Labels: arrow

#3464 Implement fallible streams for `FlightClient::do_put`
  arrow-flight/src/client.rs
  arrow-flight/tests/client.rs
Labels: arrow, arrow-flight, api-change

#3752 Enable casting of string to timestamp with microsecond resolution
  arrow-cast/src/cast.rs
Labels: arrow

#3757 Update to 34.0.0 and update changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-row/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3761 update object_store deps to patch potential security vulnerabilities
  object_store/Cargo.toml
Labels: object-store

#3759 into_inner() for CSV Writer
  arrow-csv/src/writer.rs
Labels: arrow

#3749 ArrayData Enumeration for Primitive, Binary and UTF8
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/mod.rs
  arrow-buffer/src/buffer/null.rs
  arrow-data/src/data/bytes.rs
  arrow-data/src/data/mod.rs
  arrow-data/src/data/primitive.rs
  arrow-data/src/data/types.rs
Labels: arrow

#3766 object-store: fix handling of AWS profile credentials without expiry
  object_store/src/aws/credential.rs
  object_store/src/azure/credential.rs
  object_store/src/client/token.rs
  object_store/src/gcp/credential.rs
Labels: object-store

#3741 Add support for unsigned payloads in aws
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
Labels: object-store
