Repository apache/arrow-rs, pull requests merged in 2023-07, with the labels that each got.

#4393 Add Scalar/Datum abstraction (#1047)
  arrow-array/src/lib.rs
  arrow-array/src/scalar.rs
  arrow-select/src/filter.rs
Labels: arrow

#4473 Improve in-place primitive sorts by 13-67%
  arrow-ord/src/sort.rs
  arrow/Cargo.toml
  arrow/benches/sort_kernel_primitives.rs
Labels: arrow

#4485 Add default implementations to the FlightSqlService trait
  arrow-flight/src/sql/server.rs
Labels: arrow, arrow-flight

#4465 Add Datum based arithmetic kernels (#3999)
  arrow-arith/src/aggregate.rs
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/lib.rs
  arrow-arith/src/numeric.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/scalar.rs
  arrow/benches/arithmetic_kernels.rs
  arrow/src/compute/kernels/mod.rs
  arrow/src/ffi.rs
Labels: arrow, api-change

#4492 support FixedSizeBinary types in eq_dyn_binary_scalar/neq_dyn_binary_scalar
  arrow-ord/src/comparison.rs
Labels: arrow

#4482 add num-complex requirement
  arrow-array/Cargo.toml
Labels: arrow

#4499 object_store/InMemory: Add `fork()` fn and deprecate `clone()` fn
  object_store/src/memory.rs
Labels: object-store

#4494 Add negate kernels (#4488)
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/numeric.rs
  arrow-array/src/types.rs
Labels: arrow

#4490 ci: verify MSRV on CI
  .github/workflows/rust.yml
  arrow-flight/Cargo.toml
  arrow/Cargo.toml
  object_store/Cargo.toml
  parquet/Cargo.toml
Labels: parquet, arrow, arrow-flight, object-store

#4493 Add Datum Arithmetic tests, Fix Interval Substraction (#4480)
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/numeric.rs
  arrow-array/src/arithmetic.rs
  arrow-array/src/types.rs
Labels: arrow

#4502 object_store: Implement `ObjectStore` for `Arc`
  object_store/src/lib.rs
  object_store/src/memory.rs
Labels: object-store

#4504 Support Date - Date (#4383)
  arrow-arith/src/numeric.rs
Labels: arrow

#4511 Cleanup cast_primitive_to_list
  arrow-cast/src/cast.rs
Labels: arrow

#4516 object_store: Export `ClientConfigKey` and add `HttpBuilder::with_config`
  object_store/src/http/mod.rs
  object_store/src/lib.rs
Labels: object-store

#4521 chore: clippy problem
  arrow/src/ffi_stream.rs
Labels: arrow, development-process

#4518 Handle empty S3 payloads (#4514)
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/lib.rs
Labels: object-store

#4513 Use Parser for cast kernel (#4512)
  arrow-cast/Cargo.toml
  arrow-cast/benches/parse_date.rs
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
Labels: arrow, api-change

#4532 use new num version instead of explicit num-complex dependency
  arrow-array/Cargo.toml
Labels: arrow

#4536 add a validity slice access for boolean array builders
  arrow-array/src/builder/boolean_builder.rs
Labels: arrow

#4541 Add RowConverter::append (#4479)
  arrow-row/src/lib.rs
Labels: arrow

#4538 Initial loongarch port
  arrow-buffer/src/alloc/alignment.rs
Labels: arrow

#4520 feat: Support `FixedSizedListArray` for `length` kernel
  arrow-string/src/length.rs
Labels: arrow

#4551 Minor: Make arrow blog link about row format more discoverable
  arrow-row/src/lib.rs
Labels: arrow, development-process

#4550 docs: fix wrong inline code snippet in parquet document
  parquet/src/file/metadata.rs
Labels: parquet

#4548 fix multiline wildcard likes (fixes #4547)
  arrow-string/src/like.rs
Labels: arrow

#4552 Fix FixedSizeListBuilder capacity (#4549)
  arrow-array/src/builder/fixed_size_list_builder.rs
Labels: arrow

#4559 docs: fix wrong parameter name
  parquet/src/column/reader.rs
Labels: parquet

#4540 Clarify GenericColumnReader::read_records
  parquet/src/column/reader.rs
Labels: parquet

#4563 Fix field docs
  arrow-schema/src/field.rs
Labels: arrow

#4564 Remove Sync from arrow-flight example
  arrow-flight/examples/server.rs
Labels: arrow, arrow-flight

#4566 support NullArray un arith/boolean kernel
  arrow-arith/src/boolean.rs
Labels: arrow

#4546 Fix timezoned timestamp arithmetic
  arrow-arith/Cargo.toml
  arrow-arith/src/numeric.rs
  arrow-array/src/delta.rs
  arrow-array/src/types.rs
Labels: arrow, api-change

#4570 Make object_store::multipart public
  object_store/src/lib.rs
  object_store/src/multipart.rs
Labels: object-store

#4562 Fix interval to duration casting (#4553)
  arrow-cast/src/cast.rs
Labels: arrow

#4571 Move chrono-tz arithmetic tests to integration
  arrow-arith/Cargo.toml
  arrow-arith/src/numeric.rs
  arrow-arith/src/temporal.rs
  arrow/Cargo.toml
  arrow/tests/arithmetic.rs
Labels: arrow

#4572 Cleanup multipart upload trait
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/multipart.rs
Labels: object-store

#4567 Write Page Offset Index For All-Nan Pages
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/writer/mod.rs
Labels: parquet

#4579 Fix take_bytes Null and Overflow Handling (#4576)
  arrow-select/src/take.rs
Labels: arrow

#4584 Mark GenericByteArray::new_unchecked unsafe
  arrow-array/src/array/byte_array.rs
Labels: arrow

#4586 Move from_iter_values to GenericByteArray
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/string_array.rs
Labels: arrow

#4588 refactor: simplify hour_dyn() with time_fraction_dyn()
  arrow-arith/src/temporal.rs
  arrow-array/src/array/string_array.rs
Labels: arrow

#4581 Configurable Duration Display
  arrow-cast/src/cast.rs
  arrow-cast/src/display.rs
Labels: arrow

#4591 Fix pretty hours duration display
  arrow-cast/src/display.rs
Labels: arrow, development-process

#4597 Remove deprecated limit kernel
  arrow/src/compute/kernels.rs
  arrow/src/compute/kernels/limit.rs
  arrow/src/compute/mod.rs
  arrow/src/lib.rs
Labels: arrow

#4601 fix(data): create child arrays of correct length when building a sparse union null array
  arrow-array/src/array/mod.rs
  arrow-data/src/data/mod.rs
Labels: arrow

#4599 Use u32 metadata_len when parsing footer of parquet.
  parquet/src/file/footer.rs
  parquet/src/file/writer.rs
Labels: parquet
