Repository apache/arrow-rs, pull requests merged in 2023-08, with the labels that each got.

#4604 Consolidate sort benchmarks
  arrow/Cargo.toml
  arrow/benches/sort_kernel.rs
  arrow/benches/sort_kernel_primitives.rs
Labels: arrow

#4605 Simplify dictionary sort
  arrow-ord/src/sort.rs
Labels: arrow

#4609 Add rank function (#4606)
  arrow-ord/src/lib.rs
  arrow-ord/src/rank.rs
  arrow/benches/sort_kernel.rs
  arrow/src/compute/kernels.rs
  arrow/src/compute/mod.rs
Labels: arrow

#4603 Don't Reorder Nulls in sort_to_indices (#4545)
  arrow-ord/src/sort.rs
Labels: arrow

#4583 Cleanup ArrayData::buffers
  arrow-data/src/data.rs
  arrow-data/src/data/buffers.rs
Labels: arrow

#4582 Use contains_nulls in ArrayData equality of byte arrays
  arrow-data/src/equal/variable_size.rs
Labels: arrow

#4619 impl `Default` for `arrow_buffer::buffer::MutableBuffer`
  arrow-buffer/src/buffer/mutable.rs
Labels: arrow

#4561 chore: add datatype new_list
  arrow-schema/src/datatype.rs
Labels: arrow

#4624 impl `FromIterator` for `MutableBuffer`
  arrow-buffer/src/buffer/mutable.rs
Labels: arrow

#4630 Move `BufferBuilder` to `arrow-buffer`
  arrow-array/src/builder/buffer_builder.rs
  arrow-buffer/src/builder/mod.rs
Labels: arrow

#4622 expand docs for FixedSizeListArray
  arrow-array/src/array/fixed_size_list_array.rs
Labels: arrow

#4615 Minor: improve docs and add example for lexicographical_partition_ranges
  arrow-ord/src/partition.rs
Labels: arrow

#4626 allow zero sized empty fixed
  arrow-array/src/array/fixed_size_list_array.rs
Labels: arrow

#4607 Add more docs and examples for ListArray and OffsetsBuffer
  arrow-array/src/array/list_array.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-buffer/src/buffer/offset.rs
Labels: arrow

#4625 fix: compute_dictionary_mapping use wrong offsetSize
  arrow-row/src/dictionary.rs
  arrow-row/src/lib.rs
Labels: arrow

#4635 fix(select): handle `NullArray` in `nullif`
  arrow-select/src/nullif.rs
Labels: arrow

#4575 Vectorized lexicographical_partition_ranges (~80% faster)
  arrow-ord/src/partition.rs
  arrow/benches/partition_kernels.rs
Labels: arrow

#4613 Cleanup sort
  arrow-array/src/cast.rs
  arrow-ord/src/sort.rs
  arrow/benches/sort_kernel.rs
Labels: arrow

#4642 fix: from_thrift avoid panic when stats in invalid.
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/statistics.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change

#4652 Pin Nightly in CI
  .github/workflows/arrow.yml
  .github/workflows/docs.yml
Labels: development-process

#4648 Filter record batch with 0 columns
  arrow-select/src/filter.rs
Labels: arrow

#4654 Update packed_simd and run miri tests on simd code
  .github/workflows/arrow.yml
  .github/workflows/docs.yml
  .github/workflows/miri.sh
  arrow-array/Cargo.toml
Labels: arrow

#4239 Support copy_if_not_exists for Cloudflare R2 (#4190)
  object_store/src/aws/client.rs
  object_store/src/aws/copy.rs
  object_store/src/aws/mod.rs
Labels: object-store

#4655 minor: move comment to the correct location
  arrow-array/src/record_batch.rs
Labels: arrow

#4660 fix ownership of c stream error
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/ffi_stream.rs
Labels: arrow

#4662 Support `concat_batches` for 0 columns
  arrow-select/src/concat.rs
Labels: arrow

#4636 bug: Add some missing field in row group metadata: ordinal, total co…
  parquet/src/file/metadata.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change

#4665 enhancement: batches_to_flight_data use a schema ref as param.
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/utils.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight, api-change

#4646 Account for child `Bucket` size in OrderPreservingInterner
  arrow-row/src/interner.rs
Labels: arrow

#4667 Minor: Improve API docs for FlightSQL metadata builders
  arrow-flight/src/sql/metadata/mod.rs
  arrow-flight/src/sql/metadata/sql_info.rs
  arrow-flight/src/sql/metadata/xdbc_info.rs
Labels: arrow, arrow-flight

#4666 More intuitive bool-to-string casting
  arrow-cast/src/cast.rs
Labels: arrow, api-change

#4668 Use ArrayFormatter in cast kernel
  arrow-cast/src/cast.rs
Labels: arrow

#4673 cleanup some assert() with error propagation
  parquet/src/file/serialized_reader.rs
Labels: parquet

#4670 Fix equality of nested nullable FixedSizeBinary (#4637)
  arrow-data/src/equal/fixed_binary.rs
  arrow/tests/array_equal.rs
Labels: arrow

#4676 Separate metadata fetch from `ArrowReaderBuilder` construction (#4674)
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#4672 Faster i256 Division (2-100x) (#4663)
  arrow-buffer/benches/i256.rs
  arrow-buffer/src/bigint/div.rs
  arrow-buffer/src/bigint/mod.rs
Labels: arrow

#4682 Minor: improve object_store docs.rs library landing page
  object_store/src/lib.rs
Labels: object-store

#4679 Check object_store format in CI
  .github/workflows/rust.yml
  object_store/src/local.rs
Labels: object-store

#4684 Fix object_store docs and Add CI job
  .github/workflows/object_store.yml
  object_store/src/aws/copy.rs
Labels: development-process, object-store

#4685 Faster stream_get test
  object_store/src/lib.rs
Labels: development-process, object-store

#4573 Add Support for Microsoft Fabric / OneLake
  object_store/src/azure/mod.rs
Labels: object-store

#4687 Cleanup DynComparator (#2654)
  arrow-ord/src/ord.rs
Labels: arrow

#4686 Add AzureConfigKey::ContainerName (#4629)
  object_store/src/azure/mod.rs
Labels: object-store

#4677 Add range and ObjectMeta to GetResult (#4352) (#4495)
  object_store/src/chunked.rs
  object_store/src/client/get.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/throttle.rs
Labels: api-change, object-store

#4691 Improve `Array` Logical Nullability
  arrow-arith/src/arity.rs
  arrow-arith/src/boolean.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/null_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/builder/null_builder.rs
  arrow-array/src/iterator.rs
  arrow-buffer/src/builder/boolean.rs
  arrow-cast/src/cast.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/sort.rs
  arrow-string/src/like.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#4692 Support references in i256 arithmetic ops
  arrow-buffer/src/bigint/mod.rs
Labels: arrow

#4699 Prepare object_store 0.7.0
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#4681 Validate ArrayData Buffer Alignment and Automatically Align IPC buffers (#4255)
  arrow-array/src/array/list_array.rs
  arrow-array/src/types.rs
  arrow-data/src/data.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow/tests/array_validation.rs
Labels: arrow, api-change

#4700 Update object_store Dependencies and Configure Dependabot
  .github/dependabot.yml
  object_store/Cargo.toml
Labels: object-store

#4260 Add safe zero-copy conversion from bytes::Bytes (#4254)
  arrow-buffer/Cargo.toml
  arrow-buffer/src/bytes.rs
  arrow-flight/src/decode.rs
  arrow-flight/src/sql/client.rs
Labels: arrow, arrow-flight

#4703 Remove rank kernels
  arrow-ord/src/lib.rs
  arrow-ord/src/rank.rs
  arrow/benches/sort_kernel.rs
  arrow/src/compute/kernels.rs
  arrow/src/compute/mod.rs
Labels: arrow

#4706 Cleanup parquet type builders
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/file/footer.rs
  parquet/src/file/metadata.rs
  parquet/src/file/writer.rs
  parquet/src/record/reader.rs
  parquet/src/schema/mod.rs
  parquet/src/schema/parser.rs
  parquet/src/schema/printer.rs
  parquet/src/schema/types.rs
  parquet_derive/src/lib.rs
Labels: parquet, api-change, parquet-derive

#4705 Take kernel dyn Array
  arrow-cast/src/cast.rs
  arrow-select/src/take.rs
Labels: arrow, api-change

#4709 Fix nightly tests
  arrow-array/src/array/binary_array.rs
Labels: arrow, development-process

#4707 Add AnyDictionary Abstraction and Take ArrayRef in DictionaryArray::with_values
  arrow-arith/src/arity.rs
  arrow-arith/src/temporal.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/cast.rs
  arrow-row/src/lib.rs
Labels: arrow, api-change

#4711 Tweak docs
  arrow-data/src/data.rs
Labels: arrow, development-process

#4710 Support Field ID in ArrowWriter (#4702)
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet

#4701 Datum based comparison kernels (#4596)
  .github/workflows/arrow.yml
  .github/workflows/miri.sh
  arrow-flight/src/sql/metadata/db_schemas.rs
  arrow-flight/src/sql/metadata/sql_info.rs
  arrow-flight/src/sql/metadata/tables.rs
  arrow-flight/src/sql/metadata/xdbc_info.rs
  arrow-ord/Cargo.toml
  arrow-ord/src/cmp.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/lib.rs
  arrow-ord/src/partition.rs
  arrow/Cargo.toml
  arrow/benches/comparison_kernels.rs
  arrow/benches/equal.rs
  arrow/src/compute/kernels.rs
  parquet/examples/async_read_parquet.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet, arrow, arrow-flight, api-change

#4715 Update parquet object_store 0.7
  parquet/Cargo.toml
Labels: parquet

#4680 Parquet doc tweaks
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/mod.rs
Labels: parquet, development-process

#4716 Add distinct kernels (#960) (#4438)
  arrow-array/src/array/boolean_array.rs
  arrow-ord/src/cmp.rs
  arrow-ord/src/partition.rs
Labels: arrow

#4726 Add underlying `std::io::Error` to `IoError` and add `IpcError` variant
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/tests/encode_decode.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-schema/src/error.rs
  arrow/src/ffi_stream.rs
Labels: arrow, arrow-flight, api-change

#4734 Fix new clippy lints
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/record_batch.rs
  arrow-array/src/run_iterator.rs
  arrow-array/src/trusted_len.rs
  arrow-buffer/src/native.rs
  arrow-buffer/src/util/bit_chunk_iterator.rs
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
  arrow-cast/src/pretty.rs
  arrow-flight/src/utils.rs
  arrow-integration-testing/tests/ipc_reader.rs
  arrow-integration-testing/tests/ipc_writer.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/writer.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/partition.rs
  arrow-ord/src/sort.rs
  arrow-row/src/interner.rs
  arrow-select/src/concat.rs
  arrow-select/src/filter.rs
  arrow-string/src/length.rs
  arrow-string/src/like.rs
  arrow-string/src/regexp.rs
  arrow/tests/array_equal.rs
  object_store/src/memory.rs
  object_store/src/util.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/bit_util.rs
  parquet/src/arrow/buffer/offset_buffer.rs
  parquet/src/column/writer/mod.rs
  parquet/src/encodings/decoding.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/record/reader.rs
  parquet/src/schema/types.rs
Labels: parquet, arrow, arrow-flight, development-process, object-store

#4714 Add `with_proxy_ca_certificate` and `with_proxy_excludes`
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4738 chore: fix CI
  .github/workflows/docs.yml
Labels: development-process

#4718 Cleanup length and bit_length kernels
  arrow-string/src/length.rs
Labels: arrow

#4727 feat: expose DoGet response headers & trailers
  arrow-flight/Cargo.toml
  arrow-flight/src/client.rs
  arrow-flight/src/decode.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/trailers.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/server.rs
  arrow-flight/tests/common/trailers_layer.rs
Labels: arrow, arrow-flight

#4732 Datum based like kernels (#4595)
  arrow-flight/src/sql/metadata/db_schemas.rs
  arrow-flight/src/sql/metadata/tables.rs
  arrow-string/src/lib.rs
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
  arrow/benches/comparison_kernels.rs
Labels: arrow, arrow-flight

#4742 Clear row buffer before reuse
  arrow-row/src/lib.rs
Labels: arrow

#4744 Update nix requirement from 0.26.1 to 0.27.1 in /object_store
  object_store/Cargo.toml
Labels: object-store

#4748 Chrono deprecations
  arrow-cast/src/parse.rs
Labels: arrow

#4752 Return error when converting schema
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/ffi_stream.rs
Labels: arrow, bug, python
