Repository apache/arrow-rs, pull requests merged in 2023-05, with the labels that each got.

#4156 Cleanup ChunkReader (#4118)
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/bin/parquet-layout.rs
  parquet/src/file/footer.rs
  parquet/src/file/reader.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/util/io.rs
  parquet/src/util/mod.rs
Labels: parquet, api-change

#4160 Support Compression in parquet-fromcsv
  parquet/Cargo.toml
  parquet/src/bin/parquet-fromcsv-help.txt
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet

#4159 feat: support bitwise shift left/right with scalars
  arrow-arith/src/bitwise.rs
Labels: arrow

#4171 Prep for 39.0.0
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  arrow-flight/README.md
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet_derive/README.md
Labels: arrow, arrow-flight, parquet-derive

#4165 Allow creating unbuffered streamreader
  arrow-ipc/src/reader.rs
Labels: arrow, api-change

#4176 feat: add compression info to print_column_chunk_metadata()
  parquet/src/schema/printer.rs
Labels: parquet

#4177 Minor: support new types in struct_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#4186 Add Sliced ListArray test (#3748)
  arrow-ipc/src/writer.rs
Labels: arrow

#4164 Faster prefix match in object_store path handling
  object_store/src/path/mod.rs
Labels: object-store

#4187 Remove powf_scalar kernel
  arrow-arith/src/arithmetic.rs
  arrow-array/src/numeric.rs
  arrow/src/datatypes/mod.rs
Labels: arrow, api-change

#4185 refactor: simplify can_cast_types code.
  arrow-cast/src/cast.rs
Labels: arrow

#4193 Fix ImdsManagedIdentityProvider (#4096)
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
Labels: object-store

#4189 Simplify ObjectStore configuration pattern
  object_store/src/aws/checksum.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/client/retry.rs
  object_store/src/gcp/mod.rs
Labels: api-change, object-store

#4194 Recognise R2 URLs for S3 object store (#4190)
  object_store/src/aws/mod.rs
Labels: object-store

#4192 Deffered Object Store Config Parsing (#4191)
  object_store/src/aws/checksum.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/config.rs
  object_store/src/lib.rs
  object_store/src/util.rs
Labels: object-store

#4195 Add implementation of `RecordBatchReader` for CSV reader
  arrow-csv/src/reader/mod.rs
Labels: arrow

#4197 Update arrow rustdocs (#4071)
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/null_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/array/union_array.rs
  arrow-array/src/builder/boolean_buffer_builder.rs
  arrow-array/src/builder/boolean_builder.rs
  arrow-array/src/builder/fixed_size_binary_builder.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/builder/generic_byte_run_builder.rs
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
  arrow-array/src/builder/primitive_run_builder.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-array/src/builder/union_builder.rs
  arrow-array/src/lib.rs
  arrow-buffer/src/alloc/mod.rs
  arrow-buffer/src/buffer/mod.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/buffer/null.rs
  arrow-buffer/src/buffer/scalar.rs
  arrow-buffer/src/util/bit_iterator.rs
  arrow/src/lib.rs
Labels: documentation, arrow, development-process

#4202 Allow setting ClientOptions with Options API
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4198 Skip test_list_root on OS X (#3772)
  object_store/src/local.rs
Labels: object-store

#4204 Document how to sort a RecordBatch
  arrow-ord/src/lib.rs
Labels: arrow

#4200 Create ObjectStore from URL and Options (#4047)
  object_store/src/aws/mod.rs
  object_store/src/lib.rs
  object_store/src/parse.rs
Labels: object-store

#4201 Fix incorrect cast Timestamp with Timezone
  arrow-cast/src/cast.rs
  arrow/tests/array_cast.rs
Labels: arrow

#4208 feat(object-store): extend Options API for http client
  object_store/Cargo.toml
  object_store/src/client/mod.rs
  object_store/src/config.rs
Labels: object-store

#4206 Add RecordBatchWriter trait and implement it for CSV, JSON, IPC and P…
  arrow-array/src/lib.rs
  arrow-array/src/record_batch.rs
  arrow-csv/src/writer.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/writer.rs
  arrow/benches/json_reader.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#4203 Implement list_with_offset for PrefixStore
  object_store/src/prefix.rs
Labels: object-store

#4215 Feat docs
  arrow-ord/src/sort.rs
  parquet/README.md
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/basic.rs
  parquet/src/lib.rs
Labels: parquet, arrow

#4212 Add ObjectStore::get_opts (#2241)
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/chunked.rs
  object_store/src/client/mod.rs
  object_store/src/client/retry.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/src/util.rs
Labels: api-change, object-store

#4207 Consistently use GCP XML API
  .github/workflows/object_store.yml
  object_store/CONTRIBUTING.md
  object_store/Cargo.toml
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/client/header.rs
  object_store/src/client/list.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/prefix.rs
Labels: object-store

#4231 Return NotFound for directories in Head and Get (#4230)
  object_store/src/azure/client.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/local.rs
Labels: object-store

#4229 Minor: use all primitive types in test_layouts
  arrow-array/src/types.rs
Labels: arrow

#4228 Add close method to RecordBatchWriter trait
  arrow-array/src/record_batch.rs
  arrow-csv/src/writer.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/writer.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#4225 Standardise credentials API (#4223) (#4163)
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/profile.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#4216 Prefetch page index (#4090)
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_reader/store.rs
  parquet/src/file/footer.rs
  parquet/src/file/metadata.rs
Labels: parquet, api-change

#4235 Expose CredentialProvider
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
  object_store/src/lib.rs
Labels: object-store

#4238 Remove AWS_PROFILE support
  .github/workflows/object_store.yml
  object_store/Cargo.toml
  object_store/src/aws/mod.rs
  object_store/src/aws/profile.rs
Labels: object-store

#4237 Expose AwsAuthorizer
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
Labels: object-store

#4220 Extract Common Listing and Retrieval Functionality
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/client/get.rs
  object_store/src/client/list.rs
  object_store/src/client/list_response.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/util.rs
Labels: object-store

#4241 Prepare object_store 0.6.0
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#4242 Fix merge conflict from #4220
  object_store/src/azure/client.rs
Labels: development-process, object-store

#4210 feat: Support bitwise and boolean aggregate functions
  arrow-arith/src/aggregate.rs
Labels: arrow

#4217 Support Absolute Timestamps in CSV Schema Inference (#4131)
  arrow-csv/src/reader/mod.rs
Labels: arrow

#4259 Extract IPC ArrayReader struct
  arrow-ipc/src/reader.rs
Labels: arrow

#4250 feat: update flight-sql to latest specs
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/flight_sql_client_cli.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  format/Flight.proto
  format/FlightSql.proto
Labels: arrow, arrow-flight, api-change

#4265 Convert parquet metadata back to builders
  parquet/src/file/metadata.rs
Labels: parquet

#4271 Strip leading whitespace from flight_sql_client custom header values
  arrow-flight/src/bin/flight_sql_client.rs
Labels: arrow, arrow-flight

#4267 Parquet Reader/writer for fixed-size list arrays
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/fixed_size_list_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#4277 Expose `RecordBatchWriter` to `arrow` crate
  arrow/src/lib.rs
Labels: arrow

#4273 Convert FixedSizeListArray to GenericListArray
  arrow-array/src/array/list_array.rs
  arrow-buffer/src/buffer/offset.rs
Labels: arrow

#4274 Add parquet-concat
  parquet/Cargo.toml
  parquet/src/bin/parquet-concat.rs
Labels: parquet

#4268 Derive Default for WriterProperties
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/mod.rs
  parquet/src/column/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/mod.rs
  parquet/src/file/properties.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet_derive/src/lib.rs
  parquet_derive_test/src/lib.rs
Labels: parquet, parquet-derive

#4263 Add constructors for FixedSize array types (#3879)
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-buffer/src/buffer/null.rs
  arrow-data/src/data/mod.rs
Labels: arrow

#4279 Minor: Add more docstrings in arrow-flight
  arrow-flight/src/lib.rs
Labels: arrow, arrow-flight

#4285 Only increment metrics for data pages
  parquet/src/column/writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet, development-process

#4287 Make GenericColumnWriter Send
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/page.rs
  parquet/src/column/writer/mod.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/file/writer.rs
  parquet/src/record/record_writer.rs
  parquet_derive/src/lib.rs
  parquet_derive_test/src/lib.rs
Labels: parquet, api-change, parquet-derive

#4292 minor: fix arrow_row docs.rs links
  arrow-ord/src/sort.rs
Labels: arrow

#4232 feat(api!): make ArrowArrayStreamReader Send
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow/src/ffi_stream.rs
  arrow/src/pyarrow.rs
  arrow/tests/pyarrow.rs
Labels: arrow, api-change

#4060 feat: support bulk deletes in object_store
  object_store/CONTRIBUTING.md
  object_store/Cargo.toml
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/http/client.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
Labels: object-store

#4266 feat(flight): add sql-info helpers
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/src/sql/sql_info.rs
Labels: arrow, arrow-flight

#4293 Improve docs and tests for `SqlInfoList
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/sql_info.rs
Labels: arrow, arrow-flight

#4280 Improve `ArrowWriter` memory usage: Buffer Pages in ArrowWriter instead of RecordBatch (#3871)
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/page.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/writer.rs
  parquet/src/util/memory.rs
Labels: parquet

#4272 feat: support 'Decimal256' for parquet
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet

#4300 feat(flight): support int32_to_int32_list_map in sql infos
  arrow-flight/src/sql/sql_info.rs
Labels: arrow, arrow-flight

#4306 Simplify parquet PageIterator
  parquet/benches/arrow_reader.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/column/page.rs
  parquet/src/file/reader.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet, api-change

#4305 feat: use exactly equal parts in multipart upload
  object_store/src/lib.rs
  object_store/src/multipart.rs
Labels: object-store

#4313 Use `page_size` consistently, deprecate `pagesize` in parquet WriterProperties
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/bin/parquet-rewrite.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/properties.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet

#4307 Expose page-level arrow reader API (#4298)
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet

#4303 Speed up i256 division and remainder operations
  arrow-buffer/benches/i256.rs
  arrow-buffer/src/bigint.rs
Labels: arrow, api-change

#4320 Short-circuit on exhausted page in skip_records
  parquet/src/column/reader.rs
Labels: parquet

#4318 Revert i256 error handling changes from #4303
  arrow-buffer/src/bigint.rs
Labels: arrow, development-process

#4323 fix date conversion if timestamp below unixtimestamp
  arrow-cast/src/cast.rs
Labels: arrow
