Repository apache/arrow-rs, pull requests merged in 2023-01, with the labels that each got.

#3421 Minor: Improve docs for arrow-ipc, remove clippy ignore
  arrow-ipc/src/lib.rs
  arrow-ipc/src/writer.rs
Labels: arrow

#3411 refactor: convert `*like_dyn`, `*like_utf8_scalar_dyn` and `*like_dict` functions to macros
  arrow-string/src/like.rs
Labels: arrow

#3424 Derive Clone for ObjectStore builders and Make URL Parsing Stricter (#3419)
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/mod.rs
Labels: object-store

#3405 Add parquet-index binary
  parquet/Cargo.toml
  parquet/src/bin/parquet-index.rs
Labels: parquet

#3440 Verify ArrayData::data_type compatible in PrimitiveArray::from
  arrow-arith/src/arity.rs
  arrow-array/src/array/primitive_array.rs
  arrow-row/src/dictionary.rs
  arrow-row/src/fixed.rs
Labels: arrow

#3445 Minor: run arrow-integration-test{,ing} clippy after arrow clippy
  .github/workflows/arrow.yml
Labels: development-process

#3437 Parquet record API: timestamp as signed integer
  parquet/src/record/api.rs
Labels: parquet, api-change

#3451 Re-export nullif kernel
  arrow/src/compute/kernels/mod.rs
Labels: arrow

#3436 object_store: builder configuration api
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/lib.rs
  object_store/src/util.rs
Labels: object-store

#3453 Support Decimal256 in FFI
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/datatypes/ffi.rs
  arrow/src/ffi.rs
Labels: arrow

#3457 Prepare object_store 0.5.3
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#3444 Improve arrow flight batch splitting and naming
  arrow-flight/src/encode.rs
  arrow-flight/tests/encode_decode.rs
Labels: arrow-flight, api-change

#3427 Consolidate arrow ipc tests and increase coverage
  arrow-integration-testing/src/lib.rs
  arrow-integration-testing/tests/ipc_reader.rs
  arrow-integration-testing/tests/ipc_writer.rs
  arrow/Cargo.toml
  arrow/tests/ipc.rs
Labels: arrow

#3402 Complete mid-level `FlightClient`
  arrow-flight/src/client.rs
  arrow-flight/src/lib.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/server.rs
Labels: arrow-flight

#3463 Add tests for `FlightClient::{list_flights, list_actions, do_action, get_schema}`
  arrow-flight/src/lib.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/server.rs
Labels: arrow-flight

#3449 support RFC3339 style timestamps in `arrow-json`
  arrow-cast/src/display.rs
  arrow-json/src/writer.rs
Labels: arrow, api-change

#3472 Add a test for stream writer for writing sliced array
  arrow-ipc/src/writer.rs
Labels: arrow

#3481 Add tests for record batch size splitting logic in FlightClient
  arrow-flight/src/encode.rs
Labels: arrow-flight

#3450 Meaningful error message for map builder with null keys
  arrow-array/src/array/map_array.rs
  arrow-array/src/builder/map_builder.rs
Labels: arrow

#3470 Fix CSV infinite loop and improve error messages
  arrow-csv/src/reader/records.rs
Labels: arrow

#3480 change `concat_batches` parameter to non owned reference
  arrow-select/src/concat.rs
Labels: arrow

#3458 feat: `column_name` based index access for `RecordBatch` and `StructArray`
  arrow-array/src/array/struct_array.rs
  arrow-array/src/record_batch.rs
Labels: arrow

#3473 Preserve empty list array elements in take kernel
  arrow-select/src/take.rs
Labels: arrow

#3486 [doc] Fix broken URLs
  arrow-array/src/iterator.rs
  arrow-array/src/types.rs
  object_store/src/aws/mod.rs
  parquet/src/arrow/arrow_reader/filter.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet, arrow, object-store

#3487 Fixes a broken link in the arrow lib.rs rustdoc
  arrow/src/lib.rs
Labels: arrow

#3489 feat: Allow providing a service account key directly for GCS
  object_store/src/gcp/mod.rs
Labels: object-store

#3477 feat: add `parquet-rewrite` CLI
  parquet/Cargo.toml
  parquet/src/bin/parquet-rewrite.rs
Labels: parquet

#3494 Fix: Added support to cast string without time
  arrow-cast/src/parse.rs
Labels: arrow

#3498 Fix IPCWriter for Sliced BooleanArray
  arrow-ipc/src/writer.rs
Labels: arrow

#3497 Remove azurite test exception
  object_store/src/azure/mod.rs
Labels: object-store

#3438 Preserve DataType metadata in make_builder
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#3501 Add a function to get memory size of array slice
  arrow-data/src/data.rs
Labels: arrow

#3500 Upgrade base64 to 0.21
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/client.rs
  object_store/Cargo.toml
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/credential.rs
  parquet/Cargo.toml
  parquet/src/arrow/schema/mod.rs
  parquet/src/record/api.rs
Labels: parquet, arrow-flight, object-store

#3505 minor fix for the comments
  arrow-buffer/src/bigint.rs
Labels: arrow

#3491 Fix negative interval prettyprint
  arrow-cast/src/display.rs
  arrow/src/util/pretty.rs
Labels: arrow

#3503 Fix DataTypeLayout for LargeList
  arrow-array/src/types.rs
  arrow-data/src/data.rs
Labels: arrow

#3508 Enable cast Date32 to Timestamp
  arrow-cast/src/cast.rs
Labels: arrow

#3502 Add string comparisons (starts_with, ends_with, and contains) to kernel
  arrow-string/src/like.rs
Labels: arrow

#3515 Additional nullif re-export
  arrow/src/compute/mod.rs
Labels: arrow

#3518 Update version to `31.0.0` and add changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-row/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3522 minor fix: use the unified decimal type builder
  parquet/src/arrow/schema/primitive.rs
Labels: parquet

#3523 Fix reading null booleans from CSV
  arrow-csv/src/reader/mod.rs
Labels: arrow

#3519 No panic on timestamp buffer overflow
  arrow-cast/src/parse.rs
Labels: arrow

#3528 Clap fixes
  parquet/Cargo.toml
  parquet/src/bin/parquet-fromcsv-help.txt
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet

#3527 Write backwards compatible row group statistics (#3526)
  parquet/src/basic.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/statistics.rs
  parquet/src/file/writer.rs
  parquet/src/schema/types.rs
Labels: parquet

#3482 Support casting from binary to dictionary of binary
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-cast/src/cast.rs
  arrow/tests/array_cast.rs
Labels: arrow

#3539 Update aws-config and aws-types requirements from 0.52 to 0.53
  object_store/Cargo.toml
  object_store/src/aws/credential.rs
Labels: object-store

#3531 set sum of uncompressed column size as row group size for parquet files
  parquet/src/file/writer.rs
Labels: parquet

#3529 Minor: Add documentation about memory use for ArrayData
  arrow-data/src/bitmap.rs
  arrow-data/src/data.rs
Labels: arrow

#3550 parquet:: avoid reading extra 8 bytes
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#3546 Improve concat kernel capacity estimation
  arrow-select/src/concat.rs
Labels: arrow

#3544 Update pyarrow method call to avoid warning
  arrow/src/pyarrow.rs
Labels: arrow

#3556 Expose Inner FlightServiceClient on FlightSqlServiceClient (#3551)
  arrow-flight/src/sql/client.rs
Labels: arrow-flight

#3557 Update pyo3 requirement from 0.17 to 0.18
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
Labels: arrow

#3560 Update pyarrow method call with kwargs
  arrow/src/pyarrow.rs
Labels: arrow

#3564 Improve GenericBytesBuilder offset overflow panic message (#139)
  arrow-array/src/builder/generic_bytes_builder.rs
Labels: arrow

#3561 Return reference from ListArray::values
  arrow-array/src/array/list_array.rs
  arrow-cast/src/cast.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/reader.rs
  arrow-row/src/lib.rs
  arrow/src/util/data_gen.rs
Labels: arrow, api-change

#3567 Implement `std::error::Error::source` for `ArrowError` and `FlightError`
  arrow-flight/src/error.rs
  arrow-schema/src/error.rs
Labels: arrow, arrow-flight

#3573 Show row_counts also for (FixedLen)ByteArray
  parquet/src/bin/parquet-index.rs
Labels: parquet

#3563 Implement Extend for ArrayBuilder (#1841)
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/builder/boolean_builder.rs
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#3554 Fix final page row count in parquet-index binary
  parquet/src/bin/parquet-index.rs
Labels: parquet

#3572 Packing array into dictionary of generic byte array
  arrow-cast/src/cast.rs
Labels: arrow

#3570 Remove unwrap on datetime cast for CSV writer
  arrow-csv/src/writer.rs
Labels: arrow

#3574 Add external variant to ParquetError (#3285)
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/column/mod.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/errors.rs
  parquet/src/file/footer.rs
  parquet/src/record/api.rs
  parquet/src/record/reader.rs
  parquet/src/schema/parser.rs
Labels: parquet, api-change

#3588 Clear bits in BooleanBufferBuilder (#3587)
  arrow-array/src/builder/boolean_buffer_builder.rs
Labels: arrow

#3585 Iterate all dictionary key types in cast test
  arrow/tests/array_cast.rs
Labels: arrow

#3590 Fix nullif null count (#3579)
  arrow-select/src/nullif.rs
Labels: arrow

#3596 Faster BooleanBufferBuilder::append_n for true values
  arrow-array/src/builder/boolean_buffer_builder.rs
Labels: arrow

#3597 Update to flatbuffers 23.1.21
  arrow-ipc/Cargo.toml
Labels: arrow

#3542 Enable casting between Utf8/LargeUtf8 and Binary/LargeBinary
  arrow-cast/src/cast.rs
  arrow/tests/array_cast.rs
Labels: arrow

#3600 Add ClientOption.allow_insecure
  object_store/src/client/mod.rs
Labels: object-store

#3553 feat: Add `RunEndEncodedArray`
  arrow-array/src/array/mod.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/builder/generic_byte_run_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/primitive_run_builder.rs
  arrow-array/src/types.rs
  arrow-data/src/data.rs
  arrow-data/src/equal/mod.rs
  arrow-data/src/transform/mod.rs
  arrow-integration-test/src/datatype.rs
  arrow-ipc/src/convert.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/error.rs
  arrow-schema/src/field.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow, api-change

#3581 [object_store] support azure managed and workload identities
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
Labels: object-store

#3541 Additional GCP authentication
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
Labels: object-store

#3602 Allow `StringArray` construction with `Vec<Option<String>>`
  arrow-arith/src/aggregate.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-ord/src/comparison.rs
  arrow/tests/array_transform.rs
Labels: arrow, api-change

#3594 Support sending schemas for empty streams
  arrow-flight/src/decode.rs
  arrow-flight/src/encode.rs
  arrow-flight/tests/encode_decode.rs
Labels: arrow-flight

#3479 Add Raw JSON Reader (~2.5x faster)
  arrow-json/Cargo.toml
  arrow-json/src/lib.rs
  arrow-json/src/raw/boolean_array.rs
  arrow-json/src/raw/list_array.rs
  arrow-json/src/raw/mod.rs
  arrow-json/src/raw/primitive_array.rs
  arrow-json/src/raw/string_array.rs
  arrow-json/src/raw/struct_array.rs
  arrow-json/src/raw/tape.rs
  arrow-json/src/reader.rs
  arrow/Cargo.toml
  arrow/benches/json_reader.rs
Labels: arrow

#3611 Update to 32.0.0 and update changelog
  CHANGELOG-old.md
  CHANGELOG.md
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-buffer/Cargo.toml
  arrow-cast/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-data/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-integration-test/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-row/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-select/Cargo.toml
  arrow-string/Cargo.toml
  arrow/Cargo.toml
  arrow/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
  parquet/Cargo.toml
  parquet_derive/Cargo.toml
  parquet_derive/README.md
  parquet_derive_test/Cargo.toml
Labels: parquet, arrow, arrow-flight, parquet-derive

#3617 Update AWS SDK
  object_store/Cargo.toml
Labels: object-store

#3607 Casting generic binary to generic string
  arrow-cast/src/cast.rs
Labels: arrow

#3608 Minor: Add test for dictionary encoding of batches
  arrow-flight/tests/encode_decode.rs
Labels: arrow-flight

#3627 Fix typo in comment
  parquet/src/record/api.rs
Labels: parquet

#3621 Remove BitSliceIterator specialization from try_for_each_valid_idx
  arrow-data/src/bit_iterator.rs
Labels: arrow

#3619 Reduce PrimitiveArray::try_unary codegen
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#3630 chore: delete wrong comment and refactor set_metadata in `Field`
  arrow-schema/src/field.rs
Labels: arrow

#3637 Improve error messge with detailed schema
  arrow-select/src/concat.rs
Labels: arrow

#3633 Add limit to ArrowReaderBuilder to push limit down to parquet reader
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#3639 Update labeller for new crates
  .github/workflows/dev_pr/labeler.yml
Labels: development-process

#3625 Minor: Update doc strings about Page Index / Column Index
  parquet/src/file/metadata.rs
  parquet/src/file/page_encoding_stats.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/mod.rs
  parquet/src/file/properties.rs
  parquet/src/file/reader.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#3616 Reduce Dictionary Builder Codegen
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
  arrow-buffer/src/native.rs
Labels: arrow

#3624 Specified version of helper function to cast binary to string
  arrow-cast/src/cast.rs
Labels: arrow
