Repository apache/arrow-rs, pull requests merged in 2023-11, with the labels that each got.

#5016 Remove ObjectStore::append
  object_store/Cargo.toml
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
Labels: api-change, object-store

#5018 Decode URL paths (#5017)
  object_store/src/parse.rs
Labels: object-store

#5012 ObjectStore: make error msg thrown from retry more detailed
  object_store/src/client/retry.rs
Labels: object-store

#5020 Relax path safety (#5019)
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/path/mod.rs
  object_store/src/path/parts.rs
Labels: object-store

#5002 Support onelake fabric paths in parse_url (#5000)
  object_store/src/parse.rs
Labels: object-store

#5023 Prepare object_store 0.8.0 (#5010)
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#5024 Verify object_store with all features
  object_store/dev/release/verify-release-candidate.sh
Labels: development-process

#5026 Fix invalid_path test
  object_store/src/local.rs
Labels: object-store

#5033 doc: update comment on sort_to_indices to reflect correct ordering
  arrow-ord/src/sort.rs
Labels: arrow

#5015 Support casting from integer to binary
  arrow-cast/src/cast.rs
Labels: arrow

#5043 Update object_store 0.8.0
  parquet/Cargo.toml
Labels: parquet

#5042 Fix serialization of large integers in JSON (#5038)
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/primitive_array.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/reader/timestamp_array.rs
Labels: arrow

#5040 Cast from integer/timestamp to timestamp/integer
  arrow-cast/src/cast.rs
Labels: arrow

#5041 Fix RowSelection::intersection (#5036)
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#5048 Parquet f32/f64 handle signed zeros in statistics
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
Labels: parquet

#5053 Update parquet encoding docs
  parquet/README.md
  parquet/src/basic.rs
Labels: parquet

#5055 Remove ByteBufferPtr and replace with Bytes
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/decoder/delta_byte_array.rs
  parquet/src/arrow/decoder/dictionary_index.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/column/page.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/encodings/rle.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/lib.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/memory.rs
  parquet/src/util/mod.rs
  parquet/src/util/test_common/page_util.rs
  parquet/src/util/test_common/rand_gen.rs
Labels: parquet

#5056 refactor: change `object_store` CA handling
  object_store/Cargo.toml
  object_store/src/lib.rs
Labels: object-store

#5058 docs: re-order `object_store` intro
  object_store/src/lib.rs
Labels: object-store

#5060 Backport: Fix RowSelection::intersection (#5036) (#5041) to `48.0.0` maintenance
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet, cherry-picked

#5059 Backport: Fix serialization of large integers (#5038) (#5042) to `48.0.0_maintenance`
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/primitive_array.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/reader/timestamp_array.rs
Labels: arrow, cherry-picked

#5063 Add a PR under "Breaking changes" in the object_store 0.8.0 changelog
  object_store/CHANGELOG.md
Labels: object-store

#5071 IPC writer truncated sliced list/map values
  arrow-ipc/src/writer.rs
Labels: arrow

#5076 Enable truncation of binary statistics columns
  parquet/src/column/writer/mod.rs
  parquet/src/file/properties.rs
  parquet/src/file/statistics.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet

#5070 Implement Arrow PyCapsule Interface
  .github/workflows/integration.yml
  arrow-pyarrow-integration-testing/README.md
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow-schema/src/ffi.rs
  arrow/src/pyarrow.rs
Labels: arrow

#5082 Add FFI from_raw
  arrow-data/src/ffi.rs
  arrow-schema/src/ffi.rs
  arrow/src/ffi_stream.rs
  arrow/src/pyarrow.rs
Labels: arrow

#5090 Fix latest clippy lints
  object_store/src/lib.rs
Labels: development-process, object-store

#5092 Ensure arrays passed to MutableArrayData have same type (#5091)
  arrow-data/src/transform/mod.rs
  arrow/tests/array_transform.rs
Labels: arrow

#5096 Extend aggregation benchmarks
  arrow/benches/aggregate_kernels.rs
Labels: arrow

#5093 Expand parquet crate overview doc
  parquet/CONTRIBUTING.md
  parquet/Cargo.toml
  parquet/README.md
  parquet/src/arrow/async_reader/store.rs
  parquet/src/arrow/mod.rs
  parquet/src/file/mod.rs
  parquet/src/file/reader.rs
  parquet/src/lib.rs
  parquet/src/record/reader.rs
Labels: parquet

#5080 Improve C Data Interface and Add Integration Testing Entrypoints
  arrow-data/src/ffi.rs
  arrow-integration-testing/Cargo.toml
  arrow-integration-testing/README.md
  arrow-integration-testing/src/bin/arrow-json-integration-test.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/lib.rs
  arrow-schema/src/error.rs
  arrow-schema/src/ffi.rs
  arrow/src/array/ffi.rs
  arrow/src/ffi.rs
  arrow/src/ffi_stream.rs
  arrow/src/pyarrow.rs
Labels: arrow, api-change

#5065 Allow writing null valued keys in JSON
  arrow-array/src/numeric.rs
  arrow-json/src/lib.rs
  arrow-json/src/writer.rs
  arrow-json/test/data/nested_with_nulls.json
  arrow/src/ffi.rs
  arrow/tests/array_cast.rs
  object_store/src/gcp/builder.rs
Labels: arrow, object-store

#5101 fix: coerce_primitive for serde decoded data
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/string_array.rs
Labels: arrow

#5111 Fix integration tests
  .github/workflows/integration.yml
Labels: development-process

#5109 Implementing `ArrayBuilder` for `Box<dyn ArrayBuilder>`
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#5119 Remove empty source file
  arrow/src/datatypes/ffi.rs
  arrow/src/datatypes/mod.rs
Labels: arrow, development-process

#5124 Cleanup list casting and support nested lists (#5113)
  arrow-cast/src/cast.rs
Labels: arrow

#5078 [fix #5044] Support converting 'yyyymmdd' format to date
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
Labels: arrow

#5094 Fix ObjectStore.LocalFileSystem.put_opts for blobfuse
  object_store/src/local.rs
Labels: object-store

#5123 Cast from numeric/timestamp to timestamp/numeric
  arrow-cast/src/cast.rs
Labels: arrow

#5114 Improve cast docs
  arrow-cast/src/cast.rs
Labels: arrow

#5128 Fix negative decimal string
  arrow-cast/src/cast.rs
Labels: arrow

#5110 Parquet: derive boundary order when writing
  parquet/src/column/writer/mod.rs
  parquet/src/file/metadata.rs
Labels: parquet

#5028 Update localstack
  .github/workflows/object_store.yml
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
Labels: development-process, object-store

#5137 Parquet: Make `MetadataLoader` public
  parquet/src/arrow/async_reader/metadata.rs
Labels: parquet

#5139 Support casting of Float16 with other numeric types
  arrow-cast/src/cast.rs
Labels: arrow

#5133 JSON: write struct array nulls as null
  arrow-json/src/writer.rs
Labels: arrow

#5144 Deprecate Fields::remove and Schema::remove
  arrow-schema/src/fields.rs
  arrow-schema/src/schema.rs
Labels: arrow

#5134 Allow 403 for overwrite prevention
  object_store/src/aws/client.rs
  object_store/src/aws/precondition.rs
Labels: object-store

#5149 Support nested schema projection (#5148)
  arrow-schema/src/fields.rs
Labels: arrow

#5147 Parquet: omit min/max for interval columns when writing stats
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
Labels: parquet
