Repository apache/arrow-rs, pull requests merged in 2023-12, with the labels that each got.

#5161 object_store: fix failing doctest with default features
  object_store/Cargo.toml
  object_store/src/lib.rs
Labels: object-store

#5157 Adding `is_null` datatype shortcut method
  arrow-schema/src/datatype.rs
Labels: arrow

#5158 Parquet: write column_orders in FileMetaData
  parquet/src/file/writer.rs
Labels: parquet

#5135 Parquet: clear metadata and project fields of ParquetRecordBatchStream::schema
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#5168 Removing redundant `as casts` in parquet
  parquet/src/column/reader.rs
  parquet/src/encodings/rle.rs
Labels: parquet

#5166 improve: make RunArray displayable
  arrow-cast/src/display.rs
Labels: arrow

#5160 ci: Add cargo audit CI action
  .github/workflows/audit.yml
  arrow-csv/Cargo.toml
  arrow-json/Cargo.toml
Labels: arrow

#5181 Parquet: Ensure page statistics are written only when conifgured from the Arrow Writer
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/writer/mod.rs
Labels: parquet

#5100 Use Total Ordering for Aggregates and Refactor for Better Auto-Vectorization
  arrow-arith/src/aggregate.rs
  arrow-array/src/arithmetic.rs
  arrow-buffer/src/buffer/boolean.rs
Labels: arrow, api-change

#5184 Remove SIMD Feature
  .github/workflows/arrow.yml
  .github/workflows/miri.sh
  arrow-arith/Cargo.toml
  arrow-array/Cargo.toml
  arrow-array/src/numeric.rs
  arrow-buffer/src/util/bit_util.rs
  arrow-ord/src/comparison.rs
  arrow/CONTRIBUTING.md
  arrow/Cargo.toml
  arrow/README.md
  arrow/src/ffi.rs
  arrow/src/pyarrow.rs
  arrow/tests/array_transform.rs
Labels: arrow, api-change

#5189 Fix: Ensure Timestamp Parsing Rejects Characters After 'Z
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
Labels: arrow

#5178 Replace ScalarBuffer in Parquet with Vec (#1849) (#5177)
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/buffer/dictionary_buffer.rs
  parquet/src/arrow/buffer/offset_buffer.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/arrow/record_reader/mod.rs
Labels: parquet

#5183 Simplify parquet statistics generation
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
Labels: parquet

#5192 Clarify interval comparison behavior with documentation and tests
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/ord.rs
Labels: arrow

#5179 Blockwise IO in IPC FileReader (#5153)
  arrow-ipc/src/reader.rs
Labels: arrow

#5203 impl `From<OffsetBuffer<T>>` for `ScalarBuffer<T>`
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#5202 impl `From<BufferBuilder<T>>` for `Buffer`
  arrow-buffer/src/buffer/immutable.rs
Labels: arrow

#5201 impl `From<BufferBuilder<T>>` for `ScalarBuffer<T>`
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#5195 chore: simplify cast_string_to_interval
  arrow-cast/src/cast.rs
Labels: arrow

#5196 feat: Support quote and escape in Csv WriterBuilder
  arrow-csv/src/writer.rs
Labels: arrow

#5213 Revert "Bump actions/download-artifact from 3 to 4"
  .github/workflows/docs.yml
Labels: development-process

#5210 Support MapBuilder in make_builder
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#5193 Use Vec in ColumnReader (#5177)
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/array_reader/null_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/buffer/dictionary_buffer.rs
  parquet/src/arrow/buffer/offset_buffer.rs
  parquet/src/arrow/record_reader/buffer.rs
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/arrow/record_reader/mod.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/record/triplet.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet, api-change, parquet-derive

#5216 fix(json): fix inferring object after field was null
  arrow-json/src/reader/schema.rs
Labels: arrow

#5221 feat(cast): support cast between struct
  arrow-cast/src/cast.rs
Labels: arrow

#5226 Use `try_new` when casting between structs to propagate error
  arrow-cast/src/cast.rs
Labels: arrow

#5230 Minor: Improve comments and errors for ArrowPredicate
  parquet/src/arrow/arrow_reader/filter.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#5228 make with_schema's error more readable
  arrow-array/src/record_batch.rs
Labels: arrow

#5235 Improve regexp kernels performance by avoiding cloning Regex
  arrow-string/src/regexp.rs
  arrow/Cargo.toml
  arrow/benches/regexp_kernels.rs
Labels: arrow

#5188 Document default value of InstanceCredentialProvider
  object_store/src/gcp/builder.rs
Labels: documentation, object-store

#5237 Remove deprecated try_with_option methods
  object_store/src/aws/builder.rs
  object_store/src/azure/builder.rs
  object_store/src/gcp/builder.rs
Labels: api-change, object-store

#5239 Update arrow-row docs URL
  arrow-row/src/lib.rs
Labels: arrow

#5241 Remove 'unwrap' from Result
  parquet/src/record/reader.rs
Labels: parquet

#5136 Add FileReaderBuilder for arrow-ipc to allow reading large no. of column files
  arrow-ipc/src/reader.rs
Labels: arrow

#4918 Implement `copy_if_not_exist` for `AmazonS3` using DynamoDB (#4880)
  .github/workflows/object_store.yml
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/dynamo.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/precondition.rs
Labels: object-store

#4627 Add `Field::new_list_field` and improve `DataType::new_list` docs
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
Labels: arrow

#5248 optimize the next function of ArrowArrayStreamReader
  .gitignore
  arrow/src/ffi_stream.rs
Labels: arrow

#5257 Clippy lints 1.75
  arrow-data/src/equal/run.rs
  arrow-data/src/equal/utils.rs
  arrow-flight/src/utils.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-testing/src/lib.rs
  arrow-ord/src/sort.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
Labels: parquet, arrow, arrow-flight, development-process

#5256 Don't suppress errors in ArrowArrayStreamReader
  arrow/src/ffi_stream.rs
Labels: arrow

#5258 Further Clippy Lints and Temporarily disable JS integration tests
  .github/workflows/integration.yml
  object_store/src/lib.rs
Labels: development-process, object-store

#5249 Add IPC FileDecoder
  arrow-ipc/src/reader.rs
Labels: arrow

#5244 Default AWS region to us-east-1 (#5211)
  object_store/src/aws/builder.rs
Labels: object-store

#5260 Update docs for datatypes
  arrow-array/src/array/primitive_array.rs
  arrow-schema/src/datatype.rs
Labels: arrow
