Repository apache/arrow-rs, pull requests merged in 2023-06, with the labels that each got.

#4332 feat: add read parquet by custom rowgroup examples
  .github/workflows/parquet.yml
  parquet/Cargo.toml
  parquet/examples/read_with_rowgroup.rs
Labels: parquet

#4327 Don't split record across pages (#3680)
  parquet/src/column/writer/mod.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet

#4319 Handle trailing padding when skipping repetition levels (#3911)
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
Labels: parquet

#4340 chore: expose Xdbc related enums
  arrow-flight/src/sql/mod.rs
Labels: arrow, arrow-flight

#4331 Make SerializedRowGroupReader::new() public
  parquet/src/file/serialized_reader.rs
Labels: parquet

#4342 Rename list contains kernels to in_list (#4289)
  arrow-ord/src/comparison.rs
  arrow/examples/builders.rs
  arrow/examples/collect.rs
  arrow/examples/dynamic_types.rs
  arrow/examples/tensor_builder.rs
  arrow/tests/array_validation.rs
  parquet/src/data_type.rs
Labels: parquet, arrow, api-change

#4344 Fix clippy for object_store
  object_store/src/aws/mod.rs
  object_store/src/path/mod.rs
Labels: development-process, object-store

#4341 Update FlightSQL metadata locations, names and docs
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/catalogs/mod.rs
  arrow-flight/src/sql/metadata/catalogs.rs
  arrow-flight/src/sql/metadata/db_schemas.rs
  arrow-flight/src/sql/metadata/mod.rs
  arrow-flight/src/sql/metadata/sql_info.rs
  arrow-flight/src/sql/metadata/tables.rs
  arrow-flight/src/sql/mod.rs
Labels: arrow, arrow-flight

#4345 Don't exclude FIFO files from LocalFileSystem
  object_store/src/local.rs
Labels: object-store

#4182 feat: cast between `Intervals`
  arrow-cast/src/cast.rs
Labels: arrow

#4310 Fix support for ECS IAM credentials
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
Labels: object-store

#4343 Fix MutableArrayData::extend_nulls (#1230)
  arrow-data/src/transform/mod.rs
  arrow/tests/array_transform.rs
Labels: arrow

#4349 Don't infer 16-byte decimal as decimal256
  parquet/src/arrow/schema/mod.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet

#4351 Fix ObjectStore::get_range for GetResult::File (#4350)
  object_store/Cargo.toml
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/tests/get_range_file.rs
Labels: object-store

#4348 Prepare object_store 0.6.1
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#4357 minor: remove useless prefix and fix typo.
  arrow-array/src/builder/generic_byte_run_builder.rs
  arrow-cast/src/cast.rs
Labels: arrow, development-process

#4360 refact: use as_primitive in cast.rs test
  arrow-cast/src/cast.rs
Labels: arrow

#4316 Raise TypeError on PyArrow import
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/pyarrow.rs
Labels: arrow

#4363 deprecate: as_decimal_array
  arrow-array/src/cast.rs
Labels: arrow

#4358 Minor: float16 to json
  arrow-cast/Cargo.toml
  arrow-cast/src/parse.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/primitive_array.rs
  arrow-json/src/writer.rs
  arrow-json/test/data/basic.json
Labels: arrow

#4366 Make PrimitiveArray::with_timezone consuming
  arrow-array/src/array/primitive_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet, arrow, api-change

#4364 Have array_to_json_array support MapArray
  arrow-array/src/array/map_array.rs
  arrow-array/src/iterator.rs
  arrow-json/src/writer.rs
Labels: arrow

#4370 Changed array_to_json_array to take &dyn Array
  arrow-json/src/writer.rs
Labels: arrow, api-change

#4367 minor: use as_boolean to resolve TODO
  arrow-ord/src/comparison.rs
Labels: arrow

#4359 feat(flight): add xdbc type info helpers
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/metadata/mod.rs
  arrow-flight/src/sql/metadata/sql_info.rs
  arrow-flight/src/sql/metadata/xdbc_info.rs
Labels: arrow, arrow-flight

#4375 feat: Add`microsecond` and `millisecond` kernels
  arrow-arith/src/temporal.rs
Labels: arrow

#4382 Add MapArray constructors and doc example
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/map_array.rs
Labels: arrow

#4380 Add NullBuffer and BooleanBuffer From conversions
  arrow-array/src/array/primitive_array.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/null.rs
Labels: arrow

#4386 Consolidate ByteArray::from_iterator
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/string_array.rs
Labels: arrow

#4391 Cleanup downcast macros
  arrow-array/src/cast.rs
Labels: arrow

#4381 Documentation Improvements
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/string_array.rs
  arrow-buffer/src/lib.rs
  arrow-data/src/lib.rs
  arrow/src/lib.rs
Labels: arrow

#4392 Improve parquet `WriterProperites` and `ReaderProperties` docs
  parquet/src/file/properties.rs
Labels: parquet

#4394 Fix typo in README
  arrow-flight/README.md
Labels: arrow, arrow-flight

#4389 Truncate Min/Max values in the Column Index
  parquet/src/column/writer/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/properties.rs
Labels: parquet, api-change

#4395 Minor: Derive `Hash` impls for `CastOptions` and `FormatOptions`
  arrow-cast/src/cast.rs
  arrow-cast/src/display.rs
Labels: arrow

#4399 Faster UTF-8 truncation
  parquet/src/column/writer/mod.rs
Labels: parquet

#4400 StructBuilder Validate Child Data (#4397)
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#4401 Add PrimitiveBuilder type constructors
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/types.rs
Labels: arrow

#4402 Add `BooleanBuffer::new_unset` and `BooleanBuffer::new_set` and `BooleanArray::new_null` constructors
  arrow-arith/src/boolean.rs
  arrow-array/src/array/boolean_array.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/null.rs
Labels: arrow

#4403 More take benchmarks
  arrow/benches/take_kernels.rs
Labels: arrow

#4405 Improve `take` kernel performance on primitive arrays, fix bad null index handling (#4404)
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/scalar.rs
  arrow-select/src/take.rs
Labels: arrow

#4416 Cleanup nullif kernel
  arrow-select/src/nullif.rs
Labels: arrow

#4412 Remove 64-bit to 32-bit Cast from IPC Reader
  arrow-ipc/src/reader.rs
Labels: arrow, api-change

#4419 Fix reading gzip file with multiple gzip headers in parquet-fromcsv.
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet

#4427 Remove Float64 -> Float32 cast in IPC Reader
  arrow-ipc/src/reader.rs
Labels: arrow

#4421 feat: add strict mode to json reader
  arrow-json/src/reader/list_array.rs
  arrow-json/src/reader/map_array.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/struct_array.rs
Labels: arrow

#4418 gcp: Exclude authorization header when bearer empty
  object_store/src/gcp/mod.rs
Labels: object-store

#4443 minor: remove useless mut
  arrow-buffer/src/util/bit_util.rs
  arrow-select/src/take.rs
  parquet/src/schema/types.rs
Labels: parquet, arrow

#4428 cleanup some `unwrap`() into proper Result propagation, impl `PartialEq` for `ParquetError`
  parquet/src/bin/parquet-read.rs
  parquet/src/errors.rs
  parquet/src/file/mod.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/record/api.rs
  parquet/src/record/reader.rs
  parquet/src/record/triplet.rs
Labels: parquet, api-change

#4433 Casting fixedsizelist to list/largelist
  arrow-array/src/cast.rs
  arrow-cast/src/cast.rs
Labels: arrow

#4430 feat: support `NullBuilder`
  arrow-array/src/array/null_array.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/null_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#4425 Parse intervals like `.5` the same as `0.5`
  arrow-cast/src/parse.rs
Labels: arrow

#4442 unify substring for binary&utf8
  arrow-string/Cargo.toml
  arrow-string/src/substring.rs
Labels: arrow

#4436 doc: deploy crate docs to GitHub pages
  .github/workflows/docs.yml
  README.md
  arrow/README.md
  parquet/README.md
Labels: parquet, arrow

#4446 Revise error message in From<Buffer> for ScalarBuffer
  arrow-array/src/array/list_array.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#4447 Simplify ffi import/export
  arrow/src/array/ffi.rs
  arrow/src/ffi.rs
  arrow/src/ffi_stream.rs
  arrow/src/pyarrow.rs
Labels: arrow, api-change

#4453 Convince the compiler to auto-vectorize the range check in parquet DictionaryBuffer
  parquet/src/arrow/buffer/dictionary_buffer.rs
Labels: parquet

#4452 fix docs deployment
  .asf.yaml
  .github/workflows/docs.yml
  README.md
  arrow/README.md
  parquet/README.md
Labels: parquet, arrow

#4458 Fix error message copypasta
  parquet/src/arrow/array_reader/struct_array.rs
Labels: parquet, development-process

#4460 Fix empty offset index for all null columns (#4459)
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/writer/mod.rs
Labels: parquet

#4407 Remove Binary Dictionary Arithmetic Support
  .github/workflows/arrow.yml
  arrow-arith/Cargo.toml
  arrow-arith/src/arithmetic.rs
  arrow/Cargo.toml
  arrow/README.md
Labels: arrow, api-change

#4461 Docs: Add clearer API doc links
  README.md
  arrow-flight/README.md
  arrow/README.md
  parquet/README.md
Labels: parquet, arrow, arrow-flight

#4415 Add DictionaryArray::occupancy
  arrow-array/Cargo.toml
  arrow-array/benches/occupancy.rs
  arrow-array/src/array/dictionary_array.rs
Labels: arrow

#4469 Revert ParquetError: PartialEq
  parquet/src/errors.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet, development-process

#4470 Append Row to Rows (#4466)
  arrow-row/src/dictionary.rs
  arrow-row/src/fixed.rs
  arrow-row/src/lib.rs
  arrow-row/src/list.rs
  arrow-row/src/variable.rs
Labels: arrow
