Repository apache/arrow-rs, pull requests merged in 2024-12, with the labels that each got.

#6816 [arrow-cast] Support cast numeric to string view (alternate)
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#6817 Support shrink to empty
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/bytes.rs
Labels: arrow

#6820 Hook up Avro Decoder
  arrow-avro/Cargo.toml
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/cursor.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
  arrow-avro/src/reader/vlq.rs
Labels: arrow

#6824 Remove deprecated unary_dyn and try_unary_dyn
  arrow-arith/src/arity.rs
Labels: arrow

#6823 Remove deprecated flight_data_from_arrow_batch
  arrow-flight/src/encode.rs
  arrow-flight/src/utils.rs
Labels: arrow, arrow-flight

#6822 [arrow-cast] Support cast boolean from/to string view
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#6825 fix(flightsql): remove Any encoding of DoPutUpdateResult
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/server.rs
Labels: arrow, arrow-flight, api-change

#6834 avoid redundant parsing of repeated value in RleDecoder
  parquet/src/encodings/rle.rs
Labels: parquet, api-change

#6830 Handling nullable DictionaryArray in CSV parser
  arrow-csv/src/reader/mod.rs
  arrow-csv/test/data/dictionary_nullable_test.csv
Labels: arrow, api-change

#6828 Optionally coerce names of maps and lists to match Parquet specification
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/bin/parquet-rewrite.rs
  parquet/src/file/properties.rs
Labels: parquet

#6781 Improve UnionArray logical_nulls tests
  arrow-array/src/array/union_array.rs
Labels: arrow

#6841 Minor: add example for creating `SchemaDescriptor`
  parquet/src/schema/types.rs
Labels: documentation, parquet

#6856 Fix docstring for `Format::with_header` in `arrow-csv`
  arrow-csv/src/reader/mod.rs
Labels: documentation, arrow

#6845 arrow-array::builder: support Int8, Int16 and Int64 keys
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#6853 perf: Use Cow in get_format_string in FFI_ArrowSchema
  arrow-schema/Cargo.toml
  arrow-schema/benches/ffi.rs
  arrow-schema/src/ffi.rs
Labels: arrow

#6794 Fix multipart uploads with checksums on object locked buckets
  .github/workflows/object_store.yml
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/client/s3.rs
Labels: object-store

#6850 chore: add cast_decimal benchmark
  arrow/benches/cast_kernels.rs
Labels: arrow

#6862 add buffered data_pages to parquet column writer total bytes estimation
  parquet/src/column/writer/mod.rs
Labels: parquet

#6843 Always explicitly disable `gzip` automatic decompression on reqwest client used by object_store
  object_store/Cargo.toml
  object_store/src/client/mod.rs
  object_store/tests/http.rs
Labels: object-store

#6804 Enable unused_crate_dependencies Rust lint, remove unused dependencies
  .github/workflows/arrow.yml
  arrow-csv/Cargo.toml
  arrow-flight/Cargo.toml
  arrow-flight/src/lib.rs
  arrow-integration-testing/Cargo.toml
  arrow-integration-testing/src/bin/arrow-file-to-stream.rs
  arrow-integration-testing/src/bin/arrow-json-integration-test.rs
  arrow-integration-testing/src/bin/arrow-stream-to-file.rs
  arrow-integration-testing/src/bin/flight-test-integration-client.rs
  arrow-integration-testing/src/bin/flight-test-integration-server.rs
  arrow-integration-testing/src/lib.rs
  arrow-ord/Cargo.toml
  arrow-row/Cargo.toml
  arrow/Cargo.toml
Labels: arrow, arrow-flight

#6872 Enable matching temporal as from_type to Utf8View
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6869 Use randomized content ID for Azure multipart uploads
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/integration.rs
Labels: object-store

#6836 fix: decimal conversion looses value on lower precision
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6864 fix: make GetCatalogsBuilder sort catalog names
  arrow-flight/src/sql/metadata/catalogs.rs
Labels: arrow, arrow-flight

#6873 Add deprecation warnings for everything related to `dict_id`
  arrow-flight/src/encode.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/utils.rs
  arrow-integration-test/src/field.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-test/src/schema.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/reader/stream.rs
  arrow-ipc/src/writer.rs
  arrow-schema/src/ffi.rs
  arrow-schema/src/field.rs
  arrow-schema/src/schema.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow, arrow-flight

#6870 Improvements to UTF-8 statistics truncation
  parquet/src/column/writer/mod.rs
Labels: parquet

#6840 Add `ArrowToParquetSchemaConverter`, deprecate `arrow_to_parquet_schema`
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/file/properties.rs
Labels: parquet

#6884 Deprecate "max statistics size" property in `WriterProperties`
  parquet/src/bin/parquet-rewrite.rs
  parquet/src/file/properties.rs
Labels: parquet

#6890 docs: fix typo
  arrow-array/src/array/dictionary_array.rs
Labels: arrow

#6889 Minor: Fix deprecation notice for `arrow_to_parquet_schema`
  parquet/src/arrow/schema/mod.rs
Labels: parquet

#6885 Add Field::with_dict_is_ordered
  arrow-schema/src/field.rs
Labels: arrow

#6886 Minor: make it easier to find fix instructions when `cargo fmt` on parquet fails
  .github/workflows/rust.yml
Labels: development-process

#6896 Add 53.4.0 to release schedule
  README.md
Labels: documentation, development-process

#6852 Add deprecation / API removal policy
  README.md
  arrow/README.md
  parquet/README.md
Labels: documentation, parquet, arrow

#6871 Enable string-based column projections from Parquet files
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet

#6899 doc: add comment for timezone string
  arrow-schema/src/datatype.rs
Labels: arrow

#6894 Update version to 54.0.0, add CHANGELOG
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  arrow-flight/README.md
  dev/release/update_change_log.sh
Labels: arrow, arrow-flight

#6904 [object store] Add planned object_store release schedule to crate readme
  README.md
Labels: documentation

#6875 add `extend_dictionary` in dictionary builder for improved performance
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#6908 [object_store]: Version and Changelog for 0.11.2
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/README.md
  object_store/dev/release/update_change_log.sh
Labels: object-store

#6907 feat(parquet): Add next_row_group API for ParquetRecordBatchStream
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#6910 chore(arrow-ord): move `can_rank` to the `rank` file
  arrow-ord/src/rank.rs
  arrow-ord/src/sort.rs
Labels: arrow

#6918 Fix error message typos with Parquet compression
  parquet/src/basic.rs
Labels: parquet

#6916 Expose arrow-schema methods, for use when writing parquet outside of ArrowWriter
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet

#6919 Improve the error message for casting between struct and non-struct types
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6849 [arrow-string] Implement string view support for `regexp_match`
  arrow-string/src/regexp.rs
Labels: arrow
