Repository apache/arrow-rs, pull requests merged in 2024-11, with the labels that each got.

#6612 Add `ParquetObjectReader::with_runtime`
  arrow-json/src/writer/encoder.rs
  arrow-string/src/predicate.rs
  parquet/Cargo.toml
  parquet/src/arrow/async_reader/store.rs
  parquet/src/errors.rs
Labels: parquet, arrow

#6673 Minor: Document pattern for accessing views in StringView
  arrow-array/src/array/byte_view_array.rs
Labels: documentation, arrow

#6675 Check predicate and values are the same length for run end array filter safety
  arrow-select/src/filter.rs
Labels: arrow

#6687 Update quick-xml requirement from 0.36.0 to 0.37.0 in /object_store
  object_store/Cargo.toml
  object_store/src/gcp/client.rs
Labels: object-store

#6671 Support `Utf8View` for `bit_length` kernel
  arrow-string/src/length.rs
Labels: arrow

#6674 [ffi] Fix arrow-array null_count error during conversion from C to Rust
  arrow-array/src/ffi.rs
  arrow-data/src/ffi.rs
Labels: arrow, api-change

#6694 minor fix on checking index
  parquet/src/schema/types.rs
Labels: parquet

#6689 Reimplement `PartialEq` of `GenericByteViewArray` compares by logical value
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/array/mod.rs
Labels: arrow

#6655 Let std::fmt::Debug for StructArray output Null/Validity info
  arrow-array/src/array/struct_array.rs
Labels: arrow

#6695 Minor: fix misleading comment in byte view
  arrow-array/src/cast.rs
Labels: arrow

#6699 Speed up `filter_bytes`
  arrow-data/src/transform/variable_size.rs
  arrow-select/src/filter.rs
Labels: arrow

#6682 Support native S3 conditional writes
  .github/workflows/object_store.yml
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/precondition.rs
  object_store/src/client/s3.rs
  object_store/src/integration.rs
Labels: object-store

#6688 feat: expose known_schema from FlightDataEncoder
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#6620 Make downcast macros hygenic (#6400)
  arrow-array/src/cast.rs
Labels: arrow

#6662 Fix string view LIKE checks with NULL values
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
Labels: arrow

#6705 Fix string view ILIKE checks with NULL values
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
Labels: arrow

#6698 check sign_payload instead of skip_signature before computing checksum
  object_store/src/aws/client.rs
Labels: object-store

#6704 Implement logical_null_count for more array types
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/list_view_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/struct_array.rs
Labels: arrow

#6703 Fix LIKE with escapes
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
Labels: arrow

#6691 Undo run end filter performance regression
  arrow-select/src/filter.rs
Labels: arrow

#6706 Add filter_kernel benchmark for run array
  arrow/benches/filter_kernels.rs
Labels: arrow

#6729 Fix signed decimal e-notation parsing
  arrow-cast/src/parse.rs
  arrow-select/src/zip.rs
Labels: arrow

#6725 Clean up some arrow-flight tests and duplicated code
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#6711 File writer preserve dict bug
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
Labels: arrow

#6712 Speed up `filter_run_end_array`
  arrow-select/src/filter.rs
Labels: arrow, performance

#6731 Implement interleave_record_batch
  arrow-select/src/interleave.rs
Labels: arrow

#6720 Support for casting `StringViewArray` to `DecimalArray`
  arrow-array/src/array/mod.rs
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6588 feat: `record_batch!` macro
  arrow-array/src/record_batch.rs
Labels: arrow

#6683 Support Duration in JSON Reader
  arrow-cast/src/parse.rs
  arrow-json/src/reader/mod.rs
Labels: arrow

#6739 Prepare for 53.3.0 release
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  arrow-flight/README.md
  dev/release/README.md
  dev/release/update_change_log.sh
Labels: arrow, arrow-flight, development-process

#6743 Remove redundant implementation of `StringArrayType`
  arrow-string/src/like.rs
Labels: arrow

#6707 Fix Buffer::bit_slice losing length with byte-aligned offsets
  arrow-buffer/src/buffer/immutable.rs
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#6740 Fix Dictionary logical nulls for RunArray/UnionArray Values
  arrow-array/src/array/dictionary_array.rs
Labels: arrow

#6763 Remove 'make_row', expose a 'Row::new' method instead.
  parquet/src/record/api.rs
  parquet/src/record/reader.rs
Labels: parquet

#6721 Improve default implementation of Array::is_nullable
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/mod.rs
Labels: arrow

#6755 Split `timestamp_s_to_datetime` to `date` and `time` to avoid unnecessary computation
  arrow-array/src/temporal_conversions.rs
Labels: arrow

#6767 Include license and notice files in published crates
  arrow-arith/LICENSE.txt
  arrow-arith/NOTICE.txt
  arrow-array/LICENSE.txt
  arrow-array/NOTICE.txt
  arrow-avro/LICENSE.txt
  arrow-avro/NOTICE.txt
  arrow-buffer/LICENSE.txt
  arrow-buffer/NOTICE.txt
  arrow-cast/LICENSE.txt
  arrow-cast/NOTICE.txt
  arrow-csv/LICENSE.txt
  arrow-csv/NOTICE.txt
  arrow-data/LICENSE.txt
  arrow-data/NOTICE.txt
  arrow-flight/LICENSE.txt
  arrow-flight/NOTICE.txt
  arrow-integration-test/LICENSE.txt
  arrow-integration-test/NOTICE.txt
  arrow-ipc/LICENSE.txt
  arrow-ipc/NOTICE.txt
  arrow-json/LICENSE.txt
  arrow-json/NOTICE.txt
  arrow-ord/LICENSE.txt
  arrow-ord/NOTICE.txt
  arrow-row/LICENSE.txt
  arrow-row/NOTICE.txt
  arrow-schema/LICENSE.txt
  arrow-schema/NOTICE.txt
  arrow-select/LICENSE.txt
  arrow-select/NOTICE.txt
  arrow-string/LICENSE.txt
  arrow-string/NOTICE.txt
  arrow/LICENSE.txt
  arrow/NOTICE.txt
  parquet/LICENSE.txt
  parquet/NOTICE.txt
  parquet_derive/LICENSE.txt
  parquet_derive/NOTICE.txt
Labels: parquet, arrow, arrow-flight, parquet-derive

#6745 update to pyo3 0.23.0
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow/Cargo.toml
  arrow/src/pyarrow.rs
Labels: arrow, api-change, next-major-release

#6722 Remove APIs deprecated since v 4.4.0
  arrow-flight/src/utils.rs
Labels: arrow, arrow-flight, api-change, next-major-release

#6765 Minor: Update release schedule on README
  README.md
Labels: documentation, development-process

#6766 fix: remove redundant `bit_util::ceil`
  arrow-select/src/filter.rs
Labels: arrow

#6769 Allow NullBuffer construction directly from array
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/string_array.rs
  arrow-buffer/src/buffer/null.rs
  arrow-ipc/src/reader.rs
  arrow-string/src/substring.rs
  arrow/examples/builders.rs
  arrow/tests/array_cast.rs
  parquet/src/arrow/buffer/view_buffer.rs
Labels: parquet, arrow

#6609 Remove APIs deprecated since v 2.0.0
  arrow-array/src/record_batch.rs
  arrow-buffer/src/buffer/mutable.rs
Labels: arrow, api-change, next-major-release

#6768 object_store: Add support for requester pays buckets
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
Labels: object-store

#6630 Add `ParquetError::NeedMoreData` mark `ParquetError` as `non_exhaustive`
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/errors.rs
  parquet/src/file/metadata/reader.rs
Labels: parquet, api-change, next-major-release

#6773 Add AuthorityHost to AzureConfigKey
  object_store/src/azure/builder.rs
Labels: object-store

#6774 Remove some very old deprecated functions
  arrow-array/src/array/struct_array.rs
  parquet/src/file/properties.rs
Labels: parquet, arrow, api-change

#6775 Improve list builder usage example in docs
  arrow-array/src/builder/generic_list_builder.rs
Labels: arrow

#6782 Add version to deprecation messages
  arrow-arith/src/arity.rs
  arrow-arith/src/temporal.rs
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-array/src/cast.rs
  arrow-array/src/ffi.rs
  arrow-array/src/ffi_stream.rs
  arrow-array/src/types.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/native.rs
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/writer.rs
  arrow-data/src/data.rs
  arrow-json/src/reader/mod.rs
  arrow-ord/src/cmp.rs
  arrow-ord/src/ord.rs
  arrow-ord/src/partition.rs
  arrow-schema/src/fields.rs
  arrow-schema/src/schema.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  parquet/src/basic.rs
  parquet/src/column/reader.rs
  parquet/src/file/metadata/mod.rs
Labels: parquet, arrow, object-store

#6639 Return `None` when Parquet page indexes are not present in file
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/file/metadata/reader.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet, api-change, next-major-release

#6786 Remove APIs deprecated on or before 49.0.0
  arrow-arith/src/temporal.rs
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/cast.rs
  arrow-array/src/types.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/native.rs
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/writer.rs
  arrow-data/src/data.rs
  arrow-json/src/reader/mod.rs
  arrow-ord/src/partition.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  parquet/src/column/reader.rs
  parquet/src/file/metadata/mod.rs
Labels: parquet, arrow, object-store

#6785 Formalize the default nested list field name to `item`
  arrow-array/benches/fixed_size_list_array.rs
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/list_view_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/string_array.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-array/src/ffi.rs
  arrow-array/src/record_batch.rs
  arrow-avro/src/codec.rs
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/pretty.rs
  arrow-flight/src/encode.rs
  arrow-flight/src/sql/metadata/sql_info.rs
  arrow-flight/src/sql/metadata/xdbc_info.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-test/src/schema.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/schema.rs
  arrow-json/src/writer/mod.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/ord.rs
  arrow-row/src/lib.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/datatype_parse.rs
  arrow-schema/src/field.rs
  arrow-schema/src/fields.rs
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
  arrow-string/src/length.rs
  arrow-string/src/regexp.rs
  arrow/benches/concatenate_kernel.rs
  arrow/benches/json_reader.rs
  arrow/benches/lexsort.rs
  arrow/examples/builders.rs
  arrow/src/util/data_gen.rs
  arrow/tests/array_cast.rs
  arrow/tests/array_equal.rs
  arrow/tests/array_transform.rs
  parquet/benches/arrow_reader.rs
  parquet/benches/arrow_writer.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/fixed_size_list_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow, arrow-flight

#5681 Implement bulk_delete_request for Azure
  object_store/Cargo.toml
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
Labels: object-store

#6791 Rust 1.82 clippy fixes
  arrow-ord/src/ord.rs
  object_store/src/aws/client.rs
  object_store/src/aws/dynamo.rs
  object_store/src/local.rs
  object_store/src/path/parts.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet, arrow, object-store

#6792 Remove unused dependencies
  arrow-arith/Cargo.toml
  arrow-avro/Cargo.toml
  arrow-csv/Cargo.toml
  arrow-flight/gen/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-ipc/Cargo.toml
  arrow-json/Cargo.toml
  arrow-ord/Cargo.toml
  arrow/Cargo.toml
Labels: arrow, arrow-flight

#6798 Minor: Fix docstrings for `ColumnProperties::statistics_enabled` property
  parquet/src/file/properties.rs
Labels: parquet

#6795 Update references from `master` to `main`
  .asf.yaml
  .github/dependabot.yml
  .github/workflows/README.md
  .github/workflows/arrow.yml
  .github/workflows/arrow_flight.yml
  .github/workflows/audit.yml
  .github/workflows/dev.yml
  .github/workflows/docs.yml
  .github/workflows/integration.yml
  .github/workflows/miri.yaml
  .github/workflows/object_store.yml
  .github/workflows/parquet.yml
  .github/workflows/parquet_derive.yml
  .github/workflows/rust.yml
  CONTRIBUTING.md
  README.md
  arrow-flight/README.md
  arrow-integration-testing/README.md
  arrow/README.md
  arrow/src/lib.rs
  dev/release/README.md
  dev/release/create-tarball.sh
  object_store/Cargo.toml
  object_store/dev/release/README.md
  object_store/dev/release/create-tarball.sh
  parquet/README.md
  parquet/examples/async_read_parquet.rs
Labels: parquet, arrow, arrow-flight, object-store

#6313 feat(parquet)!: coerce_types flag for date64
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/file/properties.rs
Labels: parquet, api-change

#6806 Hide implicit optional dependency features in arrow-flight
  arrow-flight/Cargo.toml
Labels: arrow, arrow-flight

#6757 Read nested Parquet 2-level lists correctly
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/record/reader.rs
  parquet/src/schema/types.rs
Labels: parquet

#6810 chore: enrich panic context when BooleanBuffer fails to create
  arrow-buffer/src/buffer/boolean.rs
Labels: arrow

#6805 fix: Encoding of List offsets was incorrect when slice offsets begin with zero
  arrow-ipc/src/writer.rs
Labels: arrow

#6790 Add `Array::shrink_to_fit(&mut self)`
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/list_view_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/array/union_array.rs
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/null.rs
  arrow-buffer/src/buffer/offset.rs
  arrow-buffer/src/buffer/run.rs
  arrow-buffer/src/buffer/scalar.rs
  arrow-buffer/src/bytes.rs
  arrow/tests/shrink_to_fit.rs
Labels: arrow

#6819 Fix arrow-avro compilation without default features
  arrow-avro/src/compression.rs
Labels: arrow

#6802 object-store: remove S3ConditionalPut::ETagPutIfNotExists
  .github/workflows/object_store.yml
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/precondition.rs
  object_store/src/client/retry.rs
Labels: object-store

#6788 arrow-ipc: Default to not preserving dict IDs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-ipc/src/writer.rs
Labels: arrow, api-change
