Repository apache/arrow-rs, pull requests merged in 2024-02, with the labels that each got.

#5357 Add more debugging info to StructBuilder validate_content
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#5355 pyarrow: Preserve RecordBatch's schema metadata
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/pyarrow.rs
Labels: arrow

#5340 Minor: support cast values to fixedsizelist
  arrow-cast/src/cast.rs
Labels: arrow

#5362 Return an error instead of a panic when reading a corrupted Parquet file with mismatched column counts
  parquet/src/file/metadata.rs
Labels: parquet

#5364 Add example of converting RecordBatches to JSON objects
  arrow-json/src/writer.rs
Labels: documentation, arrow

#5360 feat: support casting FixedSizeList with new child type
  arrow-cast/src/cast.rs
Labels: arrow

#5369 docs(object-store): add warning to flush
  object_store/src/lib.rs
Labels: object-store

#5371 Pull container name from URL for Azure blob
  object_store/src/azure/builder.rs
Labels: object-store

#5376 Fix latest clippy lints
  arrow-arith/src/arity.rs
  arrow-array/src/array/primitive_array.rs
  arrow-row/src/variable.rs
Labels: arrow

#5382 Return error instead of panic when reading invalid Parquet metadata
  parquet/regen.sh
  parquet/src/file/serialized_reader.rs
  parquet/src/format.rs
Labels: parquet

#5385 Update to chrono 0.4.34
  .github/workflows/rust.yml
  Cargo.toml
  arrow-cast/src/display.rs
  arrow-json/src/writer.rs
Labels: arrow

#5328 Don't omit schema metadata when removing column
  arrow-array/src/record_batch.rs
  arrow-schema/src/schema.rs
Labels: arrow

#5395 Propagate error instead of panic for `take_bytes`
  arrow-select/src/take.rs
Labels: arrow

#5390 Improve like kernel by ~2%
  arrow-string/Cargo.toml
  arrow-string/src/predicate.rs
Labels: arrow

#5399 Add tests for serializing lists of dictionary encoded values to json
  arrow-json/src/writer.rs
Labels: arrow

#5373 feat: utility functions for creating `FixedSizeList` and `LargeList` dtypes
  arrow-array/src/array/list_array.rs
  arrow-ipc/src/convert.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
  arrow-schema/src/fields.rs
  arrow-select/src/filter.rs
Labels: arrow

#5398 Return null for overflow when casting string to integer under safe option enabled
  arrow-cast/Cargo.toml
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
Labels: arrow

#5405 [object_store] Fix empty Multipart Upload for AWS S3
  object_store/src/aws/client.rs
  object_store/src/lib.rs
Labels: object-store

#5387 Enable running arrow-array and arrow-arith with miri and avoid strict provenance warning
  .github/workflows/miri.sh
  arrow-buffer/src/bigint/div.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/lib.rs
Labels: arrow

#5401 improve float to string cast by ~20%-40%
  arrow-cast/Cargo.toml
  arrow-cast/src/display.rs
  arrow/benches/cast_kernels.rs
Labels: arrow, performance

#5409 docds(object_store): Mention HTTP/WebDAV in README
  object_store/README.md
Labels: object-store

#5415 fix(object_store): Include Content-MD5 header for S3 DeleteObjects
  object_store/Cargo.toml
  object_store/src/aws/client.rs
Labels: object-store

#5413 Update Flight proto: PollFlightInfo & expiration time
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/examples/server.rs
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/client.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/server.rs
  arrow-integration-testing/src/flight_server_scenarios.rs
  arrow-integration-testing/src/flight_server_scenarios/auth_basic_proto.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/middleware.rs
  format/Flight.proto
  format/FlightSql.proto
Labels: arrow, arrow-flight

#5417 Ensure addition/multiplications in when allocating buffers don't overflow
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/util/bit_util.rs
Labels: arrow

#5251 Bring some methods over from ArrowWriter to the async version
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#5425 Enable anonymous access for MicrosoftAzure
  object_store/src/azure/builder.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
Labels: object-store

#5434 Improve docs for logical and physical nulls even more
  arrow-array/src/array/mod.rs
Labels: documentation, arrow

#5428 Improve debug output of Time32/Time64 arrays
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#5431 Add BufWriter for Adapative Put / Multipart Upload
  object_store/src/buffered.rs
Labels: object-store

#5441 Expose path_to_filesystem public
  object_store/src/local.rs
Labels: object-store

#5439 Refine `Display` and `Source` implementation for error types
  arrow-flight/src/error.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/encode_decode.rs
  arrow-schema/src/error.rs
Labels: arrow, arrow-flight
