Repository apache/arrow-rs, pull requests merged in 2024-05, with the labels that each got.

#5698 Fallible stream for arrow-flight do_exchange call (#3462)
  arrow-flight/src/client.rs
  arrow-flight/tests/client.rs
Labels: arrow, arrow-flight, api-change

#5710 Fix up clippy for Rust 1.78
  arrow-cast/src/parse.rs
  arrow-integration-testing/src/bin/arrow-json-integration-test.rs
  arrow-json/src/reader/serializer.rs
  arrow-json/src/writer/encoder.rs
  arrow-select/src/take.rs
  arrow/src/util/string_writer.rs
  parquet/src/column/writer/mod.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/file/statistics.rs
Labels: parquet, arrow

#5705 docs: add sizing explanation to bloom filter docs in parquet
  parquet/src/bloom_filter/mod.rs
Labels: documentation, parquet

#5721 Deprecate NullBuilder capacity, as it behaves in a surprising way
  arrow-array/src/array/null_array.rs
  arrow-array/src/builder/null_builder.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-csv/src/reader/mod.rs
Labels: arrow

#5718 Tweak Private Sbbf::new_with_ndv_fpp Documentation
  parquet/src/bloom_filter/mod.rs
Labels: documentation, parquet, development-process

#5709 Export object_store integration tests
  object_store/Cargo.toml
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/dynamo.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/builder.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/chunked.rs
  object_store/src/client/list.rs
  object_store/src/gcp/builder.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/mod.rs
  object_store/src/integration.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/parse.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
Labels: object-store

#5704 Support casting `StringView`/`BinaryView` --> `StringArray`/`BinaryArray`.
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5727 Fix Rustdocs (amd64, nightly)" CI check
  arrow-buffer/src/alloc/alignment.rs
  parquet/src/format.rs
  parquet/src/lib.rs
Labels: parquet, arrow, development-process

#5728 Refactor to share code between do_put and do_exchange calls
  arrow-flight/src/client.rs
Labels: arrow, arrow-flight

#5734 Minor: avoid (likely unreachable) panic in FlightClient
  arrow-flight/src/client.rs
Labels: arrow, arrow-flight

#5679 Add support for flexible column lengths
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/reader/records.rs
  arrow-csv/test/data/truncated_rows.csv
Labels: arrow

#5623 Change `UnionArray` constructors
  arrow-array/src/array/union_array.rs
  arrow-array/src/builder/union_builder.rs
  arrow-cast/src/pretty.rs
  arrow-flight/src/encode.rs
  arrow-integration-test/src/lib.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  arrow-schema/src/fields.rs
  arrow-select/src/take.rs
  arrow/tests/array_transform.rs
Labels: arrow, arrow-flight, api-change

#5744 Fix PutPayloadMut::push not updating content_length (#5743)
  object_store/src/integration.rs
  object_store/src/payload.rs
Labels: object-store

#5745 Prepare object_store 0.10.1
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#5746 Add additional WriteMultipart tests (#5743)
  object_store/src/integration.rs
  object_store/src/upload.rs
Labels: object-store

#5713 Fix nested nullability when randomly generating arrays
  arrow/src/util/data_gen.rs
Labels: arrow

#5737 Document planned release cadence for arrow/parquet/etc
  README.md
  arrow/README.md
  parquet/README.md
Labels: parquet, arrow, development-process

#5741 Compute data buffer length by using start and end values in offset buffer
  arrow-array/src/ffi.rs
  arrow-data/src/equal/variable_size.rs
Labels: arrow

#5754 Expose the null buffer of every builder that has one
  arrow-array/src/builder/fixed_size_binary_builder.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-array/src/builder/generic_list_builder.rs
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#5760 Expose boolean builder contents
  arrow-array/src/builder/boolean_builder.rs
Labels: arrow

#5768 Remove deprecated comparison kernels (#4733)
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_binary_array.rs
  arrow-array/src/scalar.rs
  arrow-ord/src/comparison.rs
  arrow/src/lib.rs
Labels: arrow

#5730 Improve error message for timestamp queries outside supported range
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#5781 Fix documentation for parquet `parse_metadata`, `decode_metadata` and `decode_footer`
  parquet/src/file/footer.rs
Labels: parquet

#5773 Encode UUID as FixedLenByteArray in parquet_derive
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/Cargo.toml
  parquet_derive_test/src/lib.rs
Labels: api-change, parquet-derive

#5779 Support casting a `FixedSizedList<T>[1]` to `T`
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-cast/src/cast/list.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5782 feat(arrow-csv): support encoding of binary in CSV writer
  arrow-csv/src/writer.rs
Labels: arrow

#5769 Structured interval types for `IntervalMonthDayNano` or `IntervalDayTime` (#3125) (#5654)
  arrow-arith/src/numeric.rs
  arrow-array/src/arithmetic.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
  arrow-buffer/src/arith.rs
  arrow-buffer/src/bigint/mod.rs
  arrow-buffer/src/interval.rs
  arrow-buffer/src/lib.rs
  arrow-buffer/src/native.rs
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/display.rs
  arrow-cast/src/pretty.rs
  arrow-data/src/data.rs
  arrow-integration-test/src/lib.rs
  arrow-ord/src/comparison.rs
  arrow-ord/src/ord.rs
  arrow-row/src/fixed.rs
  arrow-select/src/take.rs
  arrow/benches/comparison_kernels.rs
  arrow/src/util/bench_util.rs
  arrow/tests/array_cast.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, api-change

#5786 Refine parquet documentation on types and metadata
  parquet/regen.sh
  parquet/src/file/metadata.rs
  parquet/src/file/mod.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/statistics.rs
  parquet/src/format.rs
  parquet/src/lib.rs
  parquet/src/schema/mod.rs
  parquet/src/schema/types.rs
Labels: parquet

#5785 feat(arrow-json): encode `Binary` and `LargeBinary` types as hex when writing JSON
  arrow-json/src/writer.rs
  arrow-json/src/writer/encoder.rs
Labels: arrow

#5774 Refine ParquetRecordBatchReaderBuilder docs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: documentation, parquet

#5790 Fix incorrect URL to Parquet CPP types.h
  parquet/src/basic.rs
Labels: parquet

#5794 chore: update docs to delineate which ObjectStore lists are recursive
  object_store/src/lib.rs
Labels: object-store

#5802 Fix typo continuation maker -> marker
  arrow-ipc/src/convert.rs
Labels: arrow

#5803 Fix issue #5800: Handle missing files in list_with_delimiter
  object_store/src/local.rs
Labels: object-store

#5811 Revisit List Row Encoding (#5807)
  arrow-row/src/lib.rs
  arrow-row/src/list.rs
  arrow-row/src/variable.rs
Labels: arrow

#5792 Push SortOptions into DynComparator Allowing Nested Comparisons (#5426)
  arrow-ord/src/ord.rs
  arrow-ord/src/sort.rs
  arrow-row/src/lib.rs
  arrow/src/array/mod.rs
Labels: arrow

#5813 Minor: Add examples for ColumnPath::from
  parquet/src/schema/types.rs
Labels: documentation, parquet

#5812 Minor: Clarify docs on `EnabledStatistics`
  parquet/src/file/properties.rs
Labels: documentation, parquet

#5801 fix: serialization of decimal
  arrow-json/src/reader/decimal_array.rs
  arrow-json/src/reader/mod.rs
Labels: arrow

#5814 Allow overriding the inferred parquet schema root
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet

#5817 fix(flightsql): remove Any encoding of `DoPutPreparedStatementResult`
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/server.rs
Labels: arrow, arrow-flight, api-change
