Repository apache/arrow-rs, pull requests merged in 2024-08, with the labels that each got.

#6169 Upgrade protobuf definitions to flightsql 17.0 (#6133)
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  format/FlightSql.proto
Labels: arrow-flight, api-change

#6141 Add additional documentation and examples to `ArrayAccessor`
  arrow-array/src/array/mod.rs
  arrow/src/lib.rs
Labels: documentation, arrow

#6125 Minor: Update release schedule in README
  README.md
Labels: documentation

#6168 Optimize `take` kernel for `BinaryViewArray` and `StringViewArray`
  arrow-select/src/take.rs
  arrow/benches/take_kernels.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#6140 Minor: improve comments in temporal.rs tests
  arrow-arith/src/temporal.rs
Labels: documentation, arrow

#6171 Support `StringView` and `BinaryView` in CDataInterface
  arrow-schema/src/ffi.rs
Labels: arrow

#6165 Make object_store errors non-exhaustive
  object_store/src/lib.rs
  object_store/src/path/mod.rs
Labels: api-change, object-store, next-major-release

#6070 Update snafu to `0.8.0` in object_store (#5930)
  object_store/Cargo.toml
  object_store/src/client/get.rs
Labels: api-change, object-store, next-major-release

#6117 No longer write Parquet column metadata after column chunks *and* in the footer
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/page.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change

#6186 add filter benchmark for `FixedSizeBinaryArray`
  arrow/benches/filter_kernels.rs
Labels: arrow

#6181 Add support for `StringView` and `BinaryView` statistics in `StatisticsConverter`
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/tests/arrow_reader/mod.rs
  parquet/tests/arrow_reader/statistics.rs
Labels: parquet

#6189 Benchmarks for `bool_and`
  arrow/benches/aggregate_kernels.rs
Labels: arrow

#6188 Fix typo in documentation of Float64Array
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#6013 feat(parquet): Implement AsyncFileWriter for `object_store::buffered::BufWriter`
  parquet/Cargo.toml
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/arrow/async_writer/store.rs
Labels: parquet

#6159 Support Parquet `BYTE_STREAM_SPLIT` for INT32, INT64, and FIXED_LEN_BYTE_ARRAY primitive types
  parquet/benches/encoding.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/test_util.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/decoding/byte_stream_split_decoder.rs
  parquet/src/encodings/encoding/byte_stream_split_encoder.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet

#6197 Add `ThriftMetadataWriter` for writing Parquet metadata
  parquet/src/file/page_index/index.rs
  parquet/src/file/writer.rs
  parquet/src/thrift.rs
Labels: parquet

#6184 Add (more) Parquet Metadata Documentation
  parquet/src/file/metadata/mod.rs
Labels: documentation, parquet

#6192 fix parquet type `is_optional` comments
  parquet/src/schema/types.rs
Labels: parquet

#6210 minor: Suggest take on interleave docs
  arrow-select/src/interleave.rs
Labels: arrow

#6209 fix: Correctly handle take on dense union of a single selected type
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
Labels: arrow

#6204 Add benchmarks for `BYTE_STREAM_SPLIT` encoded Parquet `FIXED_LEN_BYTE_ARRAY` data
  parquet/benches/arrow_reader.rs
  parquet/benches/encoding.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet

#6205 fix(arrow): restrict the range of temporal values produced via `data_gen`
  arrow/Cargo.toml
  arrow/src/util/data_gen.rs
Labels: arrow

#6180 Support casting between BinaryView <--> Utf8 and LargeUtf8
  arrow-cast/src/cast/mod.rs
  arrow/benches/cast_kernels.rs
Labels: arrow

#6194 feat(object_store): add `PermissionDenied` variant to top-level error
  object_store/src/client/retry.rs
  object_store/src/lib.rs
Labels: object-store

#6212 Update documentation for Parquet BYTE_STREAM_SPLIT encoding
  parquet/src/basic.rs
Labels: parquet

#6208 Add time dictionary coercions
  arrow-cast/src/cast/dictionary.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6217 use spaces not tabs everywhere
  arrow-cast/src/cast/mod.rs
  arrow-csv/src/writer.rs
Labels: arrow, development-process

#6178 Implement specialized filter kernel for `FixedSizeByteArray`
  arrow-buffer/src/buffer/mutable.rs
  arrow-select/src/filter.rs
Labels: arrow

#6225 fix: lexsort_to_indices should not fallback to non-lexical sort if the datatype is not supported
  arrow-ord/src/sort.rs
Labels: arrow

#6227 Prepare for object_store `0.11.0` release
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: development-process, object-store

#6211 Improve interval parsing
  arrow-cast/src/parse.rs
Labels: arrow

#6238 Update changelog for object_store 0.11.0 release
  object_store/CHANGELOG.md
Labels: object-store

#6224 Minor: Improve Type documentation
  arrow-array/src/types.rs
Labels: documentation, arrow

#6059 Add "take" workflow for self-assigning tickets, add "how to find issues" to contributor guide
  .github/workflows/take.yml
  CONTRIBUTING.md
Labels: development-process

#6202 Move `ParquetMetadataWriter` to its own module, update documentation
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/writer.rs
  parquet/src/file/writer.rs
Labels: parquet

#6222 Modest improvement to FixedLenByteArray BYTE_STREAM_SPLIT arrow decoder
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
Labels: parquet

#6220 Improve performance of `FixedLengthBinary` decoding
  parquet/benches/encoding.rs
  parquet/src/data_type.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/decoding/byte_stream_split_decoder.rs
Labels: parquet

#6239 minor: enhance document for ParquetField
  parquet/src/arrow/schema/complex.rs
Labels: documentation, parquet

#6244 Remove unnecessary null buffer construction when converting arrays to a different type
  arrow-array/src/array/primitive_array.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet, arrow

#6240 Add examples to `StringViewBuilder` and `BinaryViewBuilder`
  arrow-array/src/builder/generic_bytes_view_builder.rs
Labels: arrow

#6241 Implement PartialEq for GenericByteViewArray
  arrow-array/src/array/byte_view_array.rs
Labels: arrow

#6216 parquet Statistics - deprecate `has_*` APIs and add `_opt` functions that return `Option<T>`
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/page.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/statistics.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change

#6223 Minor: Update `DateType::Date64` docs
  arrow-schema/src/datatype.rs
Labels: documentation, arrow

#6230 feat(object_store): add support for server-side encryption with customer-provided keys (SSE-C)
  object_store/CONTRIBUTING.md
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
Labels: object-store

#6201 Expose bulk ingest in flight sql client and server
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/client.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/tests/common/fixture.rs
  arrow-flight/tests/common/mod.rs
  arrow-flight/tests/common/utils.rs
  arrow-flight/tests/encode_decode.rs
  arrow-flight/tests/flight_sql_client.rs
Labels: arrow, arrow-flight, api-change

#6232 Avoid infinite loop in bad parquet by checking the number of rep levels
  parquet/src/column/reader.rs
Labels: parquet

#6254 Make the bearer token visible in FlightSqlServiceClient
  arrow-flight/src/sql/client.rs
Labels: arrow, arrow-flight

#6264 Update parquet object_store dependency to 0.11.0
  parquet/Cargo.toml
Labels: parquet

#6246 Implement date_part for durations
  arrow-arith/src/temporal.rs
Labels: arrow

#6272 Improve documentation for `MutableArrayData`
  arrow-data/src/transform/mod.rs
Labels: documentation

#6271 Do not print compression level in schema printer
  parquet/src/basic.rs
  parquet/src/schema/printer.rs
Labels: parquet

#6259 Add `Statistics::distinct_count_opt` and deprecate `Statistics::distinct_count`
  parquet/src/column/writer/mod.rs
  parquet/src/file/statistics.rs
Labels: parquet

#6260 fix(object_store): only add encryption headers for SSE-C in get request
  object_store/src/aws/client.rs
Labels: object-store

#6258 Minor: move `FallibleRequestStream` and `FallibleTonicResponseStream` to a module
  arrow-flight/src/client.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/streams.rs
Labels: arrow, arrow-flight

#6275 Minor: `pub use ByteView` in arrow and improve documentation
  arrow-array/src/array/byte_view_array.rs
  arrow-data/src/byte_view.rs
  arrow/src/array/mod.rs
Labels: arrow

#6280 ci: simplify octokit add assignee
  .github/actions/assign.mjs
  .github/workflows/take.yml
Labels: development-process

#6284 Fix panic in comparison_kernel benchmarks
  arrow/benches/comparison_kernels.rs
Labels: arrow, development-process

#6286 fix reference in doctest to size_of which is not imported by default
  arrow-data/src/transform/mod.rs
Labels: arrow

#6252 Use `unary()` for array conversion in Parquet array readers, speed up `Decimal128`, `Decimal256` and `Float16`
  arrow-array/src/array/primitive_array.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet, arrow

#6301 Minor: improve `RowFilter` and `ArrowPredicate` docs
  parquet/src/arrow/arrow_reader/filter.rs
Labels: documentation, parquet

#6231 Specialize Prefix/Suffix Match for `Like/ILike` between Array and Scalar for StringViewArray
  arrow-array/src/array/byte_view_array.rs
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
Labels: arrow

#6295 Err on `try_from_le_slice`
  parquet/src/encodings/rle.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/statistics.rs
  parquet/src/util/bit_util.rs
  parquet/tests/arrow_reader/bad_data.rs
  parquet/tests/arrow_reader/bad_raw_metadata.bin
Labels: parquet

#6308 Parquet: add `union` method to `RowSelection`
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#6306 Minor: Improve comments on GenericByteViewArray::bytes_iter(), prefix_iter() and suffix_iter()
  arrow-array/src/array/byte_view_array.rs
Labels: documentation, arrow

#6325 docs[object_store]: clarify the backoff strategy that is actually implemented
  object_store/src/client/backoff.rs
Labels: object-store

#6316 Pass empty vectors as min/max for all null pages when building ColumnIndex
  parquet/src/column/writer/mod.rs
Labels: parquet

#6317 Minor: improve filter documentation
  arrow-select/src/filter.rs
Labels: documentation, arrow

#6319 Fix writing of invalid Parquet ColumnIndex when row group contains null pages
  parquet/src/file/metadata/writer.rs
  parquet/src/file/page_index/index.rs
Labels: parquet

#6330 Derive PartialEq and Eq for parquet::arrow::ProjectionMask
  parquet/src/arrow/mod.rs
Labels: parquet

#6320 Support zero column `RecordBatch`es in pyarrow integration (use RecordBatchOptions when converting a pyarrow RecordBatch)
  arrow-pyarrow-integration-testing/tests/test_sql.py
  arrow/src/pyarrow.rs
Labels: arrow

#6269 parquet_derive: Match fields by name, support reading selected fields rather than all
  parquet_derive/src/lib.rs
  parquet_derive_test/src/lib.rs
Labels: api-change, parquet-derive

#6304 Specialize filter for structs and sparse unions
  arrow-array/src/cast.rs
  arrow-select/src/filter.rs
Labels: arrow
