Repository apache/arrow-rs, pull requests merged in 2024-04, with the labels that each got.

#5525 IPC format support for StringViewArray and BinaryViewArray
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
Labels: arrow

#5578 Upgrade object_store dependency to use chrono `0.4.34`
  object_store/Cargo.toml
Labels: object-store

#5575 Add `try_filter_leaves` to propagate error from filter closure
  arrow-schema/src/fields.rs
Labels: arrow

#5583 Expose ArrowReaderMetadata::try_new
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#5563 Split arrow_cast::cast::string into it's own submodule
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#5554 Optionally require alignment when reading IPC, respect alignment when writing
  arrow-buffer/src/buffer/scalar.rs
  arrow-flight/src/encode.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/reader/stream.rs
  arrow-ipc/src/writer.rs
Labels: arrow, arrow-flight, api-change

#5300 Add GCS signed URL support
  object_store/src/aws/credential.rs
  object_store/src/aws/mod.rs
  object_store/src/gcp/builder.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
  object_store/src/util.rs
Labels: object-store

#5573 filter for run end array
  arrow-select/src/filter.rs
Labels: arrow

#5566 Update py03 from 0.20 to 0.21
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow/Cargo.toml
  arrow/src/pyarrow.rs
  arrow/tests/pyarrow.rs
Labels: arrow

#5590 Fix handling of empty multipart uploads for GCS
  object_store/src/gcp/client.rs
Labels: object-store

#5596 Bump chrono-tz from 0.8 to 0.9
  arrow-array/Cargo.toml
  arrow/tests/array_cast.rs
  arrow/tests/timezone.rs
Labels: arrow

#5601 Add tests for Arrow Flight support for `StringViewArray` and `BinaryViewArray`
  arrow-flight/tests/encode_decode.rs
Labels: arrow, arrow-flight

#5541 feat: implemented with_field() for FixedSizeListBuilder
  arrow-array/src/builder/fixed_size_list_builder.rs
Labels: arrow

#5585 Add `UnionArray::into_parts`
  arrow-array/src/array/union_array.rs
Labels: arrow

#5597 Minor: Add docs for GenericBinaryBuilder, links to `GenericStringBuilder`
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/mod.rs
Labels: arrow

#5603 Panic when displaying dates on 32-bit platforms
  arrow-array/src/array/primitive_array.rs
  arrow-buffer/src/native.rs
Labels: arrow

#5602 Implement `take` kernel for byte view array.
  arrow-array/src/cast.rs
  arrow-select/src/take.rs
Labels: arrow

#5609 Retry on More Error Classes
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/dynamo.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/client/retry.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
  object_store/src/http/client.rs
Labels: object-store

#5612 Use FixedSizeListArray::new in FixedSizeListBuilder
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/builder/fixed_size_list_builder.rs
Labels: arrow

#5618 feat: support reading and writing`StringView` and `BinaryView` in parquet (part 1)
  arrow-array/src/array/byte_view_array.rs
  arrow/src/util/bench_util.rs
  arrow/src/util/data_gen.rs
  parquet/benches/arrow_reader.rs
  parquet/benches/arrow_writer.rs
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/offset_buffer.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet, arrow

#5621 Update Flight crate README version
  arrow-flight/README.md
Labels: arrow, arrow-flight

#5629 minor-fix: removed typos in object_store sub crate
  object_store/src/gcp/builder.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
Labels: object-store

#5622 feat: encode FixedSizeBinary in JSON as hex string
  arrow-json/src/writer.rs
  arrow-json/src/writer/encoder.rs
Labels: arrow

#5635 Increase `BinaryViewArray` test coverage
  arrow-array/src/array/byte_view_array.rs
Labels: arrow

#5634 PrettyPrint support for `StringViewArray` and `BinaryViewArray`
  arrow-cast/src/display.rs
  arrow-cast/src/pretty.rs
Labels: arrow

#5605 Account for Timezone when Casting Timestamp to Date32
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5611 String to decimal conversion written using E/scientific notation
  arrow-cast/src/parse.rs
Labels: arrow

#5632 feat(ffi): add run end encoded arrays
  arrow-data/src/data.rs
  arrow-schema/src/ffi.rs
  arrow/src/ffi.rs
Labels: arrow

#5639 Add more invalid utf8 parquet reader tests
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#5643 fix: panic when casting `ListArray` to `FixedSizeList`
  arrow-cast/src/cast/list.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5624 Implement `filter` kernel for byte view arrays.
  arrow-arith/src/arity.rs
  arrow-array/src/types.rs
  arrow-buffer/src/native.rs
  arrow-data/src/data.rs
  arrow-select/src/filter.rs
  arrow/benches/filter_kernels.rs
Labels: arrow

#5538 Support non-contiguous put payloads / vectored writes (#5514)
  object_store/src/aws/checksum.rs
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/dynamo.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
  object_store/src/buffered.rs
  object_store/src/chunked.rs
  object_store/src/client/retry.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/multipart.rs
  object_store/src/payload.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/src/upload.rs
  object_store/tests/get_range_file.rs
Labels: api-change, object-store

#5645 Fix flaky test_cleanup_intermediate_files
  object_store/src/local.rs
Labels: development-process, object-store

#5646 feat: JSON encoding of `FixedSizeList`
  arrow-json/src/writer.rs
  arrow-json/src/writer/encoder.rs
Labels: arrow

#5650 Add Attributes API (#5329)
  object_store/src/attributes.rs
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/client/get.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
Labels: object-store

#5652 Add put_multipart_opts (#5435)
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/chunked.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/tests/get_range_file.rs
Labels: object-store

#5658 Prepare object_store 0.10.0
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#5674 Fix integration tests by downgrading jobserver (#5673)
  .github/workflows/integration.yml
Labels: development-process

#5675 Update object_store depedency in arrow to `0.10.0`
  parquet/Cargo.toml
Labels: parquet

#5670 Move ffi stream and utils from arrow to arrow-array
  arrow-array/Cargo.toml
  arrow-array/src/ffi.rs
  arrow-array/src/ffi_stream.rs
  arrow-array/src/lib.rs
  arrow/Cargo.toml
  arrow/src/array/ffi.rs
  arrow/src/array/mod.rs
  arrow/src/lib.rs
Labels: arrow

#5651 Remove deprecated JSON writer
  arrow-json/src/lib.rs
  arrow-json/src/writer.rs
Labels: arrow, api-change

#5666 Arrow Flight SQL example JDBC driver incompatibility
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/client.rs
Labels: arrow, arrow-flight

#5690 Add more attributes to `object_store::Attribute`
  object_store/src/attributes.rs
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/client/get.rs
  object_store/src/gcp/client.rs
  object_store/src/http/client.rs
  object_store/src/lib.rs
Labels: object-store

#5693 Add `BufWriter::with_attributes` and `::with_tags` in `object_store`
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/buffered.rs
  object_store/src/lib.rs
Labels: object-store

#5686 Support casting `StringArray`/`BinaryArray` --> `StringView` / `BinaryView`
  arrow-array/src/array/byte_view_array.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5697 Fix documentation around handling of nulls in cmp kernels
  arrow-ord/src/cmp.rs
  arrow-ord/src/comparison.rs
Labels: arrow

#5664 Add `ListView` & `LargeListView` basic construction and validation
  arrow-data/src/data.rs
  arrow/tests/array_validation.rs
Labels: arrow
