Repository apache/arrow-rs, pull requests merged in 2024-07, with the labels that each got.

#5980 Add operation in ArrowNativeTypeOp::neg_check error message (#5944)
  arrow-arith/src/numeric.rs
  arrow-array/src/arithmetic.rs
Labels: arrow

#5717 feat: support reading OPTIONAL column in parquet_derive
  parquet_derive/src/parquet_field.rs
  parquet_derive_test/src/lib.rs
Labels: parquet-derive

#5915 Add user defined metadata
  object_store/src/attributes.rs
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/client/get.rs
  object_store/src/client/header.rs
  object_store/src/gcp/client.rs
  object_store/src/http/client.rs
  object_store/src/integration.rs
Labels: object-store

#5939 Provide Arrow Schema Hint to Parquet Reader - Alternative 2
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#5972 Implement directly build byte view array on top of parquet buffer
  parquet/src/arrow/array_reader/byte_view_array.rs
  parquet/src/arrow/array_reader/mod.rs
Labels: parquet

#5987 fix: error in case of invalid amount interval component
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/parse.rs
Labels: arrow

#5965 Add ParquetMetadata::memory_size size estimation
  parquet/src/data_type.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/schema/types.rs
Labels: parquet

#5967 feat(5851): ArrowWriter memory usage
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/encodings/encoding/byte_stream_split_encoder.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/encodings/rle.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/interner.rs
Labels: parquet

#5973 Implement dictionary support for reading ByteView from parquet
  parquet/src/arrow/array_reader/byte_view_array.rs
  parquet/src/arrow/buffer/view_buffer.rs
Labels: parquet

#5994 implement `DataType::try_form(&str)`
  arrow-schema/src/datatype.rs
  arrow-schema/src/datatype_parse.rs
  arrow-schema/src/lib.rs
Labels: arrow

#5997 Refine documentation and examples for `DataType`
  arrow-schema/src/datatype.rs
Labels: arrow

#5978 Automatically cleanup empty dirs in LocalFileSystem
  object_store/src/local.rs
Labels: object-store

#6003 Add `FlightSqlServiceClient::new_from_inner`
  arrow-flight/src/sql/client.rs
Labels: arrow, arrow-flight

#6005 Deduplicate strings/binarys when building view types
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
Labels: arrow

#6009 Fast utf8 validation when loading string view from parquet
  parquet/src/arrow/array_reader/byte_view_array.rs
Labels: parquet

#6001 Rename `Schema::all_fields` to `flattened_fields`
  arrow-flight/tests/flight_sql_client_cli.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/reader/mod.rs
  arrow-schema/src/schema.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet, arrow, arrow-flight

#6004 Complete `StringViewArray` and `BinaryViewArray` parquet decoder: implement delta byte array and delta length byte array encoding
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/array_reader/byte_view_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/buffer/view_buffer.rs
Labels: parquet

#6028 Update clap test
  parquet/src/bin/parquet-fromcsv.rs
Labels: parquet, development-process

#6024 Unsafe improvements: core `parquet` crate.
  parquet/src/bloom_filter/mod.rs
  parquet/src/data_type.rs
  parquet/src/util/bit_util.rs
Labels: parquet

#6031 Improve performance reading `ByteViewArray` from parquet by removing an implicit copy
  parquet/src/arrow/array_reader/byte_view_array.rs
  parquet/src/arrow/buffer/view_buffer.rs
Labels: parquet

#6035 MINOR: Fix `hashbrown` version in `arrow-array`, remove from `arrow-row`
  arrow-array/Cargo.toml
  arrow-row/Cargo.toml
Labels: arrow

#6023 Additional tests for parquet reader utf8 validation
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#6040 Clean up unused code for view types in offset buffer
  parquet/src/arrow/array_reader/byte_array.rs
  parquet/src/arrow/buffer/offset_buffer.rs
Labels: parquet

#6039 Avoid using Buffer api that accidentally copies data
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/util/bit_chunk_iterator.rs
  arrow-cast/src/base64.rs
  arrow-data/src/data.rs
  arrow-flight/src/utils.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-ipc/src/compression.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/writer.rs
  arrow-select/src/dictionary.rs
  arrow-string/src/substring.rs
  arrow/examples/builders.rs
  arrow/examples/tensor_builder.rs
  arrow/tests/array_equal.rs
  arrow/tests/array_validation.rs
  parquet/src/arrow/array_reader/byte_view_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow, arrow-flight

#5830 Fix 5592: Colon (:) in in object_store::path::{Path} is not handled on Windows
  .github/workflows/object_store.yml
  object_store/src/local.rs
Labels: object-store

#6047 Minor API adjustments for StringViewBuilder
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-buffer/src/builder/null.rs
Labels: arrow

#6054 Fix typo in GenericByteViewArray documentation
  arrow-array/src/array/byte_view_array.rs
Labels: documentation, arrow

#6044 Directly decode String/BinaryView types from arrow-row format
  arrow-row/src/variable.rs
  arrow/benches/row_format.rs
Labels: arrow

#6026 Add begin/end_transaction methods in FlightSqlServiceClient
  arrow-flight/Cargo.toml
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight

#6053 Implement min max support for string/binary view types
  arrow-arith/src/aggregate.rs
Labels: arrow

#6046 Add parquet `StatisticsConverter` for arrow reader
  parquet/Cargo.toml
  parquet/benches/arrow_statistics.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/mod.rs
  parquet/tests/arrow_reader/mod.rs
  parquet/tests/arrow_reader/statistics.rs
Labels: parquet

#6041 bump `tonic` to 0.12 and `prost` to 0.13 for `arrow-flight`
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/gen/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/tests/common/trailers_layer.rs
  arrow-integration-testing/Cargo.toml
Labels: arrow, arrow-flight, api-change, next-major-release

#6043 Remove `impl<T: AsRef<[u8]>> From<T> for Buffer` that easily accidentally copies data
  arrow-buffer/src/buffer/immutable.rs
Labels: arrow, api-change, next-major-release

#6006 Make display of interval types more pretty
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/display.rs
  arrow-cast/src/pretty.rs
Labels: arrow, api-change, next-major-release

#5930 Update snafu
  object_store/Cargo.toml
  object_store/src/client/get.rs
Labels: api-change, object-store, next-major-release

#6045 Update Parquet thrift generated structures
  parquet/regen.sh
  parquet/src/file/metadata/mod.rs
  parquet/src/format.rs
Labels: parquet, api-change, next-major-release

#6062 StringView support in arrow-csv
  arrow-csv/src/reader/mod.rs
  arrow/benches/csv_reader.rs
Labels: arrow

#5933 Reintroduce: Write Bloom filters between row groups instead of the end
  parquet/Cargo.toml
  parquet/examples/write_parquet.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/properties.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change, next-major-release

#6011 Do not write `ColumnIndex` for null columns when not writing page statistics
  parquet/src/column/writer/mod.rs
Labels: parquet

#6065 Reorganize arrow-flight test code
  arrow-flight/Cargo.toml
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/fixture.rs
  arrow-flight/tests/common/mod.rs
  arrow-flight/tests/common/server.rs
  arrow-flight/tests/flight_sql_client.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight, development-process

#6069 Revert "Update snafu (#5930)"
  object_store/Cargo.toml
  object_store/src/client/get.rs
Labels: object-store

#6074 Sanitize error message for sensitive requests
  object_store/src/aws/credential.rs
  object_store/src/client/retry.rs
Labels: object-store

#6015 use GCE metadata server env var overrides
  object_store/src/gcp/credential.rs
Labels: object-store

#6073 Correct timeout in comment from 5s to 30s
  object_store/src/client/mod.rs
Labels: object-store

#6079 Prepare for object_store `0.10.2` release
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: development-process, object-store

#6042 Minor: Improve parquet PageIndex documentation
  parquet/src/file/metadata/mod.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/statistics.rs
Labels: documentation, parquet

#6075 Update pyo3 requirement from 0.21.1 to 0.22.1 (fixed)
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/src/pyarrow.rs
Labels: arrow, api-change, next-major-release

#6080 Remove repeated codes in interval dispaly
  arrow-cast/src/display.rs
Labels: arrow

#6077 Enable casting from Utf8View
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#6068 Add `unencoded_byte_array_data_bytes` to `ParquetMetaData`
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/mod.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change, next-major-release

#6082 Add PartialEq to ParquetMetaData and FileMetadata
  parquet/src/file/metadata/mod.rs
Labels: parquet

#6092 fix panic in `ParquetMetadata::memory_size`: check has_min_max_set before invoking min()/max()
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
Labels: parquet

#6098 Optimize `max_boolean` by operating on u64 chunks
  arrow-arith/src/aggregate.rs
  arrow/benches/aggregate_kernels.rs
Labels: arrow

#6101 Add benchmark to track byte-view construction performance
  parquet/benches/arrow_reader.rs
Labels: parquet

#6100 Optimize `bool_or` using `max_boolean`
  arrow-arith/src/aggregate.rs
  arrow/benches/aggregate_kernels.rs
Labels: arrow

#6089 Implement specialized min/max for `GenericBinaryView` (`StringView` and `BinaryView`)
  arrow-arith/src/aggregate.rs
  arrow-array/src/array/byte_view_array.rs
  arrow-ord/src/cmp.rs
  arrow/benches/aggregate_kernels.rs
Labels: arrow

#6095 Deprecate read_page_locations() and simplify offset index in `ParquetMetaData`
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/bin/parquet-index.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet, api-change, next-major-release

#6108 added a flush method to IPC writers
  arrow-ipc/src/writer.rs
Labels: arrow

#6116 Fix Clippy for the Rust 1.80 release
  arrow-array/Cargo.toml
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/array/string_array.rs
  arrow-cast/Cargo.toml
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/parse.rs
  arrow-data/src/data.rs
  arrow-data/src/equal/mod.rs
  arrow-flight/src/decode.rs
  arrow-flight/src/encode.rs
  arrow-flight/src/lib.rs
  arrow-select/src/concat.rs
  arrow-string/src/substring.rs
  arrow/Cargo.toml
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/properties.rs
  parquet/src/file/writer.rs
  parquet/src/format.rs
  parquet/src/util/test_common/page_util.rs
Labels: parquet, arrow, arrow-flight

#6120 Fix clippy in object_store crate
  object_store/src/client/mock_server.rs
  object_store/src/lib.rs
Labels: object-store

#6126 Merge `53.0.0-dev` dev branch to main
  arrow-buffer/src/buffer/immutable.rs
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/display.rs
  arrow-cast/src/pretty.rs
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/gen/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/tests/common/trailers_layer.rs
  arrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
  arrow/src/pyarrow.rs
  parquet/Cargo.toml
  parquet/examples/write_parquet.rs
  parquet/regen.sh
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/bin/parquet-index.rs
  parquet/src/column/writer/encoder.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/mod.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/file/properties.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/format.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet, arrow, arrow-flight, development-process

#6105 Add support for level histograms added in PARQUET-2261 to `ParquetMetaData`
  parquet/src/column/writer/mod.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/writer.rs
Labels: parquet

#6130 Add ArrowError::ArithmeticError
  arrow-arith/src/arithmetic.rs
  arrow-arith/src/numeric.rs
  arrow-array/src/arithmetic.rs
  arrow-cast/src/cast/mod.rs
  arrow-schema/src/error.rs
Labels: arrow

#6071 Implement date_part for intervals
  arrow-arith/src/temporal.rs
Labels: arrow

#6133 Upgrade protobuf definitions to flightsql 17.0
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  format/FlightSql.proto
Labels: arrow, arrow-flight

#6139 Minor: Simplify `StructArray` constructors
  arrow-array/src/array/struct_array.rs
Labels: arrow

#6132 Remove automatic buffering in `ipc::reader::FileReader` for for consistent buffering
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
Labels: arrow, api-change

#6135 Use `LevelHistogram` in `PageIndex`
  parquet/src/file/metadata/mod.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/writer.rs
Labels: parquet

#6147 Fix comparison kernel benchmarks
  arrow/benches/comparison_kernels.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#6136 Implement exponential block size growing strategy for `StringViewBuilder`
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6145 improve `LIKE` regex performance up to 12x
  arrow-string/src/predicate.rs
Labels: arrow

#6128 Improve `LIKE` performance for "contains" style queries
  arrow-string/Cargo.toml
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
Labels: arrow

#6118 improvements to `(i)starts_with` and `(i)ends_with` performance
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
Labels: arrow

#6127 Add `BooleanArray::new_from_packed` and `BooleanArray::new_from_u8`
  arrow-array/src/array/boolean_array.rs
  arrow-buffer/src/buffer/boolean.rs
Labels: arrow

#6123 Update object store MSRV to `1.64`
  object_store/Cargo.toml
  object_store/src/client/mock_server.rs
Labels: object-store
