Repository apache/arrow-rs, pull requests merged in 2024-06, with the labels that each got.

#5825 Minor: Improve arrow_cast documentation
  arrow-cast/src/base64.rs
  arrow-cast/src/display.rs
  arrow-cast/src/lib.rs
  arrow-cast/src/parse.rs
  arrow-cast/src/pretty.rs
Labels: documentation, arrow

#5829 Relax zstd-sys Version Pin
  parquet/Cargo.toml
Labels: parquet

#5824 Minor: Improve `ArrowReaderBuilder::with_row_selection` docs
  parquet/src/arrow/arrow_reader/mod.rs
Labels: documentation, parquet

#5823 fix: invalid examples/documentation in parquet_derive doc
  parquet_derive/src/lib.rs
Labels: parquet-derive

#5832 feat: impl *Assign ops for types in arrow-buffer
  arrow-buffer/src/arith.rs
  arrow-buffer/src/bigint/mod.rs
  arrow-buffer/src/interval.rs
Labels: arrow

#5833 chore: Make binary_mut kernel accept different type for second arg
  arrow-arith/src/arity.rs
Labels: arrow, api-change

#5826 Minor: Document timestamp with/without cast behavior
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5837 Add repr(C) to i256
  arrow-buffer/src/bigint/mod.rs
Labels: arrow

#5840 Derive `Copy` for `TimeUnit` and `IntervalUnit`
  arrow-cast/src/cast/mod.rs
  arrow-schema/src/datatype.rs
Labels: arrow

#5798 Refine documentation for `unary_mut` and `binary_mut`
  arrow-arith/src/arity.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
  arrow-buffer/src/native.rs
Labels: arrow

#5857 Added panic message to docs.
  arrow-schema/src/schema.rs
Labels: arrow

#5865 parquet: Fix warning about unused import
  parquet/src/arrow/array_reader/mod.rs
Labels: parquet

#5848 Make RowSelection's from_consecutive_ranges public
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#5863 Improve Parquet reader/writer properties docs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/properties.rs
Labels: documentation, parquet

#5874 Benchmark for casting view to dict arrays (and the reverse)
  arrow/benches/cast_kernels.rs
Labels: arrow

#5835 feat(object_store): Add `put` API for buffered::BufWriter
  object_store/src/buffered.rs
Labels: object-store

#5871 Improve performance of casting `DictionaryArray` to `StringViewArray`
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-cast/src/cast/dictionary.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5852 feat: call try_merge recursively for list field
  arrow-schema/src/field.rs
Labels: arrow

#5877 Avoid copy/allocation when read view types from parquet
  parquet/src/arrow/buffer/offset_buffer.rs
Labels: parquet

#5872 Improve performance of casting `StringView`/`BinaryView` to `DictionaryArray`
  arrow-cast/src/cast/dictionary.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5873 Implement Take for Dense UnionArray
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
Labels: arrow

#5881 Update for new clippy rules
  arrow-data/src/data.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/reader/mod.rs
  parquet/src/column/reader.rs
  parquet/src/encodings/decoding.rs
  parquet_derive_test/src/lib.rs
Labels: parquet, arrow

#5883 Fix clippy for object_store
  object_store/src/aws/credential.rs
Labels: object-store

#5885 Add simple GC for view array types
  arrow-array/Cargo.toml
  arrow-array/benches/gc_view_types.rs
  arrow-array/src/array/byte_view_array.rs
Labels: arrow

#5888 chore: Remove not used cache in InstanceCredentialProvider
  object_store/src/aws/builder.rs
  object_store/src/aws/credential.rs
Labels: object-store

#5889 chore: implement parquet error handling for object_store
  parquet/src/arrow/async_reader/store.rs
  parquet/src/errors.rs
Labels: parquet

#5891 chore: add view type single column tests
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#5892 chore: update RunArray reference in run_iterator.rs
  arrow-array/src/run_iterator.rs
Labels: documentation, arrow

#5894 implement `new_null_array` for view types
  arrow-data/src/data.rs
Labels: arrow

#5887 Document when the ParquetRecordBatchReader will re-read metadata
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#5886 Minor: Clarify when page index structures are read
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/page_index/index_reader.rs
Labels: documentation, parquet

#5875 Document parquet ArrowWriter type limitations
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#5898 minor: use as_primitive replace downcast_ref
  arrow-array/src/array/list_array.rs
Labels: arrow

#5890 Minor: expose timestamp_tz_format for csv writing
  arrow-csv/src/writer.rs
Labels: arrow

#5900 Implement compare operations for view types
  arrow-array/src/array/byte_view_array.rs
  arrow-ord/src/cmp.rs
  arrow-ord/src/comparison.rs
Labels: arrow

#5902 fix: prevent potential out-of-range access in FixedSizeListArray
  arrow-array/Cargo.toml
  arrow-array/benches/fixed_size_list_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
Labels: arrow

#5895 fix: Adjust FFI_ArrowArray offset based on the offset of offset buffer
  arrow-array/src/ffi.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-data/src/ffi.rs
Labels: arrow

#5860 Write Bloom filters between row groups instead of the end
  parquet/Cargo.toml
  parquet/examples/write_parquet.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/properties.rs
  parquet/src/file/writer.rs
Labels: parquet, api-change

#5932 Revert "Write Bloom filters between row groups instead of the end "
  parquet/Cargo.toml
  parquet/examples/write_parquet.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/file/metadata.rs
  parquet/src/file/properties.rs
  parquet/src/file/writer.rs
Labels: parquet

#5862 Preallocate for `FixedSizeList` in `concat`
  arrow-data/src/transform/mod.rs
  arrow-select/src/concat.rs
  arrow/benches/concatenate_kernel.rs
  arrow/tests/array_transform.rs
Labels: arrow, api-change

#5924 Add eq benchmark for StringArray/StringViewArray
  arrow/benches/comparison_kernels.rs
Labels: arrow

#5703 Add the ability for Maps to cast to another case where the field names are different
  arrow-cast/src/cast/map.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5918 fix(ipc): set correct row count when reading struct arrays with zero fields
  arrow-ipc/src/reader.rs
Labels: arrow

#5919 Add `MultipartUpload` blanket implementation for `Box<W>`
  object_store/src/upload.rs
Labels: object-store

#5935 Fix typo in benchmark name `egexp` --> `regexp`
  arrow/benches/comparison_kernels.rs
Labels: arrow

#5943 minor: row format benches for bool & nullable int
  arrow/benches/row_format.rs
Labels: arrow

#5922 Implement arrow-row encoding/decoding for view types
  arrow-array/src/array/byte_view_array.rs
  arrow-cast/src/cast/mod.rs
  arrow-ord/src/cmp.rs
  arrow-ord/src/ord.rs
  arrow-row/src/lib.rs
  arrow-row/src/variable.rs
  arrow/benches/comparison_kernels.rs
Labels: arrow

#5942 Better document support for nested comparison
  arrow-ord/src/cmp.rs
Labels: arrow

#5931 Implement like/ilike etc for StringViewArray
  arrow-array/src/array/byte_view_array.rs
  arrow-string/src/like.rs
  arrow-string/src/predicate.rs
Labels: arrow

#5948 test: Add unit test for extending slice of list array
  arrow-array/src/ffi.rs
Labels: arrow

#5961 Improve error message for unsupported nested comparison
  arrow-ord/src/cmp.rs
Labels: arrow

#5950 feat: add max_bytes and min_bytes on PageIndex
  parquet/src/file/page_index/index.rs
Labels: parquet

#5858 Faster primitive arrays encoding into row format
  arrow-row/src/fixed.rs
  arrow-row/src/lib.rs
Labels: arrow

#5936 `like` benchmark for StringView
  arrow/benches/comparison_kernels.rs
Labels: arrow

#5963 Implement sort for String/BinaryViewArray
  arrow-ord/src/sort.rs
Labels: arrow

#5964 Fix FFI array offset handling
  arrow-array/src/ffi.rs
  arrow-data/src/ffi.rs
Labels: arrow

#5968 Add benchmark for reading binary/binary view from parquet
  parquet/benches/arrow_reader.rs
Labels: parquet

#5970 Add view buffer for parquet reader
  arrow-array/src/builder/generic_bytes_view_builder.rs
  parquet/src/arrow/buffer/mod.rs
  parquet/src/arrow/buffer/view_buffer.rs
Labels: parquet, arrow

#5971 Handle flight dictionary ID assignment automatically
  arrow-flight/src/encode.rs
  arrow-flight/src/utils.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
Labels: arrow, arrow-flight, api-change

#5912 Make ObjectStoreScheme public
  object_store/src/lib.rs
  object_store/src/parse.rs
Labels: object-store
