Repository apache/arrow-rs, pull requests merged in 2024-01, with the labels that each got.

#5245 Make regexp_match take scalar pattern and flag
  arrow-string/src/regexp.rs
  arrow/benches/regexp_kernels.rs
Labels: arrow

#5275 docs(object_store): Mention `with_allow_http` in docs of `with_endpoint`
  object_store/src/aws/builder.rs
  object_store/src/azure/builder.rs
Labels: object-store

#5276 Fix ObjectMeta::size for range requests (#5272)
  object_store/src/client/get.rs
  object_store/src/lib.rs
Labels: object-store

#5278 Retry Safe/Read-Only Requests on Timeout
  object_store/src/client/mock_server.rs
  object_store/src/client/retry.rs
Labels: object-store

#5259 feat(object_store): Azure url signing
  .gitignore
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
  object_store/src/lib.rs
  object_store/src/signer.rs
Labels: object-store

#5247 DynamoDB ConditionalPut
  .github/workflows/object_store.yml
  object_store/src/aws/dynamo.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/precondition.rs
  object_store/src/lib.rs
Labels: object-store

#5222 object_store: full HTTP range support
  object_store/src/azure/client.rs
  object_store/src/client/get.rs
  object_store/src/client/mod.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/util.rs
  object_store/tests/get_range_file.rs
Labels: api-change, object-store

#5268 Support S3 Express One Zone
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/dynamo.rs
  object_store/src/aws/mod.rs
  object_store/src/client/mod.rs
  object_store/src/client/token.rs
Labels: object-store

#5286 Print container logs in CI
  .github/workflows/object_store.yml
Labels: development-process

#5285 Prepare object_store 0.9.0 (#5224)
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#5282 Extend string parsing support for Date32
  arrow-cast/src/cast.rs
  arrow-cast/src/parse.rs
Labels: arrow

#5009 Map AvroSchema to Arrow (#4886)
  arrow-avro/src/codec.rs
  arrow-avro/src/lib.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/schema.rs
Labels: arrow

#5302 Update localstack to 3.0.2
  .github/workflows/object_store.yml
Labels: development-process

#5301 Result into error in case of endianness mismatches
  arrow-integration-testing/tests/ipc_reader.rs
  arrow-ipc/src/gen/Schema.rs
  arrow-ipc/src/reader.rs
Labels: arrow

#5298 Add support for more fused boolean operations
  arrow-arith/src/bitwise.rs
  arrow-arith/src/boolean.rs
  arrow-buffer/src/buffer/ops.rs
Labels: arrow

#5307 Remove localstack DynamoDB workaround (#5267)
  .github/workflows/object_store.yml
  object_store/src/aws/dynamo.rs
Labels: object-store

#5311 Pass options to HTTPBuilder in parse_url_opts (#5310)
  object_store/src/parse.rs
Labels: object-store

#5312 Update IOx links
  object_store/README.md
  object_store/src/lib.rs
Labels: object-store

#5316 Test parse_url_opts for HTTP (#5310)
  object_store/src/parse.rs
Labels: object-store

#5299 parquet: Add ArrowWriterOptions to skip embedding the arrow metadata
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet

#5323 Enhance Date64 type documentation
  arrow-schema/src/datatype.rs
Labels: arrow

#5322 fix panic when decode a group with no child
  parquet/src/schema/types.rs
Labels: parquet

#5321 Minor/Doc Expand FlightSqlServiceClient::handshake doc
  arrow-flight/src/sql/client.rs
Labels: arrow, arrow-flight

#5317 Add JSON writer benchmarks (#5314)
  arrow/Cargo.toml
  arrow/benches/json_writer.rs
Labels: arrow

#5319 Refactor temporal extract date part kernels
  arrow-arith/src/temporal.rs
  arrow/tests/arithmetic.rs
Labels: arrow

#5318 Raw JSON writer (~10x faster) (#5314)
  arrow-json/src/writer.rs
  arrow-json/src/writer/encoder.rs
  arrow-json/test/data/basic.json
  arrow/benches/json_writer.rs
Labels: arrow, api-change

#5331 Add ListBuilder::with_field to support non nullable list fields (#5330)
  arrow-array/src/builder/generic_list_builder.rs
Labels: arrow

#5333 feat: add `take_record_batch`.
  arrow-select/src/take.rs
Labels: arrow

#5341 fix: Return an error on type mismatch rather than panic (#4995)
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#5349 Exclude questions from changelog
  .github_changelog_generator
  object_store/.github_changelog_generator
Labels: development-process, object-store

#5348 Mark Encoding::BIT_PACKED as deprecated and document its compatibility issues
  parquet/src/arrow/record_reader/definition_levels.rs
  parquet/src/basic.rs
  parquet/src/bin/parquet-layout.rs
  parquet/src/column/reader.rs
  parquet/src/column/reader/decoder.rs
  parquet/src/encodings/decoding.rs
  parquet/src/encodings/encoding/mod.rs
  parquet/src/encodings/levels.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#5347 Track the size of custom allocations for use via Array::get_buffer_memory_size
  arrow-array/src/array/mod.rs
  arrow-buffer/src/alloc/mod.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/scalar.rs
  arrow-buffer/src/bytes.rs
Labels: arrow

#5337 Enhance Time32/Time64 support in date_part
  arrow-arith/src/temporal.rs
Labels: arrow

#5353 Make ArrayBuilder also Sync
  arrow-array/src/builder/mod.rs
Labels: arrow, api-change
