Repository apache/arrow-rs, pull requests merged in 2024-03, with the labels that each got.

#5449 Prepare object_store 0.9.1
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#5455 fix: lexsort_to_indices unsupported mixed types with list
  arrow-ord/src/sort.rs
  arrow/benches/lexsort.rs
Labels: arrow

#5456 Document UnionArray Panics
  arrow-array/src/array/union_array.rs
Labels: arrow

#5461 Fix test_string_dictionary_merge (#5255)
  arrow-select/src/concat.rs
Labels: arrow

#5452 Uses ResourceType for filtering list directories instead of workaround
  object_store/src/azure/client.rs
Labels: object-store

#5462 Update localstack (#5283)
  .github/workflows/object_store.yml
Labels: development-process

#5464 Minor: Fix formatting typo in `Field::new_list_field`
  arrow-schema/src/field.rs
Labels: arrow

#5470 Add DataType::Utf8View and DataType::BinaryView
  arrow-data/src/data.rs
  arrow-data/src/equal/mod.rs
  arrow-data/src/transform/mod.rs
  arrow-integration-test/src/datatype.rs
  arrow-ipc/src/convert.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow

#5460 Use Vec::from_iter in Buffer::from_iter
  arrow-buffer/src/buffer/immutable.rs
Labels: arrow

#5474 Add RecordBatch::schema_ref
  arrow-array/src/record_batch.rs
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/encode.rs
  arrow-flight/tests/encode_decode.rs
  arrow-flight/tests/flight_sql_client_cli.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet, arrow, arrow-flight

#5473 add support for gcp application default auth on windows in object store
  object_store/src/gcp/credential.rs
Labels: object-store

#5479 Update latest chrono
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/temporal_conversions.rs
  arrow-array/src/types.rs
  arrow-cast/src/parse.rs
  arrow-json/src/writer.rs
  arrow/benches/cast_kernels.rs
  object_store/src/lib.rs
  parquet_derive_test/src/lib.rs
Labels: arrow, object-store

#5457 Document parquet writer memory limiting (#5450)
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet

#5471 Provide access to inner Write for parquet writers
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#5483 Add MapBuilder::with_values_field to support non-nullable values (#5482)
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#5489 Fix NullBufferBuilder::new_from_buffer wrong size assertion
  arrow-array/src/array/primitive_array.rs
  arrow-buffer/src/builder/null.rs
Labels: arrow

#5491 Better document parquet pushdown
  parquet/src/arrow/arrow_reader/filter.rs
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#5495 Implement MultiPartStore for InMemory
  object_store/src/memory.rs
Labels: object-store

#5485 Remove internal buffering from AsyncArrowWriter (#5484)
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet, api-change

#5493 Add DataType::ListView and DataType::LargeListView
  arrow-data/src/data.rs
  arrow-data/src/equal/mod.rs
  arrow-data/src/transform/mod.rs
  arrow-integration-test/src/datatype.rs
  arrow-ipc/src/convert.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow

#5481 feat: initial support string_view and binary_view, supports layout and basic construction + tests
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/record_batch.rs
  arrow-array/src/types.rs
  arrow-buffer/src/native.rs
  arrow-data/src/byte_view.rs
  arrow-data/src/data.rs
  arrow-data/src/equal/byte_view.rs
  arrow-data/src/equal/mod.rs
  arrow-data/src/lib.rs
  arrow-data/src/transform/mod.rs
  arrow/tests/array_equal.rs
  arrow/tests/array_transform.rs
Labels: arrow

#5505 Fix integer parsing of empty strings (#5504)
  arrow-cast/src/parse.rs
Labels: arrow

#5515 Deprecate array_to_json_array
  arrow-json/src/writer.rs
Labels: arrow

#5512 Minor: Add doc comments to `GenericByteViewArray`
  arrow-array/src/array/byte_view_array.rs
Labels: documentation, arrow

#5499 feat: clarifying comments in struct_builder.rs #5494
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#5488 Support dictionary encoding in structures for `FlightDataEncoder`, add documentation for `arrow_flight::encode::Dictionary`
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#5502 chore: update arrow-format
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/gen/Message.rs
  arrow-ipc/src/gen/Schema.rs
  format/Message.fbs
  format/Schema.fbs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow

#5521 parquet: Use specific error variant when codec is disabled
  parquet/src/compression.rs
Labels: parquet

#5518 impl `From<ScalarBuffer<T>>` for `Vec<T>`
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#5519 Minor: add additional documentation about `BufWriter`
  object_store/src/buffered.rs
  object_store/src/lib.rs
Labels: documentation, object-store

#5500 Replace AsyncWrite with Upload trait and rename MultiPartStore to MultipartStore (#5458)
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/buffered.rs
  object_store/src/chunked.rs
  object_store/src/client/mod.rs
  object_store/src/client/parts.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/multipart.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/src/upload.rs
  object_store/tests/get_range_file.rs
Labels: api-change, object-store

#5528 fix: copy/rename return error if source is nonexistent
  object_store/src/lib.rs
  object_store/src/local.rs
Labels: object-store

#5537 Split arrow_cast::cast::list into it's own submodule
  arrow-cast/src/cast/list.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5544 Fix new clippy lints for Rust 1.77
  arrow-csv/src/reader/mod.rs
  arrow-row/src/lib.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#5531 Add IPC StreamDecoder
  arrow-buffer/src/buffer/immutable.rs
  arrow-integration-testing/tests/ipc_reader.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/reader/stream.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/reader/mod.rs
Labels: arrow

#5546 Fix Latest Clippy Lints for object_store
  object_store/src/aws/client.rs
Labels: object-store

#5543 fix: correctly encode ticket
  arrow-flight/examples/flight_sql_server.rs
Labels: arrow, arrow-flight

#5552 Split arrow_cast::cast::decimal into it's own submodule
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5433 Implement FlightSQL spec change to support stateless prepared statements
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/sql/arrow.flight.protocol.sql.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/tests/flight_sql_client_cli.rs
  format/FlightSql.proto
Labels: arrow, arrow-flight, api-change

#5561 Correct example code for column (#5560)
  parquet/src/column/mod.rs
Labels: parquet

#5555 Split arrow_cast::cast::dictionary into it's own submodule
  arrow-cast/src/cast/dictionary.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#5536 Update reqwest 0.12 and http 1.0
  object_store/Cargo.toml
  object_store/src/aws/credential.rs
  object_store/src/azure/credential.rs
  object_store/src/client/mock_server.rs
  object_store/src/client/retry.rs
  object_store/src/parse.rs
Labels: object-store

#5567 Pin zstd-sys to `v2.0.9` in parquet
  parquet/Cargo.toml
Labels: parquet

#5532 Add OffsetBufferBuilder
  arrow-buffer/Cargo.toml
  arrow-buffer/benches/offset.rs
  arrow-buffer/src/buffer/offset.rs
  arrow-buffer/src/builder/mod.rs
  arrow-buffer/src/builder/offset.rs
Labels: arrow

#5569 Update error message tests
  object_store/src/aws/builder.rs
  object_store/src/client/retry.rs
  object_store/src/gcp/builder.rs
Labels: development-process, object-store

#5570 Update localstack 3.3
  .github/workflows/object_store.yml
Labels: development-process

#5533 Implement MultipartStore for ThrottledStore
  object_store/src/buffered.rs
  object_store/src/throttle.rs
  object_store/src/upload.rs
Labels: object-store
