Repository apache/arrow-rs, pull requests merged in 2024-10, with the labels that each got.

#6477 Minor: improve `ChunkedReader` docs
  parquet/src/file/reader.rs
Labels: parquet

#6484 Cleanup MetadataLoader tests
  parquet/src/file/metadata/reader.rs
Labels: parquet, development-process

#6479 Add better documentation, examples and builer-style API to `ByteView`
  arrow-array/src/array/byte_view_array.rs
  arrow-data/src/byte_view.rs
Labels: arrow

#6453 chore: add docs, part of #37
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/decode.rs
  arrow-flight/src/encode.rs
  arrow-flight/src/error.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/metadata/sql_info.rs
  arrow-flight/src/sql/metadata/xdbc_info.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/utils.rs
  arrow-integration-test/src/lib.rs
  arrow-integration-testing/src/flight_client_scenarios/auth_basic_proto.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_client_scenarios/middleware.rs
  arrow-integration-testing/src/flight_client_scenarios/mod.rs
  arrow-integration-testing/src/flight_server_scenarios/auth_basic_proto.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/middleware.rs
  arrow-integration-testing/src/flight_server_scenarios/mod.rs
  arrow-integration-testing/src/lib.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/lib.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/writer.rs
  arrow-schema/src/field.rs
  arrow/tests/array_cast.rs
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/resolve.rs
  object_store/src/azure/builder.rs
  object_store/src/azure/client.rs
  object_store/src/client/get.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/path/mod.rs
  parquet/src/compression.rs
Labels: parquet, arrow, arrow-flight, object-store

#5723 Add `GenericListViewArray` for `ListView` & `LargeListView`
  arrow-array/src/array/list_view_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/iterator.rs
Labels: arrow

#6490 Write null counts in Parquet statistics when they are known
  parquet/src/file/statistics.rs
  parquet/tests/arrow_writer_layout.rs
Labels: parquet

#6466 Add `ParquetMetaDataBuilder`
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#6488 Minor: fix local clippy using anon deprecated tonic-build API
  arrow-flight/gen/src/main.rs
Labels: arrow, arrow-flight, development-process

#6496 chore: add docs, part of #37
  arrow-flight/gen/src/main.rs
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/basic.rs
  parquet/src/column/page.rs
  parquet/src/column/reader.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/errors.rs
  parquet/src/file/footer.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/writer.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/file/properties.rs
  parquet/src/file/reader.rs
  parquet/src/file/statistics.rs
  parquet/src/file/writer.rs
  parquet/src/lib.rs
  parquet/src/record/api.rs
  parquet/src/record/reader.rs
  parquet/src/record/record_reader.rs
  parquet/src/schema/types.rs
  parquet/src/schema/visitor.rs
  parquet/src/thrift.rs
Labels: parquet, arrow, arrow-flight

#6297 Speed up `pad_nulls` for `FixedLenByteArrayBuffer`
  parquet/benches/arrow_reader.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
Labels: parquet

#6495 fix: override `size_hint` for `BitIterator` to return the exact remaining size
  arrow-buffer/src/util/bit_iterator.rs
Labels: arrow

#6481 fix: check overflow numbers while inferring type for csv files
  arrow-csv/src/reader/mod.rs
Labels: arrow

#6472 Align buffers from Python (FFI)
  arrow/src/pyarrow.rs
Labels: arrow

#6303 Implement UnionArray logical_nulls
  arrow-arith/src/boolean.rs
  arrow-array/Cargo.toml
  arrow-array/benches/union_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/union_array.rs
Labels: arrow

#6507 Detect missing page indexes while reading Parquet metadata
  parquet/src/arrow/mod.rs
  parquet/src/file/metadata/reader.rs
Labels: parquet

#6489 Benchmark both scenarios, with records skipped and without skipping, for delta-bin-packed primitive arrays with half nulls.
  parquet/benches/arrow_reader.rs
Labels: parquet

#6463 Add round trip tests for reading/writing parquet metadata
  parquet/src/arrow/mod.rs
  parquet/src/file/metadata/writer.rs
Labels: parquet

#6513 chore: add repo labels to asf.yaml
  .asf.yaml
Labels: development-process

#6505 Improve parquet `MetadataFetch` and `AsyncFileReader` docs
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/file/metadata/reader.rs
Labels: parquet

#6512 object_store: enable lint `unreachable_pub`
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/dynamo.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/client/backoff.rs
  object_store/src/client/get.rs
  object_store/src/client/header.rs
  object_store/src/client/list.rs
  object_store/src/client/mock_server.rs
  object_store/src/client/mod.rs
  object_store/src/client/pagination.rs
  object_store/src/client/retry.rs
  object_store/src/client/s3.rs
  object_store/src/client/token.rs
  object_store/src/config.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
  object_store/src/http/client.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/util.rs
Labels: object-store

#6517 Update Tonic to 0.12.3
  arrow-flight/Cargo.toml
Labels: arrow, arrow-flight

#6508 [object_store] Retry S3 requests with 200 response with "Error" in body
  object_store/src/aws/client.rs
  object_store/src/client/retry.rs
Labels: object-store

#6520 object_store: Clarify what is a prefix in list() documentation
  object_store/src/lib.rs
Labels: object-store

#6503 fix arrow-json encoding with dictionary including nulls
  arrow-json/src/writer/encoder.rs
  arrow-json/src/writer/mod.rs
Labels: arrow

#6506 Use ParquetMetaDataReader to load page indexes in `SerializedFileReader::new_with_options`
  parquet/src/file/serialized_reader.rs
Labels: parquet

#6096 Binary / row helpers
  arrow-row/src/lib.rs
Labels: arrow

#6523 Add `ColumnChunkMetadataBuilder` clear APIs
  parquet/src/file/metadata/mod.rs
Labels: parquet

#6537 Use HashTable instead of raw_entry_mut
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  parquet/src/util/interner.rs
Labels: parquet, arrow

#6081 Example of reading and writing parquet metadata outside the file
  parquet/Cargo.toml
  parquet/examples/external_metadata.rs
  parquet/src/file/metadata/mod.rs
Labels: documentation, parquet

#6539 Allow to read parquet binary column as UTF8 type
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/schema/primitive.rs
Labels: parquet

#6527 Adds documentation and example recommending Vec<ArrayRef> over ChunkedArray
  arrow-array/src/lib.rs
  arrow/examples/README.md
Labels: arrow

#6534 Add append_many to dictionary arrays to allow adding repeated values
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#6550 Update README.md
  arrow-flight/README.md
Labels: arrow, arrow-flight

#6543 Add finish to `AsyncArrowWriter::finish`
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet

#6547 Fix string '0' cast to decimal with scale 0
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6563 object_store: fix typo in with_connect_timeout_disabled that actually disabled non-connect timeouts
  object_store/src/client/mod.rs
Labels: object-store

#6566 Prepare for object_store `0.11.1` release
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#6565 Update `object_store` release documentation
  dev/release/README.md
  dev/release/file_release_pr.sh
  object_store/dev/release/README.md
Labels: documentation, development-process, object-store

#6572 Use c_char instead of i8 to compile on platforms where c_char = u8
  arrow-integration-testing/src/lib.rs
Labels: arrow

#6540 Improve UnionArray::is_nullable
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/union_array.rs
Labels: arrow

#6585 Fix CI with new valid certificates and add script for future usage
  arrow-flight/examples/data/ca.pem
  arrow-flight/examples/data/ca_root.key
  arrow-flight/examples/data/ca_root.pem
  arrow-flight/examples/data/client.key
  arrow-flight/examples/data/client.pem
  arrow-flight/examples/data/client1.key
  arrow-flight/examples/data/client1.pem
  arrow-flight/examples/data/client_ca.pem
  arrow-flight/examples/data/gen_certs.sh
  arrow-flight/examples/data/server.key
  arrow-flight/examples/data/server.pem
  arrow-flight/examples/flight_sql_server.rs
Labels: arrow, arrow-flight

#6598 Temporarily disable C# Arrow Integration Test
  .github/workflows/integration.yml
Labels: development-process

#6602 Remove unused (and failing) coverage job
  .github/workflows/coverage.yml
Labels: development-process

#6601 Remove `test_private_bucket` object_store test
  object_store/src/aws/resolve.rs
Labels: object-store

#6604 Minor: Fix typo in workflow comment
  .github/workflows/integration.yml
Labels: development-process

#6551 `unsafe` improvements
  arrow-buffer/src/builder/offset.rs
  arrow-buffer/src/util/bit_mask.rs
Labels: arrow

#6606 Implement arrow_json encoder for Decimal128 & Decimal256
  arrow-json/src/writer/encoder.rs
  arrow-json/src/writer/mod.rs
Labels: arrow

#6607 Minor: more comments for `RecordBatch.get_array_memory_size()`
  arrow-array/src/record_batch.rs
Labels: arrow

#6573 Fix clippy complaints
  arrow-arith/src/aggregate.rs
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/list_view_array.rs
  arrow-array/src/array/map_array.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/array/run_array.rs
  arrow-array/src/cast.rs
  arrow-array/src/ffi.rs
  arrow-avro/src/schema.rs
  arrow-buffer/src/util/bit_iterator.rs
  arrow-buffer/src/util/bit_mask.rs
  arrow-buffer/src/util/bit_util.rs
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/display.rs
  arrow-data/src/transform/mod.rs
  arrow-flight/src/encode.rs
  arrow-flight/src/sql/server.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/writer.rs
  arrow-json/src/reader/serializer.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/writer/encoder.rs
  arrow-ord/src/cmp.rs
  arrow-row/src/lib.rs
  arrow-schema/src/datatype_parse.rs
  arrow-schema/src/ffi.rs
  arrow-select/src/filter.rs
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/encodings/rle.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/src/record/api.rs
  parquet/src/record/reader.rs
  parquet/src/schema/parser.rs
  parquet/src/schema/printer.rs
  parquet/src/schema/types.rs
  parquet/src/thrift.rs
  parquet/src/util/bit_util.rs
  parquet/tests/arrow_reader/statistics.rs
Labels: parquet, arrow, arrow-flight

#6595 Add support for building FixedSizeListBuilder in struct_builder's mak…
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#6593 Add limited support for dictionary builders in `make_builders` for stru…
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#6603 Prepare for 53.2.0 release
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  README.md
  arrow-flight/README.md
  dev/release/update_change_log.sh
Labels: arrow, arrow-flight

#6610 Minor: improve docs for ByteViewArray->ByteArray From impl
  arrow-array/src/array/byte_view_array.rs
Labels: documentation, arrow

#6524 Skip writing down null buffers for non-nullable primitive arrays
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/record_reader/mod.rs
Labels: parquet

#6615 Improve Array::is_nullable documentation
  arrow-array/src/array/mod.rs
Labels: documentation, arrow

#6614 Fix arrow-json writer empty
  arrow-json/src/writer/mod.rs
Labels: arrow

#6592 Added casting from Binary/LargeBinary to Utf8View
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6611 Re-enable `C#` arrow flight integration test
  .github/workflows/integration.yml
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
Labels: arrow

#6622 Optimize `take_bits` / `take_boolean`: up to -25%
  arrow-select/src/take.rs
Labels: arrow

#6623 Add Parquet RowSelection benchmark
  parquet/Cargo.toml
  parquet/benches/row_selector.rs
Labels: parquet

#6629 Return error rather than panic when too many row groups are written
  parquet/src/file/writer.rs
Labels: parquet

#6632 doc: Clarify take kernel semantics
  arrow-select/src/take.rs
Labels: arrow

#6626 Fix test feature selection so all feature combinations work as expected
  parquet/src/file/metadata/reader.rs
  parquet/tests/arrow_reader/bad_data.rs
  parquet/tests/arrow_reader/checksum.rs
Labels: parquet

#6646 Implement `append_n` for `BooleanBuilder`
  arrow-array/src/builder/boolean_builder.rs
Labels: arrow

#6638 Lower GCP token min_ttl to 4 minutes and add backoff to token refresh logic
  object_store/src/client/mod.rs
  object_store/src/client/token.rs
  object_store/src/gcp/builder.rs
Labels: object-store

#6582 Parquet AsyncReader: Don't panic when empty offset_index is Some([])
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#6645 fix: recurse into Map datatype when hydrating dictionaries
  arrow-flight/src/encode.rs
Labels: arrow, arrow-flight

#6650 fix: include chrono-tz in flight sql cli
  arrow-flight/Cargo.toml
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight

#6651 feat: Support Utf8View in JSON serialization
  arrow-json/src/writer/encoder.rs
  arrow-json/src/writer/mod.rs
Labels: arrow

#6653 Include offending line number when processing CSV file fails
  arrow-csv/src/lib.rs
  arrow-csv/src/reader/mod.rs
Labels: arrow

#6658 Improve documentation for `nullif` kernel
  arrow-select/src/nullif.rs
Labels: arrow
