Repository apache/arrow-rs, pull requests merged in 2024-09, with the labels that each got.

#6323 fix: azure sas token visible in logs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
Labels: object-store

#6348 fix: clippy warnings from nightly rust 1.82
  arrow-data/src/ffi.rs
  arrow-ipc/src/writer.rs
  arrow-ord/src/sort.rs
  arrow-schema/src/fields.rs
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/file/metadata/writer.rs
  parquet/src/schema/types.rs
Labels: parquet, arrow

#6334 [object_store] Propagate env vars as object store client options
  object_store/src/aws/builder.rs
  object_store/src/azure/builder.rs
  object_store/src/client/mod.rs
  object_store/src/gcp/builder.rs
Labels: object-store

#6339 Remove vestigal conbench integration
  conbench/.flake8
  conbench/.gitignore
  conbench/.isort.cfg
  conbench/README.md
  conbench/_criterion.py
  conbench/benchmarks.json
  conbench/benchmarks.py
  conbench/requirements-test.txt
  conbench/requirements.txt
  dev/release/rat_exclude_files.txt
Labels: development-process

#6332 feat: add catalog/schema subcommands to flight_sql_client.
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/sql/metadata/mod.rs
  arrow-flight/src/sql/metadata/table_types.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight

#6355 impl `From<Vec<T>>` for `Buffer`
  arrow-buffer/src/buffer/immutable.rs
Labels: arrow

#6361 `object_store::GetOptions` derive `Clone`
  object_store/src/lib.rs
Labels: object-store

#6265 object_store/delimited: Fix `TrailingEscape` condition
  object_store/src/delimited.rs
Labels: object-store

#6328 Manually run fmt on all files under parquet
  .github/workflows/rust.yml
  CONTRIBUTING.md
  parquet/src/arrow/array_reader/empty_array.rs
  parquet/src/arrow/array_reader/fixed_size_list_array.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/map_array.rs
  parquet/src/arrow/array_reader/struct_array.rs
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/compression.rs
  parquet/src/encodings/encoding/dict_encoder.rs
  parquet/src/encodings/levels.rs
  parquet/src/encodings/rle.rs
  parquet/src/util/bit_util.rs
  parquet/src/util/interner.rs
  parquet/src/util/test_common/file_util.rs
  parquet/src/util/test_common/mod.rs
  parquet/src/util/test_common/rand_gen.rs
Labels: parquet

#6345 Add support for Utf8View in arrow_string::length
  arrow-string/src/length.rs
Labels: arrow

#6359 Add support for BinaryView in arrow_string::length
  arrow-string/src/length.rs
Labels: arrow

#6372 Improve `GenericStringBuilder` documentation
  arrow-array/src/builder/generic_bytes_builder.rs
Labels: arrow

#6379 Add `ARROW_VERSION` const
  arrow/examples/README.md
  arrow/examples/version.rs
  arrow/src/lib.rs
Labels: arrow

#6368 Support StringViewArray interop with python: fix lingering C Data Interface issues for *ViewArray
  .github/workflows/integration.yml
  arrow-array/src/ffi.rs
  arrow-buffer/src/buffer/immutable.rs
  arrow-data/src/ffi.rs
  arrow/src/pyarrow.rs
  arrow/tests/pyarrow.rs
Labels: arrow

#6378 parquet writer: Raise an error when the row_group_index overflows i16
  parquet/src/file/writer.rs
Labels: parquet

#6389 impl `From<ScalarBuffer<T>>` for `Buffer`
  arrow-buffer/src/buffer/immutable.rs
Labels: arrow

#6385 Clear string-tracking hash table when ByteView deduplication is enabled
  arrow-array/src/builder/generic_bytes_view_builder.rs
Labels: arrow

#6288 Improve performance of set_bits by avoiding to set individual bits
  arrow-buffer/src/util/bit_mask.rs
Labels: arrow

#6367 stop panic in `MetadataLoader` on invalid data
  parquet/src/arrow/async_reader/metadata.rs
Labels: parquet

#6402 Update lexical-core requirement from 0.8 to 1.0 (to resolve RUSTSEC-2023-0086)
  arrow-cast/Cargo.toml
  arrow-cast/src/display.rs
  arrow-csv/Cargo.toml
  arrow-json/Cargo.toml
Labels: arrow

#6380 Remove "NOT YET FULLY SUPPORTED" comment from DataType::Utf8View/BinaryView
  arrow-schema/src/datatype.rs
Labels: arrow

#6403 Move lifetime of `take_iter` from iterator to its items
  arrow-array/src/array/binary_array.rs
  arrow-array/src/array/string_array.rs
Labels: arrow

#6396 fix: binary_mut should work if only one input array has null buffer
  arrow-arith/src/arity.rs
Labels: arrow

#6399 Fix encoding/decoding REE Dicts when using streaming IPC
  arrow-ipc/src/reader/stream.rs
  arrow-schema/src/field.rs
Labels: arrow

#6383 fix: Stop losing precision and scale when casting decimal to dictionary
  arrow-cast/src/cast/dictionary.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6421 Rephrase doc comment
  arrow-arith/src/arity.rs
  arrow-arith/src/temporal.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-array/src/ffi_stream.rs
  arrow-array/src/types.rs
  arrow-buffer/src/builder/null.rs
  arrow-buffer/src/util/bit_mask.rs
  arrow-data/src/data.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/server.rs
  arrow-ipc/src/writer.rs
  arrow-select/src/filter.rs
  arrow-string/src/length.rs
  arrow/src/pyarrow.rs
  arrow/src/util/bench_util.rs
  parquet/src/basic.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/encodings/decoding.rs
  parquet/src/lib.rs
  parquet/src/record/record_reader.rs
  parquet/src/record/record_writer.rs
  parquet_derive/src/lib.rs
Labels: parquet, arrow, arrow-flight, parquet-derive

#6417 fix: don't panic in IPC reader if struct child arrays have different …
  arrow-ipc/src/reader.rs
Labels: arrow

#6394 Add `set_bits` fuzz test
  arrow-buffer/src/util/bit_mask.rs
Labels: arrow

#6424 chore: add docs, part of #37
  arrow-arith/src/bitwise.rs
  arrow-arith/src/lib.rs
  arrow-array/src/ffi_stream.rs
  arrow-avro/src/lib.rs
  arrow-buffer/src/bigint/mod.rs
  arrow-buffer/src/builder/null.rs
  arrow-buffer/src/builder/offset.rs
  arrow-buffer/src/interval.rs
  arrow-buffer/src/lib.rs
  arrow-buffer/src/util/bit_chunk_iterator.rs
  arrow-cast/src/display.rs
  arrow-cast/src/lib.rs
  arrow-cast/src/parse.rs
  arrow-cast/src/pretty.rs
  arrow-csv/src/lib.rs
  arrow-csv/src/reader/mod.rs
  arrow/src/error.rs
  arrow/src/lib.rs
  arrow/src/pyarrow.rs
  arrow/src/tensor.rs
  arrow/src/util/bench_util.rs
  arrow/src/util/data_gen.rs
  arrow/src/util/mod.rs
  arrow/src/util/string_writer.rs
Labels: arrow

#6429 Add RowSelection::skipped_row_count
  parquet/src/arrow/arrow_reader/selection.rs
Labels: parquet

#6432 Silence warnings that `as_any` and `next_batch` are never used
  parquet/src/arrow/array_reader/mod.rs
Labels: parquet

#6382 object_score: Support Azure Fabric OAuth Provider
  object_store/src/azure/builder.rs
  object_store/src/azure/credential.rs
Labels: object-store

#6419 perf: Faster decimal precision overflow checks
  arrow-array/Cargo.toml
  arrow-array/benches/decimal_overflow.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/types.rs
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
  arrow-data/src/decimal.rs
Labels: arrow

#6376 Implement native support StringViewArray for `regexp_is_match` and `regexp_is_match_scalar` function, deprecate `regexp_is_match_utf8` and `regexp_is_match_utf8_scalar`
  arrow-string/src/like.rs
  arrow-string/src/regexp.rs
  arrow/benches/comparison_kernels.rs
  arrow/src/compute/kernels.rs
Labels: arrow, api-change

#6442 feat: expose HTTP/2 max frame size in `object_store`
  object_store/src/client/mod.rs
  object_store/src/config.rs
Labels: object-store

#6433 chore: add docs, part of #37
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-cast/src/cast/mod.rs
  arrow-csv/src/writer.rs
  arrow-data/src/byte_view.rs
  arrow-data/src/data.rs
  arrow-data/src/decimal.rs
  arrow-data/src/lib.rs
  arrow-data/src/transform/mod.rs
  arrow-json/src/reader/mod.rs
  arrow-ord/src/lib.rs
  arrow-ord/src/rank.rs
  arrow-ord/src/sort.rs
  arrow-pyarrow-integration-testing/src/lib.rs
  arrow-row/src/lib.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/error.rs
  arrow-schema/src/ffi.rs
  arrow-schema/src/lib.rs
  arrow-schema/src/schema.rs
  arrow-select/src/filter.rs
  arrow-select/src/interleave.rs
  arrow-select/src/lib.rs
  arrow-select/src/nullif.rs
  arrow-select/src/zip.rs
  arrow-string/src/concat_elements.rs
  arrow-string/src/lib.rs
  arrow-string/src/like.rs
  arrow/tests/csv.rs
  parquet_derive/src/lib.rs
Labels: arrow, parquet-derive

#6434 Fix doc "bit width" to "byte width"
  arrow-schema/src/datatype.rs
Labels: arrow

#6431 Add `ParquetMetaDataReader`
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/reader.rs
Labels: parquet

#6456 Minor: Error rather than panic for unsupported for dictionary `cast`ing
  arrow-cast/src/cast/dictionary.rs
Labels: arrow

#6387 Add `union_extract` kernel
  arrow-select/src/lib.rs
  arrow-select/src/union_extract.rs
  arrow/src/compute/kernels.rs
  arrow/src/compute/mod.rs
Labels: arrow

#6441 Add additional documentation and builder APIs to `SortOptions`
  arrow-row/src/lib.rs
  arrow-schema/src/lib.rs
Labels: arrow

#6450 Workaround for missing Parquet page indexes in `ParquetMetadaReader`
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/file/metadata/reader.rs
Labels: parquet

#6452 Support cast between Durations + between Durations all numeric types
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6459 [object-store] Require tokio 1.29.0.
  object_store/Cargo.toml
Labels: object-store

#6451 Deprecate methods from footer.rs in favor of `ParquetMetaDataReader`
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/bin/parquet-concat.rs
  parquet/src/bin/parquet-layout.rs
  parquet/src/file/footer.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/writer.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#6457 Minor: Silence compiler warnings for `parquet::file::metadata::reader`
  parquet/src/file/metadata/reader.rs
Labels: parquet

#6462 Make `ArrayData.align_buffers` align child data buffers recursively
  arrow-data/src/data.rs
Labels: arrow

#6290 Parquet: Verify 32-bit CRC checksum when decoding pages
  parquet/Cargo.toml
  parquet/README.md
  parquet/src/file/serialized_reader.rs
  parquet/tests/arrow_reader/checksum.rs
  parquet/tests/arrow_reader/mod.rs
Labels: parquet

#6475 Add take_arrays util for getting entries from 2d arrays
  arrow-select/src/take.rs
Labels: arrow

#6474 Deprecate `MetadataLoader`
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_reader/store.rs
  parquet/src/file/metadata/reader.rs
  parquet/src/file/metadata/writer.rs
  parquet/tests/arrow_reader/bad_data.rs
Labels: parquet
