Repository apache/arrow-rs, pull requests merged in 2025-10, with the labels that each got.

#8476 [thrift-remodel] Remove most usage of `parquet::format` structures
  parquet/THRIFT.md
  parquet/src/arrow/schema/extension.rs
  parquet/src/basic.rs
  parquet/src/bin/parquet-layout.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/column/page.rs
  parquet/src/column/page_encryption.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/column_crypto_metadata.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/parser.rs
  parquet/src/file/metadata/thrift_gen.rs
  parquet/src/file/metadata/writer.rs
  parquet/src/file/mod.rs
  parquet/src/file/page_encoding_stats.rs
  parquet/src/file/page_index/column_index.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/statistics.rs
  parquet/src/file/writer.rs
  parquet/src/geospatial/bounding_box.rs
  parquet/src/geospatial/statistics.rs
  parquet/src/parquet_macros.rs
  parquet/src/parquet_thrift.rs
  parquet/src/schema/types.rs
  parquet/src/thrift.rs
  parquet/tests/arrow_reader/io/mod.rs
Labels: parquet, api-change

#8481 [Variant] Define and use unshred_variant function
  parquet-variant-compute/Cargo.toml
  parquet-variant-compute/src/lib.rs
  parquet-variant-compute/src/unshred_variant.rs
  parquet/tests/variant_integration.rs
Labels: parquet, parquet-variant

#8514 [Variant] Add list support to unshred_variant
  parquet-variant-compute/src/unshred_variant.rs
  parquet-variant/src/variant/list.rs
  parquet-variant/src/variant/object.rs
  parquet/tests/variant_integration.rs
Labels: parquet, parquet-variant

#8447 Fix for column name based projection mask creation
  parquet/src/arrow/mod.rs
Labels: parquet

#8528 [thrift-remodel] Incorporate changes made to geospatial statistics
  parquet/src/basic.rs
  parquet/src/file/metadata/thrift_gen.rs
  parquet/src/geospatial/statistics.rs
  parquet/src/schema/printer.rs
  parquet/tests/geospatial.rs
Labels: parquet

#8525 Add benchmarks for FromIter (PrimitiveArray and BooleanArray)
  arrow/Cargo.toml
  arrow/benches/array_from.rs
Labels: arrow

#8544 feat: Export `is_dense` public
  arrow-array/src/array/union_array.rs
Labels: arrow

#8541 Support old syntax for DataType parsing
  arrow-schema/src/datatype_parse.rs
Labels: arrow

#8492 Regression Testing, Bug Fixes, and Public API Tightening for arrow-avro
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
  arrow-avro/src/schema.rs
  arrow-avro/src/writer/encoder.rs
  arrow-avro/src/writer/mod.rs
  arrow-avro/test/data/README.md
  arrow-avro/test/data/comprehensive_e2e.avro
Labels: arrow, arrow-avro

#8493 Remove allow unused from arrow-avro lib.rs file
  arrow-avro/src/codec.rs
  arrow-avro/src/compression.rs
  arrow-avro/src/lib.rs
  arrow-avro/src/reader/cursor.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
  arrow-avro/src/reader/vlq.rs
  arrow-avro/src/schema.rs
  arrow-avro/src/writer/encoder.rs
  arrow-avro/src/writer/format.rs
  arrow-avro/src/writer/mod.rs
Labels: arrow, arrow-avro

#8555 minor(parquet): Fix test_not_found on Windows
  parquet/src/arrow/async_reader/store.rs
Labels: parquet

#8556 Add arrow-avro README.md file
  arrow-avro/README.md
  arrow-avro/src/lib.rs
  arrow-avro/src/schema.rs
Labels: arrow, arrow-avro

#8543 Fix "Incorrect Behavior of Collecting a filtered iterator to a BooleanArray"
  arrow-array/src/array/boolean_array.rs
  arrow-array/src/builder/boolean_builder.rs
  arrow/benches/array_from.rs
Labels: arrow

#8510 Migrate `parquet-variant` to Rust 2024
  parquet-variant/Cargo.toml
  parquet-variant/benches/variant_builder.rs
  parquet-variant/src/builder.rs
  parquet-variant/src/decoder.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/decimal.rs
  parquet-variant/src/variant/list.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
  parquet-variant/tests/variant_interop.rs
Labels: parquet-variant

#8554 [Parquet] Avoid fetching multiple pages when the predicate cache is disabled
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#8527 [PARQUET] Improve memory efficency for compressed writer parquet 1.0
  parquet/src/column/writer/mod.rs
Labels: parquet, performance

#8550 Arrow-avro Writer Dense Union support
  arrow-avro/benches/avro_writer.rs
  arrow-avro/src/writer/encoder.rs
  arrow-avro/src/writer/mod.rs
Labels: arrow, arrow-avro

#8545 Migrate `arrow-avro` to Rust 2024
  arrow-avro/Cargo.toml
  arrow-avro/benches/avro_writer.rs
  arrow-avro/benches/decoder.rs
  arrow-avro/examples/decode_kafka_stream.rs
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
  arrow-avro/src/schema.rs
  arrow-avro/src/writer/encoder.rs
  arrow-avro/src/writer/format.rs
  arrow-avro/src/writer/mod.rs
Labels: arrow, arrow-avro
