Repository apache/arrow-rs, pull requests merged in 2025-08, with the labels that each got.

#7932 Add more comments to the internal parquet reader
  parquet/src/arrow/array_reader/mod.rs
Labels: documentation, parquet

#8039 Add arrow-avro `SchemaStore` and fingerprinting
  arrow-avro/Cargo.toml
  arrow-avro/src/lib.rs
  arrow-avro/src/schema.rs
Labels: arrow

#8044 implement `cast_to_variant` kernel to cast native types to `VariantArray`
  parquet-variant-compute/src/cast_to_variant.rs
  parquet-variant-compute/src/lib.rs
  parquet-variant/src/variant.rs
Labels: parquet

#8034 Minor: Consolidate int96 stats roundtrip test
  parquet/tests/arrow_reader/int96_stats_roundtrip.rs
  parquet/tests/arrow_reader/mod.rs
Labels: parquet, development-process

#7860 Improve StringArray(Utf8) sort performance (~2-4x faster)
  arrow-ord/src/sort.rs
Labels: arrow, performance

#8029 Support multi-threaded writing of Parquet files with modular encryption
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/properties.rs
  parquet/src/file/writer.rs
  parquet/tests/encryption/encryption.rs
  parquet/tests/encryption/encryption_async.rs
  parquet/tests/encryption/encryption_util.rs
Labels: parquet

#8021 [Variant] Add `variant_get` and Shredded `VariantArray`
  parquet-variant-compute/src/from_json.rs
  parquet-variant-compute/src/lib.rs
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_array_builder.rs
  parquet-variant-compute/src/variant_get.rs
  parquet-variant-compute/src/variant_get/mod.rs
  parquet-variant-compute/src/variant_get/output/mod.rs
  parquet-variant-compute/src/variant_get/output/primitive.rs
  parquet-variant-compute/src/variant_get/output/variant.rs
  parquet-variant/src/path.rs
Labels: parquet

#8006 Implement arrow-avro SchemaStore and Fingerprinting To Enable Schema Resolution
  arrow-avro/Cargo.toml
  arrow-avro/benches/decoder.rs
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/reader/mod.rs
Labels: arrow

#8097 fix: Validate metadata len in IPC reader
  arrow-ipc/src/reader.rs
Labels: arrow

#8072 [thrift-remodel] Redo thrift enums and unions
  parquet/src/basic.rs
  parquet/src/lib.rs
  parquet/src/parquet_macros.rs
  parquet/src/parquet_thrift.rs
  parquet/src/schema/printer.rs
  parquet/tests/arrow_reader/bad_data.rs
Labels: parquet, api-change

#8075 Implement ArrowSchema to AvroSchema conversion logic in arrow-avro
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/schema.rs
Labels: arrow

#8100 Refactor arrow-avro `Decoder` to support partial decoding
  arrow-avro/src/reader/mod.rs
Labels: arrow

#8047 Added arrow-avro schema resolution foundations and type promotion
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/mod.rs
Labels: arrow, arrow-avro

#8107 [Varaint]: add `DataType::Null` support to cast_to_variant
  parquet-variant-compute/src/cast_to_variant.rs
Labels: parquet-variant

#8113 [Variant] Support Timestamp to variant for `cast_to_variant` kernel
  parquet-variant-compute/Cargo.toml
  parquet-variant-compute/src/cast_to_variant.rs
Labels: parquet-variant

#8092 [Variant] Minor: Add comments to tickets for follow on items
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_get/output/primitive.rs
  parquet-variant-compute/src/variant_get/output/variant.rs
Labels: parquet-variant

#8124 Add schema resolution and type promotion support to arrow-avro Decoder
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
Labels: arrow, arrow-avro

#8089 [VARIANT] Add support for DataType::Utf8/LargeUtf8/Utf8View for cast_to_variant
  parquet-variant-compute/src/cast_to_variant.rs
  parquet-variant-compute/src/variant_array_builder.rs
  parquet-variant-compute/src/variant_get/output/primitive.rs
  parquet-variant-compute/src/variant_get/output/variant.rs
Labels: parquet-variant

#8140 [Variant] Add human-readable impl Debug for Variant
  parquet-variant/src/variant.rs
Labels: parquet-variant

#8090 [VARIANT] Add support for DataType::Struct for cast_to_variant
  parquet-variant-compute/src/cast_to_variant.rs
Labels: parquet-variant

#8147 chore: Use tempfile to replace hand-written utils functions
  arrow-avro/src/writer/mod.rs
Labels: arrow, arrow-avro

#8081 Implement `DataType::{Date32,Date64}` => `Variant::Date`
  parquet-variant-compute/src/cast_to_variant.rs
Labels: parquet-variant

#8146 feat: support push batch direct to completed and add biggest coalesce batch support
  arrow-select/src/coalesce.rs
Labels: arrow

#7627 Fix RowConverter panic when encoding `DictionaryArray`s in `StructArray` / `ListArray`
  arrow-row/src/lib.rs
  arrow-row/src/list.rs
Labels: arrow

#8093 [Varint] Implement ShreddingState::AllNull variant
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_get/mod.rs
  parquet-variant-compute/src/variant_get/output/mod.rs
  parquet-variant-compute/src/variant_get/output/primitive.rs
  parquet-variant-compute/src/variant_get/output/variant.rs
Labels: parquet-variant

#8149 [Variant] Add primitive type timestamp_nanos(with&without timezone) and uuid
  parquet-variant-compute/src/cast_to_variant.rs
  parquet-variant-json/Cargo.toml
  parquet-variant-json/src/to_json.rs
  parquet-variant/Cargo.toml
  parquet-variant/src/builder.rs
  parquet-variant/src/decoder.rs
  parquet-variant/src/variant.rs
  parquet-variant/tests/variant_interop.rs
Labels: parquet-variant

#8187 [Variant] Rename ValueBuffer as ValueBuilder
  parquet-variant/src/builder.rs
Labels: parquet-variant

#8173 [Variant]: Implement `DataType::Dictionary` support for `cast_to_variant` kernel
  parquet-variant-compute/src/cast_to_variant.rs
Labels: parquet-variant

#8160 [thrift-remodel] Decoding of page indexes
  parquet/src/basic.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/parquet_macros.rs
Labels: parquet

#8168 arrow-row: Document dictionary handling
  arrow-row/src/lib.rs
Labels: documentation, arrow

#8185 [Variant] ParentState handles finish/rollback for builders
  parquet-variant-compute/src/variant_array_builder.rs
  parquet-variant-json/src/from_json.rs
  parquet-variant/src/builder.rs
Labels: parquet-variant

#8189 [Variant] Caller provides ParentState to ValueBuilder methods
  parquet-variant/src/builder.rs
Labels: parquet-variant

#8208 [Variant] Support read-only metadata builders
  parquet-variant-compute/src/variant_array_builder.rs
  parquet-variant/src/builder.rs
  parquet-variant/src/utils.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
Labels: parquet-variant

#8216 Fix error condition in doc comment of `Field::try_canonical_extension_type`
  arrow-schema/src/field.rs
Labels: arrow

#8141 [Variant] Allow appending raw object/list bytes to variant builders
  parquet-variant/src/builder.rs
  parquet-variant/src/variant/object.rs
Labels: parquet-variant

#8191 [thrift-remodel] PoC new form for column index
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/bin/parquet-index.rs
  parquet/src/file/metadata/memory.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/reader.rs
  parquet/src/file/metadata/writer.rs
  parquet/src/file/page_index/column_index.rs
  parquet/src/file/page_index/index.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/mod.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/writer.rs
  parquet/tests/arrow_reader/io/mod.rs
  parquet/tests/encryption/encryption_util.rs
Labels: parquet

#8190 [thrift-remodel] Add custom `PageLocation` decoder to speed up decoding of page indexes
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/parquet_thrift.rs
  parquet/tests/arrow_reader/io/mod.rs
Labels: parquet

#8244 pin comfy-table to 7.1.2
  arrow-cast/Cargo.toml
Labels: arrow

#8245 Sort: Change lexsort comment from stable to unstable
  arrow-ord/src/sort.rs
Labels: arrow
