Repository apache/arrow-rs, pull requests merged in 2025-06, with the labels that each got.

#7583 Revert "Minor: remove filter code deprecated in 2023 (#7554)"
  arrow-select/src/filter.rs
Labels: arrow

#7588 Fix GenericBinaryArray docstring.
  arrow-array/src/array/binary_array.rs
Labels: arrow

#7592 Add FixedSizeBinary to `take_kernel` benchmark
  arrow/benches/take_kernels.rs
Labels: arrow

#7555 Truncate Parquet page data page statistics
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/file/properties.rs
Labels: parquet, bug

#7585 fix: error reading multiple batches of `Dict(_, FixedSizeBinary(_))`
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#7569 Add a strong_count method to Buffer
  arrow-buffer/src/buffer/immutable.rs
Labels: arrow

#7601 Add CI tests for `parquet-variant` crate and fix clippy
  .github/workflows/dev_pr/labeler.yml
  .github/workflows/parquet-variant.yml
  parquet-variant/src/decoder.rs
  parquet-variant/src/utils.rs
  parquet-variant/src/variant.rs
Labels: development-process

#7597 Add `coalesce` kernel and`BatchCoalescer` for statefully combining selected b…atches:
  arrow-select/src/coalesce.rs
  arrow-select/src/filter.rs
  arrow-select/src/lib.rs
  arrow-select/src/take.rs
  arrow/Cargo.toml
  arrow/benches/coalesce_kernels.rs
  arrow/src/compute/kernels.rs
  arrow/src/compute/mod.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#7519 arrow-select: add support for merging primitive dictionary values
  arrow-select/src/concat.rs
  arrow-select/src/dictionary.rs
Labels: arrow

#7600 Include footer key metadata when writing encrypted Parquet with a plaintext footer
  parquet/src/file/metadata/writer.rs
  parquet/tests/encryption/encryption.rs
Labels: parquet

#7617 Add concatenate kernel benchmark for `StringViewArray`
  arrow/benches/concatenate_kernel.rs
Labels: arrow, development-process

#7614 Improve `coalesce` and `concat` performance for views
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-select/src/coalesce.rs
  arrow-select/src/concat.rs
Labels: arrow

#7623 Revert "Improve `coalesce` and `concat` performance for views (#7614)"
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-select/src/coalesce.rs
  arrow-select/src/concat.rs
Labels: arrow

#7625 Revert "Revert "Improve `coalesce` and `concat` performance for views…
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-select/src/coalesce.rs
  arrow-select/src/concat.rs
Labels: arrow

#7576 Adding Encoding argument in `parquet-rewrite`
  parquet/src/bin/parquet-rewrite.rs
Labels: parquet

#7631 [Variant] Add commented out primitive test casees
  parquet-variant/tests/variant_interop.rs
Labels: parquet

#7604 feat: add AsyncArrowWriter::into_inner
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet

#7633 Fix reading encrypted Parquet pages when using the page index
  parquet/src/file/serialized_reader.rs
  parquet/tests/encryption/encryption.rs
Labels: parquet

#7639 Minor: Add version to deprecation notice for `ParquetMetaDataReader::decode_footer`
  parquet/src/file/metadata/reader.rs
Labels: documentation, parquet

#7640 Deprecate old Parquet page index parsing functions
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#7643 Ensure page encoding statistics are written to Parquet file
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/mod.rs
  parquet/src/file/writer.rs
Labels: parquet, bug

#7646 Use approximate comparisons for pow tests
  arrow-array/src/arithmetic.rs
Labels: arrow

#7611 feat: add constructor to help efficiently upgrade key for GenericBytesDictionaryBuilder
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
Labels: arrow

#7669 Remove `lazy_static` dependency
  arrow-csv/Cargo.toml
  arrow-csv/src/reader/mod.rs
Labels: arrow

#7649 arrow-row: Add support for REE
  arrow-row/src/lib.rs
  arrow-row/src/run.rs
  arrow-schema/src/datatype.rs
Labels: arrow

#7680 Document REE row format and add some more tests
  arrow-row/src/lib.rs
  arrow-row/src/run.rs
Labels: arrow

#7704 Make variant iterators safely infallible
  parquet-variant/src/builder.rs
  parquet-variant/src/utils.rs
  parquet-variant/src/variant.rs
  parquet-variant/tests/variant_interop.rs
Labels: parquet

#7661 [Variant] Add variant docs and examples
  parquet-variant/src/variant.rs
Labels: documentation, parquet

#7717 Split out variant code into several new sub-modules
  parquet-variant/src/decoder.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/list.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
Labels: parquet

#7650 Optimize coalesce kernel for StringView (10-50% faster)
  arrow-array/src/array/byte_view_array.rs
  arrow-select/src/coalesce.rs
  arrow-select/src/coalesce/byte_view.rs
  arrow-select/src/coalesce/generic.rs
Labels: arrow

#7714 Support write to buffer api for SerializedFileWriter
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/file/writer.rs
Labels: parquet

#7694 Define a "arrow-pyrarrow" crate to implement the "pyarrow" feature.
  .github/workflows/integration.yml
  .github/workflows/rust.yml
  Cargo.toml
  arrow-pyarrow/Cargo.toml
  arrow-pyarrow/src/lib.rs
  arrow-pyarrow/tests/pyarrow.rs
  arrow/Cargo.toml
  arrow/src/lib.rs
Labels: arrow

#7727 arrow-array: Implement PartialEq for RunArray
  arrow-array/src/array/mod.rs
  arrow-array/src/array/run_array.rs
Labels: arrow

#7722 Prepare for `55.2.0` release
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  dev/release/update_change_log.sh
  parquet-variant/Cargo.toml
Labels: parquet, development-process

#7731 Perf: Optimize comparison kernels for inlined views
  arrow-ord/src/cmp.rs
  arrow/benches/comparison_kernels.rs
Labels: arrow

#7745 [55_maintenance] Fix verify-release-candidate.sh by skipping `arrow-pyarrow` and `parquet-variant`
  dev/release/verify-release-candidate.sh
Labels: development-process

#7729 arrow-row: Refactor arrow-row REE roundtrip tests
  arrow-row/src/run.rs
Labels: arrow

#7720 [Variant] Use `BTreeMap` for `VariantBuilder.dict` and `ObjectBuilder.fields` to maintain invariants upon entry writes
  parquet-variant/src/builder.rs
Labels: parquet

#7752 [Variant] Fix several overflow panic risks for 32-bit arch
  parquet-variant/src/decoder.rs
  parquet-variant/src/utils.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/list.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
Labels: parquet

#7767 Extend the fast path in GenericByteViewArray::is_eq for comparing against empty strings
  arrow-ord/src/cmp.rs
Labels: arrow

#7670 Variant: Write Variant Values as JSON
  parquet-variant/Cargo.toml
  parquet-variant/examples/variant_to_json_examples.rs
  parquet-variant/src/lib.rs
  parquet-variant/src/to_json.rs
  parquet-variant/src/variant.rs
Labels: parquet

#7737 Add fallible versions of temporal functions that may panic
  arrow-arith/src/numeric.rs
  arrow-array/src/types.rs
Labels: arrow

#7719 Introduce `MAX_INLINE_VIEW_LEN` constant for string/byte views
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-data/src/byte_view.rs
  arrow-select/src/coalesce/byte_view.rs
Labels: arrow

#7705 Support `FixedSizeList` RowConverter
  arrow-array/src/array/fixed_size_list_array.rs
  arrow-row/src/lib.rs
  arrow-row/src/list.rs
Labels: arrow

#7776 [VARIANT] Validate precision in VariantDecimalXX structs and add missing tests
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/decimal.rs
Labels: parquet

#7787 Add sort_kernel benchmark for StringViewArray case
  arrow/benches/sort_kernel.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#7781 Add benchmark for about view array slice
  arrow-array/Cargo.toml
  arrow-array/benches/view_types.rs
Labels: arrow

#7785 [VARIANT] impl Display for VariantDecimalXX
  arrow-schema/src/datatype.rs
  arrow-schema/src/datatype_parse.rs
  arrow-schema/src/fields.rs
  parquet-variant/src/builder.rs
  parquet-variant/src/decoder.rs
  parquet-variant/src/to_json.rs
  parquet-variant/src/variant/decimal.rs
  parquet-variant/src/variant/metadata.rs
Labels: parquet, arrow

#7584 Minor: Remove filter code deprecated in 2023 (try 2)
  arrow-select/src/filter.rs
Labels: arrow, next-major-release

#7551 Remove old `flight-sql-experimental` feature flag
  arrow-flight/README.md
  arrow-flight/src/lib.rs
Labels: arrow, arrow-flight, next-major-release

#7570 Update to parquet-format 2.11.0
  parquet/regen.sh
  parquet/src/basic.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/format.rs
  parquet/src/schema/printer.rs
Labels: parquet, enhancement, api-change, next-major-release

#7733 parquet_derive: update in working example for ParquetRecordWriter
  parquet_derive/README.md
  parquet_derive/src/lib.rs
Labels: parquet-derive

#7544 Add `TimeMilli` and `TimeMicro` fields and conversions for the record API
  parquet/src/record/api.rs
Labels: parquet, api-change, next-major-release

#7689 feat: add constructor to efficiently upgrade dict key type to remaining builders
  arrow-array/src/builder/fixed_size_binary_dictionary_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#7098 Implement Type and Array for Decimal32 and Decimal64
  arrow-arith/src/numeric.rs
  arrow-array/src/array/mod.rs
  arrow-array/src/array/primitive_array.rs
  arrow-array/src/builder/buffer_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-array/src/cast.rs
  arrow-array/src/record_batch.rs
  arrow-array/src/types.rs
  arrow-cast/src/display.rs
  arrow-data/src/data.rs
  arrow-data/src/decimal.rs
  arrow-data/src/equal/mod.rs
  arrow-data/src/transform/mod.rs
  arrow-integration-test/src/datatype.rs
  arrow-integration-test/src/lib.rs
  arrow-ipc/src/convert.rs
  arrow-schema/src/datatype.rs
  arrow-schema/src/datatype_parse.rs
  arrow-schema/src/ffi.rs
  arrow-schema/src/field.rs
  parquet/src/arrow/arrow_reader/statistics.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow, next-major-release

#7788 Add schema with only primitive arrays to `coalesce_kernel` benchmark
  arrow/benches/coalesce_kernels.rs
Labels: arrow

#7794 Add `arrow-pyarrow` crate to dev/release/README.md
  dev/release/README.md
Labels: development-process

#7770 [Variant] Minor: make fields in `VariantDecimal*` private, add examples
  parquet-variant/src/builder.rs
  parquet-variant/src/to_json.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/decimal.rs
Labels: parquet

#7811 Remove functions from parquet crate deprecated in or before 54.0.0
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/store.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/file/footer.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/mod.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/properties.rs
  parquet/src/file/statistics.rs
Labels: parquet, api-change

#7557 Add Fixed, Uuid support to arrow-avro
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/cursor.rs
  arrow-avro/src/reader/record.rs
Labels: arrow

#7748 Perf: Add prefix compare for inlined compare and change use of inline_value to inline it to a u128
  arrow-array/src/array/byte_view_array.rs
  arrow-ord/src/cmp.rs
Labels: arrow

#7779 [Variant] Add negative tests for reading invalid primitive variant values
  parquet-variant/Cargo.toml
  parquet-variant/src/decoder.rs
Labels: parquet

#7813 Remove deprecated temporal functions
  arrow-arith/src/temporal.rs
Labels: arrow, api-change

#7823 Use in-memory buffer for arrow_writer benchmark
  parquet/benches/arrow_writer.rs
Labels: parquet

#7829 Allow concating struct arrays with no fields
  arrow-select/src/concat.rs
Labels: arrow

#7808 [Variant] Speedup `ObjectBuilder` (62x faster)
  parquet-variant/Cargo.toml
  parquet-variant/benches/variant_builder.rs
  parquet-variant/src/builder.rs
Labels: parquet
