Repository apache/arrow-rs, pull requests merged in 2025-09, with the labels that each got.

#8240 feat: gRPC compression support for flight CLI
  arrow-flight/Cargo.toml
  arrow-flight/src/bin/flight_sql_client.rs
Labels: arrow, arrow-flight

#8251 [Minor] Backport changes to metadata benchmark
  parquet/benches/metadata.rs
  parquet/src/thrift.rs
Labels: parquet

#8262 [Parquet] Write row group with async writer
  parquet/src/arrow/async_writer/mod.rs
Labels: parquet

#8284 [Variant] Add as_u* for Variant
  parquet-variant/src/variant.rs
Labels: parquet-variant

#8223 Added arrow-avro enum mapping support for schema resolution
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
Labels: arrow, arrow-avro

#8239 feat: `SSLKEYLOGFILE` support for flight CLI
  arrow-flight/src/bin/flight_sql_client.rs
Labels: arrow, arrow-flight

#8255 Add Decimal32 and Decimal64 support to arrow-avro Reader
  arrow-avro/Cargo.toml
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
  arrow-avro/test/data/README.md
  arrow-avro/test/data/fixed256_decimal.avro
  arrow-avro/test/data/fixed_length_decimal_legacy_32.avro
  arrow-avro/test/data/int128_decimal.avro
  arrow-avro/test/data/int256_decimal.avro
Labels: arrow, arrow-avro

#8237 [thrift-remodel] Add thrift write support
  parquet/src/basic.rs
  parquet/src/file/column_crypto_metadata.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/thrift_gen.rs
  parquet/src/file/page_encoding_stats.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/src/file/page_index/offset_index.rs
  parquet/src/parquet_macros.rs
  parquet/src/parquet_thrift.rs
  parquet/tests/arrow_reader/io/mod.rs
Labels: parquet

#8298 Adds additional type support to arrow-avro writer
  arrow-avro/src/schema.rs
  arrow-avro/src/writer/encoder.rs
Labels: arrow, arrow-avro

#8328 Fix `can_cast_types` for temporal to `Utf8View`
  arrow-cast/src/cast/mod.rs
Labels: arrow

#8316 Add arrow-avro examples and Reader documentation
  arrow-avro/examples/decode_kafka_stream.rs
  arrow-avro/examples/decode_stream.rs
  arrow-avro/examples/read_avro_ocf.rs
  arrow-avro/examples/read_ocf_with_resolution.rs
  arrow-avro/examples/write_avro_ocf.rs
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/schema.rs
Labels: arrow, arrow-avro

#8344 [Variant] Rename VariantShreddingRowBuilder to VariantToArrowRowBuilder
  parquet-variant-compute/src/lib.rs
  parquet-variant-compute/src/variant_get.rs
  parquet-variant-compute/src/variant_get/output/mod.rs
  parquet-variant-compute/src/variant_to_arrow.rs
Labels: parquet-variant

#8346 [Variant] feat: Support typed_access for Boolean
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_get.rs
Labels: parquet-variant

#8041 improve performance of i256 to f64
  arrow-buffer/benches/i256.rs
  arrow-buffer/src/bigint/mod.rs
Labels: arrow

#8343 [Variant] Add tests for variant_get requesting Some struct
  parquet-variant-compute/src/variant_get.rs
Labels: parquet-variant

#8293 Add projection with default values support to `RecordDecoder`
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
Labels: arrow, arrow-avro

#8355 [Variant] Remove unused metadata from variant ShreddingState
  parquet-variant-compute/src/variant_array.rs
Labels: parquet-variant

#8359 [Variant] Add constants for empty variant metadata
  parquet-variant-compute/src/variant_get.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/metadata.rs
Labels: parquet-variant

#8369 [Variant] Support Variant to PrimitiveArrow for unsigned integer
  parquet-variant-compute/src/type_conversion.rs
  parquet-variant-compute/src/variant_get.rs
  parquet-variant-compute/src/variant_to_arrow.rs
Labels: parquet-variant

#8360 [Variant] Implement new VariantValueArrayBuilder
  parquet-variant-compute/src/lib.rs
  parquet-variant-compute/src/variant_array_builder.rs
  parquet-variant-compute/src/variant_get.rs
  parquet-variant-compute/src/variant_to_arrow.rs
  parquet-variant/src/builder.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/object.rs
Labels: parquet-variant

#8379 [Variant] [Shredding] feat: Support typed_access for Date32
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_get.rs
  parquet/tests/variant_integration.rs
Labels: parquet, parquet-variant

#8385 Follow-up Improvements to Avro union handling
  arrow-avro/src/codec.rs
  arrow-avro/src/schema.rs
Labels: arrow, arrow-avro

#8366 [Variant] Define new shred_variant function
  parquet-variant-compute/Cargo.toml
  parquet-variant-compute/src/lib.rs
  parquet-variant-compute/src/shred_variant.rs
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_get.rs
  parquet-variant-compute/src/variant_to_arrow.rs
  parquet-variant/src/builder.rs
Labels: parquet-variant

#8395 [Variant] Fix NULL handling for shredded object fields
  parquet-variant-compute/src/shred_variant.rs
Labels: parquet-variant

#8392 Add Arrow Variant Extension Type, remove `Array` impl for `VariantArray` and `ShreddedVariantFieldArray`
  parquet-variant-compute/benches/variant_kernels.rs
  parquet-variant-compute/src/lib.rs
  parquet-variant-compute/src/shred_variant.rs
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_array_builder.rs
  parquet-variant-compute/src/variant_get.rs
  parquet-variant-compute/src/variant_to_arrow.rs
  parquet/tests/variant_integration.rs
Labels: parquet, parquet-variant

#8431 expose read plan and plan builder via mod
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#8424 Use more compact Debug formatting of Field
  .gitignore
  arrow-schema/Cargo.toml
  arrow-schema/src/datatype.rs
  arrow-schema/src/field.rs
Labels: arrow, api-change

#8291 Quote `DataType::Struct` field names in `Display` formatting
  arrow-cast/src/cast/mod.rs
  arrow-json/src/lib.rs
  arrow-row/src/lib.rs
  arrow-schema/src/datatype_display.rs
  arrow-schema/src/datatype_parse.rs
  arrow-schema/src/schema.rs
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet, arrow, api-change, next-major-release

#8438 Variant integration fixes
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_get.rs
  parquet/tests/variant_integration.rs
Labels: parquet, parquet-variant

#8415 Respect `CastOptions.safe` when casting `BinaryView` → `Utf8View` (return `null` for invalid UTF‑8)
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#8440 Unpin comfytable
  arrow-cast/Cargo.toml
Labels: arrow

#8437 Refactor: extract FooterTail from ParquetMetadataReader
  parquet/src/file/metadata/footer_tail.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/reader.rs
Labels: parquet

#8401 [Variant][Shredding] Support typed_access for timestamp_micro/timestamp_nano
  parquet-variant-compute/src/variant_array.rs
  parquet-variant-compute/src/variant_get.rs
  parquet/tests/variant_integration.rs
Labels: parquet, parquet-variant

#8459 refactor: split `num` dependency
  arrow-arith/Cargo.toml
  arrow-arith/src/bitwise.rs
  arrow-array/Cargo.toml
  arrow-array/src/arithmetic.rs
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/array/list_array.rs
  arrow-array/src/builder/fixed_size_binary_dictionary_builder.rs
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/generic_bytes_dictionary_builder.rs
  arrow-array/src/builder/primitive_dictionary_builder.rs
  arrow-buffer/Cargo.toml
  arrow-buffer/benches/i256.rs
  arrow-buffer/src/bigint/mod.rs
  arrow-cast/Cargo.toml
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
  arrow-data/Cargo.toml
  arrow-data/src/data.rs
  arrow-data/src/equal/list.rs
  arrow-data/src/equal/variable_size.rs
  arrow-data/src/transform/list.rs
  arrow-data/src/transform/mod.rs
  arrow-data/src/transform/run.rs
  arrow-data/src/transform/utils.rs
  arrow-data/src/transform/variable_size.rs
  arrow-integration-test/Cargo.toml
  arrow-integration-test/src/lib.rs
  arrow-json/Cargo.toml
  arrow-json/src/reader/primitive_array.rs
  arrow-select/Cargo.toml
  arrow-select/src/filter.rs
  arrow-select/src/take.rs
  arrow-select/src/window.rs
  arrow-string/Cargo.toml
  arrow-string/src/substring.rs
  parquet/Cargo.toml
  parquet/benches/arrow_reader.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/encodings/decoding.rs
  parquet/src/record/api.rs
  parquet/src/util/bit_util.rs
Labels: parquet, arrow

#8456 Migrate `arrow-flight` to Rust 2024
  arrow-flight/Cargo.toml
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/examples/server.rs
  arrow-flight/src/bin/flight_sql_client.rs
  arrow-flight/src/client.rs
  arrow-flight/src/decode.rs
  arrow-flight/src/encode.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/sql/metadata/db_schemas.rs
  arrow-flight/src/sql/metadata/sql_info.rs
  arrow-flight/src/sql/metadata/table_types.rs
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/src/streams.rs
  arrow-flight/src/trailers.rs
  arrow-flight/tests/client.rs
  arrow-flight/tests/common/server.rs
  arrow-flight/tests/common/utils.rs
  arrow-flight/tests/encode_decode.rs
  arrow-flight/tests/flight_sql_client.rs
  arrow-flight/tests/flight_sql_client_cli.rs
Labels: arrow, arrow-flight

#8408 Support reading/writing `VariantArray` to parquet with Variant LogicalType
  parquet-variant-compute/Cargo.toml
  parquet/Cargo.toml
  parquet/src/arrow/schema/complex.rs
  parquet/src/arrow/schema/extension.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/variant.rs
Labels: parquet, parquet-variant

#8478 [Minor] Remove private APIs from Parquet metadata benchmark
  parquet/benches/metadata.rs
  parquet/src/thrift.rs
Labels: parquet

#7819 [json] Optimize primitive numbers to string (50%-250% faster)
  arrow-json/Cargo.toml
  arrow-json/src/reader/string_array.rs
Labels: arrow, performance

#8433 Adds Duration(TimeUnit) support to arrow-avro reader and writer
  arrow-avro/Cargo.toml
  arrow-avro/src/codec.rs
  arrow-avro/src/lib.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
  arrow-avro/src/schema.rs
  arrow-avro/src/writer/encoder.rs
  arrow-avro/src/writer/mod.rs
  arrow-avro/test/data/README.md
  arrow-avro/test/data/duration_logical_types.avro
Labels: arrow, arrow-avro

#8455 Migrate `arrow-data` to Rust 2024
  arrow-data/Cargo.toml
  arrow-data/src/data.rs
  arrow-data/src/decimal.rs
  arrow-data/src/equal/boolean.rs
  arrow-data/src/equal/dictionary.rs
  arrow-data/src/equal/fixed_list.rs
  arrow-data/src/equal/list.rs
  arrow-data/src/equal/structure.rs
  arrow-data/src/equal/utils.rs
  arrow-data/src/equal/variable_size.rs
  arrow-data/src/ffi.rs
  arrow-data/src/transform/boolean.rs
  arrow-data/src/transform/fixed_binary.rs
  arrow-data/src/transform/fixed_size_list.rs
  arrow-data/src/transform/list.rs
  arrow-data/src/transform/mod.rs
  arrow-data/src/transform/null.rs
  arrow-data/src/transform/primitive.rs
  arrow-data/src/transform/run.rs
  arrow-data/src/transform/structure.rs
  arrow-data/src/transform/union.rs
  arrow-data/src/transform/utils.rs
  arrow-data/src/transform/variable_size.rs
Labels: arrow

#8490 Migrate `arrow-select` to Rust 2024
  arrow-select/Cargo.toml
  arrow-select/src/coalesce.rs
  arrow-select/src/concat.rs
  arrow-select/src/dictionary.rs
  arrow-select/src/filter.rs
  arrow-select/src/interleave.rs
  arrow-select/src/nullif.rs
  arrow-select/src/take.rs
  arrow-select/src/union_extract.rs
  arrow-select/src/window.rs
Labels: arrow

#8488 Migrate `arrow-row` to Rust 2024
  arrow-row/Cargo.toml
  arrow-row/src/fixed.rs
  arrow-row/src/lib.rs
  arrow-row/src/list.rs
  arrow-row/src/run.rs
  arrow-row/src/variable.rs
Labels: arrow

#8491 Migrate `arrow-string` to Rust 2024
  arrow-string/Cargo.toml
  arrow-string/src/length.rs
  arrow-string/src/like.rs
  arrow-string/src/substring.rs
Labels: arrow

#8502 [Variant] ReadOnlyMetadataBuilder borrows its underlying VariantMetadata
  parquet-variant-compute/src/shred_variant.rs
  parquet-variant-compute/src/variant_array_builder.rs
  parquet-variant/src/builder.rs
Labels: parquet-variant

#8507 Migrate `parquet_derive` to Rust 2024
  parquet_derive/Cargo.toml
  parquet_derive/src/lib.rs
  parquet_derive/src/parquet_field.rs
Labels: parquet-derive

#8498 Add `append_n` method to `FixedSizeBinaryDictionaryBuilder`
  arrow-array/src/builder/fixed_size_binary_dictionary_builder.rs
Labels: arrow

#8494 Use `doc_cfg` instead of removed `doc_auto_cfg`
  arrow-arith/src/lib.rs
  arrow-array/src/lib.rs
  arrow-avro/src/lib.rs
  arrow-buffer/src/lib.rs
  arrow-cast/src/lib.rs
  arrow-csv/src/lib.rs
  arrow-data/src/lib.rs
  arrow-flight/src/lib.rs
  arrow-integration-test/src/lib.rs
  arrow-ipc/src/lib.rs
  arrow-json/src/lib.rs
  arrow-ord/src/lib.rs
  arrow-row/src/lib.rs
  arrow-schema/src/lib.rs
  arrow-select/src/lib.rs
  arrow-string/src/lib.rs
  arrow/src/lib.rs
  parquet/src/lib.rs
  parquet_derive/src/lib.rs
  parquet_derive_test/src/lib.rs
Labels: parquet, arrow, arrow-flight, parquet-derive, arrow-avro

#8483 [Variant] Support strict casting for Decimals
  parquet-variant-compute/src/arrow_to_variant.rs
  parquet-variant-compute/src/cast_to_variant.rs
  parquet-variant-compute/src/type_conversion.rs
Labels: parquet-variant

#8519 [Variant] Reverse VariantAsPrimitive trait to PrimitiveFromVariant
  parquet-variant-compute/src/type_conversion.rs
  parquet-variant-compute/src/variant_to_arrow.rs
Labels: parquet-variant
