Repository apache/arrow-rs, pull requests merged in 2025-02, with the labels that each got.

#7057 fix error message for reading definition levels
  parquet/src/column/reader.rs
Labels: parquet

#7060 Remove all RCs after release
  dev/release/release-tarball.sh
  dev/release/remove-old-artifacts.sh
  object_store/dev/release/release-tarball.sh
  object_store/dev/release/remove-old-artifacts.sh
Labels: object-store

#5822 Add `ExtensionType` trait and `CanonicalExtensionType` enum
  arrow-array/src/array/list_view_array.rs
  arrow-schema/Cargo.toml
  arrow-schema/src/extension/canonical/bool8.rs
  arrow-schema/src/extension/canonical/fixed_shape_tensor.rs
  arrow-schema/src/extension/canonical/json.rs
  arrow-schema/src/extension/canonical/mod.rs
  arrow-schema/src/extension/canonical/opaque.rs
  arrow-schema/src/extension/canonical/uuid.rs
  arrow-schema/src/extension/canonical/variable_shape_tensor.rs
  arrow-schema/src/extension/mod.rs
  arrow-schema/src/field.rs
  arrow-schema/src/lib.rs
  arrow-select/src/dictionary.rs
  arrow/Cargo.toml
  arrow/README.md
  parquet/Cargo.toml
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow

#7039 Improve `ListArray` documentation for slices
  arrow-array/src/array/list_array.rs
Labels: documentation, arrow

#7064 Minor: add ticket reference for todo
  parquet/src/arrow/schema/mod.rs
Labels: parquet

#7066 perf: inline `from_iter` for `ScalarBuffer`
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#7047 Add test of out of order UploadPart
  object_store/src/aws/mod.rs
  object_store/src/azure/mod.rs
  object_store/src/gcp/mod.rs
  object_store/src/integration.rs
Labels: development-process, object-store

#7070 fix: issue introduced in #6833 - less than equal check for scale in decimal conversion
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#7077 minor: re-export `OffsetBufferBuilder` in `arrow` crate
  arrow-array/src/builder/buffer_builder.rs
Labels: arrow

#7078 Add another decimal cast edge test case
  arrow-cast/src/cast/mod.rs
Labels: arrow

#7052 Support both 0x01 and 0x02 as type for list of booleans in thrift metadata
  parquet/src/thrift.rs
Labels: parquet

#6751 Fix LocalFileSystem with range request that ends beyond end of file
  object_store/src/local.rs
Labels: object-store

#7027 Introduce `UnsafeFlag` to manage disabling `ArrayData` validation
  arrow-data/src/data.rs
Labels: arrow

#7028 Refactor arrow-ipc: Rename `ArrayReader` to `RecodeBatchDecoder`
  arrow-ipc/src/reader.rs
  arrow-ipc/src/reader/stream.rs
Labels: arrow

#7029 Refactor arrow-ipc: Move `create_*_array` methods into `RecordBatchDecoder`
  arrow-ipc/src/reader.rs
Labels: arrow

#7019 Add a custom implementation `LocalFileSystem::list_with_offset`
  object_store/src/local.rs
Labels: object-store

#7090 Benchmarks for Arrow IPC writer
  arrow-ipc/Cargo.toml
  arrow-ipc/benches/ipc_writer.rs
Labels: arrow

#7089 Minor: Clarify documentation on `NullBufferBuilder::allocated_size`
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/builder/boolean.rs
  arrow-buffer/src/builder/null.rs
Labels: documentation, arrow

#7105 minor: fix deprecated_note
  arrow-data/src/decimal.rs
Labels: arrow

#7103 Minor: Fix ArrayDataBuilder::build_unchecked docs
  arrow-data/src/data.rs
Labels: arrow

#7091 Benchmarks for Arrow IPC reader
  arrow-ipc/Cargo.toml
  arrow-ipc/benches/ipc_reader.rs
Labels: arrow

#7112 object_store/gcp: derive Clone for GoogleCloudStorage
  object_store/src/gcp/mod.rs
Labels: object-store

#7092 Expose record boundary information in JSON decoder
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/tape.rs
Labels: arrow

#7101 Support setting key field in MapBuilder
  arrow-array/src/builder/map_builder.rs
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#7074 Support converting large dates (i.e. +10999-12-31) from string to Date32
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/parse.rs
Labels: arrow

#7096 Add tests that arrow IPC data is validated
  arrow-ipc/src/reader.rs
Labels: arrow

#7123 feat(object_store): random IP address selection
  object_store/src/client/dns.rs
  object_store/src/client/mod.rs
Labels: api-change, object-store

#7139 Minor: Add doctest to ArrayDataBuilder::build_unchecked
  arrow-data/src/data.rs
Labels: arrow

#7143 object_store: Disable all compression formats in HTTP reqwest client
  object_store/src/client/mod.rs
Labels: object-store

#7150 fix: Data type inference for NaN, inf and -inf in csv files
  arrow-csv/src/reader/mod.rs
  arrow-csv/test/data/various_types.csv
Labels: arrow

#7131 arrow-ord: add support for nested types to `partition`
  arrow-ord/src/partition.rs
Labels: arrow

#7163 Add Week ISO, Year ISO computation
  arrow-arith/src/temporal.rs
Labels: arrow

#7167 Fix some Clippy 1.85 warnings
  arrow-array/src/array/union_array.rs
  arrow-buffer/src/bigint/div.rs
  arrow-buffer/src/bigint/mod.rs
  arrow-json/src/reader/decimal_array.rs
  arrow-json/src/reader/primitive_array.rs
  arrow-json/src/reader/string_array.rs
  arrow-json/src/reader/tape.rs
  arrow-json/src/reader/timestamp_array.rs
  arrow-select/src/union_extract.rs
  parquet/src/encodings/rle.rs
Labels: parquet, arrow

#7021 Optimise decimal casting for infallible conversions
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
  arrow/benches/cast_kernels.rs
Labels: arrow

#7157 Improve arrow-json deserialization performance by 30%
  arrow-json/Cargo.toml
  arrow-json/src/reader/tape.rs
Labels: arrow

#7198 fix: Use chrono's quarter() to avoid conflict
  Cargo.toml
  arrow-arith/src/temporal.rs
Labels: arrow

#7199 Remove zstd pin
  parquet/Cargo.toml
Labels: parquet

#7190 doc: modify wrong comment
  arrow-data/src/ffi.rs
Labels: arrow

#7183 Decouple ObjectStore from Reqwest
  object_store/Cargo.toml
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/dynamo.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/builder.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/azure/mod.rs
  object_store/src/client/body.rs
  object_store/src/client/builder.rs
  object_store/src/client/connection.rs
  object_store/src/client/get.rs
  object_store/src/client/header.rs
  object_store/src/client/mod.rs
  object_store/src/client/retry.rs
  object_store/src/gcp/builder.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/parse.rs
  object_store/src/payload.rs
Labels: object-store

#7195 Improve RleDecoder performance
  parquet/src/encodings/rle.rs
Labels: parquet, performance

#7120 Add `with_skip_validation` flag to IPC `StreamReader`, `FileReader` and `FileDecoder`
  arrow-data/src/data.rs
  arrow-ipc/benches/ipc_reader.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/reader/stream.rs
Labels: arrow

#7170 feat: add `Extensions` to object store `GetOptions`
  object_store/Cargo.toml
  object_store/src/client/builder.rs
  object_store/src/client/mod.rs
  object_store/src/lib.rs
Labels: api-change, object-store

#7181 chore: enable conditional put by default for S3
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/aws/precondition.rs
Labels: api-change, object-store

#7213 feat: add `Extensions` to object store `PutOptions`
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/gcp/client.rs
  object_store/src/lib.rs
Labels: api-change, object-store

#7214 feat: add `Extensions` to object store `PutMultipartOpts`
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/buffered.rs
  object_store/src/gcp/client.rs
  object_store/src/lib.rs
Labels: api-change, object-store

#7215 Minor: Fix json StructMode docs links
  arrow-json/src/lib.rs
Labels: arrow
