Repository apache/arrow-rs, pull requests merged in 2025-01, with the labels that each got.

#6920 Add doctest example for `Buffer::from_bytes`
  arrow-buffer/src/buffer/immutable.rs
Labels: arrow

#6636 object_store: Add enabled-by-default "fs" feature
  .github/workflows/object_store.yml
  object_store/Cargo.toml
  object_store/src/chunked.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/parse.rs
  object_store/src/throttle.rs
  object_store/src/util.rs
Labels: api-change, object-store, next-major-release

#6266 object_store: Migrate from `snafu` to `thiserror`
  object_store/Cargo.toml
  object_store/src/aws/builder.rs
  object_store/src/aws/client.rs
  object_store/src/aws/credential.rs
  object_store/src/aws/resolve.rs
  object_store/src/azure/builder.rs
  object_store/src/azure/client.rs
  object_store/src/azure/credential.rs
  object_store/src/client/get.rs
  object_store/src/client/header.rs
  object_store/src/client/retry.rs
  object_store/src/delimited.rs
  object_store/src/gcp/builder.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/credential.rs
  object_store/src/http/client.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/parse.rs
  object_store/src/path/mod.rs
  object_store/src/path/parts.rs
  object_store/src/util.rs
Labels: object-store, next-major-release

#6552 feat: add GenericListViewBuilder
  arrow-array/src/builder/generic_list_view_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-array/src/builder/struct_builder.rs
  arrow-array/src/cast.rs
Labels: arrow

#6932 Document how to use Extend for generic methods on ArrayBuilders
  arrow-array/src/builder/mod.rs
Labels: arrow

#6931 [Parquet] Add projection utility functions
  parquet/src/arrow/mod.rs
Labels: parquet

#6893 feat(arrow-select): `concat` kernel will merge dictionary values for list of dictionaries
  arrow-buffer/src/buffer/offset.rs
  arrow-select/src/concat.rs
Labels: arrow

#6935 minor: fix test and remove println in tests
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6928 Minor: improve `zip` kernel docs, add examples
  arrow-select/src/zip.rs
Labels: documentation, arrow

#6940 [53.0.0_maintenance] fix clippy on 53.0.0_maintenance branch
  arrow-ord/src/ord.rs
  object_store/src/aws/client.rs
  object_store/src/aws/dynamo.rs
  object_store/src/local.rs
  object_store/src/path/parts.rs
Labels: arrow, object-store

#6942 Minor clippy fixes
  arrow-cast/src/parse.rs
  arrow-flight/src/encode.rs
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/gcp/client.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/column/writer/mod.rs
Labels: parquet, arrow, arrow-flight, object-store

#6936 [53.0.0_maintenance] fix: decimal conversion looses value on lower precision (#6836)
  arrow-cast/src/cast/decimal.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#6937 [53.0.0_maintenance] perf: Use Cow in get_format_string in FFI_ArrowSchema (#6853)
  arrow-schema/Cargo.toml
  arrow-schema/benches/ffi.rs
  arrow-schema/src/ffi.rs
Labels: arrow

#6939 Improve `Buffer` documentation, deprecate `Buffer::from_bytes` add `From<Bytes>` and `From<bytes::Bytes>` impls
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/mutable.rs
  arrow-buffer/src/bytes.rs
  arrow-flight/src/decode.rs
  arrow-flight/src/sql/client.rs
  parquet/src/arrow/array_reader/byte_view_array.rs
Labels: parquet, arrow, arrow-flight

#6738 Convert some panics that happen on invalid parquet files to error results
  parquet/src/errors.rs
  parquet/src/file/metadata/reader.rs
  parquet/src/file/serialized_reader.rs
  parquet/src/file/statistics.rs
  parquet/src/schema/types.rs
  parquet/src/thrift.rs
  parquet/tests/arrow_reader/bad_data.rs
Labels: parquet

#6742 Update MSRVs to be accurate
  .github/workflows/rust.yml
  Cargo.toml
  arrow-flight/gen/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow/Cargo.toml
  parquet/Cargo.toml
Labels: parquet, arrow, arrow-flight, development-process

#6947 Document the `ParquetRecordBatchStream` buffering
  parquet/src/arrow/async_reader/mod.rs
Labels: documentation, parquet

#6619 Return `BoxStream` with `'static` lifetime from `ObjectStore::list`
  object_store/src/aws/client.rs
  object_store/src/aws/mod.rs
  object_store/src/azure/client.rs
  object_store/src/azure/mod.rs
  object_store/src/chunked.rs
  object_store/src/client/list.rs
  object_store/src/client/pagination.rs
  object_store/src/gcp/client.rs
  object_store/src/gcp/mod.rs
  object_store/src/http/mod.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/tests/get_range_file.rs
Labels: api-change, object-store, next-major-release

#6930 [Parquet] Reuse buffer in `ByteViewArrayDecoderPlain`
  parquet/src/arrow/array_reader/byte_view_array.rs
Labels: parquet

#6426 regenerate arrow-ipc/src/gen with patched flatbuffers
  .github/workflows/integration.yml
  arrow-flight/src/encode.rs
  arrow-ipc/Cargo.toml
  arrow-ipc/regen.sh
  arrow-ipc/src/gen/File.rs
  arrow-ipc/src/gen/Message.rs
  arrow-ipc/src/gen/Schema.rs
  arrow-ipc/src/gen/SparseTensor.rs
  arrow-ipc/src/gen/Tensor.rs
  arrow-ipc/src/lib.rs
Labels: arrow, arrow-flight

#6955 [Parquet] Add benchmark and test for writing NaNs to Parquet
  arrow/Cargo.toml
  arrow/src/util/bench_util.rs
  parquet/benches/arrow_writer.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet, arrow

#6943 [53.0.0_maintenance] fix: Encoding of List offsets was incorrect when slice offsets begin
  arrow-ipc/src/writer.rs
Labels: arrow

#6944 [53.0.0_maintenance] [arrow-cast] Support cast numeric to string view (alternate) (#6816)
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#6945 Add `peek_next_page_offset` to `SerializedPageReader`
  parquet/src/file/serialized_reader.rs
Labels: parquet

#6957 [53.0.0_maintenance] [arrow-cast] Support cast boolean from/to string view (#6822)
  arrow-cast/src/cast/mod.rs
  arrow-cast/src/cast/string.rs
Labels: arrow

#6948 Improve `ParquetRecordBatchStreamBuilder` docs / examples
  parquet/src/arrow/async_reader/mod.rs
Labels: documentation, parquet

#6953 [Parquet] Improve speed of dictionary encoding NaN float values
  parquet/src/util/interner.rs
Labels: parquet

#6964 [53.0.0_maintenance] Fix CI
  .github/workflows/arrow.yml
  .github/workflows/object_store.yml
  .github/workflows/parquet.yml
  arrow-cast/src/parse.rs
  arrow-flight/src/encode.rs
  object_store/src/aws/client.rs
  object_store/src/azure/client.rs
  object_store/src/gcp/client.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/column/writer/mod.rs
Labels: parquet, arrow, arrow-flight, object-store

#6966 Simplify Validation/Alignment APIs of `ArrayDataBuilder`: validate and align
  arrow-data/src/data.rs
  arrow-ipc/src/reader.rs
Labels: arrow

#6958 add guidelines for choosing panics or error results
  README.md
Labels: documentation, development-process

#6668 Faster parquet utf8 validation using `simdjson`
  parquet/Cargo.toml
  parquet/src/arrow/array_reader/byte_view_array.rs
  parquet/src/arrow/buffer/offset_buffer.rs
Labels: parquet

#6977 Improve docs for `AmazonS3Builder::from_env`
  object_store/src/aws/builder.rs
Labels: object-store

#6974 Minor: improve the documentation of NullBuffer and BooleanBuffer
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/buffer/null.rs
  arrow-buffer/src/builder/boolean.rs
  arrow-buffer/src/builder/null.rs
Labels: arrow

#6961 Use `u64` range instead of `usize`, for better wasm32 support
  object_store/src/azure/client.rs
  object_store/src/chunked.rs
  object_store/src/client/get.rs
  object_store/src/client/s3.rs
  object_store/src/http/client.rs
  object_store/src/integration.rs
  object_store/src/lib.rs
  object_store/src/limit.rs
  object_store/src/local.rs
  object_store/src/memory.rs
  object_store/src/prefix.rs
  object_store/src/throttle.rs
  object_store/src/util.rs
  object_store/tests/get_range_file.rs
Labels: api-change, object-store

#6979 Add `simdutf8` feature to make `simdutf8` optional, consolidate `check_valid_utf8`
  .github/workflows/parquet.yml
  parquet/Cargo.toml
  parquet/README.md
  parquet/src/arrow/array_reader/byte_view_array.rs
  parquet/src/arrow/buffer/offset_buffer.rs
  parquet/src/lib.rs
  parquet/src/util/mod.rs
  parquet/src/util/utf8.rs
Labels: parquet

#6779 Add support `StringView` / `BinaryView` in `interleave` kernel
  arrow-select/src/interleave.rs
Labels: arrow

#6990 Add check for empty schema in `parquet::schema::types::from_thrift_helper`
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/schema/types.rs
Labels: parquet

#6995 fix: mark (Large)ListView as nested and support in equal data type
  arrow-schema/src/datatype.rs
Labels: arrow

#6987 fix: Parquet column writer `Dictionary(_, Decimal128)` and `Dictionary(_, Decimal256)`
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#6986 Add example reading data from an `mmap`ed IPC file
  arrow-ipc/src/reader.rs
  arrow/Cargo.toml
  arrow/examples/README.md
  arrow/examples/zero_copy_ipc.rs
Labels: arrow

#6976 Export NullBufferBuilder along with BooleanBufferBuilder in `arrow` crate
  arrow-array/src/builder/mod.rs
  arrow-buffer/src/builder/null.rs
Labels: arrow

#6994 Add additional documentation for UTC representation of timestamps
  arrow-schema/src/datatype.rs
Labels: arrow

#7003 Document data type support and examples to predicates `*like`, `starts_with`, `ends_with`, `contains`
  arrow-string/src/like.rs
Labels: documentation, arrow

#7001 Minor: make it clear Predicate is crate private
  arrow-string/src/predicate.rs
Labels: arrow

#6999 fix prefetch of page index
  parquet/src/file/metadata/reader.rs
Labels: parquet

#6983 Improve `arrow-ipc` documentation
  arrow-ipc/src/lib.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/writer.rs
Labels: arrow

#6758 `RecordBatch` normalization (flattening)
  arrow-array/src/record_batch.rs
  arrow-schema/src/schema.rs
Labels: arrow

#7007 Enhance ListViewArray related docs
  arrow-array/src/array/list_array.rs
  arrow-array/src/array/list_view_array.rs
  arrow-schema/src/datatype.rs
Labels: arrow

#6912 feat(arrow-ord): support boolean in `rank` and add tests for sorting lists of booleans
  arrow-ord/src/rank.rs
  arrow-ord/src/sort.rs
Labels: arrow

#6998 fix: Panic on reencoding offsets in arrow-ipc with sliced nested arrays
  arrow-ipc/src/writer.rs
Labels: arrow

#7016 Minor: Clarify NullBufferBuilder::new capacity parameter
  arrow-buffer/src/builder/boolean.rs
  arrow-buffer/src/builder/null.rs
Labels: arrow

#6992 Expose min/max values for Decimal128/256 and improve docs
  arrow-data/src/decimal.rs
Labels: arrow

#7012 fix: use the values builder capacity for the hash map in `PrimitiveDictionaryBuilder::new_from_builders`
  arrow-array/src/builder/primitive_dictionary_builder.rs
Labels: arrow

#6643 Add support for deserializing list-encoded JSON structs [#6558]
  arrow-json/src/lib.rs
  arrow-json/src/reader/list_array.rs
  arrow-json/src/reader/map_array.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/struct_array.rs
  arrow-json/src/writer/encoder.rs
  arrow-json/src/writer/mod.rs
Labels: arrow

#7006 Refactor ipc reading code into methods on `ArrayReader`
  arrow-ipc/src/reader.rs
  arrow-ipc/src/reader/stream.rs
Labels: arrow

#7022 docs: add to bit slice iterator docs that the start value is inclusive and end value is exclusive
  arrow-buffer/src/util/bit_iterator.rs
Labels: documentation, arrow

#7013 Add `is_valid` and `truncate` methods to `NullBufferBuilder`
  arrow-buffer/src/builder/null.rs
Labels: arrow

#7033 Change Log On Succesful S3 Copy / Multipart Upload to Debug
  object_store/src/client/retry.rs
Labels: object-store

#7037 Fix `concat` for sliced `ListArrays`
  arrow-select/src/concat.rs
Labels: arrow
