Repository apache/arrow-rs, pull requests merged in 2025-05, with the labels that each got.

#7437 feat: deterministic metadata encoding
  arrow-ipc/src/convert.rs
  arrow-ipc/src/writer.rs
Labels: arrow

#7247 refactor!: do not default the struct array length to 0 in Struct::try_new
  arrow-array/src/array/struct_array.rs
Labels: arrow

#7478 Add const MAX_OFFSET to OffsetSizeTrait
  arrow-array/src/array/list_array.rs
Labels: arrow

#7431 feat: coerce fixed size binary to binary view
  arrow-cast/src/cast/mod.rs
Labels: arrow

#7459 Verify footer tags when reading encrypted Parquet files with plaintext footers
  parquet/src/encryption/ciphers.rs
  parquet/src/encryption/decrypt.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/reader.rs
  parquet/tests/encryption/encryption.rs
Labels: parquet

#7477 Refactor Parquet DecryptionPropertiesBuilder
  parquet/src/encryption/decrypt.rs
Labels: parquet

#7483 fix: `rustdoc::unportable_markdown` was removed
  arrow-flight/src/sql/mod.rs
Labels: arrow, arrow-flight

#7484 Add Parquet `arrow_reader` benchmarks for {u}int{8,16} columns
  parquet/benches/arrow_reader.rs
Labels: parquet

#7446 feat: Support round trip reading/writing Arrow type `Dictionary(_, FixedSizeBinary(_))` to Parquet
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/byte_array_dictionary.rs
  parquet/src/arrow/arrow_writer/byte_array.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/buffer/dictionary_buffer.rs
Labels: parquet

#7055 Improve performance of reading int8/int16 Parquet data
  parquet/src/arrow/array_reader/primitive_array.rs
Labels: parquet

#7479 Document Arrow <--> Parquet schema conversion better
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/mod.rs
  parquet/src/arrow/schema/mod.rs
Labels: documentation, parquet

#7473 Fix a typo in arrow/examples/README.md
  arrow/examples/README.md
Labels: documentation, arrow

#7469 Support parsing and display pretty for StructType
  arrow-schema/src/datatype.rs
  arrow-schema/src/datatype_parse.rs
Labels: arrow

#7463 Speedup `filter_bytes` ~-20-40%, `filter_native` low selectivity (~-37%)
  arrow-select/src/filter.rs
Labels: arrow

#7487 arrow-select: Implement concat for `RunArray`s
  arrow-array/src/cast.rs
  arrow-select/src/concat.rs
Labels: arrow

#7493 Speed up arithmetic kernels, reduce `unsafe` usage
  arrow-arith/src/arity.rs
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#7470 Add `arrow_reader_clickbench` benchmark
  .gitignore
  parquet/Cargo.toml
  parquet/benches/arrow_reader_clickbench.rs
Labels: parquet

#7461 Update arrow_reader_row_filter benchmark to reflect ClickBench distribution
  parquet/benches/arrow_reader_row_filter.rs
Labels: parquet

#7491 Improve documentation for Parquet `WriterProperties`
  parquet/src/file/properties.rs
Labels: documentation, parquet

#7501 Update documentation for ParquetReader
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#7514 Fix Clippy in CI for Rust 1.87 release
  arrow-array/src/array/dictionary_array.rs
  arrow-flight/examples/flight_sql_server.rs
  arrow-integration-testing/src/flight_client_scenarios/middleware.rs
  arrow-string/src/binary_predicate.rs
  arrow-string/src/predicate.rs
  parquet/benches/arrow_reader_clickbench.rs
  parquet/src/compression.rs
  parquet/src/errors.rs
Labels: parquet, arrow, arrow-flight

#7512 Simplify `ParquetRecordBatchReader::next` control logic
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet

#7520 arrow: add concat structs benchmark
  arrow/benches/concatenate_kernel.rs
Labels: arrow

#7525 docs: fix typo for `Decimal128Array`
  arrow-array/src/array/primitive_array.rs
Labels: arrow

#7502 Introduce `ReadPlan` to encapsulate the calculation of what parquet rows to decode
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_reader/read_plan.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#7509 RecordBatchDecoder: skip RecordBatch validation when `skip_validation` property is enabled
  arrow-ipc/src/reader.rs
Labels: arrow

#7529 Make parquet-show-bloom-filter work with integer typed columns
  parquet/pytest/test_parquet_integration.py
  parquet/src/bin/parquet-show-bloom-filter.rs
Labels: parquet

#7521 Refactor `build_array_reader` into a struct
  parquet/src/arrow/array_reader/builder.rs
  parquet/src/arrow/array_reader/list_array.rs
  parquet/src/arrow/array_reader/mod.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#7434 Support Utf8View for Avro
  arrow-avro/Cargo.toml
  arrow-avro/benches/avro_reader.rs
  arrow-avro/examples/read_with_utf8view.rs
  arrow-avro/src/codec.rs
  arrow-avro/src/lib.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
Labels: arrow

#7539 Fix `filter_record_batch` panics with empty struct array
  arrow-select/src/filter.rs
Labels: arrow

#7542 Fix CI on main due to logical conflict
  arrow-avro/src/codec.rs
Labels: arrow

#7492 Prevent FlightSQL server panics for `do_put` when stream is empty or 1st stream element is an Err
  arrow-flight/src/sql/mod.rs
  arrow-flight/src/sql/server.rs
  arrow-flight/src/streams.rs
  arrow-flight/tests/flight_sql_client.rs
Labels: arrow, arrow-flight

#7481 Improve error messages if schema hint mismatches with parquet schema
  arrow-array/src/record_batch.rs
  parquet/src/arrow/arrow_reader/filter.rs
  parquet/src/arrow/arrow_reader/mod.rs
Labels: parquet, arrow

#7548 Fix `Result` name collision in parquet_derive
  parquet_derive/src/lib.rs
  parquet_derive_test/src/lib.rs
Labels: parquet-derive

#7546 Fix: Converted feature flight-sql-experimental to flight-sql
  .github/workflows/arrow_flight.yml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-flight/src/lib.rs
Labels: arrow, arrow-flight

#7553 fix: Correct docs for `WriterPropertiesBuilder::set_column_index_truncate_length`
  parquet/src/file/properties.rs
Labels: parquet

#7550 Adding Bloom Filter Position argument in parquet-rewrite
  parquet/src/bin/parquet-rewrite.rs
Labels: parquet

#7565 Minor: Enable byte view for clickbench benchmark
  parquet/benches/arrow_reader_clickbench.rs
Labels: parquet

#7577 Fixed a warning build build: function never used.
  parquet/src/arrow/arrow_reader/read_plan.rs
Labels: parquet
