Repository apache/arrow-rs, pull requests merged in 2025-07, with the labels that each got.

#7809 [Variant] impl [Try]From for VariantDecimalXX types
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/decimal.rs
Labels: parquet

#7832 Add Decimal type support to arrow-avro
  arrow-avro/Cargo.toml
  arrow-avro/benches/avro_reader.rs
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/record.rs
Labels: arrow

#7792 Perf: Make sort string view fast(1.5X ~ 3X faster)
  arrow-ord/src/sort.rs
Labels: arrow, performance

#7830 Remove deprecated Arrow functions
  arrow-array/src/builder/generic_bytes_view_builder.rs
  arrow-array/src/builder/null_builder.rs
  arrow-array/src/types.rs
  arrow-flight/src/decode.rs
  arrow-ord/src/cmp.rs
  arrow-ord/src/ord.rs
  arrow-schema/src/schema.rs
  arrow-string/src/regexp.rs
  arrow/src/array/mod.rs
  arrow/src/compute/kernels.rs
Labels: arrow, arrow-flight, api-change

#7846 [Variant] Follow up nits and uncomment test cases
  parquet-variant/benches/variant_builder.rs
  parquet-variant/src/decoder.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/list.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
Labels: parquet

#7853 [Minor] Add Benchmark for RowConverter::append
  arrow/benches/row_format.rs
Labels: arrow

#7851 CSV error message has values transposed
  arrow-csv/src/lib.rs
  arrow-csv/src/reader/mod.rs
Labels: arrow

#7783 [VARIANT] Add support for the json_to_variant API
  parquet-variant/examples/variant_from_json_examples.rs
  parquet-variant/src/builder.rs
  parquet-variant/src/from_json.rs
  parquet-variant/src/lib.rs
  parquet-variant/src/variant/decimal.rs
  parquet-variant/tests/test_json_to_variant.rs
Labels: parquet

#7856 Speedup sorting for inline views: 1.4x - 1.7x improvement
  arrow-ord/src/sort.rs
Labels: arrow

#7827 Add features to configure flate2
  .github/workflows/parquet.yml
  parquet/Cargo.toml
  parquet/src/lib.rs
Labels: parquet

#7866 chore: update link for `row_filter.rs`
  parquet/examples/async_read_parquet.rs
Labels: parquet

#7867 Benchmark: Add rich testing cases for sort string(utf8)
  arrow/benches/sort_kernel.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#7824 Improvements for parquet writing performance (25%-44%)
  arrow-buffer/src/util/bit_iterator.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/bloom_filter/mod.rs
  parquet/src/column/writer/mod.rs
  parquet/src/encodings/rle.rs
  parquet/src/util/bit_util.rs
Labels: parquet, arrow

#7849 [Variant] Fuzz testing and benchmarks for vaildation
  parquet-variant/benches/variant_builder.rs
  parquet-variant/tests/variant_interop.rs
Labels: parquet

#7854 Add `get_ref/get_mut` to JSON Writer
  arrow-json/src/writer/mod.rs
Labels: arrow

#7864 Added number to string benches for json_writer
  arrow/benches/json_writer.rs
Labels: arrow

#7833 [Variant] Support creating sorted dictionaries
  parquet-variant/src/builder.rs
  parquet-variant/tests/test_json_to_variant.rs
Labels: parquet

#7875 fix: Incorrect inlined string view comparison after Add prefix compar…
  arrow-array/src/array/byte_view_array.rs
  arrow-row/src/lib.rs
Labels: arrow

#7861 [Variant] Remove dead code, add comments
  parquet-variant/src/decoder.rs
  parquet-variant/src/lib.rs
Labels: parquet

#7865 [Variant] List and object builders have no effect until finalized
  parquet-variant/src/builder.rs
  parquet-variant/src/from_json.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/tests/test_json_to_variant.rs
Labels: parquet

#7871 [Variant] Remove superflous validate call and rename methods
  parquet-variant/benches/variant_builder.rs
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/list.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
  parquet-variant/tests/variant_interop.rs
Labels: parquet

#7885 Add tests for invalid variant metadata and value
  parquet-variant/src/variant/object.rs
Labels: parquet

#7891 docs: More docs to `BatchCoalescer`
  arrow-select/src/coalesce.rs
Labels: documentation, arrow

#7898 Fix current CI failure
  arrow-ord/src/cmp.rs
Labels: arrow

#7890 Add arrow-avro support for bzip2 and xz compression
  arrow-avro/Cargo.toml
  arrow-avro/src/compression.rs
  arrow-avro/src/reader/header.rs
  arrow-avro/src/reader/mod.rs
Labels: arrow

#7793 fix: Change panic to error in`take` kernel for StringArrary/BinaryArray on overflow
  arrow-schema/src/error.rs
  arrow-select/src/take.rs
Labels: arrow

#7716 add `garbage_collect_dictionary` to `arrow-select`
  arrow-select/src/dictionary.rs
  arrow-select/src/lib.rs
Labels: arrow

#7906 [Variant] Avoid superflous validation checks
  parquet-variant/src/variant.rs
  parquet-variant/src/variant/list.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
Labels: parquet

#7912 [Variant] Add `VariantBuilder::new_with_buffers` to write to existing buffers
  parquet-variant/src/builder.rs
Labels: parquet

#7882 feat: support `MapArray` in lexsort
  arrow-ord/src/ord.rs
Labels: arrow

#7908 [Variant] Use simdutf8 for UTF-8 validation
  Cargo.toml
  arrow-json/Cargo.toml
  parquet-variant/Cargo.toml
  parquet-variant/src/utils.rs
  parquet/Cargo.toml
Labels: parquet, arrow

#7925 chore(dependabot): group tonic updates
  .github/dependabot.yml
Labels: development-process

#7839 Upgrade tonic dependencies to 0.13.0 version (try 2)
  .github/workflows/arrow_flight.yml
  arrow-flight/Cargo.toml
  arrow-flight/README.md
  arrow-flight/examples/flight_sql_server.rs
  arrow-flight/gen/Cargo.toml
  arrow-flight/src/arrow.flight.protocol.rs
  arrow-integration-testing/Cargo.toml
Labels: arrow, arrow-flight, api-change

#7922 [Variant] Reserve capacity beforehand during large object building
  parquet-variant/benches/variant_builder.rs
  parquet-variant/src/builder.rs
Labels: parquet

#7942 [Variant] Add documentation, tests and cleaner api for Variant::get_path
  parquet-variant-compute/src/variant_get.rs
  parquet-variant/src/lib.rs
  parquet-variant/src/path.rs
  parquet-variant/src/variant.rs
Labels: parquet

#7943 [Variant] Impl `PartialEq` for VariantObject
  parquet-variant/src/builder.rs
  parquet-variant/src/variant/metadata.rs
  parquet-variant/src/variant/object.rs
Labels: parquet

#7937 Optimize partition_validity function used in sort kernels
  arrow-ord/src/sort.rs
Labels: arrow

#7940 arrow-ipc: Remove all abilities to preserve dict IDs
  arrow-flight/src/encode.rs
  arrow-flight/src/lib.rs
  arrow-flight/src/utils.rs
  arrow-integration-testing/src/flight_client_scenarios/integration_test.rs
  arrow-integration-testing/src/flight_server_scenarios/integration_test.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
  arrow-ipc/src/reader/stream.rs
  arrow-ipc/src/writer.rs
  parquet/src/arrow/schema/mod.rs
Labels: parquet, arrow, arrow-flight

#7954 Add arrow-avro support for Impala Nullability
  arrow-avro/src/codec.rs
  arrow-avro/src/reader/mod.rs
  arrow-avro/src/reader/record.rs
Labels: arrow

#7968 arrow-schema: Remove dict_id from being required equal for merging
  arrow-schema/src/field.rs
Labels: arrow, api-change

#7935 [Variant] Avoid extra allocation in object builder
  parquet-variant/src/builder.rs
Labels: parquet

#7687 GH-7686: [Parquet] Fix int96 min/max stats
  parquet/src/column/writer/mod.rs
  parquet/src/data_type.rs
  parquet/src/file/statistics.rs
  parquet/tests/int96_stats_roundtrip.rs
Labels: parquet, enhancement, api-change, next-major-release

#7841 Add decimal32 and decimal64 support to Parquet, JSON and CSV readers and writers
  arrow-cast/src/cast/dictionary.rs
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/writer.rs
  arrow-json/src/reader/mod.rs
  arrow-json/src/writer/encoder.rs
  arrow-json/src/writer/mod.rs
  parquet/src/arrow/array_reader/fixed_len_byte_array.rs
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/schema/mod.rs
  parquet/src/arrow/schema/primitive.rs
  parquet/tests/arrow_reader/mod.rs
  parquet/tests/arrow_reader/statistics.rs
Labels: parquet, arrow

#7967 Perf: optimize actual_buffer_size to use only data buffer capacity for coalesce
  arrow-select/src/coalesce.rs
  arrow-select/src/coalesce/byte_view.rs
Labels: arrow

#8008 bench: add benchmark for converting list and sliced list to row format
  arrow/benches/row_format.rs
Labels: arrow

#7991 perf: Improve `interleave` performance for struct (3-6 times faster)
  arrow-select/src/interleave.rs
Labels: arrow

#7996 perf: only encode actual list values in `RowConverter` (16-26 times faster for small sliced list)
  arrow-row/src/lib.rs
  arrow-row/src/list.rs
Labels: arrow

#8002 Minor: Upate `cast_with_options` docs about casting integers --> intervals
  arrow-cast/src/cast/mod.rs
Labels: documentation, arrow

#8011 [Variant] impl FromIterator for VariantPath
  parquet-variant/src/path.rs
Labels: parquet

#8009 Create empty buffer for a buffer specified in the C Data Interface with length zero
  .github/workflows/arrow.yml
  arrow-array/src/ffi.rs
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#7962 Perf: improve sort via `partition_validity` to use fast path for bit map scan (up to 30% faster)
  arrow-buffer/src/buffer/boolean.rs
  arrow-buffer/src/util/bit_iterator.rs
  arrow-ord/src/sort.rs
Labels: arrow

#8005 [Parquet] Allow writing compatible DictionaryArrays to parquet writer
  parquet/src/arrow/arrow_writer/levels.rs
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#8015 Add benchmark for converting StringViewArray with mixed short and long strings
  arrow/benches/row_format.rs
Labels: arrow

#7986 Implement full-range `i256::to_f64` to eliminate ±∞ saturation for Decimal256 → Float64 casts
  arrow-buffer/src/bigint/mod.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#8020 Fix doc test in avro-arrow
  arrow-avro/src/reader/mod.rs
Labels: arrow
