Repository apache/arrow-rs, pull requests merged in 2025-04, with the labels that each got.

#7342 Remove `AsyncFileReader::get_metadata_with_options`, add `options` to `AsyncFileReader::get_metadata`
  parquet/examples/read_with_rowgroup.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_reader/store.rs
  parquet/src/file/metadata/reader.rs
  parquet/tests/arrow_reader/encryption.rs
  parquet/tests/arrow_reader/encryption_async.rs
Labels: parquet, api-change

#7328 Upgrade to `object_store` to `0.12.0`
  parquet/Cargo.toml
  parquet/src/arrow/async_reader/store.rs
  parquet/tests/encryption/encryption_async.rs
Labels: parquet, next-major-release

#7372 Fix bug in `ParquetMetaDataReader` and add test of suffix metadata reads with encryption
  parquet/src/file/metadata/reader.rs
Labels: parquet, bug

#7382 chore: apply clippy suggestions newly introduced in rust 1.86
  arrow-buffer/src/bigint/div.rs
  arrow-buffer/src/util/bit_chunk_iterator.rs
  arrow/benches/buffer_create.rs
  parquet/src/arrow/array_reader/fixed_size_list_array.rs
  parquet/src/arrow/array_reader/list_array.rs
Labels: parquet, arrow

#7354 Write parquet PageEncodingStats
  parquet/src/column/writer/mod.rs
Labels: parquet

#7366 fix: respect offset/length when converting ArrayData to StructArray
  arrow-array/src/array/struct_array.rs
  arrow-ipc/src/reader.rs
Labels: arrow

#7370 Improve documentation on implementing Parquet predicate pushdown
  parquet/src/arrow/arrow_reader/mod.rs
Labels: documentation, parquet

#7374 Add more examples of using Parquet encryption
  parquet/src/encryption/decrypt.rs
  parquet/src/encryption/encrypt.rs
  parquet/src/encryption/mod.rs
Labels: parquet

#7361 Print row, data present, expected type, and row number in error messages for arrow-csv
  arrow-csv/src/reader/mod.rs
  arrow-csv/src/reader/records.rs
  arrow-csv/test/data/various_invalid_types/invalid_bool.csv
  arrow-csv/test/data/various_invalid_types/invalid_float.csv
  arrow-csv/test/data/various_invalid_types/invalid_int.csv
  arrow-csv/test/data/various_invalid_types/null_in_non_nullable.csv
Labels: arrow

#7369 Clean up `ArrowReaderMetadata::load_async`
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#7380 Improve documentation for AsyncFileReader::get_metadata
  parquet/src/arrow/async_reader/mod.rs
Labels: documentation, parquet

#7309 Improve `concat` performance, and add `append_array` for some array builder implementations
  arrow-array/src/builder/boolean_builder.rs
  arrow-array/src/builder/generic_bytes_builder.rs
  arrow-array/src/builder/primitive_builder.rs
  arrow-select/src/concat.rs
Labels: arrow

#7385 Improve documentation on `ArrayData::offset`
  arrow-data/src/data.rs
Labels: documentation, arrow

#7371 Change Parquet API interaction to use `u64` (support files larger than 4GB in WASM)
  parquet/examples/external_metadata.rs
  parquet/examples/read_with_rowgroup.rs
  parquet/src/arrow/arrow_reader/selection.rs
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_reader/store.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/reader.rs
  parquet/src/file/page_index/index_reader.rs
  parquet/tests/arrow_reader/bad_data.rs
  parquet/tests/encryption/encryption_async.rs
Labels: parquet, api-change

#7402 feat: Adding `with_schema_unchecked` method for `RecordBatch`
  arrow-array/src/record_batch.rs
Labels: arrow

#7405 Replace with_schema_unchecked with new_unchecked
  arrow-array/src/record_batch.rs
Labels: arrow

#7412 Implement `Eq` for `ScalarBuffer` when `T: Eq`
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#7413 Implement `Default` for `Buffer` & `ScalarBuffer`
  arrow-buffer/src/buffer/immutable.rs
  arrow-buffer/src/buffer/scalar.rs
Labels: arrow

#7401 Add benchmark for parquet reader with row_filter and project settings
  parquet/Cargo.toml
  parquet/benches/arrow_reader_row_filter.rs
Labels: parquet

#7409 Skip page should also support skip dict page
  parquet/src/file/serialized_reader.rs
Labels: parquet

#7399 Support decryption of Parquet column and offset indexes
  parquet/src/encryption/decrypt.rs
  parquet/src/file/metadata/reader.rs
  parquet/tests/encryption/encryption.rs
  parquet/tests/encryption/encryption_async.rs
  parquet/tests/encryption/encryption_util.rs
Labels: parquet

#7418 Implement `Eq` and `Default` for `OffsetBuffer`
  arrow-buffer/src/buffer/offset.rs
Labels: arrow

#7420 Improve performance of interleave_primitive (-15% - 45%) / interleave_bytes (-10-25%)
  arrow-select/src/interleave.rs
Labels: arrow

#7433 Minor: Fix typo in async_reader comment
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#7422 Speedup take_bytes (-35% -69%) by precalculating capacity
  arrow-select/src/take.rs
Labels: arrow

#7449 Improve comments for avro
  arrow-avro/src/codec.rs
  arrow-avro/src/compression.rs
  arrow-avro/src/lib.rs
  arrow-avro/src/reader/record.rs
  arrow-avro/src/schema.rs
Labels: arrow

#7441 Fix out of bounds crash in RleValueDecoder
  parquet/src/encodings/decoding.rs
Labels: parquet

#7440 Make `FooterTail` public
  parquet/src/file/metadata/mod.rs
Labels: parquet
