Repository apache/arrow-rs, pull requests merged in 2025-03, with the labels that each got.

#7234 Prepare object_store 0.12.0
  object_store/CHANGELOG-old.md
  object_store/CHANGELOG.md
  object_store/Cargo.toml
  object_store/dev/release/update_change_log.sh
Labels: object-store

#7223 fix: correct `bloom_filter_position` description
  parquet/src/file/properties.rs
Labels: parquet

#7159 Avoid overflow of remainder
  arrow-arith/src/numeric.rs
Labels: arrow

#7194 Minor: fix doc and remove unused code
  arrow-array/src/array/byte_view_array.rs
  arrow-data/src/equal/byte_view.rs
Labels: documentation, arrow

#7221 Update the relative path of the test data in docs
  CONTRIBUTING.md
Labels: documentation

#7224 fix: take on empty struct array returns empty array
  arrow-select/src/take.rs
Labels: arrow

#7229 Box `FlightErrror::tonic` to reduce size (fixes nightly clippy)
  arrow-flight/src/client.rs
  arrow-flight/src/error.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/streams.rs
Labels: arrow, arrow-flight, api-change, next-major-release

#6666 arrow-cast: Support cast to `Dictionary<_, FixedSizeBinary>` and add `FixedSizeBinaryDictionaryBuilder`
  arrow-array/src/builder/fixed_size_binary_builder.rs
  arrow-array/src/builder/fixed_size_binary_dictionary_builder.rs
  arrow-array/src/builder/mod.rs
  arrow-cast/src/cast/dictionary.rs
  arrow-cast/src/cast/mod.rs
Labels: arrow

#7145 Use `doc_auto_cfg`, logo and favicon for docs.rs
  arrow-arith/Cargo.toml
  arrow-arith/src/lib.rs
  arrow-array/Cargo.toml
  arrow-array/src/lib.rs
  arrow-avro/Cargo.toml
  arrow-avro/src/lib.rs
  arrow-buffer/Cargo.toml
  arrow-buffer/src/lib.rs
  arrow-cast/Cargo.toml
  arrow-cast/src/lib.rs
  arrow-csv/Cargo.toml
  arrow-csv/src/lib.rs
  arrow-data/Cargo.toml
  arrow-data/src/lib.rs
  arrow-flight/src/lib.rs
  arrow-integration-test/Cargo.toml
  arrow-integration-test/src/lib.rs
  arrow-ipc/Cargo.toml
  arrow-ipc/src/lib.rs
  arrow-json/Cargo.toml
  arrow-json/src/lib.rs
  arrow-ord/Cargo.toml
  arrow-ord/src/lib.rs
  arrow-row/Cargo.toml
  arrow-row/src/lib.rs
  arrow-schema/Cargo.toml
  arrow-schema/src/lib.rs
  arrow-select/Cargo.toml
  arrow-select/src/lib.rs
  arrow-string/Cargo.toml
  arrow-string/src/lib.rs
  arrow/Cargo.toml
  arrow/src/lib.rs
  object_store/src/lib.rs
  parquet/src/lib.rs
  parquet_derive/Cargo.toml
  parquet_derive/src/lib.rs
  parquet_derive_test/Cargo.toml
  parquet_derive_test/src/lib.rs
Labels: documentation, parquet, arrow, arrow-flight, object-store, parquet-derive

#7211 feat: add `downcast_integer_array` macro helper
  arrow-array/src/cast.rs
  arrow-select/src/take.rs
Labels: arrow

#7241 feat: use `force_validate` feature flag when creating an arrays
  arrow-array/src/array/byte_array.rs
  arrow-array/src/array/byte_view_array.rs
  arrow-array/src/array/dictionary_array.rs
  arrow-array/src/array/struct_array.rs
  arrow-array/src/ffi.rs
Labels: arrow

#7166 feat: add to concat different data types error message the data types
  arrow-select/src/concat.rs
Labels: arrow

#7217 Expose `field_builders` in `StructBuilder`
  arrow-array/src/builder/struct_builder.rs
Labels: arrow

#7265 Fix requirement of object store for http-body-util
  object_store/Cargo.toml
Labels: object-store

#7271 Update object_store MSRV CI
  .github/workflows/rust.yml
Labels: development-process

#7109 Avoid use of `flatbuffers::size_prefixed_root`, fix validation error in arrow-flight
  arrow-flight/src/lib.rs
  arrow-ipc/src/convert.rs
  arrow-ipc/src/reader.rs
Labels: arrow, arrow-flight

#7263 feat: Support Utf8View in JSON reader
  arrow-json/src/reader/mod.rs
  arrow-json/src/reader/string_view_array.rs
  arrow/benches/json_reader.rs
Labels: arrow

#7279 Move Parquet encryption tests into the arrow_reader integration tests
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_reader/store.rs
  parquet/src/util/test_common/mod.rs
  parquet/tests/arrow_reader/encryption.rs
  parquet/tests/arrow_reader/encryption_agnostic.rs
  parquet/tests/arrow_reader/encryption_async.rs
  parquet/tests/arrow_reader/encryption_disabled.rs
  parquet/tests/arrow_reader/encryption_util.rs
  parquet/tests/arrow_reader/mod.rs
Labels: parquet

#7290 Fix MSRV CI Check (pin `half` dependency)
  .github/workflows/rust.yml
Labels: development-process

#7298 chore: require ffi feature in arrow-schema benchmark
  arrow-schema/Cargo.toml
Labels: arrow

#7306 MINOR: fix incorrect method name in deprecate node
  arrow-string/src/regexp.rs
Labels: arrow

#7313 fix: correct array length validation error message
  arrow-data/src/data.rs
  arrow/tests/array_validation.rs
Labels: arrow

#7285 Support different TimeUnits and timezones when reading Timestamps from INT96
  parquet/src/arrow/array_reader/primitive_array.rs
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/schema/primitive.rs
  parquet/src/data_type.rs
  parquet/src/record/api.rs
Labels: parquet

#7311 chore: remove trailing space in debug print
  arrow-array/src/array/struct_array.rs
Labels: arrow

#7277 Reapply Box `FlightErrror::tonic` to reduce size (fixes nightly clippy)
  arrow-flight/src/client.rs
  arrow-flight/src/error.rs
  arrow-flight/src/sql/client.rs
  arrow-flight/src/streams.rs
Labels: arrow, arrow-flight, api-change, next-major-release

#7318 bugfix: correct offsets when serializing a list of fixed sized list and non-zero start offset
  arrow-ipc/src/writer.rs
Labels: arrow

#7286 Allow retrieving Parquet decryption keys using the key metadata
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/encryption/decrypt.rs
  parquet/src/file/column_crypto_metadata.rs
  parquet/src/file/metadata/mod.rs
  parquet/src/file/metadata/reader.rs
  parquet/src/file/mod.rs
  parquet/tests/arrow_reader/encryption.rs
  parquet/tests/arrow_reader/encryption_async.rs
  parquet/tests/arrow_reader/encryption_util.rs
Labels: parquet

#7324 Bump `pyo3` to `0.24`
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow/Cargo.toml
Labels: arrow

#7134 chore: upgrade flatbuffer version to `25.2.10`
  arrow-ipc/Cargo.toml
Labels: arrow, next-major-release

#7326 Add missing type annotation
  parquet/src/arrow/schema/primitive.rs
Labels: parquet

#7189 Fix: `date_part` to extract only the requested part (not the overall interval)
  arrow-arith/src/temporal.rs
Labels: arrow, api-change, next-major-release

#7331 Backports, version bump and changelog for 54.3.1
  CHANGELOG-old.md
  CHANGELOG.md
  Cargo.toml
  arrow-ipc/src/writer.rs
  dev/release/update_change_log.sh
  parquet/src/arrow/schema/primitive.rs
Labels: parquet, arrow

#7321 Improve documentation on writing parquet, including multiple threads
  parquet/src/arrow/arrow_writer/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/arrow/async_writer/mod.rs
  parquet/src/arrow/mod.rs
  parquet/src/lib.rs
Labels: documentation, parquet

#7323 Minor: Improve parallel parquet encoding example
  parquet/src/arrow/arrow_writer/mod.rs
Labels: parquet

#7319 Minor: rename `ParquetRecordBatchStream::reader` to `ParquetRecordBatchStream::reader_factory`
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet

#7336 Bump MSRV to 1.81
  Cargo.toml
  arrow-cast/src/parse.rs
  arrow-flight/Cargo.toml
  arrow-flight/gen/Cargo.toml
  arrow-integration-testing/Cargo.toml
  arrow-json/src/writer/encoder.rs
  arrow-pyarrow-integration-testing/Cargo.toml
  arrow-schema/Cargo.toml
  arrow-schema/src/extension/canonical/bool8.rs
  parquet/src/arrow/async_reader/mod.rs
Labels: parquet, arrow, arrow-flight, next-major-release

#7347 Upgrade to twox-hash 2.0
  parquet/Cargo.toml
  parquet/src/bloom_filter/mod.rs
Labels: parquet, next-major-release

#7337 Encapsulate encryption code more in readers
  parquet/src/arrow/arrow_reader/mod.rs
  parquet/src/arrow/async_reader/mod.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#7200 Improve parquet gzip compression performance using zlib-rs
  parquet/Cargo.toml
  parquet/src/compression.rs
Labels: parquet, api-change, next-major-release

#7345 refactor: apply borrowed chunk reader to Sbbf::read_from_column_chunk
  parquet/src/bloom_filter/mod.rs
  parquet/src/file/serialized_reader.rs
Labels: parquet

#7335 Add an option to show column type
  arrow-cast/src/display.rs
  arrow-cast/src/pretty.rs
Labels: arrow

#7353 Move `sysinfo` to `dev-dependencies`
  parquet/Cargo.toml
Labels: parquet, next-major-release

#7351 Add additional benchmarks for utf8view comparison kernels
  arrow/benches/comparison_kernels.rs
  arrow/src/util/bench_util.rs
Labels: arrow

#7334 Parquet: Support reading Parquet metadata via suffix range requests
  parquet/src/arrow/async_reader/metadata.rs
  parquet/src/arrow/async_reader/store.rs
  parquet/src/file/metadata/reader.rs
  parquet/tests/arrow_reader/encryption_async.rs
Labels: parquet, api-change, next-major-release

#7346 Add documentation and examples for pretty printing, make `pretty_format_columns_with_options` pub
  arrow-cast/src/pretty.rs
  arrow/src/lib.rs
Labels: documentation, arrow
